[2019-01-08 12:35] dherault commented on #540
Hi @sebmor , no clue here, sorry. I'm leaving it open in case someone finds why.

[2019-01-08 12:38] dherault commented on #549
We would gladly accept a PR for that @awwong1

[2019-01-08 12:40] dherault commented on #552
Hi @dested, since a server cannot be both HTTP and Websocket (it would then listen on two ports), there is no support for websockets planned.

[2019-01-08 12:43] dherault commented on #554
Hi @alihasana, what version of serverless-offline are you using? With the lastest version you should have the `multiValueQueryStringParameters` in the lambda proxy context.
Best,

[2019-01-08 12:43] #554 closed

[2019-01-08 12:44] dherault commented on #544
What version of serverless offline are you using ?

[2019-01-08 12:49] dherault commented on #529
v3.32.0 :tada:

[2019-01-08 12:49] #529 closed

[2019-01-08 12:50] dherault commented on #553
Yes `skipCacheInvalidation` is the correct reponse to this issue. Thanks @Glavin001

[2019-01-08 12:50] #553 closed

[2019-01-08 12:51] dherault commented on #560
Thanks @zoellner

[2019-01-08 12:53] dherault commented on #561
Can you show how your handlers are exported ?

[2019-01-08 12:57] dherault commented on #562
Hi @malammar, thank you for the issue. I've added your LTS runtime to the list of authorized runtimes.
v3.32.1 :tada:

[2019-01-08 13:25] #563 closed, assigned to nobody

[2019-01-08 14:49] alihasana commented on #554
Hi @dherault ,
Thanks for your response.
i am using very lastest version 1.35.x
multiValueQueryStringParameters working properly in linux, but in windows its not there.
![capture du 2019-01-08 15-47-15](https://user-images.githubusercontent.com/32835040/50837859-f7fd4380-135c-11e9-8068-0af77adfe544.png)

[2019-01-08 14:57] jaydp17 commented on #539
Facing the same issue over here.
I definitely agree with @petermorlion `useSeparateProcess` seems to help.
But I'd ideally not want to use `useSeparateProcess` as it doesn't allow debugging code using the `--inspect` flag (more info here → https://github.com/dherault/serverless-offline/issues/508)

[2019-01-08 18:44] tremby commented on #543
Is that a typo? Latest tag I see on this project is 3.25.17.

[2019-01-08 22:35] FranzSkuffka commented on #464
FYI - I chose a different architecture. The lambda now just requests a temporary URL from my file bucket. The file bucket can be hidden behind an internal (transparent) redirect.

[2019-01-09 01:31] d6er commented on #552
Hi @dherault, is it possible to use https://github.com/hapijs/nes?

[2019-01-09 05:20] dherault commented on #554
the lastest version is v3.32.1 :wink:

[2019-01-09 05:22] dherault commented on #539
Hopefully the increase in memory takes a lot of iterations/requests to happen.

[2019-01-09 06:08] jaydp17 commented on #539
@dherault it starts from the 1st request and increases significantly over every subsequent request.
If I get some time tonight, I'll create a simple repo that reproduces the issue.

[2019-01-09 09:15] d6er commented on #552
I will try when I have spare time.

[2019-01-09 09:52] tremby commented on #543
I'll give it a try next time I work on the project in question.

[2019-01-09 14:11] crash7 commented on #560
Hi! The current regex added doesn't support the following arn: `arn:aws:execute-api:us-west-1:random-account-id:*` which is valid for AWS API Gateway. Would you mind if I do a PR to adjust it?

[2019-01-09 15:22] zoellner commented on #560
Add a test case as well if possible

[2019-01-09 20:45] jaydp17 commented on #539
@petermorlion by any chance are you using [serverless-webpack](https://github.com/serverless-heaven/serverless-webpack) as well?
Because while creating a really minimal repo for this, I found that the memory does increase but very slowly with just serverless-offlne (@dherault you're right).
But it grows really fast when using serverless-webpack.

BTW, here's the example repo https://github.com/jay

[2019-01-09 20:48] jaydp17 commented on #539
Also @dherault regarding the smaller leak in serverless-offline, I think it's because of `this.requests` in (https://github.com/dherault/serverless-offline/blob/master/src/index.js#L218), we're not clearing the keys in `this.requests`, that object just keeps on increasing over time.

[2019-01-10 05:35] dherault commented on #560
Please, by all means, PR :)

[2019-01-10 07:57] d6er commented on #552
As a first step, I was able to add websocket support by following changes. It doesn't load any confiruration from serverless.yml but accepts websocket connection on any POST routes.
https://github.com/dherault/serverless-offline/compare/dherault:b839316...d6er:4911a89

[2019-01-10 11:17] daniel-cottone commented on #544
I have experienced this happening when either calling the callback or `context.done()` from a handler that returns a promise. I'm curious what happens if you change this to:

[code]

[2019-01-10 11:35] #562 closed

[2019-01-10 12:21] dl748 opened #564 "Problem with CORS cookies after 3.31.3"
Seems like it was a package upgrade hapi from 14.2.0 to 16.7.0 which upgraded statehood from 4.1.0 to 5.0.3.

Looks like there was a default cookie change where

https://github.com/hapijs/statehood/commit/816b0da537a5675d57c4ab72ab869df4e581c8f8#diff-6d186b954a58d5bb740f73d84fe39073

changing the defaults security on a cookie for isSecure = true and isHttpOnly = true, which is preventing browsers

[2019-01-10 14:08] dl748 commented on #564
Added pull request https://github.com/dherault/serverless-offline/pull/565 with tests

[2019-01-10 16:36] crash7 commented on #518
@dherault I don't see this fixed in v3.32.1:
https://github.com/dherault/serverless-offline/blob/v3.32.1/src/index.js#L326

Maybe you need to do another release?

[2019-01-11 09:05] dherault commented on #518
The `state()` has been modified in v3.32.2

[2019-01-12 10:23] dherault opened #568 "Usage with Flow"
The next version of the plugin won't use babel runtime anymore. To bundle ES6+ you will have to use serverless-webpack.
I remove the "Usage with flow" section of the README file.
If anyone is interested in re-discovering how to use flow  with the plugin, a PR explaining it on the README would be awesome.
Best to flow users,

[2019-01-13 14:01] jaydp17 commented on #539
I also found that `require.cache` is not cleaned properly because of https://github.com/nodejs/node/issues/8443
<img width="1436" alt="screenshot 2019-01-13 at 6 09 41 pm" src="https://user-images.githubusercontent.com/1743425/51085435-1bf6c580-175f-11e9-9f22-df412090e3be.png">

I tried cleaning it manually, and it seems to fix the memory leak, [here's a PR](https://github.com/dherault/serverless-

[2019-01-14 06:10] awhitford opened #570 "Warning: found unsupported runtime 'provided'"
I need NodeJS 10, so followed instructions found [here](https://statsbot.co/blog/a-crash-course-on-serverless-with-aws-running-node11-on-lambda/).

But then, it appears that Serverless-Offline does not work.  I see this:
[code]
And my routes are not emitted.

This issue seems related to #562.

[2019-01-14 08:59] dherault commented on #539
This issue should be resolved in v3.33.0.
@petermorlion Do you still get an leak ?

[2019-01-14 09:00] dherault commented on #570
Which serverless and serverless-offline version are you using ? Try v3.33.0

[2019-01-14 09:01] dherault commented on #570
Also check your serverless.yml file for typos :)

[2019-01-14 09:09] awhitford commented on #570
Using Serverless 1.36.0 and serverless-offline 3.32.2.
I tried 3.33.0, but still same behavior.

[2019-01-14 22:29] KyleBrownCS opened #571 "Upgrade to 3.33.0 from 3.32.2 breaks api handler"
Verified that my existing code worked with 3.32.2 and breaks with 3.33.0.

Console spews the following and seems to be eating the response
```Serverless: Warning: handler 'api' returned a promise and also uses a callback! This is problematic and might cause issues in your lambda```

My top level handler looks like the following
[code]
node 10.10.0
serverless-offline: 3.33.0
serverless: 1.36.1
aws-

[2019-01-15 08:33] dherault commented on #571
Hi @KyleBrownCS,
to disable the warning, you can do
[code]

[2019-01-15 08:34] dherault commented on #570
What about your serverless.yml file ?

[2019-01-15 09:40] dherault commented on #564
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-offline)
- [GitHub release](https://github.com/dherault/serverless-offline/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-15 11:11] nenti commented on #405
I still have this issue with newest version of serverless offline v3.33.0 using serverless-webpack and apollo-server-lambda.

[2019-01-15 15:39] KyleBrownCS commented on #571
This resolved my issue, thank you for your help.

[2019-01-15 15:39] #571 closed

[2019-01-15 20:55] nenti commented on #438
Sorry I don't have time to implement this and fall back on running local instance hitting with a network request against ist to simulate the real offline solution. Close until someone else wants to implement this.

[2019-01-15 20:55] #438 closed

[2019-01-16 08:19] fvasco commented on #450
@lopezm1 I don't use this software anymore, sorry but I can't help you.

[2019-01-16 12:11] dherault commented on #570
I see. The plugin does not support a provided runtime yet. But I'm confident it will in the future. Thank you for your issue.

[2019-01-16 15:42] dherault opened #574 "Chat with Daniel"
Hi @daniel-cottone

I will remove semantic-release from the project today because our contributors won't respect the commit message policy. it worked great nevertheless.
Also I've added support for Python and Ruby to the plugin (!) and cleaned up a bit.
Soon a lot of issues will arise from it I hope you will be ready ;)

Best and happy new coding year,

[2019-01-16 18:15] daniel-cottone commented on #574
One thing we could do is update the contributing guidelines, update repo settings to only allow squash merges, and then add the Semantic Pull Requests pr status check: https://github.com/apps/semantic-pull-requests

This is typically how I have enforced it, and the person who squash merges has freedom to update the commit subject appropriately otherwise

[2019-01-18 19:41] brendanfmartin commented on #517
I have had this issue as well when I had to return the promise from a function for testing purposes (ES6, node 8.10). I have not had any issues in production with it.

Quick note, this might be caused because you're returning your callback out of an async function which is an implicit Promise. What happens if this is not an async function?

[2019-01-18 19:49] cspotcode opened #576 "Bug: requestTemplates for *all* endpoints are stored on the same JS object"
Request templates for all endpoints get stored on the same JS object; it isn't properly cloned.  So the templates for my last endpoint override the templates for all other endpoints.  No matter which endpoint I invoke, it uses the template from the *last* endpoint.

Here's where the issue starts:
https://github.com/dherault/serverless-offline/blob/master/src/Endpoint.js#L101
`endpointStruct` conta

[2019-01-18 20:45] qetr1ck-op commented on #517
`async` function always returns a promise.
@brendanfmartin you can't reproduce it in production because you simply don't use `serverless-offline` plugin then =)

[2019-01-18 20:45] brendanfmartin commented on #517
So whats the problem?

[2019-01-18 20:53] qetr1ck-op commented on #517
You should use the plugin in local env.
Obviously, it reproduces only then.
The issue is described at the top. The repro is provided.

[2019-01-18 21:05] brendanfmartin commented on #517
Yes, I'm familiar with how the plugin works.

Delete `integration: lambda` from your `serverless.yml` and it works fine

[2019-01-19 05:56] qetr1ck-op commented on #517
Yes, it's a trick which should be done to avoid the warning.

The purpose of the issue was to determinate why it's not handled by plugin properly. And is it a known bug which should be fixed.

[2019-01-19 17:20] BenEllerby commented on #570
@dherault if you are using a custom runtime, in my case PHP, though a Lambda layer providing the binary and boostrap file, is it possible to make use of this plugin to emulate api gateway and lambda up to the point where the binary is executed?

The custom binary has been setup in a similar way to https://aws.amazon.com/blogs/apn/aws-lambda-custom-runtime-for-php-a-practical-example/ but with all

[2019-01-20 00:47] cspotcode commented on #576
The solution is as simple as using JSON.stringify and JSON.parse to clone the endpointStruct object each time.  You might have access to a cloning function; I'm not sure.

[2019-01-20 18:11] dherault commented on #570
@BenEllerby I'm sorry but the plugin can't do that. It looks like serverless-offline will not handle provided runtimes until serverless can invoke them.

[2019-01-20 18:16] dherault commented on #576
Hi @cspotcode, thanks for the issue.
We would gladly accept a PR to fix it.

[2019-01-21 10:45] BenEllerby commented on #570
OK @dherault thanks for the help 👍

[2019-01-21 14:32] #570 closed

[2019-01-21 20:45] brunoluiz opened #578 "event.headers are converted to undercase"
If a request is made locally it, the `event.headers` keys seem to be undercased. This gives different behaviours in local x prod/dev lambdas. I guess this should be considered an issue.

The header in question is `Authorization`.

Serverless-offline 4.1.4

[2019-01-22 08:55] dherault commented on #578
Hi @brunoluiz, thanks for the issue.
Is every headers lowercased or only the Authorization one?

[2019-01-23 18:16] alikian opened #580 "serverless-python-requirements issue"
Does this plug-in works with serverless-python-requirements?
I have **module** in serverless.yml and requirement.txt for python, but it completely ignored.

An example of serverless-python-requirements would be great.

Thanks,
Ali

[2019-01-24 08:32] dherault commented on #580
Hi @alikian, Thanks for the issue. The plugin does not take into account serverless-python-requirements at the moment.
We would be grateful to have a PR fixing this.
Best,

[2019-01-24 08:34] dherault commented on #155
Hi @xdreamcode can you provide your serverless.yml file and your handler please so we can study it.

[2019-01-24 17:31] benjaminprojas commented on #155
I am also having this same problem. In my situation the payload is completely null coming from serverless-offline, however it works just fine in production. Using `SLS_DEBUG` I can see the payload here:

[code]

Here is my serverless.yml:
[code]

handler.js:
[code]

[2019-01-24 17:43] xdreamcode commented on #155
In my case the returned object was:
[code]
changing the `body` field for an empty object worked:

[code]

[2019-01-28 07:53] ManuelMos opened #581 "Debug Node AWS Lambda Function with serverless offline causes Error"
# This is a Bug Report

## Description

* My Environment:  **Windows 10, node.js 10.15.0, sls 1.36.1.**

I try to debug my nodejs lambda function with serverless offline.

Running
`node --inspect node_modules/.bin/serverless offline`

causes:

basedir=(dirname "(echo “$0” | sed -e ‘s,\,/,g’)")
^^^^^^^
SyntaxError: missing ) after argument list
at new Script (vm.js:79:7)
at createScript (vm.js:251:

[2019-01-28 09:42] dherault commented on #581
Hi @ManuelMos,
It seems that the issue concerns vm.js, i.e. Nodejs's core.
can you check that `node --inspect node_modules/.bin/serverless offline` is actually `node --inspect node_modules/.bin/serverless-offline` ?

[2019-01-30 18:28] dev101 opened #583 "Empty event if query string contains newline"
If any of the query string parameters contains newline, the handler's `event` object is empty and doesn't contain any of the request info.

To reproduce, call any lambda with `?param=bla-bla%0D%0A-bla` and check with
[code]

[2019-01-31 09:36] dherault commented on #583
Thanks @dev101. We'll dig that one soon.

[2019-02-01 00:50] dvins commented on #388
We'd be open to sponsoring the work to have this addressed quickly. @dherault is that something you'd be open to?

[2019-02-01 01:38] davidroman0O opened #584 "Multiple serverless.yml sharing same ApiGateway"
Hi!

I already used this plugin on multiple projects, but now, I have an issue!

Previously, my projects was organize on a single folder, with one `serverless.yml`, it was easy!

But now, we have a folder containing multiple sub-folder with each a `serverless.yml`, we got one who create an ApiGateway with an empty lambda and the others use the `restApiId` and `restApiRootResourceId` to share the s

[2019-02-01 10:45] dherault commented on #388
Hi @dvins
At the moment I cannot say I have time to work on it. But we'd gladly accept a PR addressing this.

[2019-02-01 10:48] dherault commented on #584
Hi @davidroman0O
At the moment serverless-offline does not support multiple serverless.yml files.
The only option is to start a server with a different port for each serverless folder.
Of course we'd gladly accept a PR fixing this.
Thanks for the issue,

[2019-02-01 10:50] dherault commented on #583
Sorry I wasn't able to reproduce, can you give me a more elaborated setup ?

[2019-02-01 14:49] davidroman0O commented on #584
Oh ok !

I'll take a look ! :D

Thx for taking the time to answer me :)

[2019-02-02 04:15] ThisIsNoZaku opened #585 "Incorrect provider configuration generates unhelpful error message"
I'm transitioning an application from SAM to `serverless` with `serverless-offline`.  My configuration was lacking a `runtime` definition, so when I attempted to start the simulated backend via `serverless start` the command failed with `Cannot read property 'startsWith' of undefined`.

I had to enable debug logging and use the stack trace to look at the source to determine the cause and solution,

[2019-02-02 14:08] dherault commented on #585
Thanks fro the PR, I'll lint it if you won't.

[2019-02-05 10:16] #585 closed

[2019-02-05 23:01] lyuzashi opened #587 "Resource Routes broken in v4 – lodash isEmpty reimplemented incorrectly"
Hello, I've been trying to use the resource routes feature as documented, however it appears a bug has been introduced which disables this.

https://github.com/dherault/serverless-offline/pull/567 Replaced the lodash `isEmpty` method with an array not empty validation, however the object returned from `parseResources` is not iterable; i.e. it has no `length` property.

[code]

https://github.com/d

[2019-02-06 18:50] dherault commented on #583
I'll check this out, thanks

[2019-02-07 11:12] dherault commented on #587
Thanks @lyuzashi, see v4.2.2 for your fix.

[2019-02-07 11:12] #587 closed

[2019-02-07 14:34] petermorlion commented on #539
It definitely looks better:

![capture](https://user-images.githubusercontent.com/3483719/52418188-cad3ba80-2aed-11e9-9b1b-f71f8cfbef7a.PNG)

It seems to go up slightly. I'm not sure what you want to do with this issue then.

[2019-02-08 08:56] dherault commented on #539
You're right there is still a leak but it's okay for this issue to be resolved :)

[2019-02-08 08:56] #539 closed

[2019-02-08 14:23] rdsedmundo commented on #508
I'm running in the same problem.

And I came up in the exact same conclusion:

@dherault why did you close this issue? Is this already work in progress?

[2019-02-08 16:30] dherault commented on #508
Because of the workaround given. But let's re-open it.

[2019-02-08 19:07] rdsedmundo commented on #508
I think his workaround was mentioning editing the plugin at this LOC: https://github.com/dherault/serverless-offline/blob/master/src/functionHelper.js#L116

[2019-02-08 19:35] ianbytchek opened #590 "Is there a way to configure the file watcher?"
It takes a few moments before the rebuild kicks in, I hoped the watcher is controlled through the [Webpack's config](https://webpack.js.org/configuration/watch), but doesn't look that way. Is there a way to reduce the delay between the file change and rebuild?

[2019-02-08 20:21] ukrbublik commented on #509
I'm glad memory leaks are fixed in v3.33.0
 #569

[2019-02-08 23:33] HumbleBeck opened #591 "Wrong authorizer function name"
Hi, after spending several hours trying to run serverless-offline with custom token authorizer, I found that at line 993 https://github.com/dherault/serverless-offline/blob/da694393caa823490bb7127314ba4ed23549c240/src/index.js#L990-L1000 might be wrong function name.
Lets say we have next serverless config
[code]
I'm starting it with `sls offline` and sending post to `http://localhost:3000/test` a

[2019-02-09 10:19] dherault commented on #590
Wrong repository I think ? Did you mean serverless-webpack ?

[2019-02-09 10:23] dherault commented on #591
Thanks for reporting this @HumbleBeck, I fixed it in v4.3.1

[2019-02-09 10:37] ianbytchek commented on #590
🤦‍♂️

[2019-02-09 10:37] #590 closed

[2019-02-09 11:34] #591 closed

[2019-02-09 21:09] aleksanderkaminski opened #593 "Calling serverless-offline from axios (with React Native on Expo)"
Hey

When I deploy my backend on AWS it works perfectly, but when I try to use `serverless-offline`, `axios` inside my app throws `'Network Error'`, without status code, response, nothing.

Tried a couple of fixed that mentioned in this repo issues, but nothing seems to work at the moment. I'm guessing there's something wrong with OPTIONS? I've tried to change the URI from localhost to my IPv4 add

[2019-02-10 10:09] dherault commented on #593
Hi @aleksanderkaminski
How do you use the `corsAllowOrigin` option ? It should be `--corsAllowOrigin 'http://myendpoint.com'` or `--corsAllowOrigin 'http://localhost'

[2019-02-10 10:27] aleksanderkaminski commented on #593
Alright, so that solved the problem with --corsAllowOrigin. Thanks.

But it still does not work, there's no statusCode, there's no response at all. Just `Network Error`.

[2019-02-10 10:29] aleksanderkaminski commented on #593
I forgot to mention, that the http://localhost:3000 and IPv4 address with port work when I try it in Postman. (Both on options and target method)

[2019-02-10 12:14] Sigmus commented on #593
I wonder if there's an issue with network routing. Create React App exposes two local addresses:

[code]
Depending which resource is trying to access the server one might work and and other might not. Another thing worth trying is perhaps HTTPS?

[2019-02-11 13:19] CyrineBS commented on #524
My question has nothing to do with the problem but i wanted to ask you what did you add to have the [offline] _____ HANDLER RESOLVED _____ ? thank you

[2019-02-11 15:36] shierro commented on #400
with `--dontPrintOutput` on `v3.28.0` i still see a lot of sls-offline logs, specifically the whole `payload` and `event` object. Is there a way to stop printing them also?

[2019-02-11 23:37] aleksanderkaminski commented on #593
Hey @Sigmus, Thanks. I will try that this week.

[2019-02-12 14:40] DHoefakker opened #594 "serverless-offline compressed body not decompressed"
I'm running serverless-offline 4.2.0 It's all running fine.

But when i POST a compressed request to a apollo-server-lambda function it fails.
It gives me a JSON parse error.
When i enable debugging (SLS_DEBUG *) i notice the event.body contains compressed data. When running in AWS it looks like the Api Gateway decompresses the request.

Is this correct? So compressed requests are decompressed by

[2019-02-12 15:23] dnalborczyk commented on #570
@awhitford  just had the same problem.

as an interim, you can use serverless variables, e.g.

[code]

`serverless-offline` doesn't care which node version you `really` run locally. it only uses the runtime parameter to distinguish between the supported `node.js`, `python`, and `ruby` runtimes.

@dherault I wonder if it would be a good idea for serverless-offline to use custom options (same as for

[2019-02-13 09:03] Sigmus commented on #400
@shierro  This is working for me, no outputs at all: ```sls offline --noTimeout --dontPrintOutput --stage dev```

Version ```3.31.3```

[2019-02-13 09:11] dherault commented on #594
Yes that's right, we don't support compressed inputs at the moment. We would gladly accept a PR implementing this. Thanks for the issue.

[2019-02-13 09:14] dherault commented on #570
Hello @dnalborczyk that is a nice idea! We would gladly accept a PR implementing this. I'll put it on my check list for in case I get a few minutes to work on it.

[2019-02-13 09:17] dherault commented on #400
With serverless-offline v4 you won't have any output by default, plus lots of bug fixes. Cheers.

[2019-02-13 09:26] dherault commented on #570
I did it. You can now set the `providedRuntime` CLI option or put it under custom.serverless-offline.providedRuntime. v4.4.2

[2019-02-13 12:42] dnalborczyk commented on #570
@dherault  nice! thank you!! just installed it and it works great!

[2019-02-13 16:05] shierro commented on #400
@Sigmus I have set `SLS_DEBUG`  on my .env file 🤣 🤦‍♂️
@dherault V4 seems to work well. Thanks for your hard work! 👏

[2019-02-15 01:40] Gerst20051 opened #596 "Stage Is Not Being Set Correctly"
A regression was introduced when removing `lodash` in version `3.33.0` which worked fine in version `3.32.2`.

Currently you are forced to pass in the `stage` and `region` params through the command line otherwise it won't inherit the serverless values.

Here is the diff and the offending line:

`https://github.com/dherault/serverless-offline/compare/c0d9020cc7e23e552e7fa1794da4c0e6822dd477...28cb

[2019-02-15 08:31] arnas commented on #464
I have encountered this issue and after extensive investigation, I found that https://github.com/dherault/serverless-offline/blob/master/src/index.js#L490 causes the issue.

If  I am trying to upload an image via `multipart/form-data` it is converted `toString('binary')` ( which seems is deprecated). Then it's passed to express (in my case), the request goes through https://www.npmjs.com/package/m

[2019-02-15 11:52] lteacher commented on #464
If the line is removed then i assume it would work, because the line does some magic check to ensure the `toString('utf8')` doesnt happen for `multipart/form-data`. So if it didn't ever do that the encoding detect thing wouldn't be needed.

Actually I haven't been using serverless for 2 years but we still have a service running that parses multi-part form data, though it was using an old branch...

[2019-02-15 12:32] dherault commented on #596
So I guess that solves it :)

[2019-02-15 12:32] #596 closed

[2019-02-15 13:11] arnas commented on #464
Well, it seems that this issue only appears for images, my colleague has tested and for example, uploading  .txt works fine. It's a bit strange but from my finding, only images are affected.

@lteacher  I have checked the pr #224 and at least form the first look seems that toString() is unnecessary as to prevent hapis.js from parsing payload you can simply set payload to parse to `false`. So if th

[2019-02-15 17:11] MattCopenhaver opened #598 "Support for ALB to Lambda Integration"
With the relatively recent introduction of ALB as a way to invoke Lambda functions via HTTP(S), is this something that should supported by `serverless-offline`?  There seems to be less manipulation done at the ALB level compared to what API Gateway does (more of that is pushed to the Lambda function itself), but the manipulation is different.

I'll let the AWS docs explain the reasons why you'd wa

[2019-02-16 02:50] lteacher commented on #464
@arnas sorry I dont get exactly what you mean with the last sentence.

#### Problem History
- #224 added the `toString` for whatever reason. This change breaks everyone who has data for upload etc as it converts to 'utf8'.
- #230 added function to ensure that just for `multipart/form-data` the encoding will be chosen that doesn't destroy the data, which is then 'binary'.
- In this issue thread, pe

[2019-02-16 09:34] arnas commented on #464
@lteacher I have update the wording of my previous comment last sentence.

For fixing repo I believe that would be the best way. I am hoping that removing toString while hapi payload parse is to false will be enough. I will look into it if I have time.

@lteacher I am using serverless-http, but I havent deployed it to aws as I amasuming it will work without much problem as atleast from documentati

[2019-02-16 10:54] dherault commented on #598
Hi @MattCopenhaver
Serverless-offline is more an APIG-lambda emulator than anything else. But I would glaadly accept a PR making it a ALB emulator as well.
Cheers,

[2019-02-16 10:58] dherault commented on #598
Where is Serverless on this ? Did they implement anything related to ALB ?

[2019-02-16 13:36] aleksanderkaminski commented on #593
Nope, HTTPS did not help either.

[2019-02-16 14:02] aleksanderkaminski commented on #593
Okay, had a moment, this was actually a problem with Genymotion. I couldn't connect with my IPv4 address, but using `10.0.3.2` as I found it somewhere works. Case closed.

[2019-02-16 14:02] #593 closed

[2019-02-18 04:42] lteacher commented on #464
@arnas oh well should be np if using that `serverless-http`

Actually I was thinking of this again for some reason and I had another look and noticed that the `parse` option is actually [used already over here](https://github.com/dherault/serverless-offline/blob/23196caf68e8d2e13a8c0edd4ecea5f6cb794b38/src/index.js#L479). However, I actually didn't notice before when i added that `detectEncoding`

[2019-02-19 07:29] adam-nielsen opened #599 "Function-specific runtime override ignored"
If you are using multiple runtimes in your `serverless.yml` (e.g. Python and Node) then while `sls invoke local` works, using `serverless-offline` with HTTP endpoints does not.

I am following the [Serverless blog post](https://serverless.com/blog/building-mutliple-runtimes/) about using multiple runtimes, and there they say you can do this:

    provider:
      runtime: nodejs8.10
    functions:

[2019-02-19 11:26] alexdilley commented on #451
You can use a plugin, e.g. [serverless-offline-dynamodb-streams](https://www.npmjs.com/package/serverless-offline-dynamodb-streams).

[2019-02-19 18:24] MattCopenhaver commented on #598
I don't think they have yet.

https://github.com/serverless/serverless/issues/5572

The feature isn't very well documented by AWS, in my opinion.  I've built a few simple use case integrations with a combination of using the AWS docs and trial/error, but I'm hesitant to try to build a "complete" emulator for ALB without the documentation from AWS as to what "complete" is.

[2019-02-19 20:31] #599 closed

[2019-02-20 15:57] terreb commented on #64
@vangorra, it works with nodejs functions only

[2019-02-20 17:01] Clement134 commented on #369
Hi,
I think this issue is near to be resolved with PR #589. The only thing missing seems to be the handling of lambda integration, and it could be done [here](https://github.com/dherault/serverless-offline/blob/master/src/index.js#L419).

@dherault I can provide this feature in a PR if you want.

[2019-02-21 02:14] adam-nielsen opened #602 "serverless-s3-local does not work offline with Python"
When `serverless-s3-local` is used to make available an offline S3 storage area, it works perfectly fine with Node functions.

However Python functions do not see any of the environment variables used to point the AWS client at the local S3 instance, so Python functions run locally always try to contact the real AWS S3 servers instead of the local offline ones.

(Will investigate a PR for this but

[2019-02-21 06:19] adam-nielsen commented on #602
Closing this because I now realise I had to configure Node manually for offline use like this:
[code]
So of course you have to do the same for Python:
[code]
My mistake, sorry for the noise!

[2019-02-21 06:19] #602 closed

[2019-02-21 09:35] viktorlarsson opened #603 "Websocket support"
websocket support is going into core from 1.38.0 (https://github.com/serverless/serverless/releases/tag/v1.38.0). Is there any chance that there is a plan to implement that in serverless offline? Saw in an earlier thread regarding this that it wasn't going to be supported.

[2019-02-21 09:44] dherault commented on #369
@Clement134 It would be so nice of you !

[2019-02-21 09:46] dherault commented on #603
Well, I know for a fact that to support websockets you have to boot another server. That would need a lot of modifications especially on the route creation part. I'd gladly accept a PR implementing it but cannot create it.

[2019-02-22 01:52] adam-nielsen commented on #580
As a starting point, you can run `sls requirements install` to tell `serverless-python-requirements` to install the modules into the local filesystem (which may involve it compiling C code inside a Docker container identical to the Lambda environment).

You can then set your `PYTHONPATH` environment variable which `serverless-offline` will pass to `sls invoke local` when it runs the Python functio

[2019-02-22 11:38] hotgazpacho commented on #603
I’m not sure that it would necessarily need to boot a separate server. There’s a few middlewares for hapi that implement websockets. The challenge that I’ve seen is that most of them are opinionated about the protocol... some even ship with their own client library.

The point, though, is that it may be feasible to implement a hapi middleware that speaks websockets in the dialect that API Gateway

[2019-02-22 18:02] dherault commented on #580
It does provide a hook when starting the offline environment 🛩

[2019-02-22 18:09] Enase opened #605 "brief changelog when release new version"
Please add at least brief changelog. It's hard to track what you do.

[2019-02-22 19:04] alikian commented on #580
Well, the issue is a little bit more complicated because we are using:
package:
- individually
function:
- module

That means our lambdas have different requirements.txt

[2019-02-22 23:39] arnas commented on #464
@lteacher I have a bit of debugging and from the first look it seems that this issues is not only from serverless-offline side.
Basically I have created plain handler.js which uses serverless-http to transfer requests to express and multer to deal with multipart data. https://gist.github.com/arnas/d8fed4b78ff2940a3b390e754090cea9
Without changing any dependencies I have confirmed that txt files we

[2019-02-23 02:28] lteacher commented on #464
Hey @arnas I think that you are missing some setup on AWS side. If you want to use binary content you need to do some different setup per these docs: https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-payload-encodings.html

Thats why I posted [this thing from `serverless-http`](https://github.com/dougmoscrop/serverless-http/blob/6b60efd28f38f80e6ed24ee52d59de4b3575afd3/docs/

[2019-02-23 10:12] dherault commented on #605
You're right, I'll be more consistent from now on. As a rule of thumb a release corresponds to a PR, so you can look at the PR section and see what is done.

[2019-02-23 10:12] #605 closed

[2019-02-24 07:03] joonhwa opened #607 "Specify own api key?"
Hi,

Is it possible to use my own api key with sls offline?

I thought i am able to specify it via the cmd line when starting up the server like this: sls offline start ... --apiKey=123456 ... but it doesn't seems to work. My tests are returning me 403.

The autogenerated one works but is not what i want as in production, i create api key and usage plan in the resource section of the serverless.ym

[2019-02-24 11:51] dherault commented on #607
--apiKey should work. I'll take a look

[2019-02-24 16:06] joonhwa commented on #607
would appreciate that... thanks in advance...

[2019-02-25 00:16] adam-nielsen commented on #580
Hmm sounds like `serverless-python-requirements` will need to grab the offline hook, then use Python virtual environments to set a per-function virtual environment before launching the function.

[2019-02-25 07:56] dev-bandai commented on #81
This message is still appearing in 4.6.0

[2019-02-25 10:28] dherault commented on #81
@dev-bandai I cannot reproduce in 4.6.0, can you give me your failing request please ?

[2019-02-25 20:44] Sparticuz opened #609 "Caching on / route"
I am having trouble with caching on the / route. It's going back to code that is many revisions old when it's run.

serverless.yml
[code]

frontend.handler
[code]
The / route still get's sent to my browser with an old template. The merger function renders a hbs template. I'm not sure what's doing the caching for this function. Any help would be appreciated.

[2019-02-25 20:51] Sparticuz commented on #609
[code]

[2019-02-25 20:52] Sparticuz commented on #609
Disregard: I had a stray index.html leftover in express' static folder

[2019-02-25 20:52] #609 closed

[2019-02-26 12:11] qtiki commented on #552
I don't see a problem with the websocket listening to a different port. When you deploy a Serverless project to AWS that uses both the REST API as well as a websocket you will end up with two different service endpoints. The idea with `serverless-offline` is to emulate the live environment as closely as possible - so in fact having a different port (ie. url) for the websocket would be closer to th

[2019-02-27 21:11] purefan opened #610 "CreateLambdaProxyContext fails due to request.payload being a {}"
Hello,

Sending a seemingly simple GET request has made my serverless-offline crash. I added a `console.log(request)` around [here](https://github.com/dherault/serverless-offline/blob/master/src/createLambdaProxyContext.js#L33) and the relevant parts look like this:
[code]

The actual error is:

Debugging further I see that `request.payload` is actually `{}` (an empty object) which makes the line

[2019-02-28 11:57] dherault commented on #610
Thanks for the issue @purefan , let's see that fixing PR!

[2019-02-28 11:57] #610 closed

[2019-03-01 13:58] conradoramalho opened #612 "SQS Trigger"
Is it possible to trigger my function with `SQS`?
Or only `HTTP`.

[2019-03-01 16:13] dherault commented on #612
Only HTTP for now :) I'm not sure how to implement it using SQS since it is an AWS service by itself. How would you call a lambda function in SQS ?

[2019-03-04 00:35] wzr1337 commented on #603
As I am trying to implement https://github.com/wzr1337/rsi.server serverless right now, WebSocket support would be a big plus for me too. ;)

[2019-03-05 18:30] zoellner opened #613 "Lack of support for ? wildcards in policy resource path"
Wildcard characters in resource can be `?` or `*`
See https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_resource.html

serverless-offline currently only supports `*`

I'll work on a PR.

[2019-03-06 02:45] jayalfredprufrock opened #617 "-c flag issues when hitting same endpoint with different pathParameter multiple times in succession."
I've noticed some really strange behavior that I'm having a hard time tracking down. It seems like a bug to me, but any suggestion as to what might be going on would be most helpful.

Basically I have a PATCH endpoint that looks like this: `/calls/{callId}`. At the top of the handler, I console.log `event.pathParameters.callId` and also `event.body.status`. Then I issue 2 separate requests to the

[2019-03-06 11:15] #613 closed

[2019-03-06 13:12] dherault commented on #617
Hi @jayalfredprufrock
you wrote
[code]
maybe you meant
[code]
I don't know why this is happening, maybe you could reproduce it in a repo so I could investigate ?

[2019-03-06 13:14] #340 closed

[2019-03-06 16:00] jayalfredprufrock commented on #617
Thanks @dherault , yeah I know its incredibly strange, but the output I wrote is in fact what I'm seeing. I'll definitely try and put together a repro and post back.

[2019-03-08 19:08] tume opened #618 "Python roadmap?"
I was wondering if there is any roadmap or some open tasks for better python support?

We are now developing new serverless project with python and this one seemed like good candidate for local support. Just had couple of obstacles which make it a bit hard for us to use. First one and the biggest one is that it is slow (takes 2-4seconds per request which finishes under 100ms in aws) and other one

[2019-03-08 20:06] dherault commented on #618
Hello @tume
Thanks for this issue. I know about those problems but do not have a solution ATM. You are welcome to open a PR resolving those issues in the python side of the plugin.
The plugin is almost entirelly developped by its users!

[2019-03-11 01:06] jonathandeclan commented on #607
any update on this issue?

[2019-03-11 22:59] danhumphrey commented on #369
@Clement134 Sorry I missed your comment. This will be great - thanks very much!!

[2019-03-12 05:26] dherault commented on #369
@Clement134 will you PR your work ?

[2019-03-12 17:30] RicardoGarciaM commented on #451
_serverless-offline-dynamodb-streams_ didn't work for me in anyway. Tried the example provided in the repo (with aws cli, as explained, can create the tables, insert items, list the items but handler didn't get trigger when inserting items). Tried also binding Dynamo and Streams to Localstack, and the same, handler didn't trigger.

[2019-03-12 20:38] conradoramalho commented on #612
I imagined something like this: https://github.com/mj1618/serverless-offline-sns

[2019-03-13 15:42] freen opened #619 "Spurious `null` appended to greedy param on API Gateway HTTP Proxy"
I am re-implementing an AWS API Gateway in serverless, for local development using serverless-offline. This API Gateway primarily makes use of HTTP Proxy resources with greedy parameters which are forwarded to upstream APIs.

After resolving an implementation issue [via this StackOverflow post](https://stackoverflow.com/questions/55129644/api-gateway-http-proxy-integration-with-serverless-offline-

[2019-03-13 17:50] dherault commented on #619
Hi @freen , I've been working on this issue without success. Can you provide a repository that reproduces the bug, I cannot get a hold on it. Thanks

[2019-03-13 17:58] freen commented on #619
Thanks for your message @dherault

Here is the repo which reproduces the issue for me: https://github.com/freen/serverless-offline-http-proxy-bug

You can see the output here:

[code]

[2019-03-14 10:02] #619 closed

[2019-03-14 10:02] dherault commented on #619
Thanks for the repo, I was able to fix the bug. See v4.9.1 🛩

[2019-03-17 00:19] gbroques commented on #338
**PR** is up, please review.

Looks like same bug exists for `region`.

[2019-03-17 09:23] rahulshinde11 opened #621 "Environment Variable(SLS_COGNITO_AUTHENTICATION_PROVIDER) not applying to requestContext"
I want to mock user id in event.requestContext.identity.cognitoAuthenticationProvider by setting an environment variable.

using SLS_COGNITO_AUTHENTICATION_PROVIDER in serverless.yml doesn't seem to work.

[2019-03-17 19:51] sime opened #622 "Docker support"
I'm only guessing here, is it feasible to support any run time with the new Docker support available in 1.39?

https://github.com/serverless/serverless/pull/5863

[2019-03-18 04:56] zboris opened #623 "Serverless offline ignores gatewayresponse.header(s) set in Resources::GatewayResponse::Properties::ResponseParameters"
Hello,

Serverless offline seems to ignore ResponseParameters headers in the event of the Failed authorizers.
Authorizer is configured to fail if no authorization header is present in the request with:
[code]

As a result, no WWW-Authenticate header is sent back.
When invoking the functions via API GW, headers are sent back as expected.

"serverless-offline": "^3.33.0"

Sample config below:
[code]

[2019-03-18 04:58] zboris commented on #623
This report is related for the custom authorizer functions enabled against lambda endpoints

[2019-03-19 08:11] #338 closed

[2019-03-19 08:15] dherault commented on #621
It should go into a env variable named `SLS_COGNITO_AUTHENTICATION_PROVIDER `.
Try this to start the plugin: `SLS_COGNITO_AUTHENTICATION_PROVIDER=foo sls offline`

[2019-03-19 08:16] dherault commented on #622
That issue would make a great PR, feel free to contribute ;) But ATM we do not support Docker runtimes...

[2019-03-19 08:18] dherault commented on #623
This is a bug, or more likely an unimplemented feature. A PR on this would be greatly appreciated.

[2019-03-19 08:31] sime commented on #622
Cool. Wanted to understand if the new docker support would make it easier for offline to integrate.

[2019-03-19 08:31] #622 closed

[2019-03-19 09:27] rahulshinde11 commented on #621
How do I do this in windows operating system

[2019-03-19 11:45] dherault commented on #621
try the `set` command, or ask google :)

[2019-03-19 11:46] #621 closed

[2019-03-20 16:58] ashish-dirkmedia-de commented on #230
Having the same issue. File gets currupt if I use lambda proxy in api gateway. I m using angular ng2-file-upload to up load the file. Please help what to do. Changes in angular side or api gateway nd what change to make

[2019-03-20 22:29] lteacher commented on #230
@ashish-dirkmedia-de sorry but you would need to provide info about the api implementation.

Also, pretty much everything you would need to know would have been covered in this issue and in #464 if the implementation is using `serverless-http` so maybe you should do some reading against your implementation firstly as well.

[2019-03-23 17:35] rahulshinde11 commented on #621
the set command in windows command prompt accepts the the variable but i'ts not visible in serverless context.

[2019-03-26 15:48] triptec commented on #603
I think a good start might be https://github.com/rse/hapi-plugin-websocket, version 1.2.19 is compatible with the version of hapi that serverless-offline uses. I've managed to get it to work but not getting a correct event or context into the handlers nor getting the authorizer function called on connect making it somewhat useless for the general public. I'm using it now with some shared state and

[2019-03-26 16:15] dherault commented on #603
@triptec you can make a PR, I'll look into it to make it work.

[2019-03-27 01:13] triptec commented on #603
https://github.com/dherault/serverless-offline/pull/625

[2019-03-29 06:52] s-hood opened #626 "Hot reloading code from next js page"
Hi,
This may be a simple problem but I can't work out a solution.

To simplify my server.js, it includes:
[code]

If I change the string sent by the test1 endpoint and refresh my browser, it will display the new code. However if I change some code in my next js page and refresh, the output at /test2 does not change.

I am running "sls offline start" to test locally.

[2019-03-30 08:09] dherault commented on #626
This has nothing to do with serverless does it ?

[2019-03-30 09:31] s-hood commented on #626
I guess I'm wondering why those code changes are not detected when I'm running sls offline. I thought they would after reading that there's "no need for a reloading tool like Nodemon", but I could be completely off here. Could you direct me to where I should be looking for an answer to this?

[2019-04-01 18:57] opposite-bracket opened #627 "SLS_DEBUG=*?"
Hi there, i'm trying to get vscode or intellij with remote debugger but i can't see anything in terms of documentation. can you guys guide me in this matter?

[2019-04-02 00:17] #626 closed

[2019-04-02 18:34] MaksymKutyshenko commented on #334
Hello there.

Have this ever got fixed? I get exactly same issue. I set Access-Control-Allow-Origin:* but always get this header overridden and set to whatever value is in the Origin header of the request.
This is the response object I use:
[code]

Is it how it should work or am I missing something?
Thanks

[2019-04-03 07:54] dherault commented on #334
I'm reopenning because I'm concerned with your issue.
I'll try to take a look a it, but a P from someone else would be appreciated.

[2019-04-03 16:47] harmenjanssen commented on #570
Serverless can now invoke provided runtimes, I think as of this PR: https://github.com/serverless/serverless/pull/5863

Would it therefore be possible to make Serverless Offline work with other provided runtimes, like PHP?

Is there anything I could do? I would really like to run a local APIGateway server for my PHP lambda functions, and am more than happy to help with a PR.

[2019-04-04 07:28] dherault commented on #570
Hi @harmenjanssen , I don't think a PR on the subject would be that easy since we don't use docker in the first place... But you can try !

[2019-04-04 07:35] harmenjanssen commented on #570
Ha, I was hoping for a little more strategy. 😉
Above you indicate that "It looks like serverless-offline will not handle provided runtimes until serverless can invoke them.".

I was hoping, based on that statement, that now that Serverless _does_ invoke provided runtimes, you already had an idea of how to integrate?

[2019-04-04 20:45] djakaitis commented on #543
We are seeing this as well -- with a custom authorizer the claims are appearing locally on `event.requestContext.authorizer.claims`. However, when running in aws via LAMBDA_PROXY integration there are no claims inside the authorizer object.

[2019-04-05 07:32] dherault commented on #543
Could you fix it via a  PR please ?

[2019-04-05 20:53] jordo1138 commented on #322
still happening

[2019-04-08 07:40] dherault commented on #322
What is your environment ?

[2019-04-08 07:40] dherault commented on #322
Sorry for the delay !

[2019-04-08 09:00] jmiddleton opened #629 "ExpiredIteratorException: null"
Working in offline mode if my laptop hibernate then when it wakes up I get the below error in the console. I have to kill dynamodb-offline and run ```serverless offline start``` again.

[code]

My config is like this (only show the standard config for clarity):

[code]

[2019-04-09 07:43] Ali-Dalal opened #630 "Can Lambda layers be used in offline mode?"
So, I tried the offline approach with local lambda layers, but that didn't work

this is the files tree

[code]
and serverless.yaml content is

[code]

[2019-04-09 11:12] bugb opened #631 "Using Serverless Offline in LAN network"
My scenario:

- I use Serverless Offline to run my app that expose port 3000
- I can make a call to my app in port 3000 (with Postman, Chrome, Curl)

- I gave my private IP (10.16.x.x) to my friend using same LAN network
- She makes a call to my app via port 3000
- It does not work

Could you please tell me how can I face with this problem? May I use Nginx in my case?

[2019-04-09 21:55] kevinswarner commented on #456
@Saeris Did you ever find a solution? I am interested in having a node script run (in the same scope) so that I can set up some mocks using sinon that will be utilized by the server in offline mode. The use case I am working on is where I want to mock calls to S3 when running offline.

[2019-04-10 11:48] lOlbas commented on #631
Sounds like firewall blocking external requests to your port. If you use Ubuntu, you can allow port with `ufw`. Alternatively, you can use ngrok.io to expose app to public.

[2019-04-10 12:55] bugb commented on #631
@lOlbas, thank you a lot for your comment. I tried to use simpleHTTPserver or simple app built with create-react-app, and I gave my IP to my friend in same LAN network, he/she still can connect but for Serverless Offline, it does not work, how weird it is !

And I do not want to use Ngrok because I concern about exposing to the public network.

About `ufw` I will try tomorrow because I am not in m

[2019-04-10 12:58] lOlbas commented on #631
@bugb what was the port for react app?

[2019-04-10 13:00] bugb opened #632 "Using Babel with Serverless Offline"
Today I upgrade to newest version of Serverless Offline and found that it does not support Babel anymore.

I tried to do some researchs and found this commit about this problem:

https://github.com/dherault/serverless-offline/commit/c5cba66652ddec8e3b73c9fea5d0834aac783ef1

Could you please tell me how can I use Babel with Serverless Offline?

[2019-04-10 13:14] bugb commented on #631
@lOlbas I can use any port > 1234 for my react app and my friend in same LAN network can access it.

I tried to run serverless offline with port 3000 and gave my IP address for my friends, but they can not access it.

[2019-04-10 19:33] rrosenblum commented on #355
I ran into this same issue. I agree with @ron23, sls offline should behave like API Gateway in this situation and respond with 502. I understand the part about errors in lambda returning 200, however sls offline is supposed to be emulating the functionality of lambda and API Gateway.

[2019-04-11 04:02] Ali-Dalal commented on #630
I figure out a solution for this

https://stackoverflow.com/questions/55590156/serverless-offline-undefined-module-when-loaded-from-lambda-layer/55606906#55606906

Hope this will help anyone else looking for the same thing

[2019-04-11 07:44] marcelijanowski opened #633 "Using Resources as Env variables in offline mode"
HI,
Inside serveless.yml I have defined resource:
`resources:
  Resources:
    APIMocks:
      Type: "AWS::S3::Bucket"`
And then I have a new handler which has to use this resource in offline mode:
`
  product:
    handler: handlers/products/index.handler
    description: product
    environment:
      BUCKET:
        Ref:
          APIMocks
`
I using node implementation and when I try to use offl

[2019-04-11 07:47] dherault commented on #355
I would gladly accept a PR fixing this. Otherwise I'll do it myself in my next serverless-offline sprint.

[2019-04-11 07:50] dherault commented on #632
By using serverless-webpack like in this example: https://github.com/serverless-heaven/serverless-webpack/tree/master/examples/serverless-offline

[2019-04-11 07:50] #632 closed

[2019-04-11 07:52] dherault commented on #633
I would suggest you draft a PR :) This is not a feature of the plugin yet... Thanks for reporting @marcelijanowski

[2019-04-11 11:18] bugb commented on #568
```The next version of the plugin won't use babel runtime anymore.```
Hi my bro, can you tell me why you do not use `Babel` anymore, any special reason?

[2019-04-11 13:09] rrosenblum commented on #355
Thanks for reopening this. I am unfamiliar with the internals of sls offline. If I get some time, I will look into implementing a solution.

For some context, I ran into this issue because I set some query parameters to be required in serverless. When I made a request that didn't contain the parameters, I wound up with a 502 instead of something like 400. It turns out that serverless doesn't actua

[2019-04-12 13:43] fagia opened #634 "WARN deprecated hapi@16.7.0"
Hi, I see some similar issues already closed, but, if I'm not mistaken, even the latest version of serverless-offline still relies on hapi@16.7.0... would it be possible to upgrade to a non-deprecated version of hapi?

[2019-04-12 14:33] dherault commented on #634
Upgrading to Hapi v17+ is a pain... I'll have a look this weekend

[2019-04-12 14:37] dherault commented on #631
I'm closing the issue since this is not an issue with your plugin but rather with your network.

[2019-04-12 14:37] #631 closed

[2019-04-12 14:39] dherault commented on #617
@jayalfredprufrock Hi, how did you solve this ?

[2019-04-12 14:41] #187 closed

[2019-04-12 14:41] dherault commented on #286
Fixed in later version.

[2019-04-12 14:41] #286 closed

[2019-04-12 14:42] dherault commented on #537
Fixed in later versions :)

[2019-04-12 14:42] #537 closed

[2019-04-12 16:04] jayalfredprufrock commented on #617
Unfortunately this was never solved for us. We just had to quit using the -c flag. I'm going to try and revisit this since our system has stabilized and has better logging, so perhaps I can determine the root cause now. If there are no other reports, you can feel free to close this until I have better info or at least a reproducible repo. Really appreciate you following up.

[2019-04-13 15:00] BettyTheApp opened #635 "Serverless offline exits call with "write EPIPE""
I have the amazon linux 2 image locally running on a VirtualBox machine.
I have SLS Version 1.14.0
I have NodeJS version 11.14.0

When i start 'sls offline' it runs until it wait for connection. When I connect to the server it starts handling the python file but ends with

[offline] _____ HANDLER RESOLVED _____
Serverless: Failure: events.js:170
throw er; // Unhandled 'error' event
^

Error: write

[2019-04-13 18:06] Vadorequest opened #636 "TypeError: serviceRuntime.startsWith is not a function in 4.9.4"
I was using `3.18.0` and upgraded to `4.9.4` and I get this error right at the start

[code]

is something wrong with the latest version?

[2019-04-13 19:35] Vadorequest opened #637 "Empty routes - Doesn't find any route"
I get the following input when running my serverless-offline:

[code]

I have a complex setup which is hard to reproduce, including legacy Next.js and express frameworks. Any idea what could cause this? I'm supposed to have a catch-them-all route:

[code]

[2019-04-13 22:59] Vadorequest commented on #637
Note that this happened after I migrated my project from node 6.10.3 to node 10.15.3, any hint as to what could cause this issue?

[2019-04-14 11:03] Vadorequest commented on #637
I identified the root cause, it's because I'm not using a custom runtime, which makes the plugin not find any route for some reason

[2019-04-14 11:54] dherault commented on #568
Because serverless-webpack does it for you :)

[2019-04-14 11:55] dherault commented on #617
I will if you offer a repo for bug reproduction

[2019-04-14 11:56] dherault commented on #617
I will

[2019-04-14 11:57] dherault commented on #636
What is your nodejs version ? I looks like a nodejs older version.

[2019-04-14 11:58] #637 closed

[2019-04-14 11:59] dherault commented on #637
Custom runtimes are not supported yet sorry !

[2019-04-14 12:11] Vadorequest commented on #636
6.10.3, maybe a polyfill for node 6 would be enough to fix this, or if you don't want to support that version then upgrade the package.json and explicitely state the incompatibility with the nodejs 6 runtime.

I'd prefer it to be compatible with node6 ^-^ :)

[2019-04-14 12:12] Vadorequest commented on #637
Any workaround?

[2019-04-14 14:17] dherault commented on #637
Not yet...

[2019-04-14 14:18] dherault commented on #636
It is not 🤔
I'll mark the imcomptability for next sprint.

[2019-04-14 14:24] bugb commented on #568
Thank  you for your replying, your comment make sense, I think you done right, less headache to manage.

[2019-04-14 14:25] Vadorequest commented on #637
I have one, the idea is to run without custom runtime on local env, and with custom runtime against AWS.

It can be done using the native serverless template variables, basically define for each stage which runtime to use.
Haven't tested it yet, but that's what I have in mind.

[2019-04-14 14:26] dherault commented on #637
It wouldn't be offline anymore and wouldn't reflect any changes in the handlers.

[2019-04-14 14:26] Vadorequest commented on #636
Too bad for me then! I'll keep using the 3.x version which is compatible with node 6.

[2019-04-14 14:29] Vadorequest commented on #637
I'm not sure I understand what you imply here. The local version use the current node version anyway, so running serverless locally with the same node version as the one that'll be used by the custom runtime, but without actually using the custom runtime should work around the limitation while keeping the environement as close as possible from what'll be used on AWS. Or did I miss something?

[2019-04-14 14:41] BettyTheApp commented on #635
Found the issue, it seemed that python3 was not correctly installed in the virtual environment.

When i typed python3 in the virtual environment i got errors because python wasn't able to load libraries. I reinstalled Pyhton3 via yum and all worked as it should.

[2019-04-14 14:41] #635 closed

[2019-04-15 21:08] Vadorequest commented on #636
@dherault Actually, if you look at the bottom of the logs:
[code]
I'm using node 10.15.3. I tried again just now and met the same error. I think this should be re-opened.

[2019-04-15 21:13] Vadorequest commented on #636
Note that this happens when using a custom runtime with the `--providedRuntime` option.
...
Ahhhh I figured it out, it's related to the `--providedRuntime` option, I was using it that way:

Instead of

Documentation should be improved, and when `providedRuntime` is provided, a proper check should be ensured to avoid such dumb misconfiguration :)

[2019-04-16 02:59] aprakash-sovrn opened #638 "Path Parameters come URL-encoded in sls, not via AWS"
Hi there, I'm testing a lambda function that is triggered by a Gateway endpoint that takes an ID from the path parameter: `something.com/api/cars/{id}`

When I test this with sls locally with an id that contains characters that would be URI decoded, sls does the great service of encoding that id prior to calling the lambda. Unfortunately, AWS Gateway events don't do the same thing it appears, whic

[2019-04-16 06:41] hueniverse commented on #634
Let me know if you need help.

[2019-04-16 11:11] dherault commented on #638
Hi @aprakash-sovrn, I would love a PR on the subject. Thansk for reporting.

[2019-04-17 04:57] aprakash-sovrn commented on #638
I can try when I have a moment. What I'm seeing so far is that there are two possible locations that could be causing this:
lines 47-50 of `createLambdaProxyContext`:
[code]
and lines 46-49 of `createAuthScheme`:
[code]

I'm inclined to just remove the `encodeURIComponent()` call surrounding `request.params[key]` in both instances, but I'm wary of the comment ` // aws doesn't auto decode path para

[2019-04-18 22:38] ThePaulMcBride commented on #522
I'm running into the same issue at the minute. Where exactly should this be added in the `serverless.yml`?

[2019-04-19 07:12] Vadorequest commented on #637
Well, I tried an indeed it didn't work.

I don't understand how running a custom runtime is different from a native runtime, is it hard to implement?

[2019-04-19 07:24] dherault commented on #637
Super hard. Basically we do not use docker internally so it's impossible to combine it with our software...

[2019-04-24 13:01] victorsferreira commented on #453
Having the same problem. Have you found any solutions?

[2019-04-25 18:27] fusionbeam opened #641 "offline lambda invocations"
I am aware this has been discussed before, yet I'dd like to file this as a Feature Request, gather the specs here and contribute code if needed.

When running a local/offline environment  we sometimes need a lambda to invoke other lambdas (on demand) using aws.Lambda.invoke. These lambdas may be running in an environment deployed on AWS or they may be running in an offline environment provided by

[2019-04-26 23:47] purefan commented on #552
Just a reminder that HTTP 1.1 supports the `upgrade` mechanism: https://developer.mozilla.org/en-US/docs/Web/HTTP/Protocol_upgrade_mechanism#Common_uses_for_this_mechanism

Also, there's no need for a plug-in now: https://aws.amazon.com/blogs/compute/announcing-websocket-apis-in-amazon-api-gateway/

[2019-04-27 10:50] DrakkenSaer opened #642 "Serverless: Failure: The security token included in the request is invalid."
Issue: Getting error above in title on every call
Steps to reproduce:

1. `sls offline`
2. `curl http://localhost:3000/path/to/any/endpoint`

This was not happening previously, so I am wondering if something is configured incorrectly on my machine.

[2019-04-28 11:42] dherault commented on #642
Hi @DrakkenSaer
The steps you provided are insufficient to reproduce. Are you passing credentials to your request?

[2019-04-28 11:43] dherault commented on #552
I'm reopening because I was wrong. There is a PR waiting, can anyone try it and maje returns on it please ? Thanks.

[2019-04-28 16:54] DrakkenSaer commented on #642
There are credentials setup in my `~/.aws` directory, but I am not explicitly passing them in any command.

[2019-04-29 10:30] dherault commented on #642
Can you create a minimal reproducible repo for this bug please ?

[2019-04-29 12:25] marcfielding1 commented on #552
Ohh nice, I'm literally just spinning up a websockets project with HTTP endpoints also, let me check it out!

[2019-04-29 16:42] donfiftyidaho opened #644 "MySql too many connections error is back again"
When I was developing a module that builds dynamic emails using MySQL/Sequelize as a stand alone module running serverless-offline, adding the `--skipCacheInvalidation` flag fixed the `too many connections` error.

But now that module is being used as a package in another module. And my email builder no longer starts serverless-offline, the main module does, and the `too many connections` error ha

[2019-05-02 13:50] skyburrafatom commented on #581
Hello, I'm having the same issue.

I'm on Ubuntu 18.04.1 LTS, with Node v8.15.1, serverless v1.40.0 and serverless-offline 3.33.0

I have checked and there is not a hypen, there is a space. Putting a hypen gives a completely different error:
`Error: Cannot find module '/my/project/path/node_modules/.bin/serverless-offline'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.

[2019-05-02 13:52] ocramot commented on #581
Hello, I'm having the same issue.

I'm on Ubuntu 18.04.1 LTS, with Node v8.15.1, serverless v1.40.0 and serverless-offline 3.33.0

I have checked and there is not a hypen, there is a space. Putting a hypen gives a completely different error:
Error: Cannot find module '/my/project/path/node_modules/.bin/serverless-offline' at Function.Module._resolveFilename (module.js:548:15) at Function.Module._l

[2019-05-02 18:41] kevlarr opened #645 "`runProxyHandler` requires global install of Serverless"
We have been attempting to use this plugin to run automated integration tests to make sure our dozens of endpoints are hooked up properly, but the biggest hitch is that we don't have `serverless` installed globally, as that would break the ability to version Serverless on a per-project level.

When running via `node_modules/.bin/serverless offline ...` or `yarn sls offline ...` we see the long lis

[2019-05-03 00:17] cipher-code commented on #454
The problem for me was that `serverless-offline` is under `devDependencies`. My CI server (like most others) only installs prod dependencies which caused a build failure.

It would be good if it were possible to deploy a project with `serverless-offline` without moving it to `dependencies`.

Workaround: move `serverless-offline` from `devDependencies` to `dependencies`

[2019-05-03 03:29] mrdulin commented on #585
same issue. How to fix it?

[2019-05-03 06:46] dherault commented on #645
Hi @kevlarr
You can have a look of how serverless-offline is used to test its own lib (under /test).
Or
Can you provide me a stacktrace ?

[2019-05-03 06:47] dherault commented on #585
Serverless-offline is only for AWS sorry :)

[2019-05-03 15:11] kevlarr commented on #645
@dherault Ah apologies, my submitted issue might not have been that clear. There isn't a stacktrace, just a list of the endpoints that `serverless-offline` finds and then that `Serverless: Failure: /bin/sh: sls: command not found` message immediately below when I try to call it.

I'm testing in the same way as this package's integration tests, namely via local HTTP calls to the host/port (which is

[2019-05-03 15:19] kevlarr commented on #645
For instance, if I change that line to `spawn('yarn sls', ...)` then it actually works for us, because it's using the package-version of Serverless. Obviously, I wouldn't embed `yarn` in the string like that, but I'm not sure what a good solution would be for allowing local installs.

[2019-05-03 15:30] kevlarr commented on #645
Would it be possible to add an `--slsPath` flag that lets one specify where the path to the npm package is, eg.

[code]

[2019-05-03 20:23] kevlarr commented on #488
Reproducing this is as easy as returning this from a lambda...

``_`
{
    "body": "{\"some\": \"message\"}",
    "isBase64Encoded": false,
    "statusCode": 500,
}
[code]

[2019-05-04 08:52] steve-winter commented on #351
Enabling Golang, for my uses so far, has just required enabling the runtime, and remainder is handled by the `sls invoke` capabilities.

[2019-05-04 09:24] disbelief commented on #612
Would it not be possible to send a simulated SQS event in JSON over HTTP and have `serverless-offline` pass them unchanged to the function instead of formatting them as API Gateway requests? Maybe via a custom header, or based on the function's `events` configuration in serverless.yml?

[2019-05-05 01:51] JacobParis commented on #633
My temporary fix is to push the stack, then hardcode the outputs in environment variables while running functions locally:

[code]

When it's time to deploy and work live, I comment out the hardcoded paths and uncomment the Ref

[2019-05-05 06:34] diegoaguilar commented on #633
@dherault I'd be happy to collaborate at least a lil bit, I'm having this issue but also enjoying of serverless-offline a lot

[2019-05-05 13:51] atrope commented on #570
@dherault I Took a look and found out that it is fairly easy to support provided runtimes.

I Could make a PR if you think  it's worth it.

https://github.com/mnapoli/bref/issues/320#issuecomment-488717167

[2019-05-05 14:55] dnalborczyk commented on #570
@atrope absolutely, do it!!

[2019-05-05 16:36] atrope commented on #570
@dnalborczyk  can you please have a look in the PR and help testing it?

[2019-05-05 17:37] dherault commented on #633
@diegoaguilar be our guest, you'll be welcome to the collaborators.

[2019-05-05 17:41] dherault commented on #645
Fixed in v4.10.0

[2019-05-05 17:41] #645 closed

[2019-05-05 18:21] dnalborczyk commented on #570
@atrope yes, will do! probably later today ...

[2019-05-06 13:40] kevlarr commented on #488
I just realized the issue I posted is related to but slightly different from the reported one - mine is when *stringifying* the response body per the AWS docs. If I change...

[code]
... to...
[code]
... that sample payload will result in the original error reported: `According to the API Gateway specs, the body content must be stringified ...`

[2019-05-06 13:58] kevlarr commented on #488
I'm using a Python lambda (with the default "lambda proxy" integration) and can confirm that the response body **does not** need to be stringified, though I cannot find anything in the AWS docs that support this.

[2019-05-06 16:41] dnalborczyk commented on #570
@atrope  I got it running yesterday, and generally, it seems to work. although I noticed a couple things which might need some changes or fixes, and I'm not sure about the expectations and the work flow in general. that might be better answered by @dherault . I'll try to write some comments later today in the PR.

[2019-05-06 20:17] gevorggalstyan opened #649 "version 4.10.0 bug - Cannot read property 'timeout' of undefined"
After upgrading to version 4.10.0 none of my serverless stacks starts on local.

Here is what I see in the terminal

[code]

Looks like the `createLambdaContext` function does not receive the `provider` parameter, but I see it in serverless.yml.

The latest working version is 4.9.4.

[2019-05-07 07:23] dherault commented on #649
Thanks @gevorggalstyan , will fix it soon

[2019-05-07 08:34] Yuripetusko opened #651 "I get 500 error response with curl"
Hi, on lambda serverless my function / api works fine, but locally with serverless-offline when I do curl I get following in server window which looks fine:

[code]

But in window where i execute cURL from I get:

[code]

Any ideas why that might be?

[2019-05-07 09:16] dherault commented on #651
Hi @Yuripetusko, can you provide a stack trace please ? Thanks

[2019-05-07 09:29] Yuripetusko commented on #651
here @dherault I actually noticed it is saying that url/port is already in use 🤔

[code]

[2019-05-07 09:31] dherault commented on #651
You can kill your process using `ps` then `kill 1234`. Kill the ones launching node. Closing since this is not an issue with the plugin.

[2019-05-07 09:31] #651 closed

[2019-05-07 09:48] Yuripetusko commented on #651
ok it seems that my issue is that when my handler is invoked I start `fastify.listen(PORT` again every time even though previous server is still running

[2019-05-07 10:27] Yuripetusko commented on #651
switched to pure functions without fastify works fine

[2019-05-08 20:25] opposite-bracket commented on #530
+1 I also have the same issue. My serverless.yml looks like so:

[code]

and my lambda function :

[code]

[2019-05-08 23:53] dnalborczyk commented on #649
@gevorggalstyan you might wanna update `serverless-s3-local`: https://github.com/ar90n/serverless-s3-local/issues/63

[2019-05-09 00:15] gevorggalstyan commented on #649
@dnalborczyk @dherault Thanks, guys. The s3 plugin works, but unfortunately, I still can not get the https://github.com/99xt/serverless-dynamodb-local to work.

[2019-05-09 07:38] dherault commented on #649
I didn't know so many plugins depended on the internals of serverless-offline. I'll take it into account next time I want to merge something that modifies then.

[2019-05-09 07:39] #649 closed

[2019-05-09 12:15] dnalborczyk commented on #649
you might have to file an issue over there, unless it's an issue with `serverless-offline`.

[2019-05-10 22:13] opposite-bracket commented on #530
@SrTristao, @daniel-cottone. Found the problem to this issue.

You need to make sure that the `Integration Request` is set to `Use Lambda Proxy integration` which will do as said in the info icon `Requests will be proxied to Lambda with request details available in the `event` of your handler function.`.

I encourage this ticket to be closed since it was a configuration issue and has nothing to do

[2019-05-11 07:49] gevorggalstyan commented on #649
@dnalborczyk You are right. I had to fork their project to fix the issue.

[2019-05-12 09:05] #530 closed

[2019-05-13 15:41] SmellzLikeYeti commented on #634
Is there an update on this?  Still receiving hapi warning at install.

[2019-05-13 22:38] rj175 opened #655 "Proxy Handler could not detect JSON"
I am using serverless-offline to test my Lambda functions for a slack bot. When I run `sls offline start` and point Slack at my ngork.io URL for slack to verify I get:

[code]
I'm not sure whats going on.

I'm writing my code in Python3.7.

[2019-05-14 08:00] dherault commented on #634
Not yet, I'll work on it someday but I'm still hoping for a saving PR ...

[2019-05-14 08:01] dherault commented on #655
Your data is wrong I think it should be a string, not an object. Is that right ?

[2019-05-14 12:42] Can-Sahin commented on #508
Same issue here!

I'm using `NestJS` with `typeorm` and there is singleton issue with connections of `typeorm`. So i use the flag `--useSeparateProcesses` and it works. But this time debug launch fails with `address already in use` error. Same with @gwely

I have to use this flag for local development otherwise its a nightmare but now debug won't work.

What to do ?  😕

[2019-05-14 15:56] rj175 commented on #655
You mean the data I am receiving or the data going back?

[2019-05-15 10:53] kiliw commented on #644
Please link to the issues you are talking about.

[2019-05-15 12:07] donfiftyidaho commented on #644
@kiliw I don't have old issues to link to. I found that fix in a stackoverflow post that I can't find now.
I have improved the problem greatly by no longer using sequelize and using [serverless MySQL.](https://github.com/jeremydaly/serverless-mysql).

[2019-05-15 13:17] mkondel opened #659 "Generic error when using the latest version"
I have been using serverless-offline for many months on my current project. My AWS setup has a react frontend with https enabled. Everything still worked today, but then I did a full re-build by deleting node_modules. Suddenly I was getting this error on the command line:
[code]

Looking at the source code at that line, it seems like maybe the request is empty. The error is a generic error about p

[2019-05-15 13:25] dherault commented on #659
Hi @mkondel
That's weird I cannot reproduce...
Is that a one time error or are you getting it all the time ?

[2019-05-15 13:27] dnalborczyk commented on #659
@mkondel could you create a small repro I could look into? I'm pretty sure it's the [memory leak fix](https://github.com/dherault/serverless-offline/pull/640) which went into the last release.

[2019-05-15 13:55] alexgelman commented on #659
I'm getting the same error when running a python lambda, nodejs lambda seems to be working fine though.

[2019-05-15 15:57] mkondel commented on #659
Hi @dherault and @dnalborczyk. Here is a stripped down version of my project: https://github.com/mkondel/serverless-offline-test. The steps to reproduce are in the readme. You do not need to deploy to AWS, the error and fix will show on localhost alone.

[2019-05-15 16:18] Andorbal commented on #659
I'm getting this, too.  What I'm seeing is that there is a call to `setTimeout` on line 973 that clears the details of the current request.  The problem is that the setTimeout function is getting called _before_ the handler itself, which I'm guessing wasn't intended.  If I put a few breakpoints in the serverless-offline index file (but don't alter anything), I can actually get the setTimeout funct

[2019-05-15 16:32] mkondel commented on #659
If I comment out the lines about DynamoDBStore, then the error only happens on the command line, but the browser renders the page. https://github.com/mkondel/serverless-offline-test/blob/master/lambdas/server.js#L14

[2019-05-15 18:25] iamskar opened #661 "UnhandledPromiseRejectionWarning - createLambdaContext"
Hi,

I have a simple code and i am running into this error :

`(node:64802) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'done' of undefined
    at createLambdaContext (/Users/suri/Documents/Projects/Aptimise/subscription-services/node_modules/serverless-offline/src/index.js:671:44)
    at fail (/Users/suri/Documents/Projects/Aptimise/subscription-services/node_modules/serverl

[2019-05-15 19:06] nfantone commented on #661
Same over here.

[code]

Seems like this line -> `if (this.requests[requestId].done) {` in `serverless-offline/src/index.js:671` raises the exception.

[2019-05-15 19:57] stgogm commented on #661
I can also confirm this. It was introduced on version `4.10.1`. Version `4.10.0` works OK.

[code]

[2019-05-16 03:22] dnalborczyk commented on #661
duplicate of https://github.com/dherault/serverless-offline/issues/659

[2019-05-16 07:36] dherault commented on #661
Please check out the v4.10.3 and tell us if it is ok now :)

[2019-05-16 07:50] starryalley commented on #661
I can confirm on my system v4.10.3 works fine :) Thanks.

[2019-05-16 08:33] iamskar commented on #661
Confirmed works fine with "serverless-offline": "^4.10.3" 👍 Thanks @dherault

[2019-05-16 09:07] dherault commented on #661
Thank @Andorbal 👍

[2019-05-16 09:42] cbusseata opened #662 "Python issue with v.4.10.2"
Debug: internal, implementation, error
    TypeError: Uncaught error: Cannot read property 'done' of undefined
    at createLambdaContext (/app/node_modules/serverless-offline/src/index.js:671:44)
    at Object.fail (/app/node_modules/serverless-offline/src/createLambdaContext.js:18:21)
    at ChildProcess.process.on.code (/app/node_modules/serverless-offline/src/functionHelper.js:69:19)
    at em

[2019-05-16 10:43] fshidemo commented on #661
Hi i'm having same issue, when run with NestJs here. Even if with "^4.10.3".
https://github.com/fshidemo/serverless-nestjs

I think:
this.requests[requestId] = this.requests[requestId] || {};

or something like this still need to control this situation

if (requestId in this.requests) {
 // do some logic
} else {
// do else
}

[2019-05-16 12:30] dherault commented on #662
Does it work with v4.10.3

[2019-05-16 13:04] mkondel commented on #661
The same error still persists with `^4.10.3`.

[2019-05-16 13:09] cbusseata commented on #662
Unfortunately no, same error

[2019-05-16 13:43] nfantone commented on #661
It seems to be working fine for me in latest `4.10.3`.

[2019-05-16 14:02] mkondel commented on #661
Can be verified that it's not working with 4.10.3 in this demo: https://github.com/mkondel/serverless-offline-test

[2019-05-16 15:21] aaronjensen commented on #659
This is not fixed for me in 4.10.3:

[code]

[2019-05-16 15:22] aaronjensen commented on #661
It's still failing for me in `4.10.3` as well.

[code]

[2019-05-16 15:35] Melv commented on #655
I am noticing this too.

adding a
[code]
somewhere in the code produces

`Proxy Handler could not detect JSON: Something`

it used to be
`Python: Something`  I think :thinking:

---

[code]

[2019-05-16 17:11] MrJagaloon commented on #662
I am getting the same error in node.

[2019-05-16 19:34] Andorbal commented on #661
My fix addressed the truly async promise scenario, but it looks like @mkondel issue is a truly async callback scenario.  I've got a failing test that proves this out:

[code]

Put that right after the test "should support handler returning Promise that defers" in `offline.js` and when you run tests, you'll see it fails with the error everyone is seeing.  I don't know enough about that memory leak

[2019-05-16 20:20] mkondel commented on #661
@Andorbal thank you for that work around, I will test it out.

[2019-05-17 07:48] sagar-gavhane opened #663 "Uncaught error: Cannot read property 'done' of undefined"
I'm using `serverless-offline` plugin for testing aws lambda functions locally. But when I'm trying to send a response back to the user with `res.send()` the method throws me below error.

[code]
https://github.com/dherault/serverless-offline/blob/91a9a7b75cb9f2ef3cab9baa2aeaf5d3b740f668/src/index.js#L671

**Early response will be highly appreciated.**

[2019-05-17 09:44] cbusseata commented on #662
Now I'm getting it with v4.9.4

[2019-05-17 10:11] svlapin commented on #663
Looks like a duplicate of https://github.com/dherault/serverless-offline/issues/659 that was closed.

The cause is `cleanup` happening before asynchronous handler finishes executing
https://github.com/dherault/serverless-offline/blob/91a9a7b75cb9f2ef3cab9baa2aeaf5d3b740f668/src/index.js#L974-L982

[2019-05-17 10:37] mkondel commented on #659
@aaronjensen try the workaround from https://github.com/dherault/serverless-offline/issues/661#issuecomment-493202885, it fixed the problem for my app.

[2019-05-17 10:37] mkondel commented on #663
Have you tried this workaround https://github.com/dherault/serverless-offline/issues/661#issuecomment-493202885?

[2019-05-17 17:14] Josh-a-e commented on #663
Reverting to `serverless-offline@4.10.0` fixed this issue for me in the short term, same error found in 4.10.1,2,3

[2019-05-17 17:50] corroded commented on #663
Same, although I reverted to 4.9 instead

[2019-05-18 08:17] tomyitav commented on #662
Getting the same error on v4.10.3

[2019-05-19 18:14] dherault commented on #661
@Andorbal Can you PR a fix for this bug this week ? Otherwise I'll revert to 4.10.0

[2019-05-19 18:16] rahabash opened #664 "App module 'app-root-path' not found when running serverless + typeorm"
I've tried this now on mac os, windows, and linux and all are throwing the same issue.

If you create a serverless aws-nodejs-typescript project, add the serverless-offline plugin, and typeorm (w/ mysql driver), when you try to test locally using serverless-offline, the following error pops up:
[code]
Now in node-modules the app-root-path package is there. Just to be sure I've reinstalled all node

[2019-05-20 05:16] errawn commented on #663
I am encountering this also.

[2019-05-20 12:08] dherault commented on #663
What about v4.10.4?

[2019-05-20 12:08] dherault commented on #662
What about v4.10.4?

[2019-05-20 12:09] dherault commented on #661
What about v4.10.4?

[2019-05-20 13:15] dl748 commented on #638
Can confirm this.  Easier to see with a greedy match.

using a /{path+}

`[start-backend] Serverless: ANY /this/that (λ: router)
[start-backend] { path: 'this%2Fthat' }
`

AWS Log when deployed

`2019-05-20T13:07:51.290Z	ae085c91-e821-41be-a347-21259aca4675	INFO	{ path: 'this/that' }`

[2019-05-20 15:34] #638 closed

[2019-05-20 17:38] sulaysumaria commented on #663
Seems to be fixed in v4.10.5

[2019-05-20 19:35] tomyitav commented on #662
Hi @dherault, it is working on v4.10.5, However, there seems to be a new debug error that did not appear on v4.10.0
<img width="1359" alt="debug-error-serverless-offline" src="https://user-images.githubusercontent.com/16193919/58046926-62b25d00-7b4f-11e9-8ad2-6be724552fd4.png">
Do you know this error?

[2019-05-20 20:37] colinyip commented on #488
Hi, I have a similar issue here with lambda integration. It should be fine to execute lambda callback with a non-stringified response if you are using lambda-integration. I am not sure why we still need to check for lambda integration mode here https://github.com/dherault/serverless-offline/blob/a3e0bc50b87babec8baee506d0ffbd1528d25067/src/index.js#L861

Most of our response still works though bec

[2019-05-21 01:11] corroded commented on #663
@dherault It appeared in v4.10.4 for me. That's why I downgraded to 4.9 - thought it was introduced in 4.10. Based on @Josh-a-e  comment though it looks like it was introduced in 4.10.1?

[2019-05-21 07:15] dl748 commented on #607
This works for me.

[2019-05-21 08:02] dherault commented on #662
Hi tomyitav, can you open a new issue for that please?

[2019-05-21 08:02] #663 closed

[2019-05-21 09:18] cbusseata commented on #662
I'm seeing the same issue as tomyitav.  I get the response properly now but that debug error message appears in my logs.  I suppose we can close this issue now and address the new one.  Thanks!

[2019-05-21 09:18] #662 closed

[2019-05-21 09:22] cbusseata opened #667 "Debug error message"
[code]
I am using Python 3.6.  My API responds properly, but some seconds later the above message is logged to the console.

[2019-05-21 09:22] cbusseata commented on #662
I didn't see a new issue opened yet so I did so here:
https://github.com/dherault/serverless-offline/issues/667

[2019-05-22 01:11] pakiza-asim commented on #266
Use CLI option --printOutput

[2019-05-22 04:29] aaronjensen commented on #661
@dherault seems to work for me.

[2019-05-22 07:11] arvindnarang opened #668 "This module has moved and is now available at @hapi/hoek. Please update your dependencies as this version is no longer maintained an may contain bugs and security issues."
I am facing this error while npm installing this plugin. I'd appreciate someone'e help who is experienced with SLS and/or Node.js

[2019-05-22 08:19] #661 closed

[2019-05-22 08:20] dherault commented on #668
It's on its way. cf #657

[2019-05-22 08:23] arvindnarang commented on #668
Thanks - Waiting for it and I Appreciate your quick response.

[2019-05-22 10:49] chris-visser commented on #540
Same issue here. It also seems that the messageId of my SQS message is different when I run `serverless-offline-start` while the md5OfBody is the same:

Result on sending:

[code]

Event when received after I restart:

[code]

[2019-05-22 17:56] james-relyea commented on #667
I'm also seeing this issue after upgrading from `4.9.4` to the latest version.

[2019-05-23 03:10] Dan-Wood commented on #664
Just referencing this as it could be useful..

https://github.com/typeorm/typeorm/issues/3003

[2019-05-23 03:11] Dan-Wood commented on #664
Just referencing this as it could be useful (both ways)

https://github.com/typeorm/typeorm/issues/3152

[2019-05-23 07:40] dherault commented on #667
I think `createLambdaContext` has one more argument now and it has not changed in the python version.

[2019-05-23 10:21] amwill04 commented on #631
@dherault correct me if I am wrong here but this has nothing to do with the OP network.

`serverless-offline` uses `Hapi` to create the server for offline use. According to `Hapi` documentation (and I have never used `Hapi` before) the `server.option.address` parameter is `0.0.0.0` by default, unless `host` is present, in which it will use that value. It then goes on to state:

[code]

`serverless

[2019-05-24 21:04] pierreis opened #670 "Module-level variables are not kept?"
With this code:

[code]

It appears that the module-level variable `x` is not kept between invocations. The same code works perfectly on Amazon. It appears, though, that the context of imported libraries is kept between invocations.

This is problematic when using libraries like `type-graphql`, with the following code working only on the first invocation:

[code]

Is there a way around this issue?

[2019-05-24 21:22] pierreis commented on #670
As a workaround, I figured out I can use the `useSeparateProcesses` option. This sounds far from ideal though.

[2019-05-26 23:42] Cein-Markey commented on #663
Upgrading from `4.10.2` to `4.10.5` fixed the issue for me.

[2019-05-27 08:20] dherault commented on #670
I believe AWS makes no guarantees about the conservation of those variables. When your lambdas are "hot" the context is preserved, when they are "cold" a whole new instance is created, flushing your context.
Try waiting 24 hours before firing your lambdas again: is your context still there?
You can also try the `skipCacheInvalidation` option.

[2019-05-27 08:20] #670 closed

[2019-05-27 12:28] pierreis commented on #670
I disagree with this. Strongly.
The problem is not that the context is not kept ; I would be perfectly fine recreating a new context each time. Hence the workaround with `useSeparateProcesses`.

The issue I am raising here is that *some* of the context is kept (namely, the `import` cache from `node`), while some of the context is not. This is what causes issues with libraries.

[2019-05-27 14:15] Durgaprasad-Budhwani opened #671 "Serverless: Testing Strategies Spikes"

[2019-05-27 14:16] #671 closed

[2019-05-27 14:35] Vadorequest opened #672 "Don't log events"
I see too much stuff on my logs when working locally:

[code]

Is there a way to suppress those logs (`[offline] event`)? I already am using `--dontPrintOutput` option

[2019-05-27 14:36] dherault commented on #672
Are you using Python as your lambdas language ?

[2019-05-27 23:47] Vadorequest commented on #672
I'm using node, why?

[2019-05-28 07:23] dherault commented on #672
Can you tell me how to reproduce please?

[2019-05-28 19:24] Vadorequest commented on #672
Ah, I guess you assume the `--dontPrintOutput` doesn't work properly?
It does have some effect on the output, it silents some of them, it didn't occurred to me it could be a bug. I assumed those logs weren't covered by the option somehow. If that's the case then I'll try to setup a base project that reproduces the issue

[2019-05-29 03:13] dnalborczyk opened #675 "couple thoughts on serverless-offline, hapi update and websockets support"
I was thinking about a couple things on how to move forward with the hapi updates to v18 https://github.com/dherault/serverless-offline/pull/657 and the websockets support https://github.com/dherault/serverless-offline/pull/674 and a bunch of other stuff, before any of it gets stale.

I'm suggesting to create a **next** branch (or any name for that matter), and **release a major** version, with **

[2019-05-29 08:04] dherault commented on #672
`--dontPrintOutput` is not an option 🤔

[2019-05-29 08:04] dherault commented on #672
It's an old one

[2019-05-29 13:09] Vadorequest commented on #672
I'm using     "serverless-offline": "4.9.4",
Ah, I migrated to a newer version and didn't notice the option had gone.

It's been replaced by `printOutput`, so it silents part of the log by default now (which is a good thing)

But, is there any way to silent those as well? I tried to look for `debugLog` calls but couldn't find anything related to event
https://github.com/dherault/serverless-offline

[2019-05-29 13:10] douwewermer opened #676 "Request validation and lambda integration"
I run into an issue when using request validation in combination with lambda integration. When deploying to AWS all seems to works fine, but when testing with serverless-offline, I get the following error when making a request.
[code]
It seems like the function `validate` in `requestBodyValidatior.js` tries to parse the body using `JSON.parse`, but when using lambda integration instead of lambda-p

[2019-05-30 08:05] brainstorm opened #677 "No support for Rust? :_("
It does tilt up the server though... I'm new to your codebase but could you outline how big is the effort to add a new runtime to `serverless-offline`?

[code]

[2019-05-31 08:08] dherault commented on #677
Hello @brainstorm, it would not be that hard. You can reproduce what was done for the Python language and PR the result if you're satisfied with it!

[2019-05-31 12:28] kaskelotti opened #678 "callback with error responds with 200 OK when in AWS the response is 502"
If callback function in Lambda is called with error, such as

`callback(new Error('Just testing'))`

serverless-offline responds with 200 OK and has the following on console

On the other hand, in AWS environment the reply is 502 Internal server error / Malformed... And the error with details is logged to CloudWatch.

[2019-06-02 06:17] brainstorm commented on #677
Fair point.

By "what was done for the Python language", do you mean writing the equivalent of [`manual_test_python`](https://github.com/dherault/serverless-offline/tree/master/manual_test_python) in rust and set the `rust` runtime on [index.js](https://github.com/dherault/serverless-offline/blob/322a6e621a4b0851ca868de0f48034e7bf35659f/src/index.js#L390)? ... if that's all it takes, no worries, I

[2019-06-02 11:34] dherault commented on #677
First part: yes that's it ! And making sure it works of course... 😇

Second part: that's another issue. You get `"existingRoutes":[]` wich means serverless-offline has no route for you. Can you paste a safe version of your serverless.yml file ?

[2019-06-02 12:47] dnalborczyk commented on #634
**v5.0:** https://github.com/dherault/serverless-offline/releases/tag/v5.0.0

[2019-06-02 12:47] #634 closed

[2019-06-02 12:50] #331 closed

[2019-06-02 12:51] #325 closed

[2019-06-02 12:57] dnalborczyk commented on #259
fixed in: https://github.com/dherault/serverless-offline/pull/316

[2019-06-02 12:57] #259 closed

[2019-06-02 12:57] brainstorm commented on #677
Second part: Yeah, it should have `/dev/reads` route for which I can pass `--path` like this:

https://github.com/brainstorm/htsget-aws/blob/master/tests/rest/apigw_proxy_request.json

I'm not entirely sure what you mean by "safe version", but here's my only `serverless.yml` I'm using right now:

https://github.com/brainstorm/htsget-aws/blob/master/serverless.yml

First part: alright then, I'll ta

[2019-06-02 13:00] dnalborczyk commented on #659
fixed in: https://github.com/dherault/serverless-offline/pull/665

[2019-06-02 13:00] #659 closed

[2019-06-02 13:01] #568 closed

[2019-06-02 13:07] dnalborczyk commented on #390
hey @samwiseduzer serverless-offline `v5` was just released, with all dependencies being on the latest version. if you are still encountering this problem, could you open a new issue, ideally with some repro steps, or even better a repro repository. thanks!

[2019-06-02 13:07] #390 closed

[2019-06-02 13:10] dnalborczyk commented on #369
fixed in: https://github.com/dherault/serverless-offline/pull/589

[2019-06-02 13:10] #369 closed

[2019-06-02 13:17] dnalborczyk commented on #561
hey @yliu138 if you are still encountering this problem, and you are thinking it's an issue related to serverless-offline, could you provide some repro steps, or ideally a repro repository? thanks!

[2019-06-02 13:17] #561 closed

[2019-06-02 13:44] dnalborczyk commented on #552
closing in favour of: https://github.com/dherault/serverless-offline/issues/603

[2019-06-02 13:44] #552 closed

[2019-06-02 13:58] dnalborczyk commented on #644
@donfiftyidaho closing since you found a fix.

[2019-06-02 13:58] #644 closed

[2019-06-02 14:09] dnalborczyk commented on #527
hey @HerbCaudill

I'm using `serverless` and `serverless-offline` in a `lerna` monorepo, with no bigger issues (if anything, maybe some inconveniences). nonetheless, the issues you are describing seem to be related to the [serverless framework](https://github.com/serverless/serverless) itself, if I'm not misunderstanding.

[2019-06-02 14:11] dnalborczyk commented on #629
hey @jmiddleton

are you sure this problem is caused by `serverless-offline`? did you try to isolate the problem from the `dynamo-db` plugins?

[2019-06-02 14:15] dnalborczyk commented on #525
hey @joshuaRuff,

if you are still experiencing this issue, and you are thinking this is a `serverless-offline` issue, it would be great to provide some repro steps, or even better, a repro repository - as mentioned by @daniel-cottone. Thanks!

[2019-06-02 14:15] #525 closed

[2019-06-02 14:29] dnalborczyk commented on #276
closing as it seems to have been taken care of.

[2019-06-02 14:29] #276 closed

[2019-06-02 14:36] dnalborczyk commented on #297
if this is still a problem, please open a new issue. thanks!

[2019-06-02 14:36] #297 closed

[2019-06-02 15:06] dnalborczyk commented on #668
@arvindnarang  v5 has been released. it's using the latest scoped `hapi` packages: https://github.com/dherault/serverless-offline/releases/tag/v5.0.0

[2019-06-02 15:06] #668 closed

[2019-06-02 16:18] dherault commented on #677
Erf, I knew it. Your runtime is rust ! No wonder none of your routes are appearing. As you know it is not supported yet.

[2019-06-02 17:33] dnalborczyk opened #683 "v5: "Serverless: Offline listening ..." missing from cli"
noticed a small regression in v5: `Serverless: Offline listening ...` is missing from cli.

[2019-06-03 00:31] brainstorm commented on #677
Yeah, after adding the extra runtime in index.js:

https://github.com/dherault/serverless-offline/blob/master/src/index.js#L406

It works but it seems to crave for some other changes since Rust recompiles and builds a docker container on each change... plus there's no AWS_IAM support either, which adds up to the list of things to be simulated implemented... oh well, I think I'll just `invoke` dire

[2019-06-03 00:50] dnalborczyk commented on #677
@brainstorm

I have 0 knowledge what `Rust` concerns. are you using https://github.com/awslabs/aws-lambda-rust-runtime ? or similar? there's a custom runtime (provided runtime) PR: https://github.com/dherault/serverless-offline/pull/648 which does seem to work (only did a quick check so far), but might get you closer. I think it uses `serverless invoke docker` internally if I remember right - whic

[2019-06-03 01:21] dnalborczyk commented on #557
@mtwbr  if this is still an issue, could you provide some repro steps, or even better, a repro repository, as @daniel-cottone suggested? thank you!

[2019-06-03 01:21] #557 closed

[2019-06-03 01:23] dnalborczyk commented on #630
thank you, @Ali-Dalal

it might be still something worth to be looked into and possibly supported by `serverless-offline`

[2019-06-03 01:26] dnalborczyk commented on #629
going to close this. if this is still an issue @jmiddleton feel free to re-open. it would also be great if you could provide some repro steps, or even better, a repro repository to outline your issue.

[2019-06-03 01:26] #629 closed

[2019-06-03 01:35] dnalborczyk commented on #584
@davidroman0O

I only have a vague idea on your scenario. one thing which should work for sure is to merge your `serverless.yml` files with a custom script into a single one. that should be fairly straight forward.

you'll have a watcher, like [nodemon ](https://github.com/remy/nodemon), watching your sub-directories. when anything changes (code or yml) nodemon runs the merge script you provide, a

[2019-06-03 01:35] #584 closed

[2019-06-03 01:36] brainstorm commented on #677
Yes, I'm using that runtime with the http extensions and yes it uses docker internally to recompile the payload, but it is pretty slow to do all that vs just re-deploying and invoking against AWS proper.

In addition, I'm currently testing the backend service (Athena) that my lambda is connected to, so there's no sensible local invoke emulation for that. Thanks for the `provided` explanation/detai

[2019-06-03 01:38] dnalborczyk commented on #594
@DHoefakker  I'm running `apollo-server-lambda` on aws as well as with `serverless-offline` just fine. if this is still an issue, could you provide some simple repro steps, or even better, a repro repository, and we're looking into this issue. feel free to re-open.

[2019-06-03 01:38] #594 closed

[2019-06-03 01:40] dnalborczyk commented on #578
@brunoluiz I believe this issue has been taken care of remembering some sections of the recent code. if this is still an issue, could you re-open this issue? thank you!

[2019-06-03 01:40] #578 closed

[2019-06-03 01:43] #574 closed

[2019-06-03 01:50] dnalborczyk commented on #598
seems like this was recently implemented in `serverless`. https://github.com/serverless/serverless/issues/5572#issuecomment-488271806 not sure about the feasibility of an implementation in `serverless-offline` though.

[2019-06-03 01:54] dnalborczyk commented on #545
@eladhaz05 looks like an issue in another plugin: https://github.com/99xt/serverless-dynamodb-local/issues/176 feel free to re-open if you think it's an `serverless-offline` issue. thanks!

[2019-06-03 01:54] #545 closed

[2019-06-03 01:59] dnalborczyk commented on #527
@HerbCaudill feel free to re-open if you think this is still an issue with `serverless-offline`.

[2019-06-03 01:59] #527 closed

[2019-06-03 02:05] dnalborczyk commented on #333
if you think this is still an issue with `serverless-offline` and differs what `serverless` and AWS does, feel free to re-open.

[2019-06-03 02:05] #333 closed

[2019-06-03 02:06] dnalborczyk commented on #322
if anyone is still experiencing this issue, feel free to re-open, ideally with some repro steps, or better, a repro repository. thanks!

[2019-06-03 02:06] #322 closed

[2019-06-03 02:13] dnalborczyk commented on #334
@MaksymKutyshenko  could you provide some simple repro steps, or even better, a simple repro repository? feel free to re-open, if you think this is still an issue! thanks!

@dherault closing this if it's ok with you. if anyone is still having this problem, they can open a new issue.

[2019-06-03 02:13] #334 closed

[2019-06-03 02:18] dnalborczyk commented on #677
ah, cool. no problem.

yeah, I was thinking the same initially - even with non-rust provided runtimes it didn't seem to have a great developer experience as far as performance goes.

[2019-06-03 02:18] #677 closed

[2019-06-03 02:21] dnalborczyk commented on #444
hey @Kivol if this is still an issue with `serverless-offline`, could you re-open this issue, and provide some repro-steps, or ideally a repro-repository? thanks!

[2019-06-03 02:21] #444 closed

[2019-06-03 08:25] #683 closed

[2019-06-03 11:05] jmiddleton commented on #629
Hi @dnalborczyk, still happening in my laptop but I believe it's aws-sdk

    at IncomingMessage.onEnd (/MY_BASE_PATH/node_modules/aws-sdk/lib/event_listeners.js:307:13)
    at IncomingMessage.emit (events.js:187:15)
    at IncomingMessage.EventEmitter.emit (domain.js:441:20)
    at endReadableNT (_stream_readable.js:1094:12)
    at process._tickCallback (internal/process/next_tick.js:63:19)

Don'

[2019-06-03 12:45] dnalborczyk commented on #676
@douwewermer could you provide some repro steps, or better, a small repro repository to illustrate your issue?

[2019-06-04 16:17] cyberwombat opened #688 "Unable to use CF vars in offline mode"
This issue has been reported on the main serverless repo but is either sitting there for years or closed without fix. It's been confirmed by users that this only occurs offline so I am posting here in hopes it will get addressed.

The gist of it is that any environment variable set in the serverless.yml file that contains any CF tags (i.e. Fn::Join) will result in the value of the var being the st

[2019-06-04 16:27] dnalborczyk commented on #688
hey @cyberwombat

`serverless-offline` is getting those values from `serverless` itself. we don't do any additional yml parsing. therefore, if anything, this would need to be fixed on the `serverless side-of-things`. that being said, the yaml representation of being an object seems to be correct to me. what would you expect the env value to be?

[2019-06-04 16:30] dnalborczyk commented on #676
@douwewermer feel free to re-open when you have some repro steps or an repro repository. thanks!

[2019-06-04 16:42] cyberwombat commented on #688
Hmm..  it is seemingly ignored on other repo presumably because it works "online" so not sure who will look at that. Why would the string value of an env var be anything but, in the sample case, a URL? Its also not an actual object but a string that says '[object Object]`.  If I upload then the console log with show me my lambda URL correctly.  There is some stringification that is only happening

[2019-06-04 16:43] cyberwombat commented on #688
Could it happen because offline it is serverless that attempts to render the Fn::Join and online its AWS itself?

[2019-06-04 17:14] dnalborczyk commented on #688
this, in yaml:
[code]

is being parsed to JSON:

[code]

so as you can see, property "Fn::Join" is actually an object.

I'm guessing you are referring to: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-join.html

I'm not familiar with this topic. I'm also not sure where `aws cloudformation` templating starts and `serverless framework` specific templatin

[2019-06-04 17:18] cyberwombat commented on #688
Though they are objects in the representation AWS converts these functions to string which I suppose serverless doesn't when run locally which is probably where issue is. I've looked through source a bit but not sure where the handling of these functions occurs.

I run with: `serverless offline`

A lot of people were using this http://www.goingserverless.com/blog/api-gateway-url which works online

[2019-06-04 17:34] dnalborczyk commented on #688
I just tried it myself.

this is part of the cloudformation template serverless generates:
``json
"Environment": {
  "Variables": {
    "API_URL": {
      "Fn::Join": [
        "",
        [
          "https://",
          {
            "Ref": "ApiGatewayRestApi"
          }
        ]
      ]
    }
  }
}
[code]

[2019-06-04 17:41] cyberwombat commented on #688
Yes these work fine live. Just not offline. So do you think that serverless simply doesn't recognize these functions when emulating?

[2019-06-04 17:59] dnalborczyk commented on #688
yes, it seems that way. they (serverless framework contributors) might as well not know that aws is capable of that functionality.

the docs also don't mention environment variables: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference.html

you can try and file an issue and argue your case and also outline as much as possible what you found out: serverless.y

[2019-06-04 18:05] cyberwombat commented on #688
Ok. Thanks for your direction!

[2019-06-04 18:05] #688 closed

[2019-06-04 21:24] dnalborczyk commented on #627
@opposite-bracket  are you sure this is the right repository? debugging with `serverless-offline` should be fairly straight forward, also you wouldn't need to "remote" debug, as it is running locally.

[2019-06-04 21:24] #627 closed

[2019-06-04 22:01] opposite-bracket commented on #627
I'm running serverless-offline in docker for local development so i can spin up/down the entire architecture but it didn't seem to work. I can't remember what i was doing here though since i'm not having the issue any longer. Thank for closing the ticket!

[2019-06-05 21:30] adambiggs commented on #598
ALB support is now merged: https://github.com/serverless/serverless/pull/6073

I would love to see support added in `serverless-offline` :)

[2019-06-06 03:28] dnalborczyk commented on #115
closing. seems like the limit as changed: https://github.com/dherault/serverless-offline/issues/282  possible fix in: https://github.com/dherault/serverless-offline/pull/283

[2019-06-06 03:28] #115 closed

[2019-06-06 03:42] dnalborczyk commented on #496
please re-open if this is still an issue! thanks!

[2019-06-06 03:42] #496 closed

[2019-06-06 04:19] dnalborczyk commented on #474
closing this as this is gone stale. feel free to re-open @evangow if this is still an issue.

[2019-06-06 04:19] #474 closed

[2019-06-06 04:24] dnalborczyk commented on #456
closing as this has gone stale. feel free to re-open if this is still an issue related to `serverless-offline`.

[2019-06-06 04:24] #456 closed

[2019-06-06 04:28] dnalborczyk commented on #406
closing as this has become stale. possible fix in: https://github.com/dherault/serverless-offline/pull/447  feel free to re-open if this is still an issue.

[2019-06-06 04:28] #406 closed

[2019-06-06 04:32] dnalborczyk commented on #418
closing as this issue has become stale. feel free to re-open if this is still an issue.

[2019-06-06 04:32] #418 closed

[2019-06-06 07:21] saumilsdk opened #693 "Region is not getting resolved in following configuration"
I have used another yml file for loading stage based configuration but unable to get region resolved in that case. Please help.
[code]

[2019-06-06 08:42] dherault commented on #693
It it correctly resolved by serverless when you deploy or invoke ?

[2019-06-06 13:45] douwewermer commented on #676
Hi, thanks for your reply!
I made a small sample project which demonstrates the issue:
https://github.com/douwewermer/serverless-example
See README.md for a more elaborate description on the issue and instructions on how to reproduce the error.

[2019-06-06 15:55] jormaechea opened #695 "Error handling is broken when useSeparateProcesses flag is set"
Using this very basic function:
**handler.js**
[code]

And this serverless file:

**serverless.yml**
[code]

1) If you run `sls offline` it works and returns something like this:
[code]

2) If you run `sls offline --useSeparateProcesses` it stops working properly, and returns this:
[code]

[2019-06-07 07:52] dherault commented on #695
Thanks for the catch @jormaechea, we'll work on it

[2019-06-07 10:46] saumilsdk commented on #693
No it doesn't. Even when i do serverless print, it is not resolving somehow.

[2019-06-07 12:42] dherault commented on #693
Then I would suggest your submit this issue to serverless. I'm closing since this is not an issue with the plugin.

[2019-06-07 12:42] #693 closed

[2019-06-07 13:49] MaxVinogradov opened #696 "Support nodejs10.x runtime"
Got warning:

It will be great to have support of nodejs10.x runtime.

[2019-06-07 14:07] dnalborczyk commented on #696
@MaxVinogradov which version are you using? You shouldn't be seeing that message.

[2019-06-08 11:00] dherault commented on #696
[code]

[2019-06-08 12:50] dherault commented on #641
Fixed in v5.3.0. See #698

[2019-06-08 12:50] #641 closed

[2019-06-09 08:01] frsechet opened #702 "stringified JSON is parsed offline, stringified online"
It appears serverless-offline is parsing a stringified JSON response of a lambda integration, hence giving a different result online vs. offline.

Considering the following function:
[code]

And the following serverless.yml:

[code]

When running locally, I get:
[code]

When deployed, I get:
[code]

However, if I change the function to:
[code]

I get `{"toto":"tutu"}` everywhere (as expected).

[2019-06-09 10:10] frsechet opened #703 "serverless-offline ignores custom status code"
I tried to configure serverless to return a 204, but after struggling for a while and deploying, it turns out serverless offline is not handling custom status codes properly.

Using an empty function:
[code]

and the following serverless.yml file:
[code]

You can reproduce the issue by calling the endpoint locally:
[code]

and deployed:
[code]

[2019-06-09 10:14] dherault commented on #703
Hello @frsechet, I will work on both bugs soon.

[2019-06-09 10:19] frsechet commented on #703
No worries, thanks a lot for what you do! I would gladly propose a PR but I am quite in a rush for now, sorry about that. I will surely contribute something over the summer :-)

Found another one while writing this one: try `curl -I` on both requests (offline/deployed) instead of `curl -D -`. Deployed generates a 403 (because there is no http event for HEAD requests), but sls-offline gladly accept

[2019-06-09 10:52] dherault commented on #703
Yes another issue would be nice thanks :)

[2019-06-09 11:01] frsechet opened #704 "serverless-offline should not handle HEAD as GET"
Serverless-offline seams to handle all `HEAD` requests with the `GET` endpoint ([there might be a very good but undocumented reason, based on this comment](https://github.com/dherault/serverless-offline/blob/a80be0ca9d4f5f9ea748525a79a180c775b000ad/test/integration/offline.js#L649)). Which is different from how API Gateway handles it: it requires to have a HEAD route AND a GET route if you want bo

[2019-06-09 16:44] MaxVinogradov commented on #696
@dnalborczyk
"serverless-offline": "^3.25.6",

[2019-06-09 16:50] dherault commented on #696
Try serverless-offline v5: `"serverless-offline": "^5.3.2",`

[2019-06-09 16:50] #696 closed

[2019-06-10 06:53] MaxVinogradov commented on #696
@dnalborczyk sorry, my bad. Thanks!

[2019-06-10 14:20] Enase opened #705 "Attempt to add events for undefined events property"
Plugin tries to push item to `fun.events` when events node is undefined.

I'm getting an error:
[code]
The reason is `serverless-plugin-ifelse` that removes events definition completely while compilation.

[2019-06-10 18:17] dherault commented on #705
v5.3.3
https://github.com/dherault/serverless-offline/commit/dad83ab9aea634345b0615b5dbd864104b856cf2

[2019-06-10 18:17] #705 closed

[2019-06-11 12:42] esetnik opened #707 "serverless-offline includes a package with an unmet peer dependency"
warning "serverless-offline > jsonpath-plus@0.20.0" has unmet peer dependency "core-js-bundle@^3.1.3".

[2019-06-11 13:03] dnalborczyk commented on #707
hey @esetnik  thank you!

it seems `jsonpath-plus` just added `core-js-bundle` as `peer-dep`, but on a quick check they are using it only in a browser test, so it shouldn't be a peer dependency in the first place. would you mind filing an issue over there?

[2019-06-11 13:19] esetnik commented on #707
Ok thank you. I will close this issue once they have resolved the problem.

[2019-06-11 13:39] brettz9 commented on #707
@dnalborczyk : We are listing it as a peer dependency on jsonpath-plus because, as a type of plugin, the polyfill may be needed as a result of the babel process. Besides the browser, it might even be needed in some older Node environments: https://babeljs.io/docs/en/babel-polyfill#usage-in-node-browserify-webpack (though those docs are for `@babel/polyfill`, its replacement--which `@babel/polyfill

[2019-06-11 13:57] dnalborczyk commented on #707
@brettz9 I don't agree with the use of a peer dependency in this case. people don't need 'reminders' for this kind of thing. you could just plain and simple mention in the README if anyone needs support for IE (fill in your old unsupported version), they need to make sure to load polyfills on their own. they might not even choose core-js, as it is EXTREMELY HUUUUGE, and just use individual polyfil

[2019-06-11 14:20] dnalborczyk commented on #707
@brettz9 in short: you'll be bugging `every single user and project` who happens to not use `core-js-bundle` for one reason or another. which is probably mostly **everyone**.

[2019-06-11 14:24] esetnik commented on #707
@brettz9 what if it was switched to an optional dependency? It seems like this more closely matches how you are using the dependency.

[2019-06-11 14:27] dnalborczyk commented on #707
@esetnik I'm not even sure it is an optional dependency. remember, there are gazillions of polyfills. this just happens to be one single one of them.

[2019-06-11 14:31] esetnik commented on #707
The reality is they should be shipping a fully bundled package containing all necessary polyfills for their support targets. Or they should be shipping an unpolyfilled version with a note in their readme about which polyfills are required. You’re right that creating a dependency on core-js-bundle just leads to unnecessary confusion.

[2019-06-11 14:38] brettz9 commented on #707
End of my day here, but plan to review your comments for consideration tomorrow.

[2019-06-11 20:01] larswww commented on #258
--skipCacheInvalidation worked for me, but gave me problems in production. This solved it in my case;

`let user
try {
  sled = mongoose.connection.model('User')
} catch (e) {
  user = mongoose.model('User', UserSchema)
}

module.exports = user
`

[2019-06-12 00:47] brettz9 commented on #707
All rightee, you've persuaded me, thanks! Fixed in `0.20.1`.

I was considering modifying our @babel/preset-env to set the [`useBuiltIns`](https://babeljs.io/docs/en/babel-preset-env#usebuiltins) option to `usage` or `entry` and draw in only those polyfills we're using (so the user wouldn't have to guess at it), but it would still require the whole download.

However, a lot of projects appear to u

[2019-06-12 00:51] brettz9 commented on #707
Also, FWIW, [optionalDependencies](https://docs.npmjs.com/files/package.json#optionaldependencies) does not offer command line switches to choose whether to install or not (and they'd still presumably raise a notice if the option were available and not used). Its current purpose is merely to not fail the whole install if the optional one fails. This may be useful for packages which fail because th

[2019-06-13 01:43] #707 closed

[2019-06-13 01:46] brettz9 commented on #707
FWIW, I've filed https://github.com/babel/babel/issues/10087 as a recommendation to allow users to get at the Babel dependencies they need without libraries needing to require them.

[2019-06-14 03:19] ankithkonda opened #709 "Access denied for JS SDK STS.assumeRole"
Hi, I have a role that I'm attaching to a lambda function in account A, which has permissions to assume another role from another B, and inside the account A function, I use the SDK to assume the role from account B. This works well when it's all deployed, However doesn't work when testing offline, I keep getting 'access denied',

serverless.yml -
[code]
is this even possible when testing offline?

[2019-06-14 04:51] ankithkonda commented on #709
I believe this is due to the execution roles not being attached to the lambdas in offline? is that my understanding?

[2019-06-14 07:30] dherault commented on #709
Hi @ankithkonda, this is obscure to me but I can try solving it.
What is your authorization function ? Do you even have one ?

[2019-06-16 22:30] ankithkonda commented on #709
hi @dherault, This is the current setup.

I'm in Team A, and the current setup when deployed works perfectly, however when using serverless-offline, I get access denied when trying to use AWS SDK's STS.assumeRole, tyring to assume Role B.

<img width="765" alt="Screen Shot 2019-06-17 at 8 28 42 am" src="https://user-images.githubusercontent.com/1918487/59570332-f4bf6e00-90d9-11e9-871f-e4573279551d

[2019-06-16 22:36] ankithkonda commented on #709
not sure if this helps, but here's my entire serverless.yml -
[code]

[2019-06-16 22:38] ankithkonda commented on #709
also, I set AWS_PROFILE env to the profile that's used to deploy this (where it works perfectly when deployed)

[2019-06-17 10:39] KunalAwasthiKooky commented on #258
can you share some links to integrate nodemon in serverless-http powered project?

[2019-06-18 09:38] StelioBuono opened #710 "Custom authorizer "Unauthorized" return a 403 instead of a 401"
Hi,

I use a custom lambda authorizer and when I return "Unauthorized", instead of returning a 401, it returns a 403 response with message `No principalId in the response`.

Maybe I'm doing something wrong ?
Couldn't find anything in the documentation

[2019-06-18 14:27] ItayKatzCC commented on #655
Any updates in here?

[2019-06-20 06:07] issnoejasso opened #712 "listen EADDRNOTAVAIL: address not available"

[2019-06-20 14:52] #712 closed

[2019-06-21 09:08] dherault commented on #655
Can someone PR a fix? Shouldn't be hard.

[2019-06-21 16:50] alebianco opened #715 "Lambda authorizer validation expression fails"
In the offline module, the `identityValidationExpression` string value isn't escaped so some valid regular expressions never match (es: `^\w{32}$` should be escaped to `^\\w{32}$`)

https://github.com/dherault/serverless-offline/blob/a80be0ca9d4f5f9ea748525a79a180c775b000ad/src/createAuthScheme.js#L85

also, it expects the expression to have a capturing group which is not the same behaviour as the

[2019-06-22 16:04] dherault commented on #715
Hello @alebianco, good catch!
Could you PR a fix please ? Thanks!

[2019-06-22 16:05] #655 closed

[2019-06-23 12:04] #715 closed

[2019-06-25 03:38] ankithkonda commented on #709
hi @dherault, just wondering if you had time to have a look at this? :)

[2019-06-25 08:14] dherault commented on #709
Hi @ankithkonda , sorry for the delay.
Roles are not supported by serverless-offline at the moment. So yes you cannot use it this way.
What you can do is ask the team B to launch a serverless-offline instance so you can use `invoke` offline (see the docs).
Otherwise in offline mode you have to attach the correct role manually.

[2019-06-26 00:15] ankithkonda commented on #709
All good! no worries. Hopefully, roles will be supported soon :)

[2019-06-26 00:18] #709 closed

[2019-06-26 00:21] ankithkonda opened #719 "Support assuming roles"
Right now assuming roles from other accounts doesn't work. see #709

Opening this issue for anyone that might be interested in working on this.

[2019-06-26 13:50] dwelch2344 commented on #598
Also looking for this. Happy to contribute, if someone could provide some guidance. Been a while since I've been in this codebase ;)

[2019-06-26 14:19] dherault commented on #598
I eventually think this has to go into a separate plugin. Like serverless-offline-alb.

[2019-06-27 09:44] bridie opened #721 "Setting the Content-Type to application/json does not work"
I have the following fetch request:

[code]

This does not work, however if I remove the `Content-Type` header, like the below:

[code]

It works.

[2019-06-27 10:39] dherault commented on #721
Hello @bridie
Thanks for the issue. Can you provide the content of your `serverless.yml` file please?

[2019-06-27 14:46] bridie commented on #721
Here it is

[code]

It appears to work when I set the Content-Type to text/plain.

[2019-06-28 13:24] m4nuC opened #722 "Simple python Lambda: Cannot read property 'statusCode' of null"
When invoking the  the bellow Python lambda:
[code]

The error  `Cannot read property 'statusCode' of null` is thrown. Am I missing something or is this a problem with Python support ?

Thanks a lot

[2019-06-29 09:07] dherault commented on #722
Hi, you also need to return `statusCode` like this in order for lambda integration to work.
[code]

But it should also work without a status code. So I'm marking this issue as a bug.

[2019-07-01 06:16] m4nuC commented on #722
@dherault I’ve removed the node_modules folder and reinstalled then it started working.  I’ll close it for now and reopen if I bump into this again. Thanks

[2019-07-01 06:16] #722 closed

[2019-07-01 18:13] paulcruseSG opened #723 "TypeError When Invoking Python (serverless v5.5.0)"
Trying to invoke a python lambda function, get this error:

[code]

This my yaml file set-up:
[code]

[2019-07-02 09:42] dherault commented on #723
Hello @paulcruseSG
You're not the first to have this issue: https://github.com/dherault/serverless-offline/issues/722
What does your lambda looks like ? I'm fixing this in the next version I'm tired of this bug.

[2019-07-02 09:50] dherault commented on #723
Fixed in v5.5.1

[2019-07-02 09:50] dherault commented on #722
Fixed in v5.5.1

[2019-07-02 17:48] paulcruseSG commented on #723
@dherault This is a python based lambda using a function decorator:

This is the file being invoked:

[code]

This is the decorator code:
[code]

And this is what `client.response` spits out:
[code]

[2019-07-03 04:37] fffan64 opened #727 "result of "sls offline start --exec 'exit 1'" doesn't return 1"
With serverless-offline 5.5.1:
[code]

With serverless-offline 3.16.0:
[code]

The --exec command doesn't care about the return code in recent version.

This is problematic if you use --exec to run your tests, as the exit code will always be 0 (no problem), and thus your pipeline will consider all tests pass correctly.

[2019-07-03 07:15] Can-Sahin commented on #468
**FYI**
Naming each connection randomly when running locally solves the issue for me

I am using typeorm with `nestjs`and `serverless-webpack`. In that case `--skipCacheInvalidation` is not a solution since it messes up with webpack.

[2019-07-03 08:50] fffan64 commented on #727
look like i don't need start anymore in the command with --exec

After removing it, everything worked as expected

[2019-07-03 09:19] Selion05 opened #728 "python usage example"
how can i use python as runtime?

I tried your [manual python test](https://github.com/dherault/serverless-offline/tree/master/manual_test_python) but it is not working

[2019-07-03 16:23] Selion05 commented on #728
just tested `sls invoke local -f hello` works

[2019-07-03 17:19] #727 closed

[2019-07-03 17:21] dherault commented on #468
In last resort you can use `--useSeparateProcesses` to have a complete separation of your lambda calls.
But it changes some of the behavior of the emulation.

[2019-07-04 04:32] dnalborczyk commented on #728
hey @Selion05 , do you have any more details to your problem?

[2019-07-04 04:35] dnalborczyk commented on #723
@paulcruseSG  did v5.5.1 fix your issue?

[2019-07-04 04:40] dnalborczyk commented on #603
initial implementation in: https://github.com/dherault/serverless-offline/releases/tag/v5.6.0    🚀

[2019-07-04 04:40] #603 closed

[2019-07-04 04:40] dherault commented on #723
I think not

[2019-07-04 04:43] dnalborczyk commented on #552
initial implementation in: https://github.com/dherault/serverless-offline/releases/tag/v5.6.0 🚀

[2019-07-04 07:49] Selion05 commented on #728
Sure :)

I wanted to use python as runtime for one of my lambdas so i cloned
so basically what I did is
[code]

and then  `$ curl 'http://localhost:3000/hello' -i`

content-type: application/json; charset=utf-8
cache-control: no-cache
content-length: 0
Date: Thu, 04 Jul 2019 07:46:58 GMT
Connection: keep-alive

I get an empty response. But if I run `$ sls invoke local -f hello`

    "body": "{\"in

[2019-07-04 13:11] Rafaelsk opened #730 "Version 5.6.0 is not working properly with Python"
After updating to version 5.6.0 of `serverless-offline` it loads correctly my functions paths (rest api handlers), but when I invoke them (through Postman) the actual handlers are never invoked, it just returns 200 and null as the response body.

We downgraded to a previous version and it works well again.

Here is the `serverless.yml` file for the test:
[code]

And here is the handler code (pytho

[2019-07-04 13:14] dnalborczyk commented on #730
thanks @Rafaelsk !  I guess we missed to test `python`  😕

[2019-07-04 13:19] Rafaelsk commented on #730
@dnalborczyk I'm glad to know I could help.

[2019-07-04 14:44] ed-sparkes opened #731 "resourceRoutes for s3 proxy with serverless-s3-local"
Hi,

I have created an api gateway as proxy to s3 to allow my client to upload items and download  items directly as specified [here](https://docs.aws.amazon.com/apigateway/latest/developerguide/integrating-api-with-aws-services-s3.html).

This is all specified in cloud formation resources as the serverless framework or plugins dont currently support this. Unfortunately at present it means this pa

[2019-07-04 21:34] #723 closed

[2019-07-04 21:34] #728 closed

[2019-07-04 21:34] #730 closed

[2019-07-04 21:42] dnalborczyk commented on #728
hey @Selion05 just reverted a commit which broke the functionality. should be fixed with the next release. if you pull the latest `master` again it should work.

note: there seems to be still a timeout issue.

[2019-07-04 21:48] dnalborczyk commented on #730
@Rafaelsk  I was under the assumption that v5.6.0 broke your environment, but it seems this bug has been lingering around for a while.

I just reverted a commit which broke the functionality. should be fixed with the next release. (note: there still seems to be a timeout issue.)

from npm: I fairly safe version to use should be v5.4.2 (until master is released)

[2019-07-04 21:49] dnalborczyk commented on #723
@paulcruseSG  I just reverted a commit which broke the functionality. should be fixed with the next release. (note: there still seems to be a timeout issue.)

from npm: I fairly safe version to use should be **v5.4.2** (until master is released)

[2019-07-04 21:51] dnalborczyk commented on #667
@cbusseata @james-relyea  could you create a minimal repro repository?

[2019-07-04 22:04] james-relyea commented on #667
Been a bit busy but yeah I'll fork this and setup an example this week.

[2019-07-06 11:56] dherault commented on #730
v5.6.1

[2019-07-06 11:56] dherault commented on #723
v5.6.1

[2019-07-06 11:56] dherault commented on #728
v5.6.1

[2019-07-06 11:57] dherault commented on #728
Thanks @dnalborczyk for the awesome work once again! I like what you did it is so clean! Please PR next time though to ease the review process.

[2019-07-06 19:28] dnalborczyk commented on #676
hey @douwewermer  thank you for the repository! I was able to repro. You are right for the reasons of JSON.parse on an object.

the way I see it is that this `feature` should not exist the way it was implemented, and should probably be removed.

the way I see it is that the implementation is based on another plugin: https://github.com/deliveryhero/serverless-aws-documentation which uses the custom

[2019-07-06 20:05] #675 closed

[2019-07-06 20:11] dnalborczyk opened #734 "implement Request validation"
serverless: https://github.com/serverless/serverless/pull/5956

https://serverless.com/framework/docs/providers/aws/events/apigateway/#request-schema-validation

https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-request-validation-set-up.html

former PR, could maybe re-use tests: https://github.com/dherault/serverless-offline/pull/589

[2019-07-06 20:12] dnalborczyk commented on #676
gonna close this in favor of: https://github.com/dherault/serverless-offline/issues/734

[2019-07-06 20:12] #676 closed

[2019-07-06 20:15] #580 closed

[2019-07-06 20:22] dnalborczyk commented on #618
@tume  `serverless-offline` is executing `serverless` with `invoke local` to integrate with python. so the origin of the perf issue is likely coming from there.

[2019-07-06 20:22] #618 closed

[2019-07-06 22:15] dnalborczyk commented on #664
@rahabash  I don't think this is a `serverless-offline` issue. If you still think it is, please try to come up with some simple repro steps, ideally a repro repository, and re-open this issue.

[2019-07-06 22:15] #664 closed

[2019-07-06 22:19] dnalborczyk commented on #544
@fantapop is you are still experiencing this issue feel free to re-open, ideally with some simple repro steps, or better, a repro repository.

@mtwbr using async functions (returning a promise), and calling the context.done callback (which is deprecated now) is bad practice for several reasons. you should use either one, but not both at the same time.

[2019-07-06 22:19] #544 closed

[2019-07-06 22:29] dnalborczyk commented on #581
@ManuelMos @ocramot  If you are still having this issue, could you try:

`node --inspect ./node_modules/.bin/serverless offline`  (notice the dot slash)

may be related to (although this mentions only node v11.x): https://github.com/nodejs/node/issues/25967

feel free to re-open if you think this is an issue with `serverless-offline`.

[2019-07-06 22:29] #581 closed

[2019-07-06 23:21] dnalborczyk commented on #642
@DrakkenSaer closing due to inactivity. feel free to re-open with some repro steps or better, repro repository.

[2019-07-06 23:21] #642 closed

[2019-07-06 23:24] dnalborczyk commented on #672
hey @Vadorequest , could you give a concrete example with the latest version?

[2019-07-07 00:42] #204 closed

[2019-07-07 13:37] dnalborczyk commented on #486
feel free to re-open if this is (still) an issue with `serverless-offline`, ideally with some repro steps, or better, a repro repository.

[2019-07-07 13:37] #486 closed

[2019-07-07 13:41] dnalborczyk commented on #435
closing. please re-open if the issue still exists.

[2019-07-07 13:41] #435 closed

[2019-07-07 13:46] dnalborczyk commented on #365
hey @Limess I know, it's quite late. if you are still using `serverless-offline`, is this still an issue?

feel free to re-open if the issue still exists.

[2019-07-07 13:46] #365 closed

[2019-07-07 13:56] dnalborczyk commented on #731
hey @ed-sparkes thank you for the issue and the run down. Which part do you think is not supported by `serverless framework`?

your scenario might be achievable with `serverless framework` and maybe an additional (specialized) S3 reading/writing plugin.

if this is not supported by `serverless`, and you feel it should be, you might want to open the issue over there first, as this plugin only suppo

[2019-07-07 14:00] dnalborczyk commented on #731
@ed-sparkes  closing this to keep the issue count down, but feel free to give more feedback.

[2019-07-07 14:00] #731 closed

[2019-07-07 14:05] dnalborczyk commented on #721
@bridie could you give more detailed feedback on this issue? what `does not work` mean? do you get an exception? wrong request? wrong response? Could you create a simple repro repository?

it would be great if you could reduce your problem to the minimum. remove everything not needed for reproduction. some minimum handler code focusing on the issue would be great.

[2019-07-07 14:07] dnalborczyk commented on #710
@StelioBuono  could you provide a small repository with some repro steps?

[2019-07-07 14:09] dnalborczyk commented on #583
I was able to repro and it might be a bug, labeling as such for now.

[2019-07-07 14:11] dnalborczyk commented on #543
@tremby @djakaitis could you provide a small repository with some repro steps?

[2019-07-07 14:14] #235 closed

[2019-07-07 14:16] dnalborczyk commented on #452
@fantapop  if this is still an issue please feel free to re-open!

[2019-07-07 14:16] #452 closed

[2019-07-08 07:49] frsechet opened #736 "getting TypeError on $connect with websockets API"
Upon connection, I'm now getting this error when connecting exactly the same way as during the development of this feature:

`UnhandledPromiseRejectionWarning: TypeError [ERR_INVALID_URL]: Invalid URL`

This seems to be caused by a bad parsing of the request URL and is fixed by https://github.com/dherault/serverless-offline/pull/735.

[2019-07-08 12:57] dnalborczyk commented on #736
fixed with: https://github.com/dherault/serverless-offline/pull/735

[2019-07-08 12:57] #736 closed

[2019-07-08 14:57] CorentinDoue opened #738 "Websocket support broken"
Hi I was using the websocket support directly from the development branch :
[code]
[code]
I use docker (with node:10) so I need to set the host to 0.0.0.0 instead of localhost.

Everything worked fine.

But today I switched to the current version of serverless-offline (v.5.7.1) and the websockets don't work any more.
 - From my front-end the websocket is open and don't close
- The $connect and $di

[2019-07-08 15:12] dherault commented on #738
Will be fixed in minutes!

[2019-07-08 15:13] dherault commented on #738
v5.7.2

[2019-07-08 15:14] dherault commented on #736
v5.7.2

[2019-07-08 15:27] CorentinDoue commented on #738
Thank you, that was quick but the PR #735 don't fix all the error for me :
[code]

[2019-07-08 15:40] dnalborczyk commented on #738
@CorentinDoue we don't have (m)any tests yet. that's why it's also marked as `experiemental`, so we could release it quicker to get feedback.

it's this line, when one doesn't have any query params:

[code]

with queryStringParameters being null:
[code]

TypeError: Cannot convert undefined or null to object

@dherault gonna hotfix it with:

[code]

[2019-07-08 15:47] #738 closed

[2019-07-08 15:49] CorentinDoue commented on #738
Thank you :)

[2019-07-08 17:51] paulcruseSG commented on #723
@dherault @dnalborczyk Thanks for the quick response and fix; was away for July 4th and come back to see a fix. Will give this a look later today, but either way thanks for the fix

[2019-07-09 09:46] Rafaelsk commented on #730
@dnalborczyk Alright. Thanks. I'll try again on the next version.

[2019-07-09 15:05] bitttttten opened #739 "handler for 'index' is not a function'"
I am using serverless-offline with serverless-webpack, but it fails to load saying that

I did some digging, and it appears that this line:

[code]

returns a object (a module) rather than a function. So the check for this error message passes and the error is thrown.

Below in the webpack config you can see I set the library target to commonjs which is recommended by serverless-webpack. I tried p

[2019-07-09 15:07] bitttttten commented on #739
Fixed by changing `server/controllers/web.js` to server/controllers/web.default`

😊

[2019-07-09 15:07] #739 closed

[2019-07-09 15:36] perrin4869 opened #740 "Differences in CORS handling between v4 and v5"
`v5` upgraded `hapi` to v18, and this changed how cors is handled in general.
I use `lambda-proxy` integration in my current proxy, and before `v5`, I used to have complete control over the cors headers being set by my lambdas:

[code]

Making a request to such a handler with `v4` would result in these exact headers being output by the API. For example: `curl http://localhost:3000 -H 'Origin: http

[2019-07-09 16:57] dnalborczyk commented on #738
@dherault could you do another patch release for this fix?

[2019-07-10 16:12] bridie commented on #721
I am closing this ticket, as it appears to be an issue with a serverless plugin we are using.

[2019-07-10 16:12] #721 closed

[2019-07-10 16:37] dherault commented on #738
v5.7.3!

[2019-07-10 18:27] Vadorequest opened #741 "Engine node incompatible >=8.12.0"
I wonder why the node engine must be higher than 8.12, it's really not a good thing, especially since aws only supports 8.10 natively. What's the reason for this choice?

[2019-07-10 19:30] dnalborczyk commented on #741
it's more a "should be", than a hard "must be".

`serverless-offline` is build on `hapi v18`, which requires minimum node `v8.12`.
That being said, I wouldn't be surprised if you can use lower minor node versions, if you don't hit any code paths requiring v8.12.

[2019-07-10 20:54] Vadorequest commented on #741
Right now, it's treated as a must be

[2019-07-10 22:46] dnalborczyk commented on #741
why? because of `yarn`? you can use `yarn install --ignore-engines` to ignore the engines setting.

[2019-07-11 08:03] Vadorequest commented on #741
![image (4)](https://user-images.githubusercontent.com/3807458/61033040-e9065500-a3c2-11e9-9804-5828d05b1f91.png)

Because yarn doesn't allow to install the packages then. And not everybody knows about `yarn install --ignore-engines`. (I had forgotten about this bypassing option)
I wonder if there is a way to display a warning rather than an error.

[2019-07-11 23:31] dnalborczyk commented on #741
this is really `yarn's` decision to error out, the same way if they could decide to error out if some peer dependency version is not met. somewhat out of control of this plugin.

I can't really tell if it was an arbitrary decision of the `hapi` framework to require node `v8.12`, or if it is a technical requirement. in order to find out the details you might have to ask over there.

this plugin too

[2019-07-11 23:38] dnalborczyk commented on #741
@Vadorequest it might be arbitrary, not sure. travis is testing the latest 'minor' version: https://github.com/hapijs/hapi/blob/master/.travis.yml  Maybe at the time of writing, `v8.12` was the latest `lts`, who knows. I couldn't find anything outstanding in the `v8.12` changelog which would require that specific version.

[2019-07-12 12:30] Vadorequest commented on #741
@dnalborczyk I asked the question on https://github.com/hapijs/hapi/issues/3961 and it seems there is no real reason on the Hapi side for forcing v8.12.0, I therefore suggest you don't enforce a specific node version if there are no impact. I'd suggest using node 8 as minimal compatible version, instead of node 8.12, to avoid such useless warning and worries for developers.

[2019-07-12 13:31] dnalborczyk commented on #741
thanks for following up on the issue @Vadorequest !

As I assumed, they are essentially testing and supporting the `latest minor` version of each `LTS` branch, which for v8, is not v8.12, but whichever the latest minor version is at a given point in time, which right now would be v8.16.

In that case I don't see a big issue for `serverless-offline` to support node `v8.10` - until we hit a problem

[2019-07-12 13:35] Vadorequest commented on #741
In that case, I believe the best choice would be to support v8.10+ instead of v8.12+, so that people who are running aws (most common use case for the serverless framework) don't encounter this issue.

GCP uses v8.15.0 (see https://cloud.google.com/functions/docs/concepts/nodejs-8-runtime) so allowing v8.10 seems to cover it as well, which is a good thing for the few users using GCP.

[2019-07-12 13:44] #741 closed

[2019-07-12 13:46] dnalborczyk commented on #741
yeah, that's what I meant. It's fixed in https://github.com/dherault/serverless-offline/commit/464052241c99f7d9a1d5fe1e0219d9b1cb84dcfd

[2019-07-13 05:13] chaddjohnson commented on #44
It would be super nice if there was a way ESLint could run on save of files.

[2019-07-13 16:13] Jordan-Eckowitz opened #742 "Runs very slowly with AWS Python Lambda functions"
I have setup a Serverless API Gateway with both Node.js (10.x) and Python (3.7) Lambdas.

I've compared simple endpoints in both languages that just return the string "hello world". It takes a few milliseconds with Node.js but about 2 seconds with Python to get a response.

When I run it from within a Docker container Node.js is as fast as outside the container. But, Python takes as long as 12 sec

[2019-07-15 21:34] daschi opened #745 "Add support for /configuration endpoints"
Hello and thank you for this great package! I was wondering if there are any plans to add additional lambda paths for `sls offline`, currently we can invoke lambdas with the `/invocations` path, but it would be great if we could also `GET` and `POST` to a `/configuration` endpoint.

here's a reference: https://docs.aws.amazon.com/lambda/latest/dg/API_UpdateFunctionConfiguration.html

[2019-07-16 14:47] rtuin opened #746 "Changelog and tag for 5.7.3?"
Hi,

I noticed the new version 5.7.3 is released on NPM, but there is no tag and no changelog.
I'm mostly wondering if the release is authentic.

@dherault it seems you published the release. Is 5.7.3 a legit release?

[2019-07-17 08:20] dnalborczyk commented on #746
@rtuin it's legit. https://github.com/dherault/serverless-offline/commit/8340f1f92cbcf010b4d24d416f812a20b4bc322b  the changelog hasn't been created, it includes a fix for: https://github.com/dherault/serverless-offline/issues/738

[2019-07-17 08:20] #746 closed

[2019-07-17 17:44] xiaoqiaomm opened #747 ""Unsupported Media Type" When Invoking Lambda from Within Another Lambda"
I would like to use this plugin to invoke a lambda ('my-function-local') from within another lambda (local-lambda). Below is my lambda function which will invoke another lambda locally and when I run "serverless invoke local --function local-lambda" it throws a "Unsupported Media Type" exception. Does it mean the function it's invoking is not deployed into localhost:3000?

[code]

[2019-07-17 21:26] brocksamson opened #748 "Support lambda invoke for lambdas that do not conform to API Gateway response standard"
I have a simple lambda (python 3.6) that returns a json bundle.  This lambda doesn't live behind an API gateway.  Instead it's invoked directly by other lambdas & EC2 instances within our system.  #698 did almost all the work needed for this library to be an arbitrary lambda runner on your local system.

However, within the functionHelper.runProxyHandler function the regex is enforcing both that t

[2019-07-18 10:05] purefan opened #749 "Websocket Invalid ConnectionId"
Hi! :)

Im playing with websockets and I cant seem to be able to push to a connection, I added a logger to ApiGatewayManagementApi and it does try to send the message:

but keep getting this error

I dont even know how to troubleshoot this so any help will be greatly appreciated

[2019-07-18 10:14] ed-sparkes opened #750 "Function specific runtimes"
Hi,

My project has a mix of runtimes, python and node and as such i dont specify the runtime at the provider level, if i do other plugins seem to get confused.

However if i dont specify a runtime at the provider level, serverless offline throws an error

[code]

It appears serverless offline supports multiple runtimes, but still requires a provider level runtime to be set. Perhaps the above chec

[2019-07-18 10:42] alur222 commented on #748
hi @brocksamson were you able to find a workaround for this? My problem is also similar in a way that I am invoking another lambda from a cron lambda (scheduled).

Also, just to confirm. The current version only works if you invoke another lambda from a api-gateway triggered lambda:

`postman --> lambda1 --> lambda2`

and doesn't work when you do this:

`cron lambda --> lambda2`

[2019-07-18 12:05] rtuin commented on #746
That's good to hear, thanks!

[2019-07-18 12:26] dnalborczyk commented on #750
hey @ed-sparkes,

thank you for the report! you're right, that's a short-coming which should be fixed.

[2019-07-18 13:20] alur222 commented on #748
My current work-around is still build a cron/scheduled lambda and trigger the other lambda via api-gateway endpoint. :clinking_glasses:

[2019-07-18 14:04] brocksamson commented on #748
Unfortunately, there isn't really a none hack way to get around this right now.  The base problem is that the regex being run on the response won't match up unless the first element matches an element of the API Gateway standard.
I've got a fork that is working for my scenario, but its not quite ready for prime time.  Hopefully I'll have it done today or tomorrow.
The only other options that works

[2019-07-18 14:13] alur222 commented on #748
Thank you for the insights. As I am very new to these things, can you tell me if it's a bad practice to call another lambda via api-gateway considering that it's gonna be inside a loop?

[2019-07-18 18:37] JNaeemGitonga opened #751 "`useSeparateProcesses: true` will swallow errors (from javascript promises)"
** What went wrong?**
Not sure if this should be a feature or if it's a bug...
When using the useSeparateProcesses: true flag stack trace will be lost and you are left with Serverless: Failure [object Object].

What did you expect should have happened?
The stacktrace should be visible.

What was the config you used?
useSeparateProcesses: true

What stacktrace or error message from your provider di

[2019-07-18 20:34] brocksamson commented on #748
@alur222 Its not really bad practice, but its definitely less efficient than simply calling the lambda directly.  Also it means you've exposed your lambda to malicious scripts on the internet, which means you should be really certain you've properly secured it.
I've committed my changes to my fork.  I'm still testing them to be sure they're sufficient for my needs, but feel free to try them out an

[2019-07-19 01:39] yareyaredesuyo opened #753 "Cannot get header value from event in websocket"
When setting header in websocket

[code]

Header info does not included in event

[code]

In aws apigateway environment, it return header value like this

[code]

[2019-07-19 03:39] barendb opened #754 "Question: about proxy path for lambda's"
For starters, thanks everyone who's worked on sls offline, this stuff is fantastic. 🥇

I have a question about the paths generated to invoke lambda's that doesn't use Api Gateway aka proxy...

The paths generated looks some like the following example:
`Serverless: POST /{apiVersion}/functions/some_lambda/invocations`

What's the purpose of `{apiVersion}` ?

Here is the line of code
https://github.

[2019-07-19 11:01] herebebogans commented on #751
do you have an example handler you can provide?

[2019-07-23 21:11] JJ-Berrett opened #755 "AWS Code Build deploy issue"
Serverless 1.48.2 has an issue with deploying using amazon codeBuild. A recent pull request was merged that fixes this issue. https://github.com/serverless/serverless/pull/6427
Can you please update your package.json to use 1.48.3? We cannot build our apps until that has been updated.

[2019-07-24 04:55] #755 closed

[2019-07-24 04:59] dnalborczyk commented on #755
thank you @JJ-Berrett !

you should be able to update `serverless` without waiting for a new `serverless-offline` release, as the version is only a peer-dependency and also not locked-in.

[2019-07-25 19:03] jormaechea opened #756 "Error when processing responseParameters"
There is a bug (a typo, probably) when processing response parameters.

See this line of code:
https://github.com/dherault/serverless-offline/blob/88fecc41e5cb6e7a56ce00dbffac0ef6e7389570/src/ApiGateway.js#L639

It should be `Object.entries(responseParameters)`.

[2019-07-25 19:55] #756 closed

[2019-07-25 21:06] jormaechea commented on #756
Great @dnalborczyk! Is the release scheduled or something? :thinking:

[2019-07-25 23:11] dnalborczyk commented on #749
hey @purefan did you check if the `connectionId` exists?

could you provide some simple repro steps, or even better a small repro repository?

[2019-07-25 23:13] dnalborczyk commented on #753
hey @yareyaredesuyo thank you for creating the issue! this is very likely not yet implemented, but will be hopefully soon.

[2019-07-25 23:22] jormaechea opened #758 "Error when processing an undefined or null response header from body"
In this line:
https://github.com/dherault/serverless-offline/blob/88fecc41e5cb6e7a56ce00dbffac0ef6e7389570/src/ApiGateway.js#L660-L663

If the path does not exist, `jsonPath()` returns `undefined` which then throws by calling `undefined.toString()`.

This should be handled properly.

[2019-07-26 17:05] tempofeng opened #760 "The return of string is not escaped when invoking by other lambda"
I have a lambda function like below:
[code]
And invoked by another lambda function using the AWS SDK:
[code]
If I invoke the function on AWS lambda, the result is like:
[code]
But if I invoked the function locally using serverless-offline, the result string is not escaped:
[code]
If I change the return type to array or object, the result from serverless-offline will be the same as AWS:
[code]
Resu

[2019-07-26 19:08] alefpereira commented on #734
Dears, other day I implemented a poc using [Ajv](https://github.com/epoberezkin/ajv) for an API middleware. I'll try to work on that this weekend.

It is something like this:
[code]

Validation could be something like this:
[code]

[2019-07-27 02:00] #758 closed

[2019-07-27 19:08] joelleibow opened #761 "Likely support related: sls invoke local vs sls offline inconsistency"
Hi there! First thing, I really appreciate if anyone is able to provide some insight for a first-time `serverless-offline` user. In the past, the experience of deploy -> test was incredibly painful and this project will be a timesaver.

In trying to get things setup in a new project, there's an issue that I can't seem to find my way through. The project has been generated using `serverless create

[2019-07-27 19:15] joelleibow commented on #761
An additional detail that may help w/ some clarity, changing the output path in `webpack.config.js` to `path: path.join(__dirname, ".build", ".webpack")` does result in the `.webpack` directory being created w/in the `.build` directory, but now `serverless-offline` is attempting to resolve to `... /.build/.build/.webpack/service/handler`

[2019-07-27 19:42] joelleibow commented on #761
Closing my own issue 🤦‍♂️For anyone who may encounter similar in the future, generating a project via `serverless create --template aws-nodejs-typescript` does not require the `serverless-plugin-typescript`. Typescript compilation is handled by `ts-loader` through `webpack` via the `serverless-webpack` plugin.

[2019-07-27 19:42] #761 closed

[2019-07-27 22:57] purefan opened #762 "Question: Do we have a compatible serverless offline for Components?"
I don't know what the implications of Components are but they sure look to be the future of Serverless, is there a branch or something that supports Serverless Components?

[2019-07-28 16:03] Elyx0 commented on #258
`--useSeparateProcesses` breaks vscode debugger sadly

[2019-07-28 23:05] aphex opened #764 "Websockets and Webpack"
Currently when you update code it is not reflected in the websocket handler. This is because handler method for websockets are created at startup during action creation. We need to swap this over to invocation time so that the handler is pulled in fresh.

This small fix moves that logic into invocation, like APIGateway calls. And makes it much faster to build websocket apps.

PR for fix is here ht

[2019-07-29 11:18] Dasio commented on #351
It doesn't work for me. When I want to hit some endpoints my console is spammed by:
[code]

[2019-07-29 11:48] dnalborczyk commented on #351
@Dasio  what version of `serverless-offline` are you running?

[2019-07-29 11:57] Dasio commented on #351
5.8.0
and sls version:
`1.48.4 (Enterprise Plugin: 1.3.3, Platform SDK: 2.1.0)`

Also I got these warnings:
[code]
But I dont think there warnings causes errors?

[2019-07-29 12:45] dnalborczyk commented on #351
@Dasio just tried it out myself and I got it working, although it seems to be somewhat flaky.

this warning seems to be a `serverless framework` warning. not sure what the `dashboard` is, but it says it only supports node.js: https://serverless.com/framework/docs/dashboard/

I got the same in the console. probably needs to get fixed.

besides the warnings, did you get it working?

[2019-07-29 13:28] Dasio commented on #351
No I didn't. I couldn't get any response from lambda. I'm using also serverless-plugin-split-stacks, not sure if it's connected with it.
[code]

[2019-07-29 18:13] m-denton opened #765 "Testing API Gateway ONLY"
Hey there,

My use case for an offline local testing tool is specific to API Gateway only. I am only wanting to test my OAS3 spec with mock integration. I have been trying to use this tool but it always complains with `Error: Template does not have any APIs connected to Lambda functions`. Is this doable?

[2019-07-29 22:43] Vadorequest commented on #672
`[offline] event: { headers: ...` is the most noisy, since it repeats for every endpoints, when using a framework such as Next.js, it's printed 5-7 times, because many routes are loaded by the frontend, such as _app.js, _error.js, etc. It results in a very important noise and I'd like to just disable event logs in development mode (or display a much smaller version)

[2019-07-30 02:06] dnalborczyk commented on #749
@purefan  feel free to re-open with a repro.

[2019-07-30 02:06] #749 closed

[2019-07-30 02:14] dnalborczyk commented on #765
hey @m-denton

`serverless-offline` doesn't support `mock integration` [yet]. it might be doable, but it might also take some time to have that implemented. what definitely would help is a small repro repository to see on how you are trying to use that functionality.

Also feel free to open a PR with the implementation.

[2019-07-30 02:28] dnalborczyk commented on #762
@purefan

not sure about the maturity level of `serverless components` at this point in time, but support should be doable - although I must admit I only glanced over some articles, and did not try `serverless components` personally. looks quite promising though!

[2019-07-30 10:47] bugb commented on #631
@amwill04: Thank you a lot for your solution.

I just made another one.

Here is my solution if anyone encounter with my problem:

- Install `nginx` in your local computer, you can use **Docker**
- Open the file `/etc/nginx/nginx.conf`
- Add this code under `http` block:
[code]
Change `your_lan-ip_here` with your LAN ip example: `10.16.38.95`.

Here my Nodejs app is running in port 3000 so I have

[2019-07-30 14:53] MattCopenhaver commented on #327
Another potential workaround here, if you're not concerned with the extra logging, is to define the `AWS_XRAY_CONTEXT_MISSING` environment variable in your `serverless.yml`.

Thanks to @aburdiak for the answer.

[2019-07-31 06:22] sime commented on #727
Had this problem internally and I wanted to narrow down to the version that was causing this, though now I'm failing to reproduce.

[code]

Output of the last two commands.
[code]

[2019-07-31 20:00] #762 closed

[2019-08-01 14:31] nalanj opened #766 "Websocket Handler Creation Timing"
From usage and reading the code, it seems that websocket handlers are created on startup instead of on first usage, but handlers for http endpoints seem to be created on usage. That took me into a weird edge case with persisting db connections, so I wanted to check in on if that's the expected, desired behavior or if it's something you'd like to see change in the future.

[2019-08-01 15:38] dnalborczyk commented on #766
hey @nalanj

thanks for reporting the issue! `websocket` support is fairly new, and that's a short coming which we should fix in the near future.

That being said, it shouldn't cause any issues. Out of curiosity, what's the edge case you are experiencing?

[2019-08-01 15:43] nalanj commented on #766
I'm persisting database connections and that was leading to issues within http handlers because they were creating a new handler on each request and eventually requests would run out of connections. I put some offline only logic in to clean those up, but at that point I saw the opposite issue with socket handlers because the connection would get cleaned up before the socket handler was done runnin

[2019-08-01 15:52] dnalborczyk commented on #766
handlers should be created only once, on usage. what you might be experiencing is that when you edit the code it will reload the handler, which I think is the cause for a lot of problems. I think in the next major version we should remove the auto-reload, and make that an option, instead of the default.

could you try setting `skipCacheInvalidation` (either cli or custom options) if this fixes you

[2019-08-03 20:29] computerpunc commented on #753
@yareyaredesuyo @dnalborczyk

#732 already fixes this issue.
Here's an output of `event.headers` when running `wscat -c ws://localhost:3001 -H 'Authorization: Bearer ey~' -H 'test: test'`:
[code]

[2019-08-05 01:04] dnalborczyk commented on #756
@jormaechea

released as part of **v6.0.0-alpha.0**: https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.0

[2019-08-05 01:16] jormaechea commented on #756
Uhmm, ok.. Can't this two bug fixes be released to v5 also? So we can keep using a stable version without the bugs?
We can't afford to use an alpha version at the office..

Thanks!!

[2019-08-05 14:20] dnalborczyk commented on #756
who says an `alpha` version has to have bugs? 😃

I wouldn't look too closely at the semantics. we mainly chose an alpha pre-release for the following reasons: the code base has been (and is going to be) refactored, and it's hard to guarantee the same behavior as in the v5.x branch, as there's unfortunately a bit of of tests lacking (which hopefully will improve eventually). so essentially we are s

[2019-08-05 14:22] dnalborczyk commented on #746
as reference: https://github.com/dherault/serverless-offline/releases/tag/v5.7.3

[2019-08-05 15:40] dnalborczyk opened #768 ""serverless-offline" v6 alpha feedback"
Thank you for giving `serverless-offline` **v6 alpha** a try!  🎉

In this issue thread you can provide feedback regarding ongoing work for v6.

The current v6 releases are mainly marked as an alpha version to signal that stuff **might be** breaking, due to major code refactoring, reasons listed below (breaking changes), as well as the current lack of tests (which hopefully will improve over time).

[2019-08-05 16:30] jormaechea commented on #756
LOL!

Thanks for releasing **v5.9.0**!
I'll give a test drive to the v6 alpha in some side projects for sure, and will get back to you if I find something.

I'm happy to colaborate with this great project! :rocket:
Let me know if you need some help ;)

[2019-08-05 22:06] dnalborczyk commented on #760
hey @tempofeng , thanks for filing the issue!

Hang on for a bit, gonna look at your issue soon!

[2019-08-05 22:08] dnalborczyk commented on #751
hey @JNaeemGitonga yes, a repro repository would be much appreciated, thanks!

[2019-08-05 22:15] dnalborczyk commented on #747
hey @xiaoqiaomm

`severless invoke local` only runs in the context of [serverless](https://github.com/serverless/serverless) and is not "hosted" with an underlying server - unlike `serverless-offline`. so you might have to file a bug over there.

`lambda invokes` with `serverless-offline` should work as well (has been recently implemented), although I have not used it myself [yet].

[2019-08-05 22:18] dnalborczyk commented on #740
hey @perrin4869

I'm gonna have a look into this issue and your PR soon. I might have some follow-up questions regarding CORS and AWS.

marking as bug for now.

[2019-08-06 06:28] computerpunc commented on #768
What would be the recommended way of pushing updates to **v6 alpha**?

I’m thinking of:
1. Fixing #355 and #678.
2. Moving all current WebSocket tests Into integration phase so everyone (including CI) can run WebSocket tests and not just me :)

[2019-08-06 08:01] deiga opened #769 "CI fails to "Profile not found""
Hello!

I use SLS Offline in CI to test that my handlers work, but the CI machine doesn't have my AWS profile and throws an error.

I'm wondering if SLS Offline shouldn't just somehow skip the AWS profile entirely since it doesn't actually talk to AWS, right?

[2019-08-06 10:11] idalv commented on #740
I was about to log an issue when I found this one.
To demonstrate it I forked: https://github.com/serverless/examples/tree/master/aws-node-rest-api-with-dynamodb-and-offline
Here is the fork with the small changes: https://github.com/serverless/examples/compare/master...idalv:access-control-allow-credentials-missing
If you execute `curl -X POST -H "Content-Type:application/json" http://localhost:3

[2019-08-06 12:50] JNaeemGitonga commented on #751
hello guys @herebebogans @dnalborczyk I will try to publish some code that will cause what I described but in the meantime here is what the serverless yml looks like:

serverless.yml
[code]

when using that `useSeparateProcesses: true` if an error is thrown that will cause what I originally posted

[2019-08-06 13:31] #750 closed

[2019-08-06 13:37] dnalborczyk commented on #769
hey @deiga

it might be that `serverless` requires your AWS profile if it has to make AWS requests.
Do you have a simple example or repro?

[2019-08-06 14:05] dnalborczyk commented on #768
@computerpunc awesome!

just do a PR against `master`. I didn't branch off, as it originally wasn't planned to be what it became.
there's a `5.x-branch` for v5 releases, but I'd rather do that only if absolutely needed., as the code base diverged too much.

sure, go for it! it would be great if you could also add some tests, similar to: https://github.com/dherault/serverless-offline/tree/master/sr

[2019-08-06 14:28] dnalborczyk commented on #742
hey @Jordan-Eckowitz

I'm not a `Python` user, but `serverless-offline` is running against the `serverless` implementation, similar (or actually the same) as `serverless invoke local ...` you might have to look at their implementation, or look through the issues, or potentially file one. that is not to say that `serverless-offline` is not at fault and might need some perf improvements in that rega

[2019-08-07 08:36] deiga commented on #769
Here's the repo I have the issue with https://github.com/deiga/Jon-Van-Til

And I do understand that running SLS might need to access AWS, but why would SLS Offline need to do that?

[2019-08-07 16:37] dnalborczyk commented on #769
@deiga  thank you for the repo!

your tests are invoking `serverless` functionality, **not** `serverless-offline`. for reference: https://serverless.com/framework/docs/providers/aws/cli-reference/invoke-local/

[code]

you are specifying your profile here: https://github.com/deiga/Jon-Van-Til/blob/master/serverless.yml#L31, that's why it's trying to access it.

[code]

[2019-08-07 16:39] #769 closed

[2019-08-07 21:49] dnalborczyk opened #770 "context.callbackWaitsForEmptyEventLoop property missing"
ref:
https://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-context.html

https://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-handler.html#nodejs-handler-sync

[2019-08-07 21:51] #770 closed

[2019-08-08 01:04] aaronjensen opened #771 "TypeError: Cannot destructure property `version` of 'undefined' or 'null'."
Regression in 5.10.0 when starting `yarn serverless offline start`

[code]

[2019-08-08 01:34] dnalborczyk commented on #771
thank you @aaronjensen ! bad cherry-pick from the v6 alpha version.

[2019-08-08 01:38] #771 closed

[2019-08-08 22:34] amnous commented on #703
Hi, could please let me know issue has been resolved

[2019-08-09 02:23] dnalborczyk commented on #751
thank you @JNaeemGitonga  I'll have a look soon.

[2019-08-09 02:32] cipher-code commented on #631
this is actually --host 0.0.0.0

[2019-08-09 13:33] Can-Sahin opened #773 "Updating to 5.x has breaking changes using aws-serverless-express"
I'm using `aws-serverless-express`. And been using for a long while and time to time having issues even though I use the same code

After updating the to `5.10.1` this error started to show up

This is problematic and might cause issues in your lambda.

Can anyone help with how you use this with [aws-serverless-express](https://github.com/awslabs/aws-serverless-express)

[2019-08-09 13:36] dnalborczyk commented on #773
@Can-Sahin  could you create a simple (small) repro repository to have a look?

[2019-08-09 17:05] dnalborczyk commented on #667
this should be fixed in the latest version. closing.

[2019-08-09 17:05] #667 closed

[2019-08-09 17:18] dnalborczyk opened #774 "plugin should consider path to `serverless` executable: "Proxy Handler could not detect JSON""
when ran with python, ruby, go, the message: "Proxy Handler could not detect JSON" appears when the path to the `serverless` executable is not set, or wrong.

ideally `serverless-offline` would the path to the executable which invoked `serverless-offline` (local or global)

[2019-08-09 17:25] #774 closed

[2019-08-09 17:36] dnalborczyk commented on #748
hey @brocksamson  could you create a small repro repository which outlines your problem?

[2019-08-09 18:07] Can-Sahin commented on #773
https://github.com/dherault/serverless-offline/releases/tag/v5.0.0

What has changed exactly here? Because I updated my package from 4.9.4 to 5.0.0 and perfectly running code fails now with

 `(node:3214) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'done' of undefined
    at createLambdaContext (/Users/xx/Git/xx/node_modules/serverless-offline/src/index.js:687:46)`

and if I

[2019-08-09 18:24] brocksamson commented on #748
Check out the changes to src/__tests__/manual/python/handler.py within #752.  That handler fails if you set raw_response=true in the qs when calling it.  You can get the curl command for this within the README.md in that same directory from my PR.

I just realized that PR has conflicts, will update.

[2019-08-09 20:03] dnalborczyk commented on #773
I always suggest to use the latest: `v5.10.1` is probably the one you should go with.

This is problematic and might cause issues in your lambda.

that's a helper message we're returning, as your handler is running likely a `callback` as well as `returning a Promise`. it should only do one, not both. but it's hard to tell if it's `aws-serverless-express` or your code, or a bug on our side, without

[2019-08-09 21:16] computerpunc commented on #768
@dnalborczyk

Python integration test fails.
[code]

[2019-08-09 21:27] billyshambrook opened #775 "Go projects not working"
Hey, I am trying to use serverless-offline with go functions and finding that when I make a request, serverless-offline is not correctly parsing the output coming from the docker container. Here's steps to reproduce:

[code]

Now in another terminal run `curl localhost:3000/hello`

This gives the following output:

[code]

[2019-08-10 01:29] dnalborczyk commented on #768
hey @computerpunc

thank you! just fixed it. seems like it was only failing on windows because shebangs are not supported, and it tried to run `serverless` with the windows scripting host and not node.

[2019-08-10 01:38] dnalborczyk commented on #775
hey @billyshambrook

thank you for the issue! could you try the latest **v6 alpha.6**, which was just released - we fixed a couple of bugs around invoking local `python`, `ruby` and `go`.

let me know if the issue still persists!

[2019-08-10 02:08] dnalborczyk commented on #747
@xiaoqiaomm feel free to re-open, if you feel this issue is related to `serverless-offline`.

[2019-08-10 07:52] computerpunc commented on #768
@dnalborczyk

I'm running on OSX. Now both Ruby and Python fail. This is latest plain vanilla `master`.

[code]

[2019-08-10 09:49] Can-Sahin commented on #773
Ok debugged and found my case.

This async operations are highly discussed [issue](https://github.com/awslabs/aws-serverless-express/issues/134) also in aws-serverless-express

My case is I am overriding context.succeed function to do something before lambda returns back but in that function I wasn't (till now) returning promise and it was working. Now I have to both call context.succeed and retur

[2019-08-10 09:49] #773 closed

[2019-08-10 11:30] flosch-hb commented on #747
Hey @dnalborczyk , I am facing the same issue, trying to *dynamically* invoke another lambda using the AWS SDK from a local lambda, such as described in this issue.

I do not use `serverless invoke local`, but run `serverless offline`, call my Lambda1 which invokes Lambda2, and the response from that is a `415 Unsupported Media Type` error.

Calling Lambda2 directly (through http, not using the SD

[2019-08-10 13:12] billyshambrook commented on #775
Hey @dnalborczyk - yep that fixed it - thanks!!!

[2019-08-10 13:15] dnalborczyk commented on #747
hey @flosch-hb

As far a I know the `aws-sdk` does the http request for you, and should work as well. If you could provide a small/simple repro I can have a look.

_re-opening for now_

[2019-08-10 13:17] billyshambrook commented on #775
Hey @dnalborczyk - not sure if it's changed, but now when I tried it, the first 2 requests were successful, but the 3rd failed, please see the output below:

[code]

[2019-08-10 13:32] dnalborczyk commented on #773
couple things you might not know:

`context.succeed/fail/done` was the original way of handling lambda execution long time ago. it's been (doc-)deprecated since then (it's hard to find any documentation about it these days).

Later on the `callback` parameter (event, context, callback) was introduced, and with node 8.10, the functions could return `Promises` (or use `async functions`.)

So you wou

[2019-08-10 14:26] flosch-hb commented on #747
Sure, I can probably provide that early next week, thanks for looking :)

I am not sure if `lambda.invoke()` use an HTTP layer at all actually?
This is the part that confuse me the most with invocation...

[2019-08-10 16:28] dnalborczyk commented on #768
@computerpunc

you probably have to run `npm ci` locally. I added a new dependency: `execa`, to fix spawning a process on windows.

[2019-08-10 18:36] computerpunc commented on #768
@dnalborczyk

It didn't fully help. Python still fails. Below is the errors generated:
[code]

[2019-08-10 19:39] dnalborczyk commented on #768
me too. plus the tests on travis are passing: https://travis-ci.org/dherault/serverless-offline/builds/570274311

I believe `ruby` and `python` are pre-installed on macOS.

I'm not a `python` nor a `ruby` user, but we should probably also check if python and ruby are installed on the machine where the tests are to be run, and if not, skip them. I'm gonna look into this.

could you run: `python --v

[2019-08-10 20:33] computerpunc commented on #768
@dnalborczyk

Ruby test runs OK. Python doesn't but I checked on another Mac it runs OK.

On the problematic Mac `Python 2.7.10` and on the OK Mac `Python 2.7.16`.

Same error as before (on the problematic Mac).

[2019-08-10 20:50] computerpunc commented on #768
In addition,
I tried to push changes of #772 on a Mac that can run all test without a problem.
Nevertheless, when trying to push via github client, I get the same error.

<img width="587" alt="python-error" src="https://user-images.githubusercontent.com/721008/62826743-97bbd200-bbc9-11e9-8a56-a88033b27743.png">

[2019-08-10 22:45] dnalborczyk commented on #768
ah, ok. thanks for checking!

just noticed:

I guess it can't find `python2`   -> `python2 --version` probably fails.

[2019-08-11 00:00] dnalborczyk commented on #768
@computerpunc should be fixed now

[2019-08-11 00:04] dnalborczyk commented on #775
@billyshambrook  thanks for checking! I was able to repro. it seems the `docker/go` process is writing more into stdout than just the reponse. so we probably have to filter the JSON data from the rest.

I'm also thinking of trying to execute the `serverless invoke local` plugin directly, instead of spawning an additional process.

[2019-08-11 00:27] dnalborczyk commented on #775
I removed `go-lang` from the README for now, as it is clearly not working.

[2019-08-11 20:18] computerpunc commented on #768
I still cannot push any update because the push is rejected (from a Mac that runs the tests without any error). Github Desktop says that both python2 and python3 tests fail.
Where exactly do tests run when I try to push updates of a PR? Is it locally or remotely?

[2019-08-11 20:23] dnalborczyk commented on #768
it's just a git hook, you can run:
[code]

to get around it. not always recommended, but in this case a shortcut until we figure out what's wrong.
not sure how to do `--no-verify` with `github desktop`, and also not sure why `github desktop` behaves different in that case.

local only

[2019-08-11 20:32] dnalborczyk commented on #768
@computerpunc I can also add an ENV flag to skip 'flaky' tests - if that helps?

[2019-08-11 20:46] computerpunc commented on #768
I managed to push. I didn't need to use --no-verify because from the CLI the tests don't fail only with Github Desktop.

[2019-08-11 21:15] #355 closed

[2019-08-11 21:30] dnalborczyk commented on #678
fixed with: https://github.com/dherault/serverless-offline/pull/772

will be released in `v6.0.0-alpha.9`

[2019-08-11 21:30] #678 closed

[2019-08-11 21:31] dnalborczyk commented on #355
fixed with: https://github.com/dherault/serverless-offline/pull/772

will be released in `v6.0.0-alpha.9`

[2019-08-11 23:52] wesklei commented on #636
thanks for pointing the answer @Vadorequest
had same issue and only found your answer as solution

[2019-08-12 13:01] michaelbats opened #777 "sls offline checks dependencies typings"
There doesn't seem to be a workaround for this and even though it mentions 'using local tsconfig.json' it does not respect the excludes/includes directories mentioned in that local tsconfig.

Therefore it will throw a bunch of errors due to typings of node_modules, currently in my case, due to jest and nestjs:

[code]

[2019-08-12 13:44] dnalborczyk commented on #777
hey @michaelbats

it's hard to see your intend. Is this a question or a bug report? either way, more information, or ideally a small repository outlining your problem would be very helpful.

[2019-08-12 13:45] dnalborczyk commented on #636
re-opening just as a reminder to check if the issue still exists.

[2019-08-12 13:47] michaelbats commented on #777
Ah sorry, here's the repo: ``` https://github.com/theodo/nestjs-serverless-demo ```

It's a typescript project and trying to build the files is throwing out fatal errors due to type issues in underlying node_modules, in this case nestjs and jest being the major ones. These two being quite major/popular libraries/frameworks, is there a way to bypass this behaviour?

[2019-08-13 01:33] dnalborczyk commented on #777
is this solving your issue? https://github.com/theodo/nestjs-serverless-demo/issues/1

[2019-08-13 14:23] clapas opened #779 "Custom authorizer configured with a map is ignored"
It looks like an authorizer configured with a single value, e.g. the ARN, works as expected, e.g:

[code]

whereas an authorizer configured with a map, is **ignored**, e.g:

[code]

Using serverless-offline@5.10.1 and serverless@1.48.2.

Is this a bug?

----
PS: According to AWS docs, an authorizer configured without scopes expects an `id_token`, as opposed to one configured with scopes, which exp

[2019-08-13 15:42] dougmoscrop opened #780 "API Gateway Lambda integration not fully simulated"
I've noticed some discrepancy between what an offline event looks like and what a test event in the AWS console looks like using a simple echo function.

Background: I am the author of [serverless-http](https://github.com/dougmoscrop/serverless-http) and I have a few open issues with people trying to use Lambda (vs. Lambda-Proxy) integration.  These users want to use Connect/Express/Koa/etc. to mo

[2019-08-13 17:02] dnalborczyk commented on #780
hey @dougmoscrop

thank you for filing the issue! I'm pretty sure we can add those missing event props.

[2019-08-13 17:06] dnalborczyk commented on #779
hey @clapas  thank you for filing the issue!

Probably.

note: not verified, nor repro'd. marking as bug till someone gets to the issue.

[2019-08-13 19:39] RichiCoder1 commented on #780
@dnalborczyk @dougmoscrop Looks like the last master supports these event props?

[2019-08-13 19:50] dnalborczyk commented on #780
@RichiCoder1  I added some of the missing `context` props (`callbackWaitsForEmptyEventLoop`, `memoryLimitInMB`) to `master`, but `invokeid` seems to be missing (might be new, not sure).

I didn't add any of the event props [yet].

[2019-08-13 19:54] RichiCoder1 commented on #780
It looks like the prop that Doug needed, `requestPath`, is there? https://github.com/dherault/serverless-offline/blob/master/src/LambdaProxyIntegrationEvent.js#L155

[2019-08-13 19:55] dougmoscrop commented on #780
I'm not familiar with your code base, but this property is missing for me when _not_ using proxy integration

[2019-08-13 19:56] RichiCoder1 commented on #780
Ahh, my bad. Twas me not understanding the route issue

[2019-08-13 21:09] dnalborczyk commented on #777
@michaelbats  feel free to re-open if you think this is a `serverless-offline` issue.

[2019-08-13 21:09] #777 closed

[2019-08-14 02:09] dnalborczyk commented on #780
some of the props are included in: https://github.com/dherault/serverless-offline/pull/776

[2019-08-14 12:28] Rafaelsk opened #781 "First request is empty when size is big"
With Serverless-Offline for our Python project, when we make an API request which returns a list of entities the first call is always empty, here more details:

- Only the first call is empty, the following calls work normally.
- The data is logged in the console, so the data which was supposed to be returned.
- The data logged is preceded with `Serverless: Failure:`.
![image](https://user-images.

[2019-08-15 12:30] dnalborczyk opened #782 "v6.0.0 alpha.0: catch all route causes exception"
repro:

[code]

[code]

[2019-08-15 12:59] #782 closed

[2019-08-15 16:00] dnalborczyk commented on #636
this is essentially "fixed" in **v6.0.0-alpha**, as the `--providedRuntime` option was removed.

migration path: https://github.com/dherault/serverless-offline/issues/768

[2019-08-15 16:00] #636 closed

[2019-08-16 10:58] lightningboss commented on #768
Hello guys, it seems like the Readme has an incorrect `npm install`:
Instead of
[code]
it should probably be
[code]

[2019-08-16 13:19] dnalborczyk commented on #768
thank you @lightningboss ! Fixed.

[2019-08-16 14:56] diegoaguilar opened #783 "Failed to load node_modules"
When running either `sls invoke local` or `sls offline start`, the function I try to hit through local API it'll fail to load a module which actually exists at `node_modules/`

I just confirmed the folder exists and the module is installed (among a bunch of other dependencies), however it'll fail.

I'm using serverless cli 1.5 and serverless-offline@4.10.6

This is the error log

[code]

And just

[2019-08-16 15:51] dnalborczyk commented on #783
hi @diegoaguilar

if `sls invoke local` is also failing for you, I would think there's probably something wrong with your general project setup. that being said, you should update for sure `serverless-offline` to the latest version `npm i serverless-offline@latest`, which currently is `v5.10.1`.

[2019-08-16 15:54] dnalborczyk commented on #781
thank you @Rafaelsk !

marking as bug for now. probably something wrong with the JSON detection mechanism, which caused a lot of problems. we'll have a look soon.

[2019-08-16 15:57] dnalborczyk commented on #672
@Vadorequest  we'll probably add some options to reduce the noise. just have to come up with some mechanism to allow certain ones, and filter others (e.g. info, debug, error ...). stay tuned.

[2019-08-16 19:16] diegoaguilar commented on #783
What could be wrong ... See anything relevant at the yml file? Also, I've updated to version `v5.10.1` but keeps same

[2019-08-16 19:29] dnalborczyk commented on #783
I'm guessing the handler path is wrong, e.g. `path: quotes-home`.
we should probably catch that and throw a proper error message.

is your serevrless.yml and handler file in the same folder? is that from where you start the script as well?

did this all the sudden happen? or did you start out that way?

if not, you have to **try** and **exclude** and **repeat**. comment everything out to an absolu

[2019-08-16 19:30] diegoaguilar commented on #783
Thanks. Will start digging in and debugging

[2019-08-17 13:30] dnalborczyk commented on #781
hopefully fixed with https://github.com/dherault/serverless-offline/pull/785

[2019-08-17 13:30] #781 closed

[2019-08-17 15:02] computerpunc commented on #768
@dnalborczyk

I see that for testing #781, you added another folder (`python-big-json`) in `./__tests__/integration`.

That's going to be very messy if for each `serverless.yml` there will be a new folder.

`serverless` has the ability to consume configuration files with different names and locations.

In #732 and #778 (`/src/__tests__/manual/websocket`), I use the command `sls offline --config ./

[2019-08-17 17:02] #783 closed

[2019-08-17 17:07] dnalborczyk commented on #783
@diegoaguilar  Feel free to re-open this issue if you believe it is caused by `serverless-offline`.

[2019-08-17 17:57] dnalborczyk commented on #768
@computerpunc

yeah, you are right. that was just a quick drop-in without thinking about the folder structure. that needs a proper rethinking and reorg for sure.

yeah, thanks for the tip!

I tried to use `serverless.yml` sub configuration files but couldn't get it to work at the time: https://github.com/dherault/serverless-offline/blob/master/__tests__/integration/handler/serverless.yml#L15

I mi

[2019-08-18 08:42] AhmedNourJamalElDin opened #786 "Passing a custom option"
Hello!
Thanks for this awesome plugin.

In my `serverless.yml` I have two different options for stages:

- stage: for domains
- stage_rcs: for resources

and I would like to pass them as options so I run this command: `sls offline --stage stage_option --stage_rcs stage_rcs_option`; However, when the plugin starts, it works fine - no exceptions and no warnings. but as soon as I request some URL, it

[2019-08-18 12:53] dnalborczyk commented on #81
just tried to repro. this seems to work as intended. closing.

[2019-08-18 12:53] #81 closed

[2019-08-18 14:21] dnalborczyk commented on #786
hey @AhmedNourJamalElDin

there is no option: `--stage_rcs`.  what problem are you trying to solve?

[2019-08-18 14:42] AhmedNourJamalElDin commented on #786
Hi @dnalborczyk
I would like to add my custom option and I call it `stage_rcs`. it's not about specific option called `stage_rcs` but any custom option. I pass this option to serverless.yml in the command `sls offline --stage_rcs some_value` for some important configuration.

[2019-08-18 16:54] verekia commented on #768
On `alpha-13`, the code executed doesn't seem to be the one transpiled by Babel via Webpack (serverless-webpack plugin). The `.webpack` folder contains the correct compiled sources, and `serverless offline` does compile them, but it seems like what's being executed is the original file :

[code]

The exact same code works with `5.10.1`.

[2019-08-18 17:00] verekia opened #787 "In `alpha-13`, the code executed is not the one transpiled by Webpack / Babel"
On `alpha-13`, the code executed doesn't seem to be the one transpiled by Babel via Webpack (serverless-webpack plugin). The `.webpack` folder contains the correct compiled sources, and `serverless offline` does compile them, but it seems like what's being executed is the original file :

[code]

The exact same code works with `5.10.1`.

[2019-08-18 17:37] dnalborczyk commented on #786
to what is `stage_rcs` assigned to in `serverless.yml`? could you post more relevant information of your `serverless.yml` file?

[2019-08-18 17:39] dnalborczyk commented on #768
@verekia  no worries, you did the right thing. a new issue is better for tracking!

[2019-08-18 17:51] dnalborczyk commented on #787
thank you @verekia for filing the issue! that's interesting.

I'm guessing `serverless-webpack` + Babel is compiling your code, not `serverless-offline`.

I'm guessing `serverless-webpack` "overwrites" the  path to the handler, which has a different location for the compiled files.

could you create a small repository so I can debug this issue?

[2019-08-18 17:53] dnalborczyk commented on #786
@AhmedNourJamalElDin

maybe better: could you create a small repository which outlines your problem?

[2019-08-18 19:57] AhmedNourJamalElDin commented on #786
It's so simple, just add this to the provide:
       test_var: ${opt:test_var}
and pass it as follows: `sls offline --test_var some_val`

and try it

here is the [repo](https://github.com/AhmedNourJamalElDin/serverless-offline-test).

[2019-08-18 22:20] dnalborczyk commented on #786
thank you for the repository  @AhmedNourJamalElDin , that made it more clear. it was hard to guess that you are using `python`.

this seems like a bug on our side, in that we are not passing any options (except --stage) to the python process. this should be a fairly easy fix though.

btw, I don't think this has any use case:
[code]
you would probably use it this way, e.g.
[code]

like I said, this

[2019-08-19 01:51] dnalborczyk commented on #786
_update_: I rewrote the (fairly buggy) `python` handling code, and it's running great locally. your specific issue should be fixed soon as well.

[2019-08-19 01:55] dnalborczyk commented on #781
@Rafaelsk  I rewrote the (fairly buggy) `python` handling code, and it's running great locally. release should be coming soon. meanwhile you can give `alpha.13` a try, which should include some fixes.

[2019-08-19 01:58] dnalborczyk commented on #742
@Jordan-Eckowitz

just rewrote the (fairly buggy) `python` handling code, and it's running great locally. your specific issue should be fixed as well. we were spinning up a process (`serverless invoke local`), which in turn spun up another process (`python`). one of the sub processes is gone now, we're calling `serverless invoke local` directly.

[2019-08-19 02:29] Jordan-Eckowitz commented on #742
Hey @dnalborczyk

Thanks for taking this on and re-opening the issue! I just tried updating to the latest v6 alpha release and its still the same for me.

It takes ~2s to return a hello-world response when running the API regularly and ~16s when running it within a Docker container.

As before, the Node.js response time is the same whether or not running via Docker - the same hello-world response

[2019-08-19 04:43] verekia commented on #787
Here it is @dnalborczyk , in its most minimal form!

https://github.com/verekia/serverless-offline-alpha-webpack-bug

[2019-08-19 04:46] verekia commented on #787
True, what I meant is that `serverless-offline` correctly triggers the Webpack compilation, but it seems to use the wrong file after that.

[2019-08-19 08:23] ozsay commented on #787
similar issue us happening to me as well with `serverless-webpack`.

configuration that works on latest 5.x.x, doesn't work on 6 latest alpha.

running sls offline does generate bundled code in `.webpack` folder, but i'm getting this error while accessing the function: "Error: Cannot find module 'path/to/original/handler/path'"

[2019-08-19 09:19] Rafaelsk commented on #781
@dnalborczyk Alright. Thanks for the notice.

[2019-08-19 12:09] dnalborczyk commented on #787
thank you @verekia Looking into the issue.

[2019-08-19 13:51] flosch-hb commented on #747
Hej @dnalborczyk, sorry about the wrong report, you are actually right, it works locally without problem. Not sure why I faced this bug 2 weeks ago then, but if it comes back, I would create a new issue to reproduce it.
I guess this can be closed, sorry again!

[2019-08-19 15:59] #787 closed

[2019-08-19 16:08] verekia commented on #787
Thank you for the quick fix! Looking forward to the release.
Keep up the great work 👍

[2019-08-19 18:45] diegoaguilar commented on #783
I thiiink is related to this [kind of issues](https://github.com/serverless/serverless/issues/6454) as I saw that error log to. Unfortunately, can't remember what I did.

I uninstalled and reinstalled and also just set both `enterpriseDisabled` and `trackingDisabled` to `true`.

I feel kind of stuck. I need to run locally as I don't have much access to that account console and logs are not the bes

[2019-08-19 21:41] garrettmac opened #790 "how to set isBase64Encoded to false?"
I notice when invoking locally `"isBase64Encoded": true` is returned, however I cannot figure out how set `isBase64Encoded` to false? I've tried passing it in as an event among many others. I'm bashing my head against this and sure I'm overlooking something basic.

[2019-08-20 05:43] computerpunc commented on #768
@dnalborczyk

While working on #788, I found that Python 3 tests fail on AWS.
Run command (after `sls deploy` from folder `./__tests__/integration/python3`):
[code]

Output:
[code]

[2019-08-20 06:37] verekia commented on #787
Confirming that the fix works in both the demo repository and in my own project. Thank you.

[2019-08-20 15:47] dnalborczyk commented on #790
hey @garrettmac

do you mean with `serverless invoke local`?

is this maybe related to: https://github.com/dherault/serverless-offline/pull/784 ?

could you be more specific about the problem you are trying to solve? maybe a serverless.yml and some handler code, or even better, a repro repository.

[2019-08-20 16:43] garrettmac commented on #790
I'm an idiot. Simple oversight. The issue was with the `text/html;` value inside my `BINARY_MIME_TYPES`. Justed needed to change `text/html;` to `text/html;charset=utf-8` to resolve.
Thank you for pointing me in the right direction.

[2019-08-20 16:43] #790 closed

[2019-08-21 13:37] moravcik commented on #747
@flosch-hb did you find what was your problem and how did you resolve it?

I am facing the same issue - running serverless-offline, invoking local lambda from within another lambda and getting the `Unsupported Media Type` error

[2019-08-21 13:55] flosch-hb commented on #747
@moravcik it happens when you run `sls invoke local` on a lambda ran offline, I did not find any solution but according to @dnalborczyk this would be related to `serverless` itself, no `serverless-offline`.
We should probably open an issue there?

[2019-08-21 15:32] moravcik commented on #747
@flosch-hb my use case is little bit different, I don't use `sls invoke local`, but `sls offline start`.
I have HTTP event-based lambda, from which I try to invoke another lambda - all of them running locally.

Finally I managed to get it working via `serverless-offline-lambda` plugin, so I don't need to open more issues ;) Thank you, anyway.

[2019-08-21 15:35] dnalborczyk commented on #768
thanks for the info @computerpunc ! gonna check it out!

[2019-08-21 15:47] dnalborczyk commented on #747
@moravcik

If you could create a small repro repository which outlines your problem that would be great. the 'lambda-invoke` stuff in `serverless-offline` is fairly new, so it might contain bugs.

[2019-08-21 19:02] vitkon opened #791 "serverless-enterprise doesn't allow to start the app offline"
When starting an app without an internet connection (truely offline), when enterprise serverless is enabled is errors out as it's looking for an api server.

Here's the error:
[code]

is there a workaround to start it offline?

[2019-08-21 22:47] dnalborczyk commented on #791
hey @vitkon

this sounds more like a `serverless` issue, which I think we can't do much about. That being said, I also don't know much about the `enterprise` version, and what it does. maybe you could just disable it? you could also file an issue @ `serverless`.

[2019-08-22 03:47] dnalborczyk commented on #751
@JNaeemGitonga

did you find some time to also create a handler regarding your issue?

[2019-08-22 14:41] JNaeemGitonga commented on #751
no I haven't, stuff has been crazy at work and I have a side project that
has eaten up a lot of my time. I do appreciate your communication and I
wish I was better at helping you to help me.

On Wed, Aug 21, 2019 at 11:47 PM dnalborczyk <notifications@github.com>
wrote:

[2019-08-22 18:30] dnalborczyk commented on #791
feel free to re-open @vitkon if you still think it's an issue with this plugin.

[2019-08-22 18:30] #791 closed

[2019-08-22 19:30] dnalborczyk commented on #768
@computerpunc   It seems the npm endpoint stuff wasn't defined in that file. I fixed it.

[2019-08-22 20:08] computerpunc commented on #768
@dnalborczyk

Sorry for not being clear enough, the error I provided above is from running #788 where I already added myself 'endpoint' support in the code.
Checking it again on `master` with your update, the outcome is the same error.

[2019-08-22 20:29] dnalborczyk commented on #768
ah, thanks again! the path is wrong https://github.com/dherault/serverless-offline/blob/master/__tests__/integration/python/python3/python3.test.js#L64

I'm fixing some stuff around tests right now. I'm also gonna change the npm_config stuff to use a standard env variable, as it is more commonly used and understood, plus, not sure if `yarn` would support it.

[2019-08-22 21:05] computerpunc commented on #768
Yes, I missed it too.

Can you check #788 and merge it if OK? All the big changes make it very difficult keep PRs up-to-date with merges. If a PR is merge then there's no hassle because it's already in, but if it's waiting it goes out of date as #732 did :(

[2019-08-22 21:33] dnalborczyk commented on #768
it's very high on my list. just needed to fix the `python` and `ruby` bugs yesterday, because it felt like getting out of control. now just touching up the test setup (fairly small) so we can implement more tests.

I believe I looked at the HEAD stuff before once, I probably have the stash still waiting around somewhere. I just remember it was a bit simpler, but might have not covered every use ca

[2019-08-23 01:00] texonidas commented on #266
Is there a way to show the logging statements but to not show the giant response body dumps?

I'm trying to debug, but I either don't get to see any logging, or I have giant dumps of my entire schema every second while it polls. Is there a halfway option here?

[2019-08-23 07:20] kjellski commented on #405
I still have the same issue as well. Any idea of what the culprit could be?

[2019-08-23 07:54] computerpunc commented on #768
@dnalborczyk

I don't have any specific script as I deployed manually but take a look at this folder which has all kind of scripts for similar tasks (on local machine): https://github.com/computerpunc/serverless-offline/tree/websocket-fixes-authorizer/src/__tests__/manual/websocket/scripts

In any case, I hope you are not going to make git test with AWS upon every commit :)

[2019-08-23 09:07] computerpunc commented on #768
@dnalborczyk

Check the integration tests again as they do not work with AWS.
In order to fix, you can:
\+ `const { pathname } = url`
\+ `url.pathname =`\``${pathname}${pathname === '/' ? '' : '/'}${path}`\`
`AWS_ENPOINT` => `AWS_ENDPOINT`

[2019-08-23 12:14] dnalborczyk commented on #405
@kjellski  which `serverless-offline` version are you using? could you create a small repro repository to have a look?

[2019-08-23 17:04] dnalborczyk commented on #786
hey @AhmedNourJamalElDin

the `python` handling refactoring is deployed in the latest `v6-alpha`. there's still a bit to do: e.g. error handling, how to handle python `print`, and there might be problems running on `windows`.

option passing should now work automatically, since we're running the process directly.

give it a try, and if you have any problems or suggestions, feel free to re-open thi

[2019-08-23 17:04] #786 closed

[2019-08-23 18:23] computerpunc commented on #768
@dnalborczyk

I've checked and it now works. Thanks.

If you want to **greatly** improve the running time of tests when running with AWS, move requiring `serverless` and `serverless-offline` after the `if` in `setup()` in `setupTeardown.js` as shown below:
[code]

`require('serverless')` and `require('../../../src/ServerlessOffline.js')` take a lot of time to load and there's no reason to pay this

[2019-08-24 13:48] kjellski commented on #405
@dnalborczy I've used latest for it and all packages. Will do a reproduction repo when I'm back at work :+1:

[2019-08-24 23:00] dnalborczyk commented on #742
@Jordan-Eckowitz

 it wasn't released yet. it was released with version `alpha.15` and `16`. could you try the latest (next) again? according to my measurements it's about 25 times faster:  https://github.com/dherault/serverless-offline/pull/785#issuecomment-522382513

[2019-08-25 20:37] Jordan-Eckowitz commented on #742
I tried updating to `v6.0.0-alpha.20` and the python endpoints are now failing.

[code]

[2019-08-25 20:39] Jordan-Eckowitz commented on #768
I updated to `v6.0.0-alpha.20` and Python endpoints are now failing: https://github.com/dherault/serverless-offline/issues/742#issuecomment-524661827

[2019-08-25 21:59] AhmedNourJamalElDin opened #792 "Passing environment variables"
Hello again
Thanks for this awesome package again :smile:

I would like to pass some environment variables so I added:
[code]
when I try to get it in the code, it's always `None`:
[code]
it's not working with version 6 but it works with version 5.

BTW I'm using Python.

[2019-08-25 22:06] dnalborczyk commented on #742
@Jordan-Eckowitz   just tried a couple combinations with https://github.com/dherault/serverless-offline/tree/master/__tests__/integration/python/python-big-json  `serverless` local install, global install, py in subfolder etc. all seem to work just fine. would you be able to create a small repository I could look into?