[2019-08-25 22:49] dnalborczyk commented on #792
Thanks @AhmedNourJamalElDin  thank you for filing the issue! just checked the code: passing `provider.env`, `function.env` and AWS.env is still missing. should be fixed soon.

[2019-08-25 23:35] #792 closed

[2019-08-26 13:49] ozsay commented on #768
i have another issue with webpack (followup of #787).

it seems that serverless-offline doesn't pick up the changes after a bundle is being rebuilt.

I see:
[code]

but the actual code that is running is not the one after the build.

I can reproduce a minimal example if needed.

* working with serverless-offline 5.x.x

[2019-08-26 14:15] ozsay commented on #768
another bug in 6 alpha regarding env vars:
It looks like `process.env` accessed outside of the handler is receiving different value (or no value).

This outputs `true` in 6 but `false` in 5 with the same configuration (A is declared in the yml to a value):
[code]

[2019-08-26 14:26] dnalborczyk opened #793 "another issue with webpack"
i have another issue with webpack (followup of #787).

it seems that serverless-offline doesn't pick up the changes after a bundle is being rebuilt.

I see:
[code]

but the actual code that is running is not the one after the build.

I can reproduce a minimal example if needed.

now I realized that it takes ~1 minute to pick up the changes but it's not consistent...

* working with serverless-offl

[2019-08-26 14:26] dnalborczyk opened #794 "bug in 6 alpha regarding env vars"
another bug in 6 alpha regarding env vars:
It looks like `process.env` accessed outside of the handler is receiving different value (or no value).

This outputs `true` in 6 but `false` in 5 with the same configuration (A is declared in the yml to a value):
[code]

_Originally posted by @ozsay in https://github.com/dherault/serverless-offline/issues/768#issuecomment-524877727_

[2019-08-26 14:53] ozsay commented on #793
Hi, I created a repo: https://github.com/ozsay/serverless-offline-bugs

steps to reproduce (after cloning and `yarn`):
1. `yarn start`
2. open browser at http://localhost:4000/handler. you should see hello3
3. change the string in `src/handler1.js`. you should see in console that webpack rebuilt the bundle.
4. refresh the page.

In 5.0.0 I could always see the changes immediately. on 6.0.0.alpha s

[2019-08-26 15:02] ozsay commented on #794
Hi, I created a repo: https://github.com/ozsay/serverless-offline-bugs.

handler 2 shows the issue.

steps to reproduce (after cloning and `yarn`):
1. `yarn start`
2. open browser at http://localhost:4000/handler2. you will see false which means that accessing `process.env` outside of a handler is different than accessing it inside.

in 5.0.0 it always the same value (working as expected?).

In th

[2019-08-27 09:32] #794 closed

[2019-08-28 02:09] vepanimas commented on #747
@xiaoqiaomm,

Huh, I had the same error and spent a lot of time trying to figure out what's going on. You should know, that errors like `{"message":"Unsupported Media Type","code":"UnknownError","time":"2019-08-28T02:02:12.671Z","statusCode":415,"retryable":false,"retryDelay":36.433060399406216}, null, {"FunctionName":"hello2","InvocationType":"Event","Payload":"{\"body\":{\"test\":1}}"}
` could b

[2019-08-28 05:56] moravcik commented on #747
@dnalborczyk I have prepared a small repo to reproduce this problem: https://github.com/moravcik/serverless-offline-unsupported-media-type

[2019-08-28 11:36] vepanimas commented on #747
@dnalborczyk, It looks like the error itself is from AWS Sdk, because it can't reach the specified endpoint. We can have a catch-all route in serverless offline (like `{apiVersion}/functions/*/invocations`) to handle these errors.

[2019-08-28 13:58] gonzalovilaseca commented on #775
I can give a hand if you point me at where to look

[2019-08-28 20:35] michaelbats commented on #385
@scaret this solution is poor because then you run into all sorts of issues when trying to use SSL in development which you can't sign for IP addresses, only for domains. Then you can't use secure cookies for sessions and you're SOL.

[2019-08-28 20:40] michaelbats commented on #277
@petermorlion  this doesn't seem to work anymore.

Switching to 127.0.0.1:3000 when testing works but then you can't really use secure cookies as  you can't sign a certificate for an IP address.

[2019-08-28 20:48] michaelbats opened #795 "Using secure cookies returns 'status 400 Bad Request' when using localhost, 127.0.0.1 works but then no SSL Cert"
I've seen a few talks around here about this with a few possible solutions, but so far none of them have worked for me.

I have used the --disableCookieValidation flag among other things and none of it has worked.

Calling 127.0.0.1 works and never returns Bad Request, but then I have to turn off 'secure cookie' and SSL for development which is at least a bummer.

[2019-08-28 23:16] dnalborczyk commented on #795
hey @michaelbats  thank you for filing the issue! could you provide a small reduced repro repository to illustrate your issue?

[2019-08-29 00:02] dnalborczyk commented on #764
hey @aphex

thank you for bringing this up and for creating the PR! I gave some answers in your PR: https://github.com/dherault/serverless-offline/pull/763

[2019-08-29 00:02] #764 closed

[2019-08-29 00:37] alansill opened #796 "Too many revisions tagged as releases"
Would it be possible to alter the release workflow to conform more closely to usual release patterns, in which only major functionality changes or major updates are tagged as releases? As it is, essentially every minor change is being tagged as a release, making tracking the project’s progress tedious.

[2019-08-29 01:07] dnalborczyk commented on #796
hey @alansill   thanks for bringing this up.

although I'm not quite sure what you mean, could you elaborate more on what it is that bothers you? this project accumulated **quite a bit** of technical debt over the years, which made it essentially almost impossible to implement new features or fix bugs, other than duck taping. btw, you are not under any obligation to install any `alpha` releases. P

[2019-08-29 01:27] alansill commented on #796
Thanks for the reply. I’m talking about how GitHub defines releases. Try following the project at the “releases only” level and you’ll see what I mean.

[2019-08-29 01:29] alansill commented on #796
(Hint: Not every commit should be a release.)

[2019-08-29 01:32] dnalborczyk commented on #796
Actually, I don't. could you provide some pointers, that would be great!

[2019-08-29 01:43] dnalborczyk commented on #796
😄

[2019-08-29 01:43] #796 closed

[2019-08-29 02:07] michaelbats commented on #795
@dnalborczyk I think it's related to #385 and #277;

The solution in #385 works but can't use secure cookies due to certificate for api not being possible (I think? seems so)

Does that shed some light on where the issue lies or should I still go ahead and try to make a demo repo? the issue is it's going to take me ~30-40 mins to get a repo working with this as there's authentication involved and

[2019-08-29 03:05] dnalborczyk commented on #795
yeah, that would definitely help if you want to have your issue being resolved faster! even better, you could also create a PR, ideally with a test case!

[2019-08-29 07:52] petermorlion commented on #277
@michaelbats What version of serverless-offline and hapi are you using? We haven't encountered that yet, but we might still be on an older version.

[2019-08-29 13:58] michaelbats commented on #277
@petermorlion  i'm on the latest currently :( will make a demo later on, for now I have disabled secure cookies in dev and SSL

[2019-08-29 15:58] Jordan-Eckowitz commented on #768
Hi @dnalborczyk ,

I'm still using `v6.0.0-alpha.23` and I'm now getting the following error when `serverless-offline` boots up:

[code]

[2019-08-29 16:07] dnalborczyk commented on #768
@Jordan-Eckowitz thank you!

`misc` folder is missing in the deployed package. I'll fix that!

[2019-08-29 16:49] Jordan-Eckowitz commented on #768
Working perfectly now - thanks @dnalborczyk !

[2019-08-30 02:43] dnalborczyk commented on #633
I'm not entirely sure what the issue is about, but feel free to re-open if this is actionable and can be implemented.

[2019-08-30 02:43] #633 closed

[2019-08-30 02:53] dnalborczyk commented on #617
@jayalfredprufrock

feel free to re-open if this is still an issue. also make sure to give the latest v5.x a try.
`--skipCacheInvalidation` should just work, it usually seems to cause _some_ problems if it's _not_ set.

[2019-08-30 02:53] #617 closed

[2019-08-30 02:55] dnalborczyk commented on #623
@zboris feel free to re-open if you still think this is a bug and it can be fixed or implemented.

[2019-08-30 02:55] #623 closed

[2019-08-30 03:03] dnalborczyk commented on #472
@kesoji  feel free to re-open if this is still an issue. make sure to try the latest v5.x prior.

[2019-08-30 03:03] #472 closed

[2019-08-30 06:10] stevearoonie opened #797 "Missing apiKeyId"
Hi there,

VelocityContext.getContext() and LambdaProxyIntegrationEvent.create() look to be missing an entry for requestContext.identity.apiKeyId as specified in https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html.

For my purposes defaulting to 'offlineContext_apiKeyId' is enough.

Thanks for your good work.

[2019-08-30 14:25] #797 closed

[2019-08-30 14:25] dnalborczyk commented on #797
thank you @stevearoonie !  did you mean `LambdaProxyEvent`?

[2019-08-30 15:04] dnalborczyk commented on #754
@barendb  {apiVersion} is just a placeholder for that route segment. it's the same version you'd specify in your `aws-sdk` constructor, e.g.:
[code]

which in this case is being used in a route to the function call, to specify which version of the `aws api` you are targeting, e.g.:
`/2015-03-31/functions/some_lambda/invocations`

[2019-08-30 15:04] #754 closed

[2019-08-31 18:27] PiedPieper opened #798 "After execution complete, RDS connections staying open"
I am running an RDS MySQL server on a t2.micro. This instance allows 65 concurrent connections. Running lambda functions using invoke local, or actually deploying them, the connections close immediately after running. Using sls-offline, they stay open. Each function invocation will open a new connection, and these connections are never closed.

Here is my RDS monitor - the large ramp ups are my us

[2019-08-31 19:54] dnalborczyk commented on #798
hey @PiedPieper

which version of `serverless-offline` are using? and with which flags? with which language? where are you opening your sql connection? do you have some sample `handler` code focusing on the sql connection?

[2019-08-31 20:12] dnalborczyk commented on #798
generally speaking, this plugin is not responsible for your code, it essentially just runs it. that being said, there might be some issues with certain patterns regarding db connections and pooling, e.g. I think I remember seeing some issues with `require.cache` reloading on file change causing problems like this.

like I said, it would be good to get to the root of this once and for all if you co

[2019-08-31 22:59] PiedPieper commented on #798
Version 5.10.1, no flags, node.js. Opening the SQL connection using knex:
[code]

[2019-08-31 23:29] dnalborczyk commented on #798
thank you! one more question: are you running the above `inside` of the `handler` function or `outside` in module scope?

[2019-09-01 17:54] PiedPieper commented on #798
Im running it outside, in module scope. I import the connection into my handler.

It depletes with just hitting the endpoint, without changing the handler file

[2019-09-01 18:09] afreix opened #799 "Object.fromEntries is not a function"
Only an issue 6.X

When I follow the instructions to create a simple aws-nodejs serverless service and run it with serverless-offline I see the below error message, when hitting a simple GET/ hello world endpoint

Commands used to create serverless service
[code]

Modify serverless.yml
[code]

[code]

When I run this in 5.x I don't see any issues and my handler function returns a hello world respo

[2019-09-01 18:35] dnalborczyk commented on #799
thank you for filing the issue @afreix ! that's interesting, I'll have a look.

[2019-09-01 19:59] #799 closed

[2019-09-01 20:08] dnalborczyk commented on #799
@afreix

the issue was that the `Object.fromEntries` polyfill is a module with `sideEffects` (modifying the global namespace). the `rollup` build essentially changed the order of execution and the polyfilling functionality part run too late. it should be fixed now in `alpha.30`.

[2019-09-01 20:23] dnalborczyk commented on #766
@nalanj  `handler` loading and execution has been re-written and changed  substantially. could you give the latest `v6 alpha` a try to see if it fixes your issue?

just for reference, this might be related: https://github.com/dherault/serverless-offline/issues/798

[2019-09-01 20:23] dnalborczyk commented on #798
thanks @PiedPieper I'll have a look and try to reproduce. in the meanwhile, could you try the latest `v6 alpha` to see if it fixes your issue?

[2019-09-01 22:14] dnalborczyk commented on #798
@PiedPieper

I found the culprit, although I couldn't quite reproduce because when hammering an endpoint, a lot of connections have been established, but also eventually being released. but I also used `pg` with `Postgres` as opposed to `knex` with `mysql`. it seems that cache invalidation mechanism causes this. every request is essentially destroying the handler module cache and reloads it. that

[2019-09-01 22:17] dnalborczyk commented on #766
@nalanj  I just tried to reproduce #798 and found out that the require cache invalidation on each equest causes this to happen. you can read more here: https://github.com/dherault/serverless-offline/issues/798#issuecomment-526957869

could you let me know if `--skipCacheInvalidation` fixes this for you (in v5)? or better also try `v6 alpha` which has been entirely re-written and behaves now closer

[2019-09-02 01:25] #766 closed

[2019-09-02 01:25] #798 closed

[2019-09-02 02:18] dnalborczyk commented on #607
@joonhwa @jonathandeclan

is this still an issue, or has it been resolved? feel free to re-open if this is still an issue. thank you!

[2019-09-02 02:18] #607 closed

[2019-09-02 03:50] verekia commented on #793
Just confirming that I also have this issue in `6.0.0-alpha.31`

[2019-09-02 10:30] gonzalovilaseca commented on #775
Ok, if you need any help just let me know.

[2019-09-02 17:50] dnalborczyk commented on #793
@ozsay @verekia

I got something working locally, which I haven't pushed yet. should be fairly soon.

with some notable changes: We're using a file watcher now with `watchpack`, which we then only wipe the `require.cache` if a handler or a child has changed or was removed. the current functionality in `v5.10` would wipe the `require.cache` always clean, even when nothing was changed.

[2019-09-02 17:55] dnalborczyk commented on #793
also, I forgot: I removed the `--skipCacheInvalidation` option, as this will be the default behavior now, as it caused too many issues.

now you will have to opt-in into `cacheInvalidation`. not sure how to call that flag yet. maybe just `--watch`, like `webpack`?

[2019-09-02 22:43] ozsay commented on #793
@dnalborczyk `--watch` sounds good

[2019-09-03 11:55] dnalborczyk commented on #793
after some debugging, it seems that `hot-module-reloading` in the same process is not achievable and prone to be buggy, unreliable and a potential memory hog.

some refs:  https://github.com/dherault/serverless-offline/pull/569  https://github.com/dherault/serverless-offline/issues/539

most importantly: https://github.com/nodejs/node/issues/8443#issuecomment-318697492

it seems that even if you d

[2019-09-03 11:55] #793 closed

[2019-09-03 11:59] dnalborczyk opened #800 "add hot-module-reloading to worker threads"
just a reminder task, ref: https://github.com/dherault/serverless-offline/issues/793#issuecomment-527426496

[2019-09-03 12:42] verekia commented on #793
Hmm, I am far from understanding the issue here, but it was working in v5 🙂.

I don't think we were talking about hot module reloading, but simply having the updated function when you reload the page. Something similar to Nodemon.

The changes are caught already in the alpha, Webpack seems to rebuild the necessary parts, but it's just that serverless-offline keeps showing the old cached version?

[2019-09-03 12:55] verekia commented on #793
I guess what I mean is that if an advanced hot module reload is not achievable, it would still be better to at least wipe the cache and rebuild completely. That's better than manually killing and restarting the process.

[2019-09-03 13:23] dnalborczyk commented on #793
@verekia  no problem, let me try to explain.

there's several problems: you can't just require the handler function again, because a cached version would be used (that's how node.js `require` works). therefore you have to remove the module from the cache. that sounds easier than is, because you ideally have to remove all referenced modules as well, otherwise it might bring your app into a weird an

[2019-09-03 13:42] dnalborczyk commented on #793
that's what specialized tools like `nodemon` are for. this shouldn't be part of this plugin.

[2019-09-03 14:22] verekia commented on #793
Thank you very much for taking the time to explain! It makes more sense to me now.

Also wow, it didn't occur to me that I could use Nodemon in conjunction with serverless. That's a great workaround :)

I also didn't know about worker threads, so TIL. Thank you.

[2019-09-04 11:48] gravitycode opened #801 "Error pushing data to Api-Gateway with Websockets"
Error pushing data to Api-Gateway with Websockets

Description
Im having an error with Serverless Websocket when i send it data to subscribers with postToConnection. This problem only occurs in Linux, not in MacOS.

AWS_API_GATEWAY_ENDPOINT:: http://locahost:4001

My fragment of the serverless.yml where i configure the ports:

  serverless-offline:
    port: 4000
    websocketPort: 4001
##Logs

Se

[2019-09-04 11:58] dnalborczyk commented on #801
hey @gravitycode  it looks like the `aws-sdk` is trying to make a connection: https://www.google.com/search?q=EHOSTUNREACH+169.254.169.254%3A80  and might need the credentials applied.

[2019-09-04 11:58] #801 closed

[2019-09-04 13:00] PiedPieper commented on #798
@dnalborczyk --skipCacheInvalidation works for me !

[2019-09-05 02:46] afreix opened #802 "Custom authorizer handler cannot be resolved"
I'm using TypeScript and serverless-webpack, and it might be an issue related to serverless-webpack since I've seen a lot of similar issues (they are closed though and should be fixed).

I ran `serverless offline` in debug mode and traced the issue to this line: https://github.com/dherault/serverless-offline/blob/master/src/lambda/handler-runner/InProcessRunner.js#L22.

By the time my code hits th

[2019-09-05 14:02] dnalborczyk commented on #802
hey @afreix

thank you for filing the issue. I kind of got your setup running, but with some modifications. the handler file is also missing. Could you create a small repository which I can check out?

[2019-09-05 23:09] brocksamson commented on #748
I finally tested my 2 scenarios and this issue is resolved in your latest alpha tag.  Thanks for looking into this!  :+1:

[2019-09-05 23:09] #748 closed

[2019-09-06 02:24] computerpunc opened #803 "WebSocket support is broken in alpha"
During the development of WebSocket support, I have created 35 WebSocket tests. These tests are verified to work on AWS.

Current alpha only passes a single test out of the 35.
Current 5.10 release passes 18 tests out of the 35.

I've created a branch to easily run these tests at https://github.com/computerpunc/serverless-offline/tree/websocket-tests

To setup:
- Switch to the above branch
- Setup

[2019-09-06 12:32] dnalborczyk commented on #803
thank you so much @computerpunc !!! looking into the failures!

[2019-09-06 18:34] dnalborczyk commented on #803
https://github.com/dherault/serverless-offline/commit/fed95657e4740258e092732ab1b4fb6b512b229c probably not responsible for all failures. I'll keep digging ...

Also gonna look into how to run websocket tests as part of the regular tests.

[2019-09-06 18:58] dnalborczyk commented on #803
I think we should also decouple the tests from `dynamo db` as well as move them to use `jest`.

[2019-09-06 20:11] computerpunc commented on #803
Tests are already decoupled from `dynamo db`.

[2019-09-06 20:28] computerpunc commented on #803
For now I don't see how to remove `dynamo db` especially regarding `$disconnect` event.
Take not that on localhost we don't use `serverless-offline-dynamodb` plugin but an internal mockup.

[2019-09-06 20:36] computerpunc commented on #803
@dnalborczyk

I updated the tests to add IS_OFFLINE environment variable in `.yml`s.

Currently, on my end, alpha.35 passes 3 out of 35 test.

How many tests does it pass on your end?

[code]

[2019-09-06 21:04] dnalborczyk commented on #803
I don't have an answer for that right now, I have to look into it first.

[2019-09-06 21:07] dnalborczyk commented on #803
ah, yeah, forgot to mention it's been removed. I still gotta write something up about how all that fits together. setting it as `process.env` should still work though, e.g. `IS_OFFLINE=true node index.js`

same. still looking.

[2019-09-06 21:17] dnalborczyk commented on #803
@computerpunc

this test case: `should be able to parse query string in connect`, which query string parameters are those? is that for the websocket path? I was under the impression there's no support for that on AWS, I might be wrong tho.

[2019-09-07 08:37] computerpunc commented on #803
@dnalborczyk

Yes you are correct. There are 2 folds here.
1. Regression level - what is supported on 5.x and include 18 tests as can be seen in my first comment here.
2. Authorizer branch - all 35 tests.

#803 is about (1) only where a lot is still missing.

Can you reopen #803 while alpha is not at the same level of  5.x WebSocket support (i.e. passing the additional 15 tests)?

[2019-09-07 09:27] computerpunc commented on #803
@dnalborczyk

It's there. I've double checked and all 35 tests pass on AWS.

Moreover, I'm using query strings on connect to perform all sorts of different test scenarios. See below from `./config/handler-main.js`:
[code]

Not just that `should be able to parse query string in connect` test would fail if there was no support for query strings on connect on AWS but many other tests as well.

[2019-09-07 12:45] dnalborczyk commented on #803
sure.

[2019-09-07 12:48] dnalborczyk commented on #803
@computerpunc

just fixed the `query params` and `multi query params`, not sure how I missed that. my guess is because the values are not `null`, but the properties are entirely omitted. good catch! I believe the values for the REST endpoints are `null` instead.

[2019-09-07 15:18] computerpunc commented on #803
@dnalborczyk

I ran the tests again with alpha.36. Still only 3 tests passed.
From what I observe I can see:
1. It seems that the query strings issue is fixed (although the test haven't yet passed).
2. Only the default action (`$default`) is activated for all actions (e.g., `getClientInfo`, `makeError`, etc. ) and hence most of the tests fail. E.g., instead of running route `getClientInfo`, `$defa

[2019-09-07 16:10] computerpunc commented on #768
@dnalborczyk

This piece of documentation is not correct as `process.env.IS_OFFLINE` was `true` only when running **offline** and not on **AWS**. With the above approach it will be `true` on both of them.

BTW why did you remove it in the first place?

[2019-09-07 19:16] dnalborczyk commented on #803
yeah, it's not quite all fixed yet. I had a JSON exception when I ran a specific test, which might be responsible for other failures as well.

thank you @computerpunc ! great pointer! I'll have a look there as well.

[2019-09-07 20:38] dnalborczyk commented on #803
found it: https://github.com/dherault/serverless-offline/blob/v6.0.0-alpha.36/src/api-gateway-websocket/WebSocketClients.js#L148

even had a `TODO` marker there. 😃  `message` has to be parsed to `JSON`. I suppose only for the `route selector`.

[2019-09-08 08:15] computerpunc commented on #803
@dnalborczyk

Good fix. Things look much much better. 18 tests pass out of 35. See below.

The following tests do not pass in 5.10 but do pass in alpha:
1. `should be able to get headers in connect`
2. `should be able to get Authorization header in connect`

The following tests do pass in 5.10 but don't pass in alpha:
1. `should request to upgrade to WebSocket when receiving an HTTP request`
2. `s

[2019-09-08 13:34] dnalborczyk commented on #803
thanks for the detailed rundown @computerpunc !!! very much appreciated!! I'll have a look at the remaining failures.

[2019-09-08 16:17] dnalborczyk commented on #768
@computerpunc

I don't think this is incorrect. Nobody is saying that you should deploy it with this `environment` set.  😉
Although I admit that it might need further clarification to make more sense, e.g.:

[code]
I'll add this to the migration example. I need to update the migrations steps, they are not up-to-date with the latest `breaking changes`.

same reason `event.isOffline` was removed: ht

[2019-09-08 16:18] computerpunc commented on #803
@dnalborczyk

How about we update environment variable from inside `registerListener` handler so that the variable can be used later in other handlers and hence eliminate the need for `dynamo db`?

Demo code for setting:
[code]
Demo code for using:
[code]

[2019-09-08 17:09] dnalborczyk commented on #803
not quite sure I understand what you mean. update the aws deployed functions with the env variable? would you need to do this for each test case? or just once?

I have to look a bit closer about how you structured the tests. we could use some sort of `relay or proxy socket` to pass information. Meaning, the to-be-tested-socket does something, you tell another socket about it (postTo) and read that

[2019-09-08 18:27] dherault commented on #768
Congratulation @dnalborczyk on becoming the first contributor of serverless-offline thought so much work. You did an amazing job at implementing new features and refactoring the code. Best.

[2019-09-09 05:41] computerpunc commented on #768
on becoming the first contributor of serverless-offline thought so much work. You did an amazing job at implementing new features and refactoring the code. Best.

They say that sometime a single picture is better than a 1000 words :)

<img width="373" alt="dnalborczyk" src="https://user-images.githubusercontent.com/721008/64505647-c4fdbc00-d2fe-11e9-8de8-460268cd5355.png">

Well done!!!

[2019-09-09 05:51] computerpunc commented on #803
@dnalborczyk

Yes. You understand correctly.
Need this where we need feedback from `$connect` & `$disconnect` where we cannot send info back to the client on the being-connected or disconnected socket. There are 6 test altogether. Currently we update per test but can refactor to be just once.

Yes. Doing something similar using a pre-established connection.

[2019-09-09 20:10] jormaechea opened #804 "Empty cookies are set"
Due to this lines:
https://github.com/dherault/serverless-offline/blob/858da0374cbe197df1f0818be672899f9a11b074/src/api-gateway/ApiGateway.js#L632-L639
https://github.com/dherault/serverless-offline/blob/858da0374cbe197df1f0818be672899f9a11b074/src/api-gateway/ApiGateway.js#L658-L659

If you configure a function like this:
[code]

This sets a Cookie with no name and no value. Next request, it thro

[2019-09-09 23:11] dnalborczyk commented on #804
hey @jormaechea  thank you!

yeah, that would be very much appreciated! a PR against `master` would be best, if you want the fix for `v5` as well, a PR against `v5.x-release` would be needed. The code regarding any of the lambda-integration hasn't changed (diverted) much yet, but it's really needed. should be fairly easy to navigate around that. thanks a lot!

[2019-09-09 23:17] dnalborczyk commented on #768
@dherault  @computerpunc

thank you guys very much!! that's nice to hear!! very much appreciated!! :blush:

[2019-09-09 23:47] afreix commented on #802
Hey @dnalborczyk I started with the aws-nodejs-typescript starter here: https://serverless.com/framework/docs/providers/aws/cli-reference/create/ and incrementally added things in to get close to my previous set up and everything is working. I realized it's probably not specific to servervless-offline and most likely serverless-webpack because the same issue occurs when I actually deploy with Serv

[2019-09-09 23:47] #802 closed

[2019-09-09 23:57] dnalborczyk commented on #803
ah, thanks @computerpunc gotcha!

I'm gonna try to create a couple automated websocket tests based  on yours. Maybe what I'm thinking is not feasible.

btw, the latest alpha should have 2 (I believe) more fixes. there's still a couple more to fix plus all of the authorizer.

[2019-09-10 05:31] computerpunc commented on #803
@dnalborczyk

Yep, 21 out of 35 and counting ... :)

Please pull my testing branch as I did a small change due to AWS making a small change too.
The advantage of having a testing platform that's not only tests our own code but also checks the reference model has of good value here. The previous change I detected was that upon deleting a connection via REST API they sent 204 instead of 200.

Here's

[2019-09-10 22:14] dnalborczyk commented on #803
thanks, will do!

yes, definitely! the automated tests should also eventually run against AWS. that's the plan at least.

[2019-09-11 00:57] jormaechea commented on #804
@dnalborczyk Both PRs are ready to be merged! :rocket:
_(According to Travis at least)_

[2019-09-11 01:15] jormaechea opened #808 "requestPath property missing in lambda integration events"
This property was added in https://github.com/serverless/serverless/issues/6364 and it's still missing in serverless offline events.

## How can we verify it:

**serverless.yml**
[code]

**index.js**
[code]
You should see the new property (requestPath) in the response body, with the API Path as value, in this case `/hello-world`

[2019-09-11 15:08] dnalborczyk commented on #808
thank you @jormaechea !

partially duplicate of: https://github.com/dherault/serverless-offline/issues/780

fixed with: https://github.com/dherault/serverless-offline/pull/776

TODO: changes need to be pulled into `master`.

[2019-09-11 15:08] dnalborczyk commented on #780
should be fixed with: https://github.com/dherault/serverless-offline/pull/776

[2019-09-11 15:08] #780 closed

[2019-09-11 15:09] dnalborczyk commented on #808
fixed with: https://github.com/dherault/serverless-offline/pull/776

[2019-09-11 15:09] #808 closed

[2019-09-11 15:13] #804 closed

[2019-09-11 15:14] dnalborczyk commented on #804
thanks again @jormaechea !

[2019-09-11 15:27] jormaechea commented on #804
Thank you! I'll be waiting for the npm release :muscle:

Hey, i've been seeing the lambda integration code and it really needs some refactor..
I could do that if you want.. Actually, I feel like i'm almost the only one using it.. LOL
What do you think?

[2019-09-11 16:19] jormaechea commented on #808
Sorry, didn't see the dupicated issue :pray:

[2019-09-11 16:54] dnalborczyk commented on #808
no worries @jormaechea

[2019-09-11 17:28] dnalborczyk commented on #804
`v5.11.0` is out. v6 alpha has to wait a bit as I want to pull in https://github.com/dherault/serverless-offline/pull/776

speaking of which:  https://github.com/dherault/serverless-offline/pull/776#issuecomment-530421377

Hard to tell, I would assume that the majority probably uses proxy integration, as it easier to get going, and also recommended by `serverless` (it's also the integration defaul

[2019-09-11 17:37] dnalborczyk commented on #804
@jormaechea

I forgot, I have to `commit` something for the `ES6 module` translation to `commonjs`, for easier development and debugging. I'm using the amazing `esm` module (https://github.com/standard-things/esm), but it should also work with `@babel/register` and other tools.

I need to document the development, build, test and release steps as well. I'll get back to you on that soon.

[2019-09-12 01:30] localrivet commented on #775
How far are you one adding the Go support? Will it make it into version 6? Thanks

[2019-09-12 03:31] jormaechea commented on #804
Yeah, it would be nice to have some of that documented. I've been taking a look at the `__tests__` dir and it's not... How can I say... Intuitive.. :stuck_out_tongue:

On the other hand, I realized that ruby (and many other things) have to be installed in my local machine so that `npm t` can run without errors. Have you ever thought about implementing docker for that? I think it would simplify a l

[2019-09-12 07:31] lucaspiller commented on #791
This isn't just limited to the enterprise version, I get this with the regular version when I have no internet connection:

[code]

As you say it's probably an issue with serverless, but the 'offline' name of this plugin is a bit confusing :)

[2019-09-12 14:50] #533 closed, assigned to nobody

[2019-09-13 17:46] chamathsilva commented on #598
I would like to contribute serverless-offline-alb like plugin

[2019-09-13 22:11] davearndtjr opened #809 "Websocket won't connect using serverless-offline locally, but will work when deployed to aws"
Have a websocket implementation the works when deployed to lambda and apigw.   However, when I try utilize the same serverless.yml and code to establish a websocket connection using serverless-offline, I can't get a connection established.  Could be a bug or user error on my part.  The docs on websockets are good but are minimal.  I just want to be able to get a connection established using server

[2019-09-13 22:30] dnalborczyk commented on #809
hey @ davearndtjr   thanks for filing the issue.

the websocket server runs on port `3001`. we should probably emphasize on that in the docs. could you try with that port again?

[2019-09-13 22:35] dnalborczyk commented on #809
forgot to mention, you get the header information on `connect` only with the latest `v6 alpha` (if I remember correctly)

`wscat -c ws://localhost:3001 --header x-api-key:foobar`

[2019-09-14 10:58] azizur commented on #487
This issue is related to https://github.com/aws-amplify/amplify-js/issues/1578

[2019-09-14 11:55] dnalborczyk commented on #487
gonna close this for inactivity and no concrete example given. feel free to re-open if you feel this is still an issue by `serverless-offline`.

[2019-09-14 11:55] #487 closed

[2019-09-14 11:56] dnalborczyk commented on #809
@davearndtjr  feel free to re-open if the different `port` didn't fix your issue.

[2019-09-14 11:56] #809 closed

[2019-09-14 11:59] dnalborczyk commented on #522
gonna close this for inactivity. feel free to re-open if this is still an issue with this `serverless-offline`.

[2019-09-14 11:59] #522 closed

[2019-09-14 12:02] #264 closed

[2019-09-14 13:01] azizur commented on #487
@dnalborczyk, I think there is some improvement required to better mimic the request context object. I will create a PR shortly.

[2019-09-15 13:44] shadowdogg opened #810 "Syntax Error ServerlessOffline.js:157 ); SyntaxError: Unexpected Token )"
I've done an incredibly basic serverless package from scratch to find out why i am getting this error, it seems this is a syntax error although i'm not sure why it would be with the src file

`D:\Shadow\Desktop\test-serverless>sls offline
Serverless: Load command config
Serverless: Load command config:credentials
Serverless: Load command create
Serverless: Load command install
Serverless: Load com

[2019-09-15 13:52] dnalborczyk commented on #810
hey @shadowdogg

which version are you using? also, could you provide the `serverless.yml` ?

[2019-09-15 14:00] shadowdogg commented on #810
hey @dnalborczyk

Certainly! Thanks for the prompt reply

`# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options,

[2019-09-15 14:14] dnalborczyk commented on #810
thanks @shadowdogg !

the `serverless.yml` looks correct. from the console log above I can see you are using `node.js v6.11.2`, which is not supported anymore by this plugin, as well as `aws` (although you can still run it), as well as the `node.js foundation`. the minimum supported node.js version is `v8.11`.

we should probably put an engine check in place.

[2019-09-15 14:16] shadowdogg commented on #810
@dnalborczyk

Ahh !! Brilliant, i guess that's the one thing i forgot to update. Thanks a bunch

[2019-09-15 14:16] #810 closed

[2019-09-16 14:17] Captnwalker1 opened #811 "Function Routes defined in files not loaded"
In my working serverless project deployed already to AWS we have our functions defined in seperate yml files. This doesn't seem to work with serverless-offline

[code]

[code]

I start serverless with `sls offline --providedRuntime 11.10.1`

I keep getting error

Your Environment Information ---------------------------
Operating System: darwin
Node Version: 11.10.1
Framework Version: 1.51.0
Plugin

[2019-09-16 15:10] dnalborczyk commented on #811
hey @Captnwalker1  thank you for filing the issue! this should work.

could you create a small repro repository to have a look at?

[2019-09-16 15:47] davearndtjr commented on #809
@dnalborczyk I don't know if you see comments after an issue is closed but I am going to try because I hate to open up another issue for a follow-on question.

ask: Can I use any non-alpha version of offline and still get the websocket working?  A non-alpha  solution for this would be much better received by my organization.   I was under the impression that the x-api-key header was required if th

[2019-09-16 16:43] davearndtjr opened #812 "Websocket won't connect using serverless-offline locally, but will work when deployed to aws"
This is the follow-up on https://github.com/dherault/serverless-offline/issues/809

_re: forgot to mention, you get the header information on connect only with the latest v6 alpha._(dnalborczyk)

Ask: Can I use any non-alpha version of offline and still get the websocket working? A non-alpha version of offline would be much better received by my organization.  I was under the impression  that the

[2019-09-16 16:52] dnalborczyk commented on #809
hey @davearndtjr

no problem. I usually see and follow-up even if closed. either way is fine. if it's a new bug a new issue would be better. gonna answer in the new issue.

[2019-09-16 17:35] dnalborczyk commented on #812
yes, websockets should be working in the latest **v5**, with some minor short comings and missing features, e.g. the mentioned missing headers on `connect`.

no problem, I understand. Just want to mention that development has entirely switched to `v6` and at this point only PRs from contributors are being merged and released in `v5`. that being said, if you want any features, which exist in `v6`,

[2019-09-16 20:02] davearndtjr commented on #812
Wow! The details above are very much appreciated.

As for as the connect after port change, no luck.
   error: connect ECONNREFUSED 127.0.0.1:3001

...from my package.json
"serverless-offline": "^5.11.0",
"serverless-offline-assume-role": "^1.0.0",
"serverless-offline-ssm": "^1.1.0",

[2019-09-16 20:50] dnalborczyk commented on #812
no problem!

you might have to check your local firewall settings, or something similar along those lines. you can also try another port with `websocketPort`.

if you still don't get any results could you create a small simple repro repository I could have a look at?

[2019-09-16 20:59] davearndtjr commented on #812
I have tried specifying the websockets port, but I will try again.  Yes, thats a good idea to do a separate project that is shareable.  It will probably be tomorrow evening.

Just for fun, this is the output when the service starts up locally:
[offline] connectionHandler runtime nodejs10.x

Serverless: Routes for connectionHandler:
Serverless: (none)
Serverless: (none)
[offline] funOptions {
  "fu

[2019-09-16 21:10] dnalborczyk commented on #812
since you are using `webpack`, there was a problem I remember: https://github.com/dherault/serverless-offline/pull/763  but I don't think it's related.

out of curiousity, could you also try the v6 release?  `npm i serverless-offline@next --save-dev`.
you can revert back to v5 with `npm i serverless-offline@latest --save-dev`.

[2019-09-16 21:17] davearndtjr commented on #812
I just gave v6 a try.  When I go up to v6 it says gives an error when starting:   Cannot find module '@hapi/hoek/lib/assert'.     I am not sure why doesn't happen on any of the 5.x versions, but I can't get far enough to try a test on v6.

[2019-09-16 21:24] davearndtjr commented on #812
If I could get this working, it would open up a whole world of options around websockets we don't have today.  We have to push to AWS to really test anything websocket-ity.   Thanks again for your willingness to help me at least get bootstrapped on websockets.

[2019-09-16 21:27] dnalborczyk commented on #812
this is even weirder. you might wanna wipe your `node-modules`, and re-install from scratch, either with `npm ci` or whichever the equivalent for `yarn` would be.

btw, which node.js version and OS are you using?

[2019-09-16 21:32] davearndtjr commented on #812
I deleted the node_modules directory altogether and also removed the yarn.lock file.
nvm current: v10.13.0
macOS Mojave  (10.14)

[2019-09-16 21:39] dnalborczyk commented on #812
alright, give me a second. now I'm curious. maybe it's a problem with `webpack`, although it shouldn't. btw, it's recommended that offline is being loaded last, after the webpack plugin. not sure if that wuld make a difference.

[2019-09-16 21:43] dnalborczyk commented on #812
ok, try this. this is an absolute bare bone:

[code]

[code]

[2019-09-16 21:44] davearndtjr commented on #812
It looks like it's last to me.   Did you see something in one of my post that made you think of that?  It would be really nice if it was the plugin order.

This is the plugins section

plugins:
  - serverless-webpack
  - serverless-offline-ssm
  - serverless-offline

[2019-09-16 21:48] dnalborczyk commented on #812
from this issue: https://github.com/dherault/serverless-offline/issues/809#issue-493535865

[2019-09-16 21:50] davearndtjr commented on #812
I am trying your sample.   I hope it works.  If it does, that means it is yet another fight to find out what webpack is doing.  ugh...

[2019-09-16 21:54] davearndtjr commented on #812
It worked!!!
npx wscat -c ws://localhost:3001
connected (press CTRL+C to quit)

[2019-09-16 21:57] davearndtjr commented on #812
The last line of output from the startup actually says, _heh there is a websocket available_.  I have never seen that when my project starts.  WooHoo!   progress!

$ npx serverless offline start
Serverless: Starting Offline: dev/us-east-1.

Serverless: Routes for connect:
WebSocket support in serverless-offline is experimental.
For any bugs, missing features or other feedback file an issue at http

[2019-09-16 22:03] dnalborczyk commented on #812
that's great!

just include/exclude stuff and rule stuff out till you find the problem. could be anything that's different, `yarn`, global/local install, bad state of node_modules,  [combination of] other plugins, webpack, etc.

there could be also a problem with this plugin, or when used together with other plugins.

let me know what the issue was when you find it.

[2019-09-16 22:04] davearndtjr commented on #812
yep, you proved 5.11 works like a champ.  I will let you know when I finally dig to the bottom.  I can't thank you enough man.

[2019-09-16 22:24] davearndtjr commented on #812
Ok, matching your versions of serverless and serverless-offline as well as me taking more care to delete everything (our project has two yarn workspaces) so I had to delete the shared stuff and the stuff in my workspace.  yes!!!  You rock the free world man!

[2019-09-16 22:31] dnalborczyk commented on #812
😄 thanks! great to hear it's working for you!

[2019-09-16 22:31] #812 closed

[2019-09-17 00:50] Captnwalker1 commented on #811
I was able to reproduce the effect with an example from our same setup https://github.com/Captnwalker1/sls-offline-fileroute-test

[2019-09-18 14:14] dnalborczyk commented on #811
thank you for the repro repo @Captnwalker1 !

your repro seems to work just fine for me.

couple things I noticed you might be not aware of:

1. the option for `provided runtime` is not the version number, as you used above, but the runtime itself:
e.g. `sls offline --providedRuntime nodejs`  the docs should make that more clear I suppose.

2. the url you should check out is `http://localhost:3000

[2019-09-18 14:19] dnalborczyk commented on #811
gonna close this issue, but feel free to keep posting if you are still having problems @Captnwalker1

[2019-09-18 14:19] #811 closed

[2019-09-18 14:36] dnalborczyk commented on #598
@dwelch2344  @chamathsilva  feel free to create a PR!

[2019-09-18 19:49] Captnwalker1 commented on #811
Just changing the providedRuntime fixed my issue

[2019-09-19 00:06] Ryanauger95 opened #813 "principalId needs to be converted to a string to match AWS lambda"
In sls offline, when you use an authorizer, the principalId is directly mapped to a variable in the ```requestContext:authorizer``` section. AWS lambda, however, maps numbers to strings. I'm not sure if this is expected behavior, but this is what AWS is doing.

The consequence of this is that if you want to use the principalId in your code, and develop using sls offline, you'll end up deploying br

[2019-09-19 00:43] dnalborczyk commented on #813
hey @Ryanauger95  thanks for filing the issue!  could you provide a `serverless.yml` and some `handler` code, or better, create a small repro repository to illustrate the issue?

[2019-09-19 11:10] erezrokah commented on #731
I think @ed-sparkes would like to be able to simulate AWS service proxies (not just HTTP proxies) using serverless offline.

See this [issue[(https://github.com/horike37/serverless-apigateway-service-proxy/issues/39) and [pr](https://github.com/horike37/serverless-apigateway-service-proxy/pull/41) for more information.

[2019-09-19 22:43] juztinlazaro commented on #369
hopefully, this will be fixed thanks

[2019-09-20 20:59] rofc commented on #719
Any update for this issue/request? I'm facing the same situation.

@ankithkonda have you been able to test any serverless pluging like serverless-offline-assume-role or serverless-offline-sts?

[2019-09-21 23:17] nathanmalishev commented on #388
Would be fantastic

[2019-09-22 03:38] marklawlor commented on #793
@dnalborczyk Should the README be updated to reflect this change in the project philosophy?

The 3rd feature listed in the README is

If this functionality is being removed, can it be replaced with an example on how to setup nodemon?

[2019-09-22 05:11] ankithkonda commented on #719
Sorry no, I haven't been on that project for a while.

[2019-09-24 09:07] antonydellavecchia opened #815 "Not working with multiple statement policy"
i am getting an error from serverless offline, by generate policy works on deployment but not in development, maybe it's because of the *? but i am not sure how to fix

Debug: internal, implementation, error
    TypeError: Uncaught error: Cannot read property '1' of null
    at parseResource (/home/antony/liveEO/live-eo-mapbox-node/node_modules/serverless-offline/src/authMatchPolicyResource.js:42:

[2019-09-24 10:53] dnalborczyk commented on #793
@marklawlor  yeah, the README needs to be fixed.

[2019-09-24 22:38] jormaechea opened #816 "AUTHORIZER env variable does not work for lambda integrations"
https://github.com/dherault/serverless-offline/blob/4591e0283c30a0fe4f1c3a17428ad17232432daf/src/events/http/lambda-events/LambdaProxyIntegrationEvent.js#L38-L46

The AUTHORIZER env variable is used in lambda-proxy integrations but not in `lambda` integrations.

It's not implemented for it, and should be added in: `/src/events/http/lambda-events/VelocityContext.js`

[2019-09-24 22:38] jormaechea commented on #816
@dnalborczyk You guys are still accepting PRs for v5 and v6, right?

[2019-09-24 22:45] dnalborczyk commented on #816
thanks @jormaechea !

yeah, absolutely!

[2019-09-24 22:59] justinlazaro-iselect commented on #768
is this already merge? trying to implement openapi?

[2019-09-24 23:04] jormaechea commented on #816
@dnalborczyk Great! Both PRs are ready.. I had them almost ready, been fighting with authorizers all day :rofl:

[2019-09-25 08:45] computerpunc commented on #768
@dnalborczyk

On a the latest `master`, `npm run test` reports the following:
[code]

The 2 main errors are:
[code]

[code]

Do you experience the same?

[2019-09-26 03:06] phanorcoll commented on #258
@PabloEzequiel solution worked for me
**let Dataset = mongoose.models.Dataset || mongoose.model('Dataset', DatasetSchema); **

[2019-09-26 07:40] anuj9196 commented on #258
@gokul-t 's solution worked for me. Is there any issue with using `global` for all models. I have more than 10 models.

[2019-09-29 14:39] oleksiipysanko opened #819 "Support for HTTP PROXY custom lambda authorizer"
Hi, thanks for an excellent plugin!

I have a specific use case that I try to emulate locally. I have a custom API Gateway with HTTP PROXY methods setup and I'm trying to use a custom lambda authorizer with it.

Code:

[code]

Both lambda and proxy methods are created successfully and I see this output in console:

[code]

Though the method is still not using this authorizer (it is configured to r

[2019-09-30 13:11] dnalborczyk commented on #816
@jormaechea  thank you again! I pulled in the PR for v5, looking over the v6 PR later today!

[2019-10-02 09:12] leny commented on #768
Hi, having the same issue as [ozsay](https://github.com/dherault/serverless-offline/issues/768#issuecomment-524867815) & [uldissturms](https://github.com/dherault/serverless-offline/issues/768#issuecomment-537092393), but I'm using webpack _without_ the **serverless-webpack** plugin.

I think it's related to the fact that serverless-offline is replicating the _cold start_ mecanism of serverless fu

[2019-10-02 10:35] uldissturms commented on #768
@leny, thank you. That makes sense as I see the changes picked up if I invoke the function again after waiting for a while.

[2019-10-02 13:23] leny commented on #768
Digging around in the code, the _"problem"_ is [here](https://github.com/dherault/serverless-offline/blob/62a52c898c1edd039cef366dce9983e2e26252b4/src/lambda/LambdaFunctionPool.js#L26-L30), and already marked as TODO.

I hope we'll be able to specifiy the idle time, including set it to `0`.

[2019-10-02 13:45] ozsay commented on #768
hey @uldissturms @leny

there is a discussion about a fix in another issue: https://github.com/dherault/serverless-offline/issues/793

[2019-10-03 17:08] ndelvalle commented on #672
Yep, it would be nice to only log error level messages when testing a bunch of lambdas

[2019-10-05 10:20] arnas commented on #702
Hello,
I will look into this issue

[2019-10-06 03:18] dwelch2344 commented on #598
@dnalborczyk I'm circling back to serverless world soon, so this could be a good time for me. Could you give me some guidance / a write up on how you'd approach the solution?

I'm happy to do the research and legwork of it, but not sure where to get started / how best to integrate. I've written one or two plugins that built on / modified serverless-offline, and they were both (very fun) failures :

[2019-10-07 00:21] justinlazaro-iselect opened #822 "is possible to have two running serverless-offline?"
Question is possible to have two running serverless-offline and reference the `stack_id` in one another?

example:
 my first serverless-offline running in localhost:3001 for dynamodb
 my 2nd serverless-offline running in localhost:3002 for API gateway, i need to connect my first severless-offline to my 2nd serverless-offine

thanks.

[2019-10-07 00:26] justinlazaro-iselect opened #823 "Stack with <STACK_ID> id does not exist"
i having an issue when i run `sls offline start `

[code]

in my resources, i referencing the dynamodb by `arn` and getting the `arn` by referencing cloudformation.stack_name.arn

`Resources: ${cf:${self:provider.environment.STACKNAME}.DynamoDbTableArn}`

is there's a way how can i fixed or ignore this when running locally?

[2019-10-07 01:22] dnalborczyk commented on #823
hey @justinlazaro-iselect  could you provide more information about your issue?

[2019-10-07 01:24] dnalborczyk commented on #822
hey @justinlazaro-iselect   could you be more specific about the problem you are trying to solve? what do you mean by "connect?

[2019-10-07 03:03] justinlazaro-iselect commented on #822
is possible to reference two serverless-offline in local environment using `${cf:STACK_ID}`

[2019-10-07 03:11] justinlazaro-iselect commented on #823
@dnalborczyk upda the description thanks

[2019-10-07 09:24] ParthAnandAWS commented on #768
**Hey All i am new in serverless when i write command servless offline this error is coming but
when i type this command on windows command promt: serverless plugin list
it show serverless-offline plugin**

  Serverless Error ---------------------------------------

  Serverless command "offline" not found. Did you mean "config"? Run "serverless help" for a list of all available commands.

  Get S

[2019-10-07 11:23] computerpunc commented on #768
Yes it does because `serverless-offline` is a known plugin for `serverless`.
To activate please add the following to your `serverless.yml` file:
[code]

[2019-10-07 14:35] ParthAnandAWS commented on #768
@computerpunc  Yeah but it's already there. actually i have used now this command for install
**serverless plugin install --name serverless-offline**
in working dir then it add to my serverless.yml file then it's working fine thankyou

@computerpunc  Yeah but it's already there. actually i have used now this command for install
**serverless plugin install --name serverless-offline**
in working dir

[2019-10-07 15:34] dherault commented on #768
@dnalborczyk could you not remove `process.env.IS_OFFLINE` and `event.isOffline` please ?
It is too big a breaking change for most users I believe.

[2019-10-11 14:36] offloda commented on #64
TY @vangorra, it's work for me. i tried for the other plugin `serverless-offline-serverless` but the plugin have a bug when try to run.

[2019-10-13 02:00] dnalborczyk commented on #813
@Ryanauger95   feel free to re-open with more details about your issue.

[2019-10-13 02:00] #813 closed

[2019-10-14 21:19] isitgeorge opened #824 "Cognito local development best practices"
Looking for some advice regarding best practices running serverless offline with AWS Cognito configured.

From what I understand all routes are authenticated by default when simply running `serverless offline` - how would I test being unauthorized, for endpoints that require an authorizer? I was expecting the opposite to happen, where all routes would be unauthenticated by default.

How is the log

[2019-10-15 15:39] FredReinink commented on #703
Hi there, this issue has come up where I work and I would like to start working on this. I was wondering if someone who has experience with the codebase or knows anything about this issue would be willing to give me some thoughts or input. Thanks.

[2019-10-15 19:09] ahobson commented on #793
For my use case running serverless via [node-dev](https://github.com/fgnass/node-dev) is a decent workaround.  Maybe it could be mentioned in the docs?

[code]

[2019-10-15 22:48] dukedave opened #825 "Add healthcheck endpoint"
Feature request:

Add a `/serverless-offline-healthcheck` endpoint which returns `200` only once

[code]

This would allow people to e.g. `$ sls offline &` and then use [`wait-on`](https://github.com/jeffbski/wait-on) to block until ready.

[2019-10-16 09:21] micheleangioni opened #826 "[BUG] Context of the Policy returned by an Authorizer function must be a dictionary of strings"
When successfully returning a policy from an Authorizer function, if the returned policy contains a context with fields which are not strings, it will crash.

However, the offline plugin allows it and successfully moves to the next lambda function, with the context made available.

To make it clear, by using such a policy generator

[code]

if `context` is anything else than a Dictionary **_of str

[2019-10-16 09:37] ksavidetove commented on #322
This happens to me when I run `sls offline start` with npm scripts.
CTRL + C seems leave the child process instead of killing it.

[2019-10-16 09:40] micheleangioni opened #827 "[BUG] Access to KMS is not allowed"
When trying to access AWS Secrets locally (i.e. running `sls offline`), I get an error from the AWS Secrets client:

[code]

Some more details:

- The lambda is protected by a custom authorizer function
- Once deployed to AWS, I get no such error. The lambda can successfully get the secrets from the AWS Secrets. Never got such an error
- Locally, I get the same error even if I use an IAM user with

[2019-10-17 15:37] dnalborczyk commented on #825
hey @dukedave   thank you for the suggestion!

it would be probably better if you add your own `health-check-route` in your `serverless.yml` if you need this. that way you can also decide which route path you want. the other problem is also that not everyone might be using an http endpoint, if for example using only `websockets`.

[2019-10-17 18:11] dukedave commented on #825
That's fair @dnalborczyk, and we added our own health check route as a workaround, as you suggested.

[2019-10-17 18:12] #825 closed

[2019-10-20 02:44] dherault commented on #768
Also i wonder since `remove --skipCacheInvalidation [alpha.32]` how will users reload their work ? Using nodemon ? It should be in the README, I'm taking care of it.

[2019-10-20 02:44] dherault commented on #768
@dnalborczyk can I work on `display memory usage` ?

[2019-10-20 03:01] dherault commented on #768
Is the Replay feature still here ?

[2019-10-20 07:27] computerpunc commented on #768
@dherault
Not a big issue while making the transition on my side. Just use `process.env.IS_OFFLINE` instead of `event.isOffline` and set an environment var as in `export IS_OFFLINE=true`.

The main issue here is the incorrect documentation above to set the var in `serverless.yml`:

[2019-10-21 13:49] MatejBalantic commented on #775
Let me know if there's something I can help with. Having support to locally invoke golang Lambda/API Gateway endpoints is the only thing stopping me from moving to golang + lambda setup.

[2019-10-24 20:56] hqnarrate commented on #464
I'm running into this issue using serverless-http + serverless-offline and multer-s3 for handing multipart/form-data when uploading images.

@lteacher do you have a recommendation for getting serverless-offline to correctly handle this? My service works when deployed on AWS through api-gateway. For local development it is not.. Referring to your last comment above: "Then to get serverless-offline

[2019-10-24 23:16] lteacher commented on #464
@hqnarrate Sorry im just not up to date on this issue any more, there seems to be a PR #784 that was working to address this somewhat through the config options.

Looking back over the comments it does seem like there is a way to refactor the offending line out but I just don't have any time to investigate that at the moment and I don't use any of the packages mentioned in these issues except `ser

[2019-10-25 00:15] dnalborczyk commented on #464
@hqnarrate @lteacher   a bit of a problem is that @cmuto09 support depends on the https://www.npmjs.com/package/serverless-apigw-binary plugin. but it seems `serverless` supports this now as well.

[2019-10-25 00:17] dnalborczyk commented on #464
some references for `serverless` support:

https://serverless.com/framework/docs/providers/aws/events/apigateway/#binary-media-types
https://serverless.com/blog/framework-release-v142/
https://github.com/serverless/serverless/pull/6063

additional issues:
https://github.com/serverless/serverless/issues/2797
https://forum.serverless.com/t/returning-binary-data-jpg-from-lambda-via-api-gateway/796
ht

[2019-10-25 00:38] dnalborczyk commented on #768
@justinlazaro-iselect  what do you mean? could you clarify? currently you have an overview of the api in the browser, under `/documentation`. the port will likely change to avoid collisions with a potential existing `/documentation` path. as an alternative we could also add `stage` to the urls.

[2019-10-25 00:42] dnalborczyk commented on #768
@computerpunc  sorry, been extremely busy lately, but things are calming down again. anyhow, are you still experiencing that problem? I changed a couple things around it I believe, but not sure if it had anything to do with your issue.

[2019-10-25 00:44] hqnarrate commented on #464
@dnalborczyk - i was not clear. My service is working fine when deployed to AWS environment by setting the apiGateway.binaryMediaTypes correctly. It is when I'm running on offline mode with 'serverless offline start', my uploads would become corrupted.

[2019-10-25 00:47] dnalborczyk commented on #768
@dherault  sorry, been extremely busy lately, but things are calming down now. let me try to answer some questions:

it should be. I haven't removed it (not intentionally). although I'm not sure how it's being used, and how it's intended to work.

[2019-10-25 01:25] dnalborczyk commented on #768
@computerpunc  @dherault

this is just a very simple example
[code]

one can expand on this, and use conditions (e.g. NODE_ENV, stage etc.) as mentioned already here: https://github.com/dherault/serverless-offline/issues/768#issuecomment-529217688

[code]

I don't think it's incorrect, just _very_ simplified. there's also more to it @computerpunc your `export xyz` wouldn't work in `worker-threads`

[2019-10-25 02:27] dnalborczyk commented on #464
@hqnarrate sorry, I think I haven't been clear. 😄 I knew what you meant. The links above are pointers for me (or anyone getting else) for the implementation.

[2019-10-25 10:10] computerpunc commented on #768
@dnalborczyk

I don't experience this problem anymore.

What's most problematic on my end is that WebSocket support is out of order since `alpha.41` (at least as far as I see on my end) at reported in https://github.com/dherault/serverless-offline/pull/814#issuecomment-537641792

I hope you can fix it ASAP.

[2019-10-25 15:55] dnalborczyk commented on #768
@computerpunc I replied in the PR.

[2019-10-25 16:01] dnalborczyk commented on #793
@ahobson  thank you. yes, it probably should be mentioned in the docs.

[2019-10-25 16:10] dnalborczyk commented on #768
@ozsay  @leny  @uldissturms

yes, you are right. the new lambda mechanism tries to mimic the cold start as well as the container reuse of lambdas. the 1 min hard setting is a bit short, and needs to be a config setting for sure (thank you for the PR @leny)

yes, something like that might be needed. the problem is that this would only work for `worker-threads`, as in-process reloading does not reli

[2019-10-30 02:12] Adrxx opened #828 "authorizer"

[2019-10-30 02:12] #828 closed

[2019-10-30 20:56] syang opened #829 "[Question] Any example repo/blog for me to do local testing with serverless-offline?"
I wrote a serverless CRUD service with API-Gateway + Lambda + DynamoDB, and I wanted to have local test before I push new changes to AWS as live service.

I have modularized as much as possible for utility/helper functions so that I can do unit tests on them;

But I still have not figured out a way to do functional test for my service logic (I have installed `serverless-offline` and `serverless-dy

[2019-10-30 21:33] dnalborczyk commented on #829
hey @syang  for the time being you could check out our test setup with something like this:

https://github.com/dherault/serverless-offline/blob/v6.0.0-alpha.42/tests/integration/_testHelpers/setupTeardown.js

there might be better/easier ways to get to the instance, but I haven't had time to look into it more. I'm open for any improvements regarding that topic.

[2019-10-30 21:55] syang commented on #829
The Setup TearDown helper functions are really neat and I liked it -- thanks a lot.

1.  If I understand it correctly, my test ought to import and call these functions before and after one of my tests -- is there test examples using them?

2. does these setup / teardown pair help isolate the local environments? i.e, if my test framework run tests in parallel, then there may be chances that multipl

[2019-10-30 22:18] dnalborczyk commented on #829
in general this area should be really something to be improved upon. the other issue you probably have to look into is how to deal with `serverless-dynamodb-local` and other plugins you might use for local development. in that case it might be easier to start a child instance with `serverless` and the plugins (e.g. with [execa](https://github.com/sindresorhus/execa) or node's own `child_process`).

[2019-10-30 22:24] dnalborczyk commented on #829
If I find some time in the next days I'll try to add an example to the repo. maybe rather with `execa` instead of running a script mentioned above. I might change the current test setup as well. stay tuned.

[2019-11-01 12:38] deveshIndisoft opened #830 "error while loading function"
[code]

The function declare is:
[code]

[2019-11-01 13:36] dnalborczyk commented on #830
hey @deveshIndisoft the problem is probably the handler file name: `handler.user.login` (2 dots). not sure if this is supported by `serverless` or `aws`. I'll have to check. in the meanwhile you could rename the file.

[2019-11-01 14:05] deveshIndisoft commented on #830
Thanks for the reply @dnalborczyk  but, with aws it seems to be work fine without any issue.
but when i try with serverless offline its giving that error.

[2019-11-01 14:18] dnalborczyk commented on #830
thank you! I marked it as a bug. Should be an easy fix. Which version of `serverless-offline` are you using, and do you know if it works with `serverless` as well (local execution)?

[2019-11-01 21:06] dnalborczyk commented on #829
@syang   alrighty, I rewrote the test helper to use a child process with `execa` which I think is a little cleaner than the previous attempt:  https://github.com/dherault/serverless-offline/blob/master/tests/integration/_testHelpers/setupTeardown.js

keep in mind that the tests are still using the same port, so they still can't run in parallel [just yet].

[2019-11-02 00:18] syang commented on #829
@dnalborczyk I may get back to this integration testing next week, and whatever your cutting-edge suggestion example code is ready, I will be your first tester / verifier :-)

[2019-11-04 09:57] deveshIndisoft commented on #830
i am using serverless 5.12.0 version and its working fine serverless .

[2019-11-05 12:48] christophgysin commented on #480
This was fixed in #817. Is there still anything needed to close this?

[2019-11-05 13:07] chatch commented on #480
ok great! closing.

[2019-11-05 13:07] #480 closed

[2019-11-05 13:30] christophgysin opened #832 "randomly generated API key is not displayed if no API key is defined"
Currently, serverless-offline checks if there is a `apiKeys:` section to decide [if the randomly generated API key should be logged](https://github.com/dherault/serverless-offline/blob/v5.x-release/src/ServerlessOffline.js#L400-L401).

If we have a service that defines http events as `private: true`, but not define `apiKeys`, the generated API key is not logged.
[code]
[code]

One workaround is to

[2019-11-05 23:57] mlg-rbalhorn commented on #598
+1

[2019-11-06 00:09] dnalborczyk commented on #830
@deveshIndisoft  this seems to be not supported by `serverless` nor `aws` if you think otherwise please re-open this issue and provide a small repro.

given:
[code]

[code]

after deployment with `serverless` on aws:
`Lambda can't find the file handler/file.js. Make sure that your handler upholds the format: file-name.method`

[2019-11-06 00:10] #830 closed

[2019-11-06 00:23] dnalborczyk commented on #832
hey @christophgysin  thanks for opening this issue. I'm unfamiliar with private endpoints, nonetheless, it seems that private endpoints don't require api keys.

[2019-11-06 00:28] dnalborczyk commented on #829
@syang  awesome! let me know if you have any questions!

[2019-11-06 05:57] christophgysin commented on #832
Setting `private: true` is the serverless way of configuring an endpoint to require an API key. See:
https://serverless.com/framework/docs/providers/aws/events/apigateway/#setting-api-keys-for-your-rest-api

[2019-11-07 08:09] drone1 commented on #803
@dnalborczyk I just lost an hour trying to figure out why this wasn't working. Can you please remove the text about process.env.IS_OFFLINE and { isOffline: true } from README.md?

[2019-11-07 10:59] dherault commented on #803
I agree, we should keep it.

[2019-11-07 15:30] grbknr1996 commented on #747
can u please help me to invoke a lambda from another lambda

[2019-11-07 16:46] grbknr1996 commented on #747
https://stackoverflow.com/questions/58735411/unable-to-invoke-a-lambda-from-another-lambda-using-aws-serverless-offline

please help me out

[2019-11-07 16:51] dnalborczyk commented on #747
hey @grbknr1996  you can have a look at the lambda invoke test here: https://github.com/dherault/serverless-offline/tree/master/tests/integration/lambda-invoke yo give you some ideas.

[2019-11-07 16:55] grbknr1996 commented on #747
Hi @dnalborczyk  Please see my question.Its giving unsupported media type I have tried like what you have tried

[2019-11-07 17:00] dnalborczyk commented on #747
your endpoint `/jobs` might be wrong. the error message btw is misleading and doesn't point to the actual error. you can literally clone he test case, and start it manually yourself and compare to your own implementation.

[2019-11-08 13:20] gurushida opened #834 "JSON and stringified JSON bodies are treated the same offline but not online"
I found a problem similar to the one described in https://github.com/dherault/serverless-offline/issues/702

If I have a lambda that expects JSON, I get a different behaviour online when I send the JSON like `{"label":"foo"}` vs when I send the stringified JSON `"{\"label\":\"foo\"}"`.
However, I get the same behaviour offline where my lambda always receives an APIGatewayProxyEvent object where th

[2019-11-10 20:58] larrybolt commented on #768
Happy Days! :D The new features blow my mind! And the upcoming changes sound awesome!

Regarding `--exec` option has been removed

Hopefully someone will set up to create a serverless plugin that allows you to  run commands once serverless-offline has successfully started up and is listening (for http calls). It seems like there isn't a hook [(ServerlessOffline.js#L45)](https://github.com/dherault

[2019-11-11 19:26] hsz commented on #787
This one fixes not only the webpack+babel integration, but typescript as well. However when I tried to run the project that has custom authorizers configured (so one function refers to another using the second as an authorizer), second is still loaded from the `/src/..` directory because `HttpServer` also uses `servicePath` from options. Then `createAuthScheme` uses this path in:

https://github.c

[2019-11-11 19:29] hsz commented on #768
I've found an issue with loading custom authorizer functions when project is using serverless-webpack.
Simmilar issue was fixed in #787 (case with loading handlers directly), so I've explained it within this thread as well: https://github.com/dherault/serverless-offline/issues/787#issuecomment-552579570

There is a PR that fixes custom authorizer case reusing the same solution: https://github.com/

[2019-11-13 05:39] kennblvnp commented on #185
seeing this error in version `"serverless-offline": "^3.33.0",`

[2019-11-18 04:19] #829 closed

[2019-11-18 11:47] Excoriate commented on #585
Is this confirmed? i was trying to get my gcloud functions running locally just like i did it with another serverless application in AWS lambda. The AWS lambda works like a charm! but i saw a lot of gaps in the serverless framework implementation for gcloud functions like this one.
Hope this can be included and solved in the next serverless releases =)

[2019-11-19 21:22] tmaslen commented on #598
Started working on a locally running ALB plugin...

https://github.com/tmaslen/serverless-local-alb-example

[2019-11-20 06:54] deveshIndisoft opened #837 "s3 events not working in serverless-offline"
code for reference:

[code]

accepting : as soon as bucket is upload by an file local lambda function should get called, which is not working as accepted for serverless-offline.

[2019-11-20 07:10] grbknr1996 opened #838 "Can I start a script with sls offline start so that I could set regions and endpoints for my lambda?"

[2019-11-20 16:01] dherault commented on #837
Serverless-offline works... offline. Therefore it cannot handle requests from a remote endpoint such as AWS S3.
You can use a plugin such as [this one](https://www.npmjs.com/package/serverless-s3-local).

[2019-11-20 16:01] #837 closed

[2019-11-20 16:03] dherault commented on #838
Yes, with version 5 of the plugin. This feature will be re-added in version 6 soon. Remember that version 6 is in alpha therefore unstable.

[2019-11-20 16:03] #838 closed

[2019-11-21 10:14] mstn opened #839 "Global variables are not frozen"
Sometimes, you want to freeze "global" variables to maintain state between executions. For example (from [1]), until the lambda is not killed, then `counter` gives a different value at every invocation.

[code]
Even if we usually assume that lambda are stateless and we should not rely on this freezing process for data storage, there are cases when keeping a temporary state in this way is useful (s

[2019-11-21 10:50] dnalborczyk commented on #839
hey @mstn  which version of this plugin are you using? are you using any flags?

[2019-11-21 16:03] grbknr1996 commented on #838
can u please guide me how to do it in version 5 plugin

[2019-11-21 16:18] mstn commented on #839
Tomorrow, I will try to reproduce the problem with a minimal project. Sorry, I should have done it before posting here.

Version
[code]

Serverless version 1.55.1.

Invoked with `sls offline start --config serverless.yml`

I am using it with other plugins

[code]

[2019-11-21 17:20] dnalborczyk commented on #839
thanks @mstn ! no need for a repro, I think I know what you are experiencing.

just copy pasting from my comment here, your issue is related to: https://github.com/dherault/serverless-offline/pull/820#issuecomment-536736770

let me know if this helps.

[2019-11-21 17:58] dnalborczyk commented on #832
thank you for the link @christophgysin ! I'll have a look into your issue and the PR soon.

[2019-11-22 09:33] mstn commented on #839
@dnalborczyk it works! I'll close this issue, since it is resolved. Thanks a lot.

What about making this solution more visible in `README`?

Thanks for the great work!

[2019-11-22 09:33] #839 closed

[2019-11-22 11:42] danielo515 opened #840 "Feature of invoking lambdas directly through an endpoint is vanished"
Hello,
Previously, when I was using this plugin I had the option to invoke the lambdas that did not include a proper endpoint with an extra generated endpoint that looked like this:

[code]
Or something close to that.
But now, only lambdas that has an endpoint show up. Why does this happen? Is is an option that I have to activate or something like that?
Thanks in advance.

[2019-11-22 12:15] dnalborczyk commented on #840
hey @danielo515  this should still work. which version of this plugin are you using?

you can get some ideas on how to invoke the lambda from our tests: https://github.com/dherault/serverless-offline/tree/master/tests/integration/lambda-invoke

[2019-11-22 13:28] dherault commented on #838
Use `sls offline --exec "<script>"`

[2019-11-22 15:43] grbknr1996 commented on #838
See i want to set my lambda invoking using that script .But the problem is that script will run in another node instance thread .I want to start the sls offline and use that to set my lambda endpoint

[2019-11-23 09:00] pecata83 commented on #581
Hello i had same issue on my Windows 10,

    "debug": "SET SLS_DEBUG=* && node --inspect %USERPROFILE%\\AppData\\Roaming\\npm\\node_modules\\serverless\\bin\\serverless offline -s dev",

[2019-11-24 02:10] dnalborczyk commented on #840
@danielo515  feel free to re-open if this is still an issue.

[2019-11-24 09:26] dherault commented on #840
I'm reopening because it should work with every lambdas

[2019-11-24 14:50] dnalborczyk commented on #840
does it not? that's what the referenced test case is about. otherwise, do you have a small repro?

[2019-11-24 20:45] gary-archer commented on #824
If it helps I have a sample here that uses Cognito and Serverless Offline (though it is quite an advanced sample):
https://authguidance.com/2018/12/11/serverless-api-overview/

I implemented a custom authorizer to verify the OAuth 2.0 token and return a policy document:
https://github.com/gary-archer/authguidance.apisample.serverless/tree/master/src/framework-api-oauth/src/security

It mostly work

[2019-11-24 21:24] gary-archer opened #841 "Enhance behaviour for OAuth 2.0 Lambda Authorizers?"
I've been updating an **OAuth 2.0 Serverless API** of mine, and I'm using Serverless Offline 6.0 when running on a developer PC. Lambdas are secured via a Custom Lambda Authorizer that validates Cognito OAuth 2.0 access tokens.

I can run my code in Serverless Offline and it mostly works really well, as summarised in [my blog post on local setup](https://authguidance.com/2018/12/11/serverless-api-

[2019-11-25 13:29] dherault commented on #840
I tested it manually, it works fine :) Where exactly is your issue @danielo515 ?

[2019-11-25 13:29] dherault commented on #840
@dnalborczyk Also the replay feature works well!

[2019-11-25 15:10] dnalborczyk commented on #841
hey @gary-archer  great blog post!!

the issues you are experiencing might as well be missing features or possibly bugs. do you have a `serverless.yml` and `handler` file to illustrate what you are trying to achieve? or even better, could you create a small repository?

[2019-11-25 15:15] dnalborczyk commented on #826
hey @micheleangioni thank you for the bug report!

Which version of the plugin are you using? tagging as `bug` for now, but have not found time to reproduce yet.

[2019-11-25 15:19] dnalborczyk commented on #815
hey @antonydellavecchia  thank you for the bug report!

Which version of the plugin are you using? tagging as bug for now, but have not found time to reproduce yet.

[2019-11-25 18:20] gary-archer commented on #841
Thanks for the response - they are missing features I would say - I think a gateway error response solution would be really useful.

My repo is quite complicated so I will create a tiny repo to reproduce the problem then post back. Maybe you guys can then decide where this fits into your roadmap.

[2019-11-25 18:38] andreme opened #843 "Invoke: InvocationType Event not behaving asynchronously like AWS Lambda"
When invoking a function with the InvocationType Event, in AWS Lambda the promise is resolved as soon as the request is sent. serverless-offline waits until the function has finished running.
[code]

Can that be fixed?
I can probably create a PR if you point me in the right direction.

[2019-11-25 19:32] dnalborczyk commented on #843
hey @andreme  yes, that can probably be fixed. which version of the plugin are you using? the code base has diverged quite a bit from v5 to v6 - and only v6 is under active development. new features should go into master.

[2019-11-25 19:35] dnalborczyk commented on #843
I'm guessing the `event type` is probably in the header.

to fix this you probably have to look into: https://github.com/dherault/serverless-offline/tree/master/src/events/http/http-routes/invoke

tests are located here: https://github.com/dherault/serverless-offline/tree/master/tests/integration/lambda-invoke

[2019-11-25 20:02] andreme commented on #843
@dnalborczyk Thanks, I'm using 6, but it's not a real problem for me, just noticed it. I'll have a look and see if I can fix it in 6

[2019-11-25 20:08] dnalborczyk commented on #843
awesome. sounds good! btw, I hastily added some `contribution guidelines`: https://github.com/dherault/serverless-offline/blob/master/CONTRIBUTING.md  let me know if something is not clear.

[2019-11-25 20:10] dnalborczyk commented on #843
out of curiosity, do you use `InvocationType: 'Event'` when you are not interested in the response? or one might possibly get the result later by another event or maybe by polling?

[2019-11-25 20:13] andreme commented on #843
The lambda generates a file and stores it in S3 (because it's too big to be transferred through the API gateway), and the client directly downloads it from there.

[2019-11-25 21:23] dnalborczyk opened #844 "Feedback"
@dherault  I hastily added a couple github templates (borrowed and modified from Babel):

https://github.com/dherault/serverless-offline/blob/master/.github/ISSUE_TEMPLATE/Bug_report.md
https://github.com/dherault/serverless-offline/blob/master/.github/ISSUE_TEMPLATE/Feature_request.md
https://github.com/dherault/serverless-offline/blob/master/.github/ISSUE_TEMPLATE/Question.md

as well as a CONTR

[2019-11-25 23:39] syang commented on #829
@dnalborczyk I am getting back to this and looks like
`
import { joinUrl, setup, teardown } from '../_testHelpers/index.js'
...
servicePath: resolve(__dirname),
`

in https://github.com/dherault/serverless-offline/blob/master/tests/integration/handler/handlerPayload.test.js assumed same package hierarchy.

Can you have an external serverless app testing example that just installed the serverless-o

[2019-11-26 00:24] dnalborczyk commented on #829
@syang  I'll try to put an example into the examples folder: https://github.com/dherault/serverless-offline/tree/master/examples (probably under `/testing`)

[2019-11-26 20:16] #844 closed

[2019-11-26 22:23] gary-archer commented on #841
I added the tiny repo here by the way:
https://github.com/gary-archer/serverless-offline-gateway-responses

Not mega urgent - but will give users of your library more control - ideally by enabling them to somehow use the gateway responses from Serverless.yml.

[2019-11-27 14:21] MEGApixel23 opened #846 "Code changes in handlers take effect only after serverless server restart"
## Bug Report

**Current Behavior**
Code changes in handlers take effect only after serverless server restart. I updated to current ```serverless-offline@6.0.0-alpha.48``` and ```serverless@1.58.0``` version in order to support WebSockets and the live-update feature stopped working. No configuration changes were made. On a previous version ```serverless-offline@3.31.3``` and ```serverless@1.40.0``

[2019-11-27 14:30] dnalborczyk commented on #843
@andreme

implemented preliminary support in: https://github.com/dherault/serverless-offline/commit/fcae27fe2224e5e54b2217bba929720a862842a4   let me know if it works as expected.

I'll update this issue when it's published.

[2019-11-27 17:27] dnalborczyk commented on #846
hey @MEGApixel23  thank you for opening this bug report.

the reloading functionality has been removed for the time being, as it caused quite a bit of confusion, as the user had to explicitly opt out if the reloading functionality was not desired. in addition, it was the cause of several memory leaks, as the `handler process` runs in the same process as `serverless` and this plugin.

I still have

[2019-11-27 17:40] andreme commented on #843
@dnalborczyk Thanks for that. I was not able to get 6 (1.58.0/6.0.0-alpha.49) running.
Likely unrelated to this commit, but I've attached the debug output for both versions.
Looks like it has a problem detecting the routes. My setup is a bit unusual I guess because I use serverless only to run lambda locally.

[start5.txt](https://github.com/dherault/serverless-offline/files/3898123/start5.txt)
[s

[2019-11-27 18:29] dnalborczyk commented on #843
was it running before with a previous alpha version? since you mentioned above you are using 6.x already.

thanks for the files. I have to check what happens if one only runs the lambdas without any endpoints. re-opening this issue as a reminder.

[2019-11-27 18:32] andreme commented on #843
@dnalborczyk sorry, that was supposed to read 'I'm using 5'
So no I don't know if it was running with a previous alpha.
If you have a guess which version might have introduced this problem I can test that.

[2019-11-28 02:00] dnalborczyk commented on #843
@andreme  just checked. there seems to be a bug if you only create lambdas without an endpoint. you could create a temporary end point as a placeholder until this is fixed.

[2019-11-28 15:40] #846 closed

[2019-11-28 17:23] leobarcellos commented on #45
On VSCode I can start debug process with this config:

[code]

However it's useless because the breakpoints does not work (they are gray, and not red), with this message on hover:
`Breakpoint ignored because generated code not found (source map problem?).`

Well, I have no idea what to do, already tried setting up `sourceMap: true`, but with no success.

[2019-11-29 02:29] #843 closed

[2019-11-29 03:36] dnalborczyk commented on #843
@andreme  **alpha 50** (https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.50) should fix your issue. keep in mind that the lambda (invoke) http port is now `3002` by default. you can change it in the options though with `lambdaPort`.

[2019-11-29 08:37] mstn commented on #839
@dnalborczyk hi, it is me again. Is it possible that with `skipCacheInvalidation` hot reloading stops working?

[2019-11-29 12:31] georgesbiaux opened #847 "Body disappears when using Python logging"
## Bug Report

**Current Behavior**
When adding a `logger.info('Logging message')` anywhere in my code, the request returns a response without a body. When I supress the `logger.info` calls, the body comes back.

**Sample Code**

- file: serverless.yml

[code]

- file: handler.js

[code]

**Expected behavior/code**
The body is still returned after adding loggers.

**Environment**

- `serverless` v

[2019-11-29 14:23] micheleangioni commented on #826
Hi @dnalborczyk , the bug is present in version `5.11.0`

[2019-11-29 19:29] hntrl commented on #843
Is there the possibility of an option where the lambda endpoint isn't exposed?

[2019-11-29 21:04] andreme commented on #843
@dnalborczyk Thank you. I can confirm it works now as expected.

[2019-11-30 14:56] dnalborczyk commented on #832
PR merged. closing.

[2019-11-30 14:56] #832 closed

[2019-11-30 14:57] dnalborczyk commented on #847
thank you for filing this bug report @georgesbiaux ! yes, there seems to be an issue with `python` and `logging`.

[2019-11-30 16:17] dnalborczyk commented on #843
there is no option yet, although it could be added. not really sure if it would be beneficial, other than a resource and performance improvement and using one less port.

do you have a specific use case @hntrl ?

[2019-11-30 18:02] hntrl commented on #843
That's exactly it @dnalborczyk.
I'm using multiple serverless-offline instances to simulate a whole suite of services, then proxying them together. Ideally, I'd want to reduce the footprint of the ports consumed, which this option would do.
That, or monorepo support in some way. Either one would fit my use case.

[2019-12-04 09:55] hom-bahrani commented on #775
There is a workaround using [SAM framework](https://github.com/sepehr/serverless-offline-go)

[2019-12-04 09:57] hom-bahrani commented on #775
There's a workaround by combining [SAM](https://github.com/sepehr/serverless-offline-go) with serverless framework

[2019-12-04 10:14] RhobW opened #848 "API gateway endpoint HTTP integration types aws_proxy are aws-proxy not supported"
**Current Behavior**
The serverless documentation defines the supported HTTP endpoint integration types:
   https://serverless.com/framework/docs/providers/aws/events/apigateway/
The documentation states that the following integration types are synomymous:
  * lambda-proxy;
  * aws-proxy;
  * aws_proxy.

The API gateway HTTP endpoints serving HTML pages serve empty pages if the integration type is

[2019-12-04 10:17] dherault opened #849 "Project migration to Typescript"
Hi @dnalborczyk!

I saw you implemented typescript in the plugin. I am against it u_u...
It will prevent newcomers from creating new PRs! It is important that everyone feels welcome to PR and if you do not know typescript it can repel you from contributing.

Please remove the typescript commit...

Thanks,

[2019-12-04 15:42] dnalborczyk commented on #849
hey @dherault

That's unfortunate that you feel that way. I kept the typescript branch in sync for a while and was deliberating to merge into master while I fixed several bugs and shortcomings highlighted by the type checker in the past weeks. It got to the point where it didn't make sense to me to keep a parallel branch in sync for the purpose of making the project more robust.

As the sole activ

[2019-12-04 16:20] dherault commented on #849
Thanks @dnalborczyk! I know it is a bit hard because you are very involved in this, but serverless is a javascript project, most serverless plugins are in javascript so I feels SO should stay in plain JS.

[2019-12-04 16:20] #849 closed

[2019-12-05 03:12] evbots commented on #747
I realized the local "invoke" endpoint port is different from the local webserver port. I was setting my webserver port to 4000, but the invoke port is 3002 by default on the 6.x branch. This means your lambda endpoint config must be whatever the invoke port is (which for me is 3002). `{ endpoint: 'http://localhost:3002' }`

[2019-12-05 12:06] MrToph commented on #585
That's sad to hear that it only works with AWS. It's kind of the whole point of the `serverless` framework to be provider-independent

[2019-12-05 21:50] benjaminsims opened #851 "Intermittent errors returning large responses"
## Bug Report

I've been experiencing intermittent errors using serverless-offline which appear to be somehow triggered by returning larger JSON responses.

**Current Behavior**

When using serverless=offline-python, responses requiring the return of larger (but not that large) amounts of JSON will intermittently have empty bodies. Restricting the number of records returned resolves the problem.

[2019-12-05 23:41] aalimovs commented on #846
@dnalborczyk thanks for the example. Have you ever tried using nodemon with typescript? Seems I can't get out of loop of nodemon finding changes and restarting all the time with:
[code]

[2019-12-06 04:54] thetumper commented on #794
Hope it's ok to ask a question on this, even though it is closed.  In the above comment:

"if you rely on process.env, you can REALLY only trust it right after the handler starts executing, up to the point you do anything async, then all bets are off."

If I'm understanding rightly that this is part of explaining what is going on with v5, then it relates to an issue I'm seeing.  But, I don't under

[2019-12-06 12:36] isitgeorge commented on #824
@gary-archer Interesting read! Cheers

[2019-12-06 16:02] gs11 commented on #851
I experience the same symptoms but the responses will always be empty given a larger payload. Response payloads somewhere > 100kb always fail.

[2019-12-06 21:51] danielo515 commented on #840
Yes, exactly this. So, why not? What is the format used? How do you expect people to discover it ?

[2019-12-07 06:03] JimTheMan opened #853 "Go Lang Error - "Proxy Handler could not detect JSON: Serverless""
Hi, I created a new project like this (INSIDE OF GOPATH/src!!!!):
[code]

I go into it and run make
[code]

here is my file in `hello/main.go`:
[code]

I then run serverless offline:
[code]

It seems to start up fine:
[code]

Then I try to call to the GET endpoint at `http://localhost:5001/help`

but I get the error:
[code]

Also, My serverless.yml then looks like this:
[code]

[2019-12-08 22:45] JimTheMan commented on #775
@hom-bahrani could you please elaborate on what the workaround is?

@MatejBalantic would be great if you could help out with this! 😃

I am also getting a strange "please start the docker daemon" error...

First, I created a new "aws go lang dep" project  with serverless:
[code]

then I go into it, build it, and deploy it:
[code]

Everything there works fine, and I can call to the live endpoint lik

[2019-12-08 22:53] JimTheMan commented on #381
Sorry to hijack this thread, but I'm getting a similar error in a go lang project, scaffolded with:
[code]

I'm running this command:
[code]

and getting this output:
[code]
I get this fine output when the lambda function loads up:
[code]

But then when I try to hit the endpoint it crashes with this error:
[code]

[2019-12-09 12:58] hom-bahrani commented on #775
@JimTheMan I've created an example here with instructions in the readme https://github.com/hom-bahrani/Go-serverless-local-docker

[2019-12-09 16:18] benjaminsims commented on #851
Thanks @gs11. I've confirmed that by increasing the payload size this will occur in Docker images as well, and updated the repository accordingly.

[2019-12-09 17:00] dnalborczyk commented on #851
@benjaminsims  thank you for raising this issue. couple things to note:

I'm not familiar with `serverless-offline-python` but looking over the code it seems to be a fork of `serverless-offline` and I think it should not be used in conjunction `serverless-offline`.

`serverless-offline` also supports `python`, but it's fairly buggy in `v5.12`. it invokes the `serverless` framework built-in functio

[2019-12-09 17:10] dnalborczyk commented on #775
@hom-bahrani @JimTheMan  `go` support (with docker) is on its way: https://github.com/dherault/serverless-offline/pull/845

[2019-12-09 17:14] dnalborczyk commented on #853
thank you for raising the issue @JimTheMan

your issue is somewhat related to: https://github.com/dherault/serverless-offline/issues/851#issuecomment-563333227  and hopefully will work with: https://github.com/dherault/serverless-offline/pull/845

[2019-12-09 18:46] benjaminsims commented on #851
Thanks @dnalborczyk - the issue was the same when using serverless-offline in v5 rather than serverless-offline-python.

However, switching to @6.0.0-alpha.52 not only resolved the problem, it reduced response time from 2.8 seconds to 0.08 seconds. Very impressive, thank you!

[2019-12-09 18:46] #851 closed

[2019-12-09 18:57] benjaminsims commented on #851
However, we are then hit by the logging bug - let me know if there's anything we can do to help in resolving that, thank you.

[2019-12-09 20:09] dnalborczyk commented on #851
@benjaminsims  that's great to hear! help would be greatly appreciated, as I'm not familiar with `python` at all. the refactor is loosely based on the `serverless framework` invocation. it should be fairly easy to fix, I just haven't found time to look into it yet. I'll give you some pointers in the issue itself: #847

[2019-12-09 20:17] dnalborczyk commented on #847
@benjaminsims  follow up from: #851

entry point for any "runner" (node, python, ruby) here:
https://github.com/dherault/serverless-offline/blob/ccb64177eb5a4d2b2d3b6c1f05045c1462e0bea7/src/lambda/handler-runner/HandlerRunner.js#L60

invoking this: https://github.com/dherault/serverless-offline/blob/ccb64177eb5a4d2b2d3b6c1f05045c1462e0bea7/src/lambda/handler-runner/PythonRunner.js#L52

which runs:

[2019-12-09 20:23] dnalborczyk commented on #851
there was (still is) quite a bit of redundencies in `v5.12`, e.g. `serverless-offline` spins up a child process to invoke `serverless invoke local`, which in turn spins up a child process as well.

[2019-12-09 21:52] dnalborczyk commented on #848
thank you for opening this issue @RhobW !

your issue is likely fixed by: https://github.com/dherault/serverless-offline/pull/854. it should be released in the next coming days.

[2019-12-10 03:59] JimTheMan commented on #853
Thank you @dnalborczyk, for I now I have dreams of a glorious tomorrow. 😄 🙏 🙏

[2019-12-10 04:00] JimTheMan commented on #851
Thanks @dnalborczyk, axiously awaiting the merge! 😃

[2019-12-10 12:59] benjaminsims commented on #847
Using `sls invoke local`, both logging output and the actual intended output was printed to stdout.

This only occurs when using standard Python logging; using `print()` statements will not cause the response to be empty (although the printed text will not appear in the sls offline logs, thought it will when using `invoke local`.

I also tried removing the `logging.basicConfig()` call from invoke.

[2019-12-11 14:32] dnalborczyk commented on #751
@JNaeemGitonga feel free to re-open this issue with providing a repro handler.

[2019-12-11 14:32] #751 closed

[2019-12-11 15:42] JNaeemGitonga commented on #751
Thanks, maybe one of these days I'll sit down and make one to show the
error.

On Wed, Dec 11, 2019 at 9:32 AM dnalborczyk <notifications@github.com>
wrote:

[2019-12-12 02:55] #207 closed

[2019-12-12 03:01] dnalborczyk commented on #710
@StelioBuono  feel free to re-open with some repro-steps.

[2019-12-12 03:01] #710 closed

[2019-12-12 03:06] dnalborczyk commented on #245
closing as stale.

[2019-12-12 03:06] #245 closed

[2019-12-12 03:10] dnalborczyk commented on #540
feel free to re-open with more information. unlikely a `serverless-offline` bug.

[2019-12-12 03:10] #540 closed

[2019-12-12 14:41] #847 closed

[2019-12-12 14:47] dnalborczyk commented on #847
@georgesbiaux @benjaminsims it seems we ignored `stdout` (with e.g. print()) from `python` other than the handler payload. python logging in turn went to `stderr` and that ignored the handler payload as well.

both should be [hopefully] fixed now.

[2019-12-12 14:58] dnalborczyk commented on #848
fixed with: #854. closing.

[2019-12-12 14:58] #848 closed

[2019-12-12 15:15] yn5 commented on #847
@dnalborczyk Seems fixed, thank you!

[2019-12-13 06:33] rohit-sourcefuse commented on #734
Any update on this feature guys?

[2019-12-13 14:08] Zn4rK commented on #793
If there's a way to expose the HAPI server that's running in the background via an event, it should be possible to make the opt-in for HMR depend on another plugin instead.

That way we could listen for a change with a file watcher, or webpack events, and then switch out the underlaying code. For me, it's more important that the work flow is speedy rather than that the environment is replicated 1:

[2019-12-13 14:09] juppdes opened #855 "Cannot stop server while in stopping state"
After upgrading serverless to version 1.59.3, began to experience the following error:
Note: I have the callback treatment in the function.

[code]

[2019-12-13 14:30] dnalborczyk commented on #793
I believe it's not easily and reliably achievable as far as I know. (see links and comments above)

this should work for any language being used, compiled or not. speedy workflow is important, yes, but it also has to be reliable, which it isn't in v5. you can search the issues for all kinds of problems and memory leaks.

I agree, it can be quite slow. Although I heard one can use `babel` to transp

[2019-12-13 14:46] dnalborczyk commented on #855
thank you @juppdes  for opening this issue.

It would be great if you would have used and followed the steps on the issue template. which version of this plugin are you using? how do you reproduce your problem?

[2019-12-13 14:48] juppdes commented on #855
Sorry about that. The serverless-offline plugin version is 3.33.0.

[2019-12-13 14:54] Zn4rK commented on #793
I did a quick and dirty experiment before writing the earlier comment, and I managed to get it to work with in-process HMR with the help of Webpack. But as you said, it's prone to memory leaks.

I totally agree! A feature shouldn't spawn a massive amounts of issues on Github :)

It's way faster - but I also utilise TypeScript transformers for some things. They are written with the TypeScript compi

[2019-12-13 15:17] Zn4rK commented on #793
Restarting the whole process could probably work, as long as it doesn't kill the project initialisation, that's why `nodemon` isn't viable for me - but doing the same with hooks and events could work. I had a quick look into the handler-runner, and that seems doable for at least child processes and worker-threads. :)

Also; Thank you for your work on v6 so far!

[2019-12-14 00:37] dnalborczyk commented on #855
@juppdes you should definitely update to the latest version of `serverless-offline`, currently `v5.12.1`. if your issue still persists, I'll have a look.

[2019-12-14 02:29] dnalborczyk commented on #855
@juppdes  closing. if you still have the issue with the latest version, please re-open this issue.

[2019-12-14 02:29] #855 closed

[2019-12-14 03:18] dnalborczyk commented on #823
thank you @justinlazaro-iselect  !

a little more information is needed, such as a `serverless.yml` file as well as a `handler` file. closing for now. if you are still experiencing this issue feel free to re-open this issue.

[2019-12-14 03:18] #823 closed

[2019-12-14 03:35] dnalborczyk commented on #747
the problem is that this exception is being thrown by the `aws-sdk`. I don't think it's a good idea to give it a special treatment over any other exception being thrown by any framework. although we could point it out in the documentation.

[2019-12-14 03:35] #747 closed

[2019-12-14 03:42] dnalborczyk commented on #517
closing. this should be fixed in `v6`. please re-open if the issue still persists.

[2019-12-14 03:42] #517 closed

[2019-12-14 07:50] im-danwu commented on #195
Thanks guys, I ran into this issue when I couldn't generate s3 presigned URLs locally. It should definitely use the provider profile if it's defined in the .yml

[2019-12-14 18:33] dnalborczyk commented on #195
@im-danwu  do you have some code or better a small repro to illustrate your issue?

[2019-12-16 10:18] alireza8101 commented on #50
any update?

[2019-12-17 03:41] dnalborczyk commented on #853
fixed in: https://github.com/dherault/serverless-offline/pull/845

[2019-12-17 03:41] #853 closed

[2019-12-17 03:42] dnalborczyk commented on #775
fixed in: https://github.com/dherault/serverless-offline/pull/845

[2019-12-17 03:42] #775 closed

[2019-12-17 03:53] dnalborczyk commented on #50
@alireza8101  do you have some repro code about the issue?

[2019-12-17 04:41] alireza8101 commented on #50
unfortunately no

[2019-12-18 01:19] dnalborczyk commented on #853
@JimTheMan we just released initial `docker` support with `v6.0.0 alpha 54`. feel free to give it a try and report back with any bugs or improvements.

[2019-12-18 01:26] dnalborczyk commented on #775
we just released initial docker support with v6.0.0 alpha 54. feel free to give it a try and report back with any bugs or improvements.

[2019-12-18 01:29] dnalborczyk commented on #622
@sime   we just released initial `docker` support with `v6.0.0 alpha 54`. feel free to give it a try and report back with any bugs or improvements.

[2019-12-18 01:37] dnalborczyk commented on #677
@brainstorm  if you ever wanted to give it a try: we just released initial `docker` support with `v6.0.0 alpha 54`. although currently it supports only [lambci](https://github.com/lambci/docker-lambda) containers, but we want to extend support for any containers. so it might not [yet] work for your scenario.

[2019-12-18 10:25] pSnehanshu opened #857 "Stage name in the URL not set"
Imagine we have a path defined in `serverless.yml` as `GET example`.
So by running `sls offline -s dev` command, `serverless-offline` will create the route `GET /example`. But API Gateway also prepends the stage name to the path. So, API Gateway would have created `GET /dev/example` route.
How to achieve that using `serverless-offline`?

[2019-12-18 14:03] dnalborczyk commented on #857
hey @pSnehanshu  thank you for opening this issue!

this is something I thought about adding. in the meanwhile you _might_ be able to facilitate [serverless variables](https://serverless.com/framework/docs/providers/aws/guide/variables/) (although I haven't tried it myself):

[code]

[2019-12-18 14:18] pSnehanshu commented on #857
@dnalborczyk thanks, but that won't be interoperable with API Gateway.

----
Sincerely,
Snehanshu Phukon

(Sent from mobile phone)

On Wed, 18 Dec, 2019, 7:33 PM dnalborczyk, <notifications@github.com> wrote:

[2019-12-18 21:26] #857 closed

[2019-12-18 21:28] dnalborczyk commented on #822
@justinlazaro-iselect  that's unfortunately currently not possible, as far as I know.

[2019-12-19 15:39] dnalborczyk commented on #775
@JimTheMan  you are still running an older version of `serverless-offline`. you have to install the alpha with: `npm install serverless-offline@next`.

[2019-12-19 21:35] dnalborczyk commented on #857
@pSnehanshu  you can give it a try with [v6.0.0-alpha.55 ](https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.55) . it supports `cli stage`, `yml provider stage` and `default (dev)`. feedback is welcomed!

[2019-12-19 23:00] pSnehanshu commented on #857
@dnalborczyk Thanks. That was fast! I will definitely try it.

[2019-12-20 02:25] dnalborczyk commented on #760
hey @tempofeng

sorry for following up so late. this bug should be fixed now. you can try the latest [v6.0.0 alpha.55](https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.55) to see if it solves your issue.

feel free to re-open this issue if you still encounter problems.

[2019-12-20 02:25] #760 closed

[2019-12-20 07:49] tempofeng commented on #760
@dnalborczyk thanks! will give it a try later

[2019-12-20 11:44] leny commented on #857
Hum... this seems to be a pretty big breaking change: from one alpha release to another, nothings work anymore, due to this stage prepending.

I got this error:

    Error: Path cannot end with a trailing slash when configured to strip: OPTIONS /dev/

I understand it can be useful, but I think it needs to be conditioned by an option flag.

[2019-12-20 15:21] dnalborczyk commented on #857
hey @leny  thank you for testing the `alpha` version!

that's why we are still releasing `alpha` tags, to allow for breaking changes, since we try to follow `semver`. breaking changes should be in the [release log](https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.55). there shouldn't be much more breaking changes coming, other than fixing _everything_ CORS related. beta ver

[2019-12-20 15:40] leny commented on #857
The only repro I have is to upgrade from `alpha-54` to `alpha-55`.

The function which cause issue seems to be this one (I let the second function here seems they are related):

[code]

The code for the function isn't really relevant, it's just sending some CORS-headers to the client as answer to the OPTIONS request.

I have the error directly when running `npx sls offline`.

[2019-12-20 15:46] dnalborczyk commented on #857
thank you @leny !

the issue seems to be: `path: /`. I'll have a look.

[2019-12-20 18:26] gauntface commented on #775
I just tried the latest version of serverless-offline on a go project and I'm getting `Error: Unsupported runtime` when hitting an endpoint.

This is the code point it hits: https://github.com/dherault/serverless-offline/blob/5dad34c2464d75c76678e7781fe97b8353418d5a/src/lambda/handler-runner/HandlerRunner.js#L77

[2019-12-20 18:38] gauntface opened #858 "Calling multiple endpoints on 6.0.0-alpha.55 with --useDocker causes port bind error"
## Bug Report

**Current Behavior**
I have multiple lambda functions and the first URL I access will work as expected. If I then access I second URL, i.e. a different function, I get the following error:

[code]

**Sample Code**

- file: serverless.yml

[code]

**Expected behavior/code**

Multiple functions to be accessible.

**Environment**

- `serverless` version: v1.58.0
- `serverless-offline`

[2019-12-20 19:55] hntrl opened #859 "Path cannot end with a trailing slash when configured to strip"
Running into an issue with the `6.0.0-alpha.55` release.

[code]

[code]

[2019-12-20 21:02] dnalborczyk commented on #859
hey @hntrl thanks for filing this issue. just fixed this with: https://github.com/dherault/serverless-offline/commit/75a6f3beb3d4889f724cfb06d3a4a7e59ca1c53c

[2019-12-20 21:09] dnalborczyk commented on #858
hey @gauntface thanks for filing this issue!

yes, you are right, docker needs a port for every lambda. the docker implementation is also fairly new, so there might be bugs. that being said, we have a port finder in place. we even have some tests covering this scenario. I'll have a look.

/cc @frozenbonito  if you have an idea.

[2019-12-20 23:30] dnalborczyk commented on #858
just tried to repro on `Ubuntu 19.10`, although with `node.js v10.15.2.` as well as `node.js as runtime` (as opposed to `go-lang`). no luck.

@gauntface  the port `54321` seems a bit high and kinda doesn't look like it's been "randomly" sequentially chosen. `portfinder` currently starts at port `9000` and scans up (as far as I know).

also, this message `Lambda API listening on port 9002...` is fr

[2019-12-20 23:58] frozenbonito commented on #858
I found the cause. It is golang image specific problem.

https://github.com/lambci/docker-lambda/blob/972e3e1fb117bd8c7ef2c43143e45db09e1824fb/go1.x/run/aws-lambda-mock.go#L82

[2019-12-21 00:01] frozenbonito commented on #858
It only occurs on linux because serverless-offline runs the container with host networking mode to access the host service (`e.g.` local MySQL).

[2019-12-21 00:20] dnalborczyk commented on #858
great, thanks again @frozenbonito !!

I suppose [the port](https://github.com/lambci/docker-lambda/blob/972e3e1fb117bd8c7ef2c43143e45db09e1824fb/go1.x/run/aws-lambda-mock.go#L82) should be set through the `env` variables as well (e.g. `DOCKER_LAMBDA_API_PORT`)?

[2019-12-21 00:34] dnalborczyk commented on #859
@hntrl  should be hopefully fixed with:  [v6.0.0-alpha.56](https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.56). thanks again for testing the alpha version!

[2019-12-21 00:34] #859 closed

[2019-12-21 00:35] dnalborczyk commented on #857
@leny   should be hopefully fixed with:  [v6.0.0-alpha.56](https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.56). thanks again for testing the alpha version!

[2019-12-21 01:10] frozenbonito commented on #858
@dnalborczyk

Yes, I think it would solve this problem. But if the `lambci/lambda` image come to use a new port, this problem would occur again (not only golang image).

Strictly speaking, I don't want use the host networking mode.

On windows and mac, docker provides the special DNS name `host.docker.internal`, which resolves to the internal IP address used by the host. However, it is not support

[2019-12-25 11:39] elcolie commented on #667
I have this bug here is my dependencies version
[code]
Python 3.8.0

[2019-12-27 19:35] dorsegal commented on #768
Just updated to the latest alpha release and noticed the --prefix option was removed.
Will there be an alternative?

[2019-12-27 23:51] dnalborczyk commented on #768
@dorsegal  yes, there is an alternative! the `stage` parameter is now implemented in `serverless-offline` and provides the same functionality:

[code]
or as cli parameter: `--stage foo`

[2019-12-28 00:41] im-danwu commented on #195
Hey I don't have a simple set of code since the problem affects multiple parts of the app.

But my problem is pretty straightforward. My serverless.yml uses my `serverless` AWS profile creds to manage my AWS resources. When the app is up and running on AWS, the lambda functions use the same set of creds for accessing those resources. However, using serverless-offline, it wasn't loading those defau

[2019-12-28 02:32] dorsegal commented on #768
@dnalborczyk I noticed that as well but I'm it isn't really alternative for me.
I use serverless-domain-manager with basePath option that sets the URL for every microservice we have.
[code]
And without the prefix option, I cannot to it offline instead, I'm getting this:
[code]

[2019-12-28 04:07] dnalborczyk commented on #768
@dorsegal

what would you like it to be?

it seems custom parameter `basePath` is something `serverless-domain-manager` implements (or extends to `serverless`). you could either try the formerly mentioned `stage` (defaults to `dev`), or you could try custom variables in paths for serverless config yaml. or, as an alternative, you could suggest an implementation/extension to `serverless` directly.

[2019-12-28 07:56] computerpunc commented on #768
@dorsegal

To help understand better, can you describe your staging strategy when not running on production (dev, test, etc.)?
And what is you strategy when running locally? Since you have a different yml file for each microservice , you cannot run all of them at the same time on the same port locally?

[2019-12-30 08:33] deepakgonda opened #861 "When Used With KnexJs, creates pool of connection, which is not released, eventually full all the connections"
## Bug Report

**Current Behavior**

I am using KnexJs to connect to my Postgres Database using the serverless application. The problem is when I use serverless offline plugin, KnexJs creates the connection to DB on every request and then when request is finished, it releases connection to the pool in idle state, which is never closed. I check this using following query:
`select * from pg_stat_act

[2019-12-30 09:00] dorsegal commented on #768
@computerpunc

We use multi repo to manage all of our microservices and domain manager for different environments.
When running locally I tell my devs to run their service on localhost and just change the URL in postman
from `https://dev-application.example.com/`
to `https://localhost:3000`
This is why we need to have the prefix option to work.
Till now I used the stage param to test code against

[2019-12-30 09:14] deepakgonda commented on #861
This issue seems to be serverless-offline pluging b/c KnexJs perfectly works with normal express applications without any such issue.

[2019-12-30 11:43] computerpunc commented on #768
@dorsegal

Then isn't this a solution to the problem?

Run each microservice in the docker container on a different port, for example, microservice1 on `http://localhost:3000`, microservice2 on `http://localhost:3001`, etc. and let Nginx reroute to expose a single application, for example, `https://localhost:8000/microservice1/xyz` goes to `http://localhost:3000/dev/xyz`, `https://localhost:8000/m

[2019-12-30 12:01] dorsegal commented on #768
@computerpunc
This is exactly what I'm trying to do but I facing issues with it so I cannot say this works just yet.
And as I mentioned, we don't need the docker solution right now and it's quite an overkill for developing one service at a time.

Any chance you will reconsider adding the prefix option again?
I really like the alpha version but I'm afraid I cannot upgrade without --prefix option

[2019-12-30 17:07] dnalborczyk commented on #861
hey @deepakgonda  thank you for the detailed bug report. you are very likely running into a known issue, which keeps resources, including memory, hanging around after a handler reload.

you have 2 options: you can either migrate your project to use `serverless-offline` v6 (alpha), where this issue doesn't exist anymore, or if you want to keep using `v5.x`, you should set the `skipCacheInvalidation

[2019-12-30 17:12] dnalborczyk commented on #861
feel free to re-open if the above suggestion doesn't fix your issue or if you have any other questions/problems.

[2019-12-30 17:12] #861 closed

[2020-01-03 16:27] #858 closed

[2020-01-04 00:10] AndrewStoliarov opened #862 "Not working lambda invoke async"
## Bug Report

**Current Behavior**

**Sample Code**

- file: serverless.yml

[code]

- file: handler.js

[code]

**Expected behavior/code**

**Environment**

- `serverless` version: [e.g. v1.59.3]
- `serverless-offline` version: [e.g. 6.0.0-alpha.58]
- `node.js` version: [e.g. v12.0]
- `aws-sdk` version: [e.g. v2.589.0]
- `OS`: [e.g. macOS 10.15.2]

**Error**
ResourceNotFoundException
The resourc

[2020-01-04 02:10] dnalborczyk commented on #862
hey @AndrewStoliarov  thank you for the bug report! we could implement this, although this functionality is deprecated: https://docs.aws.amazon.com/lambda/latest/dg/API_InvokeAsync.html   In the meantime you can use [invoke](https://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.html) with `InvocationType: 'Event'`

[2020-01-04 07:55] AndrewStoliarov commented on #862
Thanks for the response.

[2020-01-05 02:45] #862 closed

[2020-01-06 10:36] dorsegal commented on #768
@dhruvbhatia I noticed you linked my request to another plugin. Could you please explain how those issues are related? (just out of curiosity)

[2020-01-06 18:36] DennisKo commented on #768
With serverless-offline `6.0.0-alpha.59`, `serverless-webpack`+`typescript` hot reloading is not working.

The easiest way to replicate is to use this template: `serverless create --template aws-nodejs-typescript --path myService`

Then do `yarn add -D serverless-offline` and add it to `serverless.yml`:
[code]

`sls offline` to start -> check response when calling endpoint. change `message` in `ha

[2020-01-07 03:54] dnalborczyk commented on #768
@DennisKo  re-implementing hot-reloading is on the road map for `v6`. it's currently not working, even without `serverless-webpack`.

[2020-01-07 18:15] fabien-h opened #864 "Lambda code not updating / kept as cache"
## Bug Report

**Current Behavior**

When changing the code, I get the compiling message:

[code]

When I check inside the .build folder, the code is updated. But the server use the previous code. As if it was cached.

**Sample Code**

- file: serverless.yml

[code]

- file: handler.js

[code]

**Expected behavior/code**

**Environment**

- `serverless` version: 1.60.5
- `serverless-offline` 6.0.0

[2020-01-08 11:21] fabien-h commented on #864
To reproduce:
`git clone git@github.com:dherault/serverless-offline.git`
`cd examples/tools/serverless-plugin-typescript`
`npm i`
`sls offline`

Then
`curl http://localhost:3030/dev/hello`
=> {"hello":"serverless-plugin-typescript!"}

Then change the response
`body: stringify({ hello: 'hello not reloaded' }),`
and
`curl http://localhost:3030/dev/hello`
=> {"hello":"serverless-plugin-typescript!"}

[2020-01-08 13:33] binaryPUNCH opened #865 "What's the point of this if I can't even debug with breakpoints and step through the code?"
Kind of silly isn't it, or am I missing somethign? Back to SAM it is :(

[2020-01-08 13:43] jamesmbourne commented on #768
I think I have found an issue with the introduction of the stage parameter into the URL.

Within API Gateway, an API with a URL such as `https://**********.execute-api.eu-west-2.amazonaws.com/stage/foo/bar` will pass the `event.path` property through to the Lambda as `/foo/bar`, stripping out the stage parameter.

This causes issues for Lambdas using Express, which handles the routing internally.

[2020-01-08 14:27] binaryPUNCH commented on #865
Oh, my apologies. You can https://medium.com/@OneMuppet_/debugging-lambada-functions-locally-in-vscode-with-actual-break-points-deee6235f590

[2020-01-08 14:27] #865 closed

[2020-01-08 14:46] fabien-h commented on #864
I made a PR for this issue: https://github.com/dherault/serverless-offline/pull/866

I have no idea if there are side effects. Plus, we should probably have a flag to disable it.

[2020-01-08 15:11] KingDarBoja commented on #768
Got the same issue as above while trying to test some Angular + Express + Serverless integration, as everything works fine after deployment but unfortunately, the `serverless-offline` plugin is prefixing all urls with the `stage` parameter, making it impossible to load assets and such while testing offline.

[2020-01-09 00:36] dnalborczyk commented on #864
hey @fabien-h  thanks for opening this issue. I added some comments in your PR. we are working on a solution to this problem.

to expand a little bit more: the reloading in `v5` has 2 sides, it's convenient, but it causes memory leaks. so which one do you choose? therefore in v6 we'll put hot-reloading behind a flag, probably with an additional warning, because the memory leaks will remain. a non-

[2020-01-09 08:04] fabien-h commented on #864
Ok that’s an unfortunate side effect.

What about using decache ? https://www.npmjs.com/package/decache

Instead of just dereferencing the module from the cache object, it will remove all the related files. Should fix the memory leak.

[2020-01-09 10:05] dnalborczyk commented on #864
@fabien-h   https://github.com/dherault/serverless-offline/issues/793#issuecomment-527426496 https://github.com/dherault/serverless-offline/issues/793#issuecomment-527456361

[2020-01-09 10:08] dnalborczyk commented on #793
@Zn4rK

yes, for `worker threads`! `child-processes` (as currently implemented) already load a _new handler instance_ on each call.

[2020-01-09 10:30] dnalborczyk commented on #768
@jamesmbourne  @KingDarBoja   thanks for the report. I'll have a look!

[2020-01-09 14:30] Dong9769 opened #867 "offline: handler 'hanlder' in indexParcel is not a function"
## Bug Report

**Current Behavior**

**Sample Code**

- file: serverless.yml

[code]

- file: indexParcel.js

[code]

**Expected behavior/code**

**Environment**

- `serverless` version: [e.g. v1.54.0]
- `serverless-offline` version: [e.g. v6.0.0]
- `node.js` version: [e.g. v12.14.1]
- `OS`: [e.g. macOS 10.13.4, Windows 10, Ubuntu 16.04]

_optional, if you are using any of the following frameworks

[2020-01-09 14:35] Dong9769 commented on #867
after run command sls offline start, and send http request, the terminal reports error "offline: handler 'hanlder' in expressRoutes/indexParcel is not a function
", I try slove this problem, but it's not helpful,  anyone has idea for this problem, thank you very much, thank you.

[2020-01-09 16:46] KingDarBoja commented on #867
@Dong9769 You have a typo on your `serverless-yml` file:

[code]

It should be:
[code]

[2020-01-10 01:28] Dong9769 commented on #867
@KingDarBoja Thank you, I was so careless. when the problem occurs in terminal, at first, I checked the spelling, I didn't find this problem. Thank you very much.

[2020-01-10 02:32] KingDarBoja commented on #867
You're welcome. Please close the issue as this wasn't a bug with the package itself 🍰

[2020-01-10 02:35] #867 closed

[2020-01-11 13:00] dnalborczyk opened #868 "Wrong path/resource/resourcePath in Lambda events"
## Bug Report

https://github.com/dherault/serverless-offline/issues/768#issuecomment-572057751

https://github.com/dherault/serverless-offline/issues/768#issuecomment-572113115

[2020-01-11 13:20] #868 closed

[2020-01-15 16:22] k00k commented on #768
Am I correct in understanding that there's currently no way to **not** have the stage as the first segment of the path in the URL? My goal would be to have my dev host be http://localhost:4000/ (like it's been for years and as I expect most people expect it to be) and NOT http://localhost:4000/development

I shouldn't have to empty the `provider.stage` prop for this to happen.

[2020-01-15 16:39] leny commented on #768
As it has been said, it’s very difficult to understand this change.
I know this is the behavior of AWS and we’re just adding some domains as « aliases » to the complete url (with the stage) of the service.

But the developer experience, for this kind of, huh, developer tool, should be the main focus while developing this plugin.

I think there’s a solution that can make everyone happy: let the new

[2020-01-17 16:44] apoorvHearth opened #869 "Not receiving the request body, in the event.body when making GET request to the endpoint"
I have set up three different http events for the same end-point "/product" (GET, POST, PUT), but I don't receive the request body which is a json in the event.body parametre when I make a GET request to the endpoint,  even though lambda-proxy integration is enabled. POST and PUT request work fine.

[2020-01-17 17:15] horaciomo commented on #598
Hello, any update on this? Not pushing or requesting, just want to know what are the plans on this in order to make decision about how to design the Serverless architecture for our apps.

Thanks!

[2020-01-18 00:32] OmarKhattab commented on #454
same issue serverless-offline wouldnt work in devDependencies

[2020-01-18 01:16] dnalborczyk commented on #869
hey @apoorvHearth  would you mind giving more detailed information and filling out the issue template? specifically which version of the plugin are you using? could you also provide some repro steps, or better a small repro repository?

[2020-01-18 10:58] apoorvHearth commented on #869
I am using version 5.12.1, and regarding the reproduction steps here is my serverless yml :-

`functions:
  hello:
    handler: index.handler
    events:
      - http: GET product/all
      - http: PUT product/all
      - http:
          path: /product/all
          method: post
`
and here is my handler file

`exports.handler = async event => {
  console.log(event.body
}
`

Just make a GET, POST,

[2020-01-18 12:18] dnalborczyk commented on #869
@apoorvHearth `aws` doesn't seem to support `get` requests with payloads either. you can verify and deploy to aws and cross-check. feel free to re-open if this is not the case.

[2020-01-18 12:20] apoorvHearth commented on #869
I have a lambda function already deployed on AWS which supports request body for GET requests when lambda proxy integration is turned on. I can confirm this.

[2020-01-18 12:35] dnalborczyk commented on #869
I wasn't able to make a successful request to GET with a payload.

`lambda proxy integration` is the default. are you using `lambda integration` maybe?

[2020-01-18 12:50] apoorvHearth commented on #869
Yep you are right, so is there any to replicate that in serverless, using lambda integration ? I tried using the template option with lambda integration turned on

`
   integration: lambda
   request:
       template: { body: $input.json('$') }
`

but that didn't work

[2020-01-19 07:11] apoorvHearth commented on #869
Don't you think its a bug that even after turning lambda integration on, the request body is not passed to the GET request handler as event.body ? @dnalborczyk

[2020-01-19 18:17] dnalborczyk commented on #869
@apoorvHearth it might be a bug, I haven't looked into it yet. I also don't know much about `lambda integration` /cc @dherault

[2020-01-20 09:08] jdrydn commented on #598
@horaciomo I'd recommend using the ALB, and writing unit-tests for your functions to ensure they're working as expected, until such support comes to this plugin? That way, you can still use the ALB, plan your architecture with no interruptions & take advantage of such updates as-and-when?

[2020-01-20 13:44] pvsvamsi commented on #464
@dnalborczyk Any update or workarounds on this issue?

[2020-01-20 22:37] ffxsam commented on #864
Same issue here, with the `aws-nodejs-ecma-script` template. I can see in `.webpack/` that the code is updated, but the running server doesn't reflect the code update.

[2020-01-21 19:49] apoorvHearth commented on #869
@dnalborczyk can you mark this as a bug ?
One more thing, I tried the same thing on aws with lambda proxy integration turned on, the request body is available in the GET request handler under event.body.

[2020-01-22 08:50] brainstorm commented on #677
Thanks @dnalborczyk it does work but it is indeed pretty slow:

[code]

I wonder if there is any trick you guys use to have that walltime significantly reduced? At the moment launching "real" lambdas is actually faster compared to `serverless-offline` on my current machine (MacBook 12" 2017, 1.4GHz dual core).

/cc @softprops

[2020-01-23 18:53] sami616 opened #870 "Cant get path: /{proxy+} to work"
Excuse me if im misunderstanding how this _should_ work, im fairly new to the serverless world.

I want to avoid having to explicity list all of my routes in my `serverless.yml` file so have used the catch all `{proxy+}`.

When i run `sls offline start` i see one route listed 👇🏼

` ANY | http://localhost:3000/dev/{proxy+} `

However, when i try to access for example `localhost:3000/dev/test-one` i

[2020-01-24 11:35] dnalborczyk commented on #870
hey @sami616  just glancing over your issue, this might be a question for [serverless-express](https://github.com/mikestaub/serverless-express).

[2020-01-24 11:44] sami616 commented on #870
turns out this works with latest stable version of serverless-offline (removing /dev from the url) it seems the @next version of the package breaks this {proxy+}  functionality.

[2020-01-24 12:23] #819 closed

[2020-01-24 23:07] glani opened #871 "Loading native module causes Error: Module did not self-register. After first call"
## Bug Report

**Current Behavior**

I have experienced weird behavior.

Simple lambda that uses native module causes error after the first call

**Sample Code**

- file: serverless.yml

[code]

- file: processMedia.ts

[code]

**Expected behavior/code**

**Environment**

- `serverless` version:

Framework Core: 1.61.3
Plugin: 3.2.7
SDK: 2.3.0
Components Core: 1.1.2
Components CLI: 1.4.0

- `serve

[2020-01-25 15:26] coyoteecd commented on #768
@dherault @dnalborczyk I'm not sure if you guys realize that removing a stupid one-liner in the plugin citing "complexity" is forcing many other people to put more work into their projects just to get around it. See also the link to serverless-dynamodb-client which is now broken. As the comment above says, the goal of this plugin is to make our lives easier. This change is not doing that.

Not eve

[2020-01-27 07:39] coyoteecd commented on #719
For anyone finding this, I can confirm that [serverless-offline-assume-role](https://github.com/janders223/serverless-offline-assume-role) works in combination with serverless-offline. I am using serverless-offline 6.0.0-alpha.62, just follow the instructions in the readme and you're set.

[2020-01-28 02:43] #834 closed

[2020-01-28 02:44] #702 closed

[2020-01-28 08:40] ticatwolves opened #873 "Error: Cannot find module '@babel/register'"
cant start serverless offline it gives the error

**Error: Cannot find module '@babel/register'**

  Error --------------------------------------------------

  Error: Cannot find module '@babel/register'
  Require stack:
  - /home/shobhit/Projects/abc/abc.serverless/node_modules/serverless-offline/dist/main.js
  - /home/shobhit/.nvm/versions/node/v13.0.0/lib/node_modules/serverless/lib/classes/Pl

[2020-01-28 09:07] ticatwolves commented on #873
was just a dependency error

npm install --save-dev @babel/register
npm install --save-dev @babel/core

after installing both works fine

[2020-01-28 15:19] balintpeak opened #874 "Start serverless-offline programatically"
Hi,

Is there a way to start and stop serverless-offline programatically from a node script?

I would like to start the server before running my tests against it, then shut it down after the tests have finished running.

With jest, there are two separate files which can be used for this, `globalSetup` (https://jestjs.io/docs/en/configuration#globalsetup-string) and `globalTeardown` (https://jestjs

[2020-01-28 15:52] dherault commented on #874
Hi @balintpeak ,

This can be achieved using `child_process.exec` or `child_process.spawn` like so:
[code]

[2020-01-28 17:55] balintpeak commented on #874
Hi @dherault,

Thanks for the quick answer.
Can you recommend a way to be able to tell whether is has actually started or not?

Using `exec` I could not find a way to reliably wrap it in a promise and resolve when `serverless-offline` has successfully started.

The callback gets called when an error occured but does not get called when the server actually started.

[code]

[2020-01-28 18:38] arnas commented on #874
@balintpeak what about listening `serverless-offline` `stdout` (i.e https://stackoverflow.com/a/10232330) and if it contains string ` [HTTP] server ready:` you know that it should be up.

[2020-01-28 22:20] balintpeak commented on #874
thank you @arnas, using `spawn` instead of `exec` did the trick!

[2020-01-28 23:34] #874 closed

[2020-01-29 12:56] adgrace opened #875 "serverless-offline@6.0.0-alpha.63 missing @babel/register dependency"
We are getting the following error when we deploy in our CICD pipeline. Have retried on previously successful deployments and they all fail with the same error message.
2020-01-29T12:20:15.7312610Z   Error --------------------------------------------------
2020-01-29T12:20:15.7312962Z
2020-01-29T12:20:15.7313917Z   Error: Cannot find module '@babel/register'
2020-01-29T12:20:15.7314111Z   Require

[2020-01-29 14:50] ashline commented on #819
@oleksiipysanko did you solve your issue? I am running into the same

[2020-01-29 16:16] dnalborczyk commented on #875
thank you @adgrace ! that seems to be a `npm publish` gone wrong with local files still present. I'll have a release out in the next minutes.

[2020-01-29 16:18] dnalborczyk commented on #873
@ticatwolves   I think you were right. related: https://github.com/dherault/serverless-offline/issues/875
it's an `npm publish` gone wrong.

[2020-01-29 16:26] BrunoQuaresma commented on #875
👀

[2020-01-29 16:31] dnalborczyk commented on #875
should be fixed in: https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.64

[2020-01-29 16:32] #875 closed

[2020-01-29 16:32] dnalborczyk commented on #873
@ticatwolves  should be fixed with: https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.64

[2020-01-29 16:32] #873 closed

[2020-01-29 20:29] petermorlion opened #876 ".NET Core Support"
I notice there is Docker support and that it should, in theory, allow .NET Core support (mentioned in #845).

I'm wondering if this has been tested and/or should work out of the box or if there is more work to be done. Because the docs don't mention .NET Core.

If there is more work to be done, I'd be glad to help. I've tried running the aws-csharp example (with a slightly modified serverless-offl

[2020-01-29 22:22] pragmaticivan commented on #768
Anyone else experiencing issues with the docker integration?
I keep getting:

[code]

First time I set up it to run it works for a few seconds and then stops working.

I'm using it with a Golang Project.

[code]

[2020-01-29 22:31] leny commented on #768
Hi,

Since version `6.0.0-alpha.63`, I got the following error when using `invoke local` command:
`$ ./node_modules/.bin/sls invoke local --function sync_users`

[code]

[2020-01-29 23:02] pragmaticivan commented on #768
Thoughts on replacing `execa` usage on docker runner and use https://github.com/apocas/dockerode instead?

[2020-01-29 23:23] frozenbonito commented on #876
I think artifact support is required for .NET core support, but it is ommited in initial docker support (mentioned in https://github.com/dherault/serverless-offline/pull/845#issuecomment-566592798, https://github.com/dherault/serverless-offline/pull/845#issuecomment-567148847).
ref: https://serverless.com/framework/docs/providers/aws/guide/packaging#artifact

I would like to create a new PR about

[2020-01-30 00:50] dnalborczyk commented on #876
@petermorlion current `ruby` and `python` support is pretty much based on the `serverless` implementation: https://github.com/serverless/serverless/blob/master/lib/plugins/aws/invokeLocal/index.js

I suppose the `docker` support more or less as well @frozenbonito ? is that the way `serverless` supports `.net`?

[2020-01-30 03:46] frozenbonito commented on #768
@pragmaticivan

I want to investigate the bug, but I was not able to replicate it locally.
Could you create a new issue and provide the following infomation?
- `SLS_DEBUG=* sls offline` log
- output of `docker ps -a -f "ancestor=lambci/lambda:go1.x"` when error occured

It may be related to lambda function cleaner (it cleans lambda function which is idling over 1 minute, please refer to the follow

[2020-01-30 04:31] pragmaticivan commented on #768
@frozenbonito Right now I doubt it's related to the lambda cleaner, I was able to perform a request to `http://localhost:9001/2015-03-31/functions/hello/invocations` as a POST replicating the same request, it works, and returns 200. Something really weird happens between creating a http request to the docker container and the port used for that. Trying to investigate.

[2020-01-30 04:41] pragmaticivan commented on #768
@frozenbonito Could you point me in the right direction here? I know it's expected that runners could be instantiated every single request. But for docker, we might want to preserve a Singleton ? Right now every request creates a new container with a different port, because of course there will be always a new instance of `DockerRunner` and `DockerContainer`

[2020-01-30 04:59] pragmaticivan commented on #768
@frozenbonito I was able to figure out the main problem.

Looks like the container is not ready by the time it performs a new `request`. For tests, I was able to put a sleep timer and it started working again. That's one of the reasons I suggested using dockerode so it could properly rely on streams and callbacks for things to be ready.

[2020-01-30 16:25] frozenbonito commented on #768
@pragmaticivan
Thank you for your investigation.

I see, but I think `dockerode` cannot not fix this issue.
`serverless offline` have to wait for API server starting in container, but it is impossible to get the status of program in the container via docker API.
Therefore, `serverless offline` waits for the API server startup by parsing the output.
https://github.com/dherault/serverless-offline/bl

[2020-01-30 16:46] pragmaticivan commented on #768
@frozenbonito I agree with you, it feel like `lambci/lambda` should have some sort of healthcheck and only change its container status/state to running when it's properly ready to be used. And on our side we would need a way to verify that.

[2020-01-30 19:27] pragmaticivan commented on #768
Another suggestion for the docker integration. We might want to be able to broadcast `stdout` and `stderr` of function.

ex: I have a Golang function that prints some stuff on `stdout` and right now that doesn't show anything in my terminal.

It works when I do `sls invoke local -f myfunc` though.

[2020-01-31 02:27] benhutchins commented on #846
Not sure this is worth closing… it seems like a major fault of the offline emulation, given this is designed for development. Having to restart the offline server with each file change is quite slow. I do understand that sometimes it could lead to memory leaks, and I can understand it being an opt-in feature, however, this was pre-existing functionality so removing it is a breaking change. It has

[2020-01-31 03:45] frozenbonito commented on #768
@pragmaticivan

I tried `fmt.Println()`, `fmt.Fprintln()` (to stdout), and `fmt.Fprintln()` (to stderr) but their output appeared in `serverless-offline` log (but their order did not seem to be kept). What kind of code does not show output?

Output order issue may be related to `execa`, so I hope `dockerode` will fix this.

[2020-01-31 20:25] pragmaticivan commented on #768
@frozenbonito I found out that the stdout was actually my problem when refactoring:

Using `dockerrode` solves the problem:

[code]

Just tested using `github.com/sirupsen/logrus` for the first 4 and `fmt.Println()` for the last one

[2020-01-31 22:38] arnas commented on #768
Is there any date for this branch release as a stable npm package?

[2020-02-01 17:30] shadrech commented on #598
Anyway this can be supported @dnalborczyk . Would really make our dev lives much easier, especially since ALB seems to be a really good alternative to API Gateway. Even happy to reward with a couple of coffees for this feature 😉

Thanks

[2020-02-01 21:14] coyoteecd opened #878 "Scheduled event undefined when "input" not specified in serverless.yml"
The newly-introduced scheduled event support that was added in master passes the value of "input" parameter defined in serverless.yml. This works okay both in offline mode and in AWS. However, if the input is not defined in serverless.yml, AWS will supply its own event info (see ScheduledEvent in @types/aws-lambda) with a payload as follows:

[code]

I would like the same behavior to be reflected

[2020-02-01 23:17] thebeanogamer commented on #768
Hey there,

I've been having a problem with slow execution times on Serverless-Offline v5 with Python, which v6 seems to fix, but I think I've found another problem. As far as I can tell, function names which include paths don't seem to be supported yet.

For example, I have functions which are layed out like this:

[code]

In version 5 (and normal `serverless`) this will run the `homepage` functi

[2020-02-02 02:15] dnalborczyk commented on #878
thank you for filing the issue @coyoteecd !

[2020-02-04 11:51] cklam2 commented on #878
Very interesting, we're seeing the exact same problem here. Solution works well but we prefer using packages from npm. @dnalborczyk any idea when there will be a new alpha release?

[2020-02-04 12:40] dnalborczyk commented on #878
@cklam2  should be soon. the only item left is the time format needing to be fixed.

`time: '2020-02-01T20:12:41Z'` vs: `new Date().toISOString() '2020-02-04T12:39:16.851Z'` (just a nit, but aws returns no milliseconds)

[2020-02-05 03:07] hntrl opened #881 "Use `serverless.cli.consoleLog` for logging routes"
Currently, logging routes just uses console.log. Gets pretty annoying when you're trying to suppress serverless. (i.e. `serverless.cli = { log: () => {} }`

https://github.com/dherault/serverless-offline/blob/59ff77f18745c11d527aaff78220b6c9b36a7249/src/serverlessLog.js#L60-L70

[2020-02-05 03:12] denakitan commented on #768
Regarding the error below:

[code]

I retook a project that I hadn't touch for a couple of weeks and got this error even though it was not happening before. For a service containing 3 functions, the first function called succeeded and kept succeeding even on subsequent calls, but calling the others were causing the error.

I updated Docker very recently on my Mac so, just to try, I downgraded it a

[2020-02-05 03:43] dnalborczyk commented on #881
can you elaborate @hntrl ?

[2020-02-05 05:17] hntrl commented on #881
This is my script to start serverless-offline
[code]
The purpose of `sls.cli = ...` is to "take the logging" out of serverless and serverless-offline. This works except for when routes are logged.

[code]

[2020-02-05 09:43] computerpunc commented on #768
@dherault @dnalborczyk
As today is the 6 months “anniversary” for the alpha, I too would like to know what is the timetable for a 6.x release. I’m still using a modified 5.x.

[2020-02-05 11:50] dnalborczyk commented on #768
@leny  alpha.64 should fix your problem (63 was a borked release). `npm install serverless-offline@next`. try to verify the module version in `package.json` in `node_modules`. if you are still experiencing the error, wipe npm modules and re-install with `npm ci`.

[2020-02-05 11:55] dnalborczyk commented on #768
@denakitan there might be a problem with docker **v2.2.0**. the tests are locally failing for me as well - at least on macOS Catalina. I'll have to look into it.

[2020-02-05 11:58] dnalborczyk commented on #768
@thebeanogamer

I'll try to have a look the next coming days.

can you be a little more concrete?

[2020-02-05 12:19] dnalborczyk commented on #768
@arnas @computerpunc

the alpha moniker is just a name. it allows us to break things. other than that the plugin should be fairly "stable".

as far as I'm concerned I have the following _breaking_ things left on my plate:
- remove the CORS flags (as I believe they are not needed, but I haven't found time to understand what the past use case even has been). **this is the main hold-up. if you could

[2020-02-05 13:07] dnalborczyk commented on #878
re-opening as reminder

[2020-02-05 16:35] computerpunc commented on #768
@dnalborczyk
When I'm referring to a stable version, it's not only above no breaking changes but also about feature complete.
So my question is when will 6.x going to be feature complete? Specifically, when are #732 &  #814 going to get into 6.x?
In addition, I think @arnas had a different question. If I understood correctly, the question is when will 6.x going to be delivered when executing `npm

[2020-02-05 19:27] iDVB commented on #864
I'm having a similar issue.
Re-running `sls offline` seems to pickup all changes... but watch is not.

[2020-02-05 20:20] thebeanogamer commented on #768
@dnalborczyk

🙌 Thanks!

Some of my functions use Jinja to render pages which are then returned in the function body. In the production environment, I use serverless-domain-manager to make all urls relative to `/`, (e.g. `/index.html`, `/robots.txt`), whereas in Offline v6, the paths include stage (so those examples would be `/dev/index.html` and `/dev/robots.txt`). This means that it's very diffi

[2020-02-06 01:19] denakitan commented on #768
@dnalborczyk

Thanks! Yeah, I believe so too as it's been smooth on v2.1.0.5. Other than that, just want to add that Golang support in v6 Alpha came at the right time for me and it's been working great. Thanks a lot!

[2020-02-06 07:39] computerpunc commented on #768
@dnalborczyk
After playing around a bit with `alpha`, I think that the default stage of `serverless-offline` should be a different one than the default stage of `serverless`. @jamesmbourne selection of **local** is good choice instead of **dev**.

[2020-02-06 10:34] mateuszkurtas-autodata commented on #322
I have same problem with `npm run sls offline start`

[2020-02-06 12:01] kis25791 commented on #819
@oleksiipysanko I also face to this issue. Looking forward the reply

[2020-02-06 12:49] winseros opened #882 "Response schema is different from serverless"
The plugin uses the following endpoint responses object schema:

[v6](https://github.com/dherault/serverless-offline/blob/a6e0bef2e5999634219794d40f2097c37a12ab12/src/events/http/OfflineEndpoint.js)
[v5](https://github.com/dherault/serverless-offline/blob/v5.x-release/src/config/offline-endpoint.json)

Meanwhile, serverless uses another schema: see [Custom Status Codes](https://serverless.com/fram

[2020-02-06 14:12] leny commented on #768
I didn't had time to test on **alpha.64** ; tested just now with **alpha.65** and it's fixed.
Thanks!

[2020-02-06 14:44] sprksh commented on #598
Yeah badly needed.

[2020-02-06 17:41] shadrech commented on #598
Been tryna open a bounty for this but site is acting up (http://bountysource.com). If someone manages to open up I'll gladly contribute

[2020-02-06 23:14] retgits opened #883 "Connecting to local DynamoDB Local gives different results"
One of the functions I want to test locally connects to DynamoDB, which I'm running inside a Docker container locally.

I've installed the serverless-offline plugin, as suggested: `npm install serverless-offline@next --save-dev`

I've created the table using the command

[code]

The code that runs inside my function, which lists the tables is

[code]

When I run my Lambda functions with serverless

[2020-02-09 11:58] frozenbonito commented on #883
Isn't `<my-ip>` inaccessible from the container?
Please try to use `host.docker.internal` (is special DNS name which resolves to the internal IP address used by the host) instead of `<my-ip>`.

[code]

[2020-02-09 13:38] dnalborczyk commented on #882
hey @winseros probably not by design, that might be just a bug. I believe the majority (including myself) are using `lambda proxy integration` (also recommended by the `serverless framework`).

If you could elaborate a bit more on your issue (input/output), including a lambda handler, someone might have a look.

[2020-02-09 13:48] dnalborczyk commented on #878
@coyoteecd @cklam2 fix has been released in https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.65  (the time milliseconds fix is not in there yet)

[2020-02-09 14:18] #878 closed

[2020-02-09 16:51] retgits commented on #883
I’ll give it a try, though both Serverless-Offline and the AWS SAM CLI rely on the same container (lambci) to run the code. I’ll report back later today.

[2020-02-09 17:40] mattpocock opened #885 "Setting the httpPort option doesn't work"
## Bug Report

Neither the CLI option `--httpPort` or the yaml setup below changes the http port - it keeps sticking to 3000.

**Sample Code**

[code]

**Expected behavior/code**
I expect that the port should change to 4000.

**Environment**

[code]

[2020-02-09 22:01] dnalborczyk commented on #885
hey @mattpocock  with `v5.x` you have to use the `port` option. unfortunately the `master` README contains the information for the `v6` release branch.

https://github.com/dherault/serverless-offline#important

[2020-02-09 22:02] #885 closed

[2020-02-10 08:00] winseros commented on #882
@dnalborczyk, thank you for your reply!

I made an [example repo here](https://github.com/winseros/slss-offline-lambda-example).

If you take a look at [serverless.yml](https://github.com/winseros/slss-offline-lambda-example/blob/master/serverless.yml) you notice there are [request](https://github.com/winseros/slss-offline-lambda-example/blob/3969959f169a4d24679a7fad31f2bd11acdb9386/serverless.yml

[2020-02-10 08:19] coyoteecd opened #886 "TypeError (0 , _index.createUniqueId)(...) is not a function for scheduled events"
After updating to serverless-offline v6.0.0-alpha.65, my scheduled events crash with the following error message:
`Failed to execute scheduled function: [my-scheduled-function] Error: TypeError: (0 , _index.createUniqueId)(...) is not a function`

This is caused by the newly introduced createUniqueId() function in ScheduledEvent.js:
[code]

[2020-02-10 12:26] #886 closed

[2020-02-10 12:53] dnalborczyk commented on #886
released in: https://github.com/dherault/serverless-offline/releases/tag/v6.0.0-alpha.66

[2020-02-10 13:04] dnalborczyk commented on #768
@computerpunc  that might be a good idea. let me think through it.

[2020-02-12 03:13] frozenbonito commented on #883
@retgits Thank you for your report.

OK, I think it is due to the DynamoDB specification.  DynamoDB Local separates database files for each credentail and region.
`AWS SAM CLI` can load a local credential file as well as `AWS CLI`, but `serverless-offline` docker handler does not yet support it.

Please try to run DynamoDB Local with `-sharedDb` option.
https://docs.aws.amazon.com/amazondynamodb/l

[2020-02-12 07:28] nguyenthetoan commented on #258
`--useSeparateProcesses` is now renamed to `--useChildProcesses`
use `--useChildProcesses` works for me at the moment!
#768

[2020-02-12 13:14] monkeymon opened #893 "Unable to connect port 3000 using WSL 2"
HI,

When using with Window WSL 2, I am unable to connect to the application even though I change the host to be 0.0.0.0 instead of localhost.

But while connecting via wget, I will be able to get result.
It seems serverless-office is comparing the url connecting to the app.

Anyone having this issue able to solve it?

[2020-02-13 00:14] retgits commented on #883
@frozenbonito that was indeed the issue! Thanks a lot for the help and patience!!

[2020-02-13 00:14] #883 closed

[2020-02-13 06:00] qds-bhanwarlal opened #894 "Request validation is not working with sls offline, but it is working in API Gateway"
Request validation is not working with severless-offline but it is working in API Gateway after deployment

**Serverless Framework Version**
[code]
**Packages Version**
[code]

**serverless.yml**

[code]

Followed the same example mentioned in serverless-requestvalidator-plugin
Ref: https://stackoverflow.com/a/49143822/11141189

Also tried validation without serverless-requestvalidator-plugin used

[2020-02-13 14:00] dherault commented on #768
@dnalborczyk How about releasing the v6 soon ?

[2020-02-13 18:59] metasoarous opened #895 "Java support?"
Hello.

First off, thanks for the great plugin!

I have a question about the status of Java support. I don't see Java listed in the official list of supported runtimes. However, this project seems to have some sort of partial/wip support for Java, as I was able to get part way through locally running a Java lambda function. The problem I'm hung up on right now is that the Java environment that get

[2020-02-13 22:05] metasoarous commented on #895
Realized from the README & #768 that the Java support must be WIP as a "maybe new feature" part of the v6 alpha release. Given that, please consider this issue a vote of support for this feature, and let me know if I can be useful in providing feedback or testing.

Thanks again!

[2020-02-13 22:11] akarale opened #896 "{proxy+} path not working"
I cannot get {proxy+} path working. I have added the following in my serverless.yml file as per the documentation, but I'm confused as to what's wrong.

custom:
  serverless-offline:
    resourceRoutes: true

[2020-02-13 22:13] akarale commented on #870
Having the same issue. Which version are you using to resolve the issue?

[2020-02-14 04:00] frozenbonito commented on #895
I think docker runner (--useDocker option) should also be able to support Java runtime. As with .NET support, it is required artifact support (https://github.com/dherault/serverless-offline/issues/876#issuecomment-580010435).
I'm trying to add it, but unfortunately I'm not very familiar with Java so I hope to someone will add Java runtime test later. [Here](https://github.com/dherault/serverless-o

[2020-02-14 06:13] sami616 commented on #870
@akarale  "serverless": "^1.61.3"

[2020-02-14 09:46] leny commented on #768
Any update on the reimplementation of the `timeout` feature?

[2020-02-14 17:00] marekk657 opened #897 "offline start --exec <script> not working"
Trying to execute as scoped execution like:
sls offline start --exec "./runTests.sh" --config serverless-functions.yml
This still opens up interactive window. Shell scripts won't be executed.

in yml config:
useDocker: true
to make it work with golang.

sls offline version: 6.0.0-alpha.66

[2020-02-14 19:52] metasoarous commented on #895
Hi @frozenbonito. Thanks so much for the feedback!

I was able to confirm that `serverless invoke local --docker` _does_ work, but `serverless offline --useDocker` does _not_. Is there a way to take advantage of whatever the core serverless framework is doing here to get this working? It's not clear to me following through the threads you linked to how artifact support plays into things here. Can

[2020-02-18 13:00] tsaodown commented on #768
Am I missing something? I switch to `serverless-offline@next` for the docker implementation. Seems like `serverless-webpack` does not execute external module packaging when running `sls offline --useDocker`. I have observed the external modules being appropriately packaged in `sls package` though. Honestly not sure if this is something that's occurring in this plugin or `serverless-webpack`.

[2020-02-18 15:27] charlie632 opened #898 "--port option in not working in @6.0.0-alpha.67"
## Bug Report

**Current Behavior**

I want to open serverles-offline in a different port, rather than the default 3000. I tried with the CLI flag:

`serverless offline --port 4000 start --stage dev`
and

`serverless offline  start --stage dev --port 4000`

Also with the `custom` property in the serverless.yml

[code]

But no luck. It always opens in the port 3000. I rolled back to version `5.12.1

[2020-02-18 20:07] LeonardoGobbiLopez opened #899 "New to serverless framework not being able to build"
We would like to trigger the hooks of the serverless-offline and have no idea how, do you guys have a gist to share?
We want to build the client side before the serverless-offline start.

Thanks in advance. :D

[2020-02-19 00:47] KingDarBoja commented on #899
You should perform some setup using npm scripts, like as `npm run build` in order to generate the app for production and then, call `serverless-offline start`, in case you using the lambda function to serve it.

[2020-02-19 02:31] tsaodown opened #900 "DockerRunner does not make node_modules available to function"
## Feature Request

DockerRunner creates a container with a bind mount to the webpack-compiled function [here](https://github.com/dherault/serverless-offline/blob/master/src/lambda/handler-runner/docker-runner/DockerContainer.js#L45).

When running `sls offline start --useDocker`, [serverless-webpack](https://github.com/serverless-heaven/serverless-webpack) is put into watch mode which doesn't see

[2020-02-19 02:32] tsaodown commented on #768
If anyone is wondering about my above comment, I submitted an issue for it [here](https://github.com/dherault/serverless-offline/issues/900).

[2020-02-19 02:38] tsaodown commented on #900
Turns out the watcher doesn't re-run the [copy-webpack-plugin](https://webpack.js.org/plugins/copy-webpack-plugin/) on rebuild, so the workaround isn't _quite_ as painful, but it feels like this should work out of the box.

[2020-02-19 03:41] frozenbonito commented on #900
I think ___option 2___ is better.

The file-watcher will be implemented (https://github.com/dherault/serverless-offline/issues/768#issuecomment-582381542).
In addition, I'm trying to implement a feature that the `serverless-offline` executes `sls package` internally and mount its artifact to container. This works with the file-watcher, `sls package` will be re-executed every time the code changes.

[2020-02-19 07:47] tsaodown commented on #900
@frozenbonito definitely the cleanest option. Option 1 is more expedient, but the workaround suffices until the file-watcher gets done.

[2020-02-19 10:58] roberttaylor426 opened #901 "`application/json` `Content-Type` response header getting overridden"
## Bug Report

**Current Behavior**

When setting the `content-type` response header to `application/json` serverless-offline overwrites the response header to `application/json; charset=utf-8`.

If we set a different `content-type` (`application/xml` for example) the response header is not overwritten.

**Sample Code**

We created a simple project that demonstrates the issue [here](https://github

[2020-02-19 23:32] KingDarBoja commented on #898
As far as I know, the `port` option has been renamed to `httpPort`. Check the docs and you will see ;)

[2020-02-19 23:34] KingDarBoja commented on #896
Maybe this is related to #899 but should be great if you provide more info @akarale .

[2020-02-20 08:21] #898 closed

[2020-02-20 08:23] dherault commented on #897
Exec is not supposed to work in v6, but is added to the roadmap.

[2020-02-20 08:23] #897 closed

[2020-02-20 08:24] dherault commented on #768
We need the --exec feature before we can release.

[2020-02-20 23:28] alex88 commented on #768
Since IS_OFFLINE has been removed wouldn't
[code]
also be included in the deployed env variables?

[2020-02-20 23:31] KingDarBoja commented on #768
I do recommend using the `IS_OFFLINE: ${env:IS_OFFLINE}` approach. Also, a good extra plugin for loadin environment variables is [serverless-dotenv-plugin](https://www.npmjs.com/package/serverless-dotenv-plugin).

[2020-02-20 23:36] alex88 commented on #768
oh ok so I can just use the package.json scripts to set that or the dotenv plugin as you mentioned, thanks!

[2020-02-20 23:39] hayd commented on #768
What is the outcome/current thinking of #648 - supporting custom runtimes?

[2020-02-21 00:10] KingDarBoja commented on #870
I am facing the same issue as I am trying to test locally some Angular + Express setup with Serverless. Using these set of plugins:

[code]

But unfortunately, while trying to load assets from the localhost, the server.js file is unabled to find those. I will provide another ticket to provide more details but I belive it is related to this issue.

[2020-02-21 02:56] KingDarBoja commented on #901
I am facing the same issue, everytime I try to render any file that isn't html, I get the same `index.html` with an error like below:

`Resource interpreted as stylesheet but transferred with MIME type text/html`

For every source file (runtime, main, polyfills).

I am trying to run an Angular app which is going to be hosted on AWS. It works as I made a [sample repo](https://github.com/KingDarBoja

[2020-02-21 15:27] subukamath opened #902 "Please update package dependency"
Please can you check and update the dependencies for hapi modules?

@hapi/boom
@hapi/h2o2
@hapi/hapi

The older version of hapi submodules, @hapi/content and @hapi/hoek have certain vulnerabilities that have been addressed in the newer version.

[2020-02-22 04:06] dnalborczyk commented on #902
unfortunately the modules don't support **node.js v10**, which is a requirement for `serverless-offline`.

for reference:
https://hapi.dev/resources/status/#hapi

besides, it's a tool for _local_ development, so I imagine the vulnerabilities are _fairly_ low.

[2020-02-22 04:06] #902 closed

[2020-02-24 17:46] haayhappen opened #903 "Problems with apollo-server-lambda integration for graphql - dynamodb.localhost.amazonaws.com"
The serverless-offline integration seems to have a problem with the internal server of apollo-server-lambda. Please see the attached error response. Weird behavour is that I can access the graphiql schema explorer on the same endpoint.

**Packages**:
"apollo-server-lambda": "^2.10.1"
"serverless-offline": "^5.12.1"
"aws-sdk": "^2.622.0"

 **The expected behavior:**
return data Json

**The actual b

[2020-02-25 20:41] Msnow90 opened #904 "When using --skipCacheInvalidation flag, cannot run multiple mysql queries in one api call"
Basically whenever I run serverless offline as such:

"serverless offline start --env local --skipCacheInvalidation"

My Update API route will periodically fail at either updating or selecting the document after updating. This is because I call an update then a select in different queries as such:

` const update = await mysql.transaction().query("UPDATE ExampleTable SET ? WHERE id = ?", [body, uu

[2020-02-26 02:12] jadams88 commented on #870
@sami616  @dnalborczyk
I think this is same issue that I ran into.

It looks live **6.0.0-alpha.61** introduced an issue where the path that is defined in the `serverless.yml` is being set as the `_path` property on startup and then being used for every subsequent request.

For my setup I had `/{any+}` as the path in the `yml` file, and every request the `event.path` property was set to `/{any+}`.

[2020-02-26 19:06] ricardovf opened #909 "Code not reloaded on websockets endpoints"
## Bug Report

**Current Behavior**

Websockets works as expected. If i change the code and send a new message using wscat, the returned message is the same, even if the code seems to be loaded again...

**Sample Code**

https://github.com/ricardovf/example-serverless-ws-offline-not-reloading

[2020-02-26 20:11] ricardovf commented on #896
i have this problem too with alpha version

[2020-02-26 20:11] ricardovf commented on #870
i have this problem too with alpha version

[2020-02-26 20:51] #904 closed

[2020-02-27 04:11] KingDarBoja opened #910 "Road to TypeScript"
💬 Discussion
---

This plugin is pretty awesome and has a wider usage on several serverless projects, as it seems on the GitHub (Used by ~11k repos) and npm stats (aprox. 236.816 weekly downloads).

However, as every community-driven project, it relies on PRs from anyone willing to provide bug fixes or new features, which can be harder to debug on "plain" JavaScript.

It _should_ be easier if the

[2020-02-27 06:00] computerpunc commented on #910
I think that the argument was clear. This project should stay a plain JS project as more people know JS than TS (it's by definition true as TS is a superset of JS).

And as for my personal taste, if I wanted to use a typed language, I would go with Scala/ScalaJS and not TS.

[2020-02-27 09:51] dherault commented on #870
@dnalborczyk Can you fix this or do you want me to do it?

[2020-02-27 10:21] jadams88 commented on #870
Hi @dherault,

I have submitted a PR that I think will resolve this issue (see above). The path property is being set to whatever the path is defined in the `.yml` file not that request path. Hence it works if the paths are defined in the `.yml` but not if using `/{proxy+}` or '/{any+}` etc

[2020-02-27 15:18] leongrin opened #911 "error: "Serverless-offline: route not found.""
I have the latest version of serverless-offline installed. My Angular 9 Universal app is running smoothly locally. But I can't run it with serverless-offline. I am getting this error:

[code]

Before I updated to the latest version of serverless-offline, at least loaded the favicon. Now, not even the favicon is loading.

Here is my **serverless.yml** code:

[code]

Does anybody here know how to so

[2020-02-27 23:51] KingDarBoja commented on #910
@computerpunc I would say that TypeScript is becoming more popular among JS developers and the number of projects that use it has been growing.

You can check stats on [JS Flavors](https://2019.stateofjs.com/javascript-flavors/) from stateofjs 2019 website 😄

[2020-02-28 02:58] JimLynchCodes commented on #911
My project also stopped working.

Trying to hit any route now gives me this error:
[code]

[2020-02-29 02:41] KingDarBoja commented on #911
Wait a minute, I have seen this before... [ng-toolkit](https://github.com/maciejtreder/ng-toolkit) package right there!

So this is related to #905 and hence, to my [comment](https://github.com/dherault/serverless-offline/issues/870#issuecomment-589434920).

I am trying to achieve the same thing for upcoming ng-toolkit version 🙈

[2020-02-29 22:40] JimLynchCodes commented on #911
Still no idea what happened, but after I restarted my computer it worked again. 🤷‍♂️

[2020-03-02 10:02] dherault commented on #910
@KingDarBoja Hi
I had the opposite thought when @dnalborczyk tried to implement TypeScript: what if the adoption of TypeScript would lead to fewer PRs due to the learning curve? The strong community around serverless-offline relies on those PRs, so if their number where to drop the plugin would not be that attractive anymore.

But I would love to hear more arguments on the matter.

[2020-03-02 10:08] dherault commented on #911
@dnalborczyk this happened after a new version was released, can you pinpoint which one?

[2020-03-02 21:38] KingDarBoja commented on #910
@dherault Thanks for the response and provide feedback about the topic.

About the learning curve, I don't think it requires too much as TypeScript does uses JavaScript with some extra stuff like **type checking**, **interfaces** and **latest ECMAScript features** which compiles down to any JS target.

Everything I mentioned is completely optional but does provide better insight about the code bef

[2020-03-03 00:15] jackcohen5 commented on #768
Given @computerpunc's [comment](https://github.com/dherault/serverless-offline/pull/732#issuecomment-593053590) on https://github.com/dherault/serverless-offline/pull/732, are you still planning to have websocket authorizer support in v6? Would be happy to put up a PR if no one is currently working on it.

[2020-03-03 01:55] jadams88 commented on #911
@dherault Did you see my PR #905 in relation to this issue?

Specifically

[2020-03-03 03:00] dnalborczyk commented on #911
@dherault I'm currently slammed at work. it'll probably take a while for me to have a look.

[2020-03-04 00:45] zolbayars commented on #522
Hi @ThePaulMcBride, did you find a way?

[2020-03-04 09:16] dherault commented on #768
@jackcohen5 That would be great!

[2020-03-04 14:32] ThePaulMcBride commented on #522
Afraid not. I ended up having to get the event name from the body, then request that event from stripe again to check its authenticity.

[2020-03-05 19:25] ecstasy2 commented on #900
The only drawback of option #1 is that it won't really simulate as closely what would happen once the lambda is deployed. Packaging the binary the same way webpack does is the closest thing to the real production setup.

I am currently using serverless-offline as my end2end test stack. Maybe we can make the packaging step optional for scenarios like these?

[2020-03-06 00:15] tsaodown opened #913 ""offline:ready" hook"
## Feature Request

I'm using [serverless-plugin-scripts](https://www.npmjs.com/package/serverless-plugin-scripts) to run some arbitrary code attached to serverless lifecycle events.

I would _really_ like to run a script once the `serverless-offline` server is listening.

I think maybe we could just split [this line](https://github.com/dherault/serverless-offline/blob/master/src/ServerlessOffline

[2020-03-07 20:15] dherault commented on #913
Hi @tsaodown
This is a great feature request, I'll look into it.

[2020-03-07 21:35] tsaodown commented on #913
I actually already have a fork with the change made, but I haven't had time
to figure out the testing situation

On Sat, Mar 7, 2020, 12:15 David Hérault <notifications@github.com> wrote:

[2020-03-08 23:08] tsaodown commented on #900
@ecstasy2 I agree on making this optional. Would be great to provide a staged configuration that allows you to mount `node_modules/` on host during development (reduce the dev environment setup time) or to fully package the functions to simulate a production environment.

[2020-03-09 07:19] Jun711 opened #916 "Serverless: Failure: internal/modules/cjs/loader.js:798 Error: Cannot find module /.../invoke"
## Bug Report

**Current Behavior**

1. I ran serverless offline to start a local server
2.
[code]
3. when I paste `http://0.0.0.0:3003/hello` on a browser
I see this error on the terminal
[code]
4. not sure if it is related to this https://github.com/serverless/serverless/issues/7407

**Sample Code**

- file: serverless.yml

[code]

- file: handler.py

[code]

**Expected behavior/code**

**Enviro

[2020-03-09 18:14] danilofuchs opened #917 "context.resourcePath does not match the one in API Gateway"
## Bug Report
When deploying a serverless function with a wildcard parameter (e.g.: `/accounts/{accountId}`) with a custom authorizer, accessing `context.resourcePath` in the authorizer function when invoking the API with a value (`/accounts/3`), API Gateway context returns `/accounts/{accountId}`, whereas in serverless-offline, the value is populated with `/accounts/3`

**Current Behavior**
serve

[2020-03-09 18:58] richja opened #918 "Cannot start puppeteer while offline (v6)"
## Bug Report
Function cannot start puppeteer when invoked via local http server.

**Working properly with serverless-offline 5.x**
Breaking with version 6.x (6.0.0-alpha.67) - no changes made in the code, just switching versions

### Current Behavior
Error thrown when endpoint is hit.

Endpoint returns 502 Bad Gateway
and following error and stack trace is thrown:
[code]
even though chromium bina

[2020-03-09 23:16] ricardovf commented on #800
Hot reload support would be a great addition to this plugin, mainly when using typescript and even more when using websockets api gateway... Is there a prevision to make it work? Thanks!

[2020-03-10 03:49] lee-reinhardt commented on #768
As far as I can tell, support for [HTTP APIs](https://aws.amazon.com/blogs/compute/announcing-http-apis-for-amazon-api-gateway/) has not been added yet, is that correct?

Trying with a basic example like this only starts the lambda on port 3002 and returns 404s no matter the route.

[code]

I've searched through all the release notes and issues and have found no discussion of implementing this. Am

[2020-03-10 15:32] bart opened #919 "Websocket: unable to verify the first certificate"
Hi everyone,

I'm currently implementing a simple chat app using serverless websockets with serverless offline plugin version 5.11.

Handling connection and disconnection works fine but as soon as I want to post data to a client I'm getting this error:

[code]

My endpoint is `ws://localhost:3001` so I don't know why it tries to use a secure connection here?

Any idea what the reason for that issu

[2020-03-10 15:42] bart commented on #919
Looks like it uses https://localhost as endpoint which won't work. Will investigate it further.

[2020-03-10 15:42] #919 closed

[2020-03-12 21:46] hsimah opened #920 "NPM documentation incorrect"
## Bug Report
The documentation on the [npm package page](https://www.npmjs.com/package/serverless-offline) refers to `port` as an option but looking at the source code it should be `httpPort`.

[2020-03-13 16:57] daedal-knickerbockers commented on #388
This could be another feature for the [serverless-cloudside-plugin](https://github.com/jeremydaly/serverless-cloudside-plugin). Support for `"Fn::ImportValue"` is already being added via pull request, so support for `${cfcr:...}` should be easy to add as well.

[2020-03-13 21:12] JimmyPruitt opened #922 "How to ignore production-only resources"
I have a top-level `resources` section defined in my `serverless.yml` that contains resources I don't need in offline mode. The configuration for those resources use CloudFormation references that my local user doesn't have access to, so when I try to launch the offline server, even with a conditional on the Resource,  I get a failure: `User: arn:aws:iam::*************** is not authorized to perfo

[2020-03-17 09:55] wickstargazer commented on #864
I am having similar issue as well, serving html through express-proxy on the same port seems to keep some sort of cache

[2020-03-17 10:42] #913 closed

[2020-03-17 16:58] bryanvaz opened #924 "`ECONNREFUSED` when sending websocket message to client when using `sls offline`"
## Bug Report

**Current Behavior**

When trying to send a Websocket message to a local client using the standard `Aws.ApiGatewayManagementApi` connector in `serverless-offline`, the connector's TCP connection to the client is refused. However this works fine when deployed to AWS.

Tested on **MacOS Catalina 10.15.3**.

See https://github.com/bryanvaz/sls-websocket-demo for demo of the issue.

Not

[2020-03-17 22:31] jadams88 commented on #768
Hi @dherault,

I can see alpha.68 has just been released, thank you.

Apologies if i'm wrong, but I think it was accidentally released to public?

i.e `npm install serverless-offline` installs **6.0.0-alpha.68**
& `npm install serverless-offline` installs **6.0.0-alpha.67**.

[serverless-offline](https://www.npmjs.com/package/serverless-offline)

[2020-03-18 03:54] jormaechea commented on #768
![image](https://user-images.githubusercontent.com/5612500/76923700-f0b3bd00-68b2-11ea-8173-7098089f1fc1.png)

Indeed, alpha 68 has not been tagged as `@next`.. :scream:

[2020-03-19 05:07] chris-mcdermut-vacasa commented on #920
@hsimah https://github.com/dherault/serverless-offline/commit/78e862f82202138744e711e170e2d6d31825fd20

[2020-03-19 10:47] dherault commented on #768
Nice catch, it does not matter since v6.0.0 will be released today!
Thanks everybody for such great feedbacks!

[2020-03-19 10:53] dherault commented on #768
v6.0.0 🎉

[2020-03-19 10:53] #768 closed

[2020-03-19 10:56] #910 closed

[2020-03-19 11:21] thomaschaaf opened #925 "Stage name should in url should be disablable"
https://github.com/dherault/serverless-offline/issues/857

Added the function because the API Gateway adds the stage to the url. We however are using the API Gateway with a BasePathMapping thus for us the API Gateway does not prepend the stage. I would like to add an option `--noPrependStageInUrl` which disables the new behavior.

[2020-03-19 12:53] KingDarBoja commented on #910
Oh, this topic got closed, I thought it would get more attention from community 🙈

[2020-03-19 15:25] rodrigopasc commented on #925
Thank you! I was looking for this option.

[2020-03-19 16:01] ecappa commented on #864
+1 !
Same here with webpack, used to work like a charm prior to v6.
Say it compile, watched, but not affected on the call.
... :(

[2020-03-19 17:06] Enase opened #927 "What's new in v6?"
At least, Is there any breaking changes? Could you provide any description?

[2020-03-19 18:44] ecappa commented on #927
On the fly code compilation via file watch does not work anymore... :/

[2020-03-19 19:10] rodrigopasc opened #928 "Integration tests"
How can I achieve to spawn `serverless-offline` in background mode so I can make requests with `supertest` to the application?

Thank you!

[2020-03-19 20:48] soda0289 commented on #927
This issue has some info:
https://github.com/dherault/serverless-offline/issues/768

[2020-03-19 21:22] KingDarBoja commented on #911
The new version got released today, I will try and see how it goes as @jadams88 PR got merged too! 🚀

[2020-03-19 21:50] maxlew commented on #927
Is it possible to update the v6 release notes to link to that issue, or include the major changes? That's generally where most people would check first.

[2020-03-19 23:54] IsaaX commented on #864
I am new to serverless-offline and when building a quick console.log refresh, confirmed this exists.

downgrading
"serverless-offline": "^6.0.0",
to
"serverless-offline": "^5.12.1",

Seems to fixed it. So if development is your concern, this can be a quick fix.

[2020-03-21 15:39] langaads opened #929 "question: alternatives to option --prefix"
Nice work on 6.0.0 refactoring, i can see a lot of cleanup has been done and that's always welcome!

I need a litle help with one of the removed settings:
The deceased option `--prefix` broke me.

I used it to keep parity with api-gateway "basepath".
All services are served under the same domain, but every service has it's own basepath.

my current yml is something like this:
[code]

it used to ou

[2020-03-21 23:46] azukaar opened #930 "Go Handler use context.Context instead of events.APIGatewayProxyRequest"
# Bug Report

## Description

Using the basic setup with :

[code]

The input type of the first argument of the handler is context.Context instead of events.APIGatewayProxyRequest, so I cant read the body, the HTTP method or whatever from it.
(if I try to make it events.APIGatewayProxyRequest, it yeld an error saying it cannot unmarshall the parameter).
There isn't a lot of documentation for usage

[2020-03-22 01:49] jamesoflol commented on #864
Thanks @IsaaX. Same issue here. This fixed it.

Started a new project on serverless-offline v6 after using serverless-offline v3 previously. The other big breaking changes between v5 and v6:
- "port" parameter changed to "httpPort"
- Includes the APIGW stage in the path. (Must call eg http://localhost:3000/dev/users instead of http://localhost/users.) Which might be appropriate as it matches prod,

[2020-03-22 15:24] thomaschaaf opened #931 "Serverless-Webpack watching for changes not working"
## Bug Report

**Current Behavior**
If you change the code, webpack reloads but the changes are not reflected without restarting the process.

**Expected behavior/code**
Changing the code should reflect the changes without having to restart the server. Downgrading to serverless-offline to 5.12.1 works.

**Environment**

- `serverless` version: 1.67.0
- `serverless-offline` version: 6.0.0
- `node.j

[2020-03-22 17:42] computerpunc commented on #768
@dnalborczyk I don't know if you are still thinking about it but I did some digging and I don't thing it will be possible to implement because there's no way for `serverless-offline` to tell `serverless` that the default stage is `local`. The most I could get is to let `serverrless` inject by default the stage `local` to `serverless-offline` but event in this case, `serverless` treat the default s

[2020-03-22 17:43] onhate commented on #931
Same here, only that I cannot downgrade because I use Lambda.invoke implemented on v6.

Try setting the config bellow, it worked for me

[code]

[2020-03-22 17:53] thomaschaaf commented on #931
@onhate thanks for providing that workaround! This makes the run time a bit slower but that's fine for now. I found #864 and there the author actually says it's intentional behavior :(

[2020-03-22 18:05] crash7 opened #932 "Changelog for v6?"
I see that you released v6 some days ago, but I can't find the changelog. If I scroll through the many alpha released, I can see that there some breaking changes, but it would we nice to have them all listed in one place so we can upgrade safely (which is something I was about to do until I found that the `process.env.IS_OFFLINE` variable was removed).

[2020-03-22 18:28] thomaschaaf commented on #932
See https://github.com/dherault/serverless-offline/issues/768

[2020-03-22 18:38] crash7 commented on #932
@thomaschaaf thanks!

[2020-03-22 18:38] #932 closed

[2020-03-22 19:18] RichiCoder1 commented on #925
Just ran into this. Forcing the stage in the url broke us pretty hard and there's not really a fix besides downgrading.

[2020-03-22 22:17] computerpunc commented on #928
@rodrigopasc

The infrastructure that @dnalborczyk has set in the integration tests already spawn a real `serverless-offline` instance.

[2020-03-23 00:43] lucasklaassen commented on #864
@IsaaX weird, I'm using serverless-offline v5 but I'm not getting the ability to hot reload.

[2020-03-23 10:12] rodrigopasc commented on #928
@computerpunc Thank you. I'll check it out! :D

[2020-03-23 10:12] #928 closed

[2020-03-23 13:50] jboolean commented on #918
+1 on 6.0.0

[2020-03-23 14:25] ecappa commented on #864
Do you use serverless-webpack or someting similar ?

[2020-03-23 16:41] nathanchapman commented on #768
Can we please get a migration plan for the `--stage` variable? Any particular reason this was removed?

[2020-03-23 16:45] lucasklaassen commented on #864
@ecappa I'm not:

<img width="315" alt="Screen Shot 2020-03-23 at 9 45 22 AM" src="https://user-images.githubusercontent.com/6452107/77340824-13970480-6ceb-11ea-93c7-45a01e208fed.png">

[2020-03-23 17:23] #920 closed

[2020-03-23 18:09] francisu opened #933 "Lambda default InvocationType fails"
## Bug Report

**Current Behavior**

**Sample Code**

- file: serverless.yml

[code]

- file: handler.js

[code]

**Expected behavior/code**

**Environment**

- `serverless` version: [e.g. v1.58.0]
- `serverless-offline` version: [e.g. v5.12.0]
- `node.js` version: [e.g. v13.2.0]
- `OS`: [e.g. macOS 10.13.4, Windows 10, Ubuntu 16.04]

_optional, if you are using any of the following frameworks to

[2020-03-23 18:11] francisu commented on #933
Submitted by mistake.

[2020-03-23 18:11] #933 closed

[2020-03-23 18:17] francisu opened #934 "Lambda invocation fails if no InvocationType specified; should assume default RequestResponse"
## Bug Report

**Current Behavior**

Lambda function (to the lambda handler) invoked with no InvocationType fails with a message that 'null' invocation type is not supported.

**Expected behavior/code**

Per the AWS documentation, if there is no InvocationType, RequestResponse is assumed. In AWS this is handled at the server when the X-Amz-Invocation-Type header is missing.

https://docs.aws.amazo

[2020-03-23 18:39] francisu commented on #934
PR: https://github.com/dherault/serverless-offline/pull/935

[2020-03-23 23:19] ItayElgazar commented on #894
Any news with this one?

[2020-03-24 00:43] ItayElgazar commented on #734
Bump

[2020-03-24 02:37] QDS-Bhanwarlal commented on #894
No, did research but didn't got anything, if you get please share with me also.
Thank you.

[2020-03-24 16:41] paulcruse-syn commented on #929
I second this... can we bring back `prefix:`

I use it like this:

[code]

[2020-03-24 18:18] dherault commented on #929
Sure thing, the v6 is a major update and allows... better community inputs 😄
I'll create a todo list, and will try to wrap it up in the following days.
Thanks for your input!

[2020-03-24 18:22] dherault commented on #882
@winseros I'll take a look

[2020-03-24 18:23] dherault commented on #893
I'll take a look.

[2020-03-24 18:24] dherault commented on #894
What about serverless-offline v6, does it solve your issue?

[2020-03-24 18:28] dherault commented on #927
Done.

[2020-03-24 18:28] #927 closed

[2020-03-24 18:29] dherault commented on #896
Can anyone confirm this is still the case with serverless-offline v6?

[2020-03-24 18:31] dherault commented on #903
Sorry, the v5 is not supported anymore! Try the v6 and reopen an issue, I'll try to solve it.

[2020-03-24 18:31] #903 closed

[2020-03-24 19:07] dherault commented on #909
Check your code, it might explain why: https://github.com/ricardovf/example-serverless-ws-offline-not-reloading/blob/5840584fb3add5b955c8853d63b01c91d0c12b2e/handler.ts#L16

[2020-03-24 19:09] dherault commented on #917
Will work on it

[2020-03-24 19:11] dherault commented on #931
Can you try a tool like nodemon?

[2020-03-24 19:15] #925 closed

[2020-03-24 19:54] ricardovf commented on #909
You did not read the instructions on the readme to reproduce...

"change the "hi" on the code to "hi 1" and send again the {"action": "default"} and you will not see the updated code"

The point is that a code change is not reloading the handler, although it maintains the websocket connection opened.

[2020-03-24 21:28] designfrontier commented on #768
@lee-reinhardt just started #937 to bring in the httpApi configs. Feel free to fill in any specific use cases over there and I'll see what I can do. Would love to get it in sooner rather then later so we can start using it for local dev and deploying out to httpApi

[2020-03-24 21:42] RichiCoder1 opened #938 "Event Path issue using `noPrependStageInUrl`"
## Bug Report

**Current Behavior**
It seems that enabling the flag added by https://github.com/dherault/serverless-offline/issues/925 messes up `event.path`, I assume due to there being unrelated logic that still is attempting to trim off the stage name.

**Expected behavior/code**
Enabling `noPrependStageInUrl` results in no discernable change in behavior aside from dropping the stage name from

[2020-03-24 22:03] Enase opened #939 "Cannot read property 'forEach' of undefined"
## Bug Report

There is a bug, if you try to run offline a service that has a function without any event definition.
The reason might by `serverless-plugin-ifelse` that removes events definition completely while compilation.

[code]

Totally the same issue was fixed in v5 https://github.com/dherault/serverless-offline/issues/705 by https://github.com/dherault/serverless-offline/pull/706

[2020-03-25 00:47] luanmuniz commented on #864
In my opinion, we should consider to path this up. Remember that this is a development tool, the priority is to help development.

I've searched the issues and the Memory Leak as pointed in https://github.com/dherault/serverless-offline/pull/866 and looks like a problem a lot smaller than a broken functionality. It seems that we are talking thousands of requests for the memory leak starts to be so

[2020-03-25 00:59] ecappa commented on #864
@lucasklaassen : perhaps this is not the place for this kind of discussion, and I am not very familiar with serverless-plugin-typescript but it seems that there is a --watch mode with this plugin.

[2020-03-25 01:06] lucasklaassen commented on #864
Appreciate your help!

On Tue., Mar. 24, 2020, 5:59 p.m. Eric Cappannelli, <
notifications@github.com> wrote:

[2020-03-25 04:23] shierro commented on #840
Hi! Can we please re-open this one for version 6? my lambdas stopped working

![ScreenShot_20200325121733](https://user-images.githubusercontent.com/12129589/77501323-b2aa3080-6e92-11ea-89ca-2c04b5d97dae.png)

I tried endpoints
- http://localhost:3000/functions/backend-api-onboardingFinished-dev
- http://localhost:3000/functions/backend-api-onboardingFinished-dev/invocations
- http://localhost:300

[2020-03-25 14:42] dherault commented on #909
Why not use a tool like nodemon?

[2020-03-25 14:45] #939 closed

[2020-03-25 14:46] #938 closed

[2020-03-25 15:01] MattGohr commented on #925
glad this was fixed!

[2020-03-25 15:09] dherault commented on #925
It will be available in minutes!

[2020-03-25 15:28] dherault commented on #840
You used `{apiVersion}` in the URL, try using `2015-03-31`

[2020-03-25 15:28] dherault commented on #840
It will be documented

[2020-03-25 20:20] danilofuchs opened #942 "Setting useChildProcesses: true disables console.log"
## Bug Report

I cannot log anything with `console.log` when `useChildProcesses` flag is set.

**Current Behavior**

No logs show up in console, only if `useChildProcesses` is disabled (default behaviour)

**Sample Code**

- file: serverless.yml

[code]

- file: handler.js

[code]

**Expected behavior/code**

"loooooogs" is printed to console

**Environment**

- `serverless` version: v1.66.0
- `se

[2020-03-25 22:26] ricardovf commented on #909
Im, but it's slow compared to hotreload because it gotta compile all TS, start serverless offline and init the server... Im using websockets (api gateway), sns, etc. I mean, it works, but for a fluid dev env, it could be faster.

[2020-03-26 00:39] jadams88 commented on #870
@sami616 Is this still and issues with v6?

[2020-03-26 08:51] sami616 commented on #870
@jadams88 yes brilliant, thank you!

[2020-03-26 12:30] jadams88 commented on #870
Excellent, glad it’s working for you.
This issue can probably be closed now.

[2020-03-26 18:57] #870 closed

[2020-03-27 13:54] thomaschaaf commented on #931
@dherault nodemon does not.. even a very small application takes 11 seconds to start. This makes serverless-offline useless for me :( Please readd hot loading this breaks serverless development for me and many others

[2020-03-28 03:12] shierro commented on #840
it worked, thanks!

[2020-03-28 15:01] ranihorev commented on #911
All routes stopped working for me (they used to), any ideas on how to fix that?
I tried to restart my computer, I upgraded to the latest version but nothing

[2020-03-28 22:25] francisu commented on #934
Fixed in 6.1.0 with the above PR.

[2020-03-28 22:25] #934 closed

[2020-03-29 14:55] cvanputt opened #943 "TypeError: Cannot read property 'serverless-offline' of null"
## Bug Report

I am getting an error when running serverless offline

**Current Behavior**
Getting this error when running CLI command ```serverless offline``` in some but not all projects. This was not occurring before deploying only after.

**Sample Code**

- file: serverless.yml

[code]

[2020-03-29 22:19] walterdl commented on #864
Same problem over here using [serverless-plugin-typescript](https://github.com/prisma-labs/serverless-plugin-typescript) and even [KingDarBoja version](https://github.com/KingDarBoja/serverless-plugin-typescript). I've downgrade the plugin to `@^5.12.1` to get it working, but that shouldn't be the solution, I want to use the latest release aka `@^6.1.2`.

[2020-03-30 04:20] shierro commented on #942
Hi! I can confirm that no logs are generated on windows 10 as well. Even when
 `useChildProcesses: true` option is added

[2020-03-30 11:45] dl748 commented on #931
I'll have to check my setup, but serverless-webpack is rebuilding for change with me

[2020-03-30 13:57] luanmuniz commented on #931
@dherault I think this is related to https://github.com/dherault/serverless-offline/issues/864

[2020-03-30 23:37] Stegosource commented on #864
Going to chime in here and say that the only plugin I have enabled is `serverless-offline`. Running some functions in Node, and my changes are not showing up unless I restart the serverless runtime. Hoping there is a solution for this soon.

[2020-03-31 05:38] dl748 commented on #911
I had this problem with anything 6+, this was due to the fact that it now defaults to appending the staging name to the url path.   To revert to the old way, you need to add --noPrependStageInUrl to the cli or in the serverless file custom: serverless-offline  noPrependStageInUrl: true to revert to previous setting.  I'm testing it his out but @dherault the functionality is not reflecting what is

[2020-03-31 05:56] dl748 opened #945 "noPrependStageInUrl affects Lambda's event.path"
## Bug Report

**Current Behavior**

noPrependStageInUrl affects the event.path

true: doesn't prepend a slash
false: does prepend the slash

AWS always prepends the slash but doesn't show the stage.

false is working as expected, but true should work like the old system and AWS where it still begins with the slash.  This option shouldn't affect what a lambda function sees as its event path.

[2020-03-31 06:00] dl748 commented on #945
e.g.

[code]

[2020-03-31 07:23] dl748 commented on #896
@dherault Verified that this is working and that the event.pathParameters variable is being correctly populated according to a live AWS environment

[2020-03-31 09:38] dherault commented on #945
I'm checking your PR, nice solve!

[2020-03-31 09:40] #896 closed

[2020-03-31 14:20] luanmuniz commented on #864
@dherault @dnalborczyk Any thoughts on this?

[2020-03-31 17:44] jacklp commented on #931
Also finding the serverless-offline@6.1.0 is breaking hot reload. Reverting back to 5.12.0 makes hot reload work again.

Here is my other related plugin versions:

    "serverless-webpack": "5.3.1",
    "webpack": "4.42.1",

[2020-03-31 19:11] cchamplin commented on #931
We implemented this as a stop gap until hot reloading is implemented properly:
https://gist.github.com/cchamplin/c55778d4a70854a5d72bab2a8c4450fe

It seems to work ok for us using serverless-bundle, theoretically it should work for serverless-webpack as well.

Instructions:

1. Place contents in plugins/offline-invalidate
2. Add to serverless.yml plugins section:

[code]

[2020-03-31 19:11] cchamplin commented on #864
We implemented this as a stop gap until hot reloading is implemented properly:
https://gist.github.com/cchamplin/c55778d4a70854a5d72bab2a8c4450fe

It seems to work ok for us using serverless-bundle, theoretically it should work for serverless-webpack as well.

Instructions:

1. Place contents in plugins/offline-invalidate
2. Add to serverless.yml plugins section:

[code]

[2020-03-31 19:23] Stegosource commented on #864
Been able to get around this as well with Nodemon. Here's more or less what it looks like:
[code]

[2020-04-01 11:56] dherault commented on #931
@cchamplin now that you have. mastered the plugin, could you offer this technical solution as a PR and an option?

[2020-04-01 23:57] francisu opened #947 "cors options are ignored for the lambda server"
## Bug Report

**Current Behavior**

For example, specifying this option has no effect on the lambda server (it works fine for the HTTP server):

**Sample Code**

- file: serverless.yml

[code]

**Expected behavior/code**

The request is responded with the appropriate cors headers.

**Environment**

- `serverless` version: 1.67.0
- `serverless-offline` version: 61.3.
- `node.js` version: v10.19.0

[2020-04-02 03:33] #947 closed

[2020-04-02 05:07] dl748 commented on #922
Would this be best with some sort of tag on the resource?  like "notOffline: true" which serverless-offline would ignore?

[2020-04-02 11:21] dl748 commented on #945
Looks good, closing issue

[2020-04-02 11:21] #945 closed

[2020-04-02 11:22] dl748 commented on #942
6.1.3 has been released with a fix. Please test again.

[2020-04-03 01:05] abinhho commented on #464
My solution: https://stackoverflow.com/a/61003498/9585130

Just add this to serverless.yml.
[code]

[2020-04-03 14:55] tforster commented on #530
@opposite-bracket Are you saying that the event object received by a Lambda executed in the serverless offline environment should be exactly the same as one executed in AWS? And that we no longer need the `if` statement to JSON.parse() when running locally? If so this is a long-awaited fix.

Can you explain the configuration mention in your May 10 response? I have done the usual Google search thro

[2020-04-03 16:59] danilofuchs commented on #942
It works, indeed! Thanks!
Closed by #642

[2020-04-03 16:59] #942 closed

[2020-04-04 01:14] sukitha opened #951 "Is this support websocket authorizer method?"
I read through the code and found that the auth support available in HTTP and coudn't find in websocket. Is this feature available?

Below is my config from serverless.yaml

functions:
  connect:
    handler: aws_ws_connect_handler.handler
    events:
      - websocket:
          route: $connect
          authorizer:
            name: customAuthoriser
            identitySource:
                -

[2020-04-04 01:26] sukitha commented on #951
found that Authorizers not available in below document.

https://serverless.com/plugins/serverless-offline/ - "Authorizers and wss:// are currently not supported."

Is this feature planned for future release?

[2020-04-04 14:04] frozenbonito commented on #876
Local artifact is now supported!
I hope to someone who familiar with .NET will add .NET runtime test.

1. edit [this file](https://github.com/dherault/serverless-offline/blob/4b01ed7c87d5e5bbd0a83d71542514f0e8ec787e/src/config/supportedRuntimes.js) to enable dotnetcore runtimes
1. add dotnetcore test to [here](https://github.com/dherault/serverless-offline/tree/465846494c325505846187ebced3216e9d10

[2020-04-04 14:06] frozenbonito commented on #895
Local artifact is now supported!
I hope to someone who familiar with Java will add Java runtime test.

1. edit [this file](https://github.com/dherault/serverless-offline/blob/4b01ed7c87d5e5bbd0a83d71542514f0e8ec787e/src/config/supportedRuntimes.js) to enable java runtimes
1. add java test to [here](https://github.com/dherault/serverless-offline/tree/465846494c325505846187ebced3216e9d1021fc/tests/i

[2020-04-04 14:20] dtieber opened #953 "Authorizer function support"
Hey everyone,

I'd like to test my authorizer function on my local computer.  Although someone contributed the support [here](https://github.com/dherault/serverless-offline/issues/41) for version 2.5, I think this got lost somewhere along the line.

The issue is basically the same as described in issue #41
I cannot test my authorizer function because the event passed by serverless-offline lacks at

[2020-04-06 12:01] petermorlion commented on #876
I'm working on it. Having some issues which I hope to resolve. I'll keep you posted.

[2020-04-06 19:53] danbosnichill opened #954 "serverless-offline re-execute my js handler file on each request"
I'm not sure if this is by designed.  I posted this question to Stack Overflow earlier today.

https://stackoverflow.com/questions/61067099/why-does-serverless-offline-re-execute-my-whole-js-file-for-a-handler

## Bug Report

I'm running apollo-server-lambda locally in using serverless-offline. Even though the handler is being exported once, the serverless-offline code is fully recreating the Apol

[2020-04-07 08:14] Ali-Dalal commented on #945
hi,

Thanks for this great plugin.

is this released yet or not?

I have an issue after updating to the latest version where I need to append / in order to get the offline simulation working

example:
localhost:8000//api/hello -> this will work
localhost:8000/api/hello -> this won't

Note: I disabled appending stage to the host

Thanks

[2020-04-07 08:31] rbrtmrtn opened #955 "CLI prints wrong port in usage example when 3000 is in use"
## Bug Report

When I run `sls offline` it prints usage instructions for a sample `GET` and `POST` call.

[code]

**Current Behavior**
If port 3000 is in use, the server will start on the next available port:

[code]

 but the instructions still have 3000 as above.

**Sample Code**

n/a

**Expected behavior/code**
The instructions should contain the actual port the server/emulated API gateway.

**

[2020-04-07 08:33] rbrtmrtn commented on #955
Sorry, I totally misread the output from the CLI 😂 Didn't realize there are two services running on different ports. I'll go ahead and close this!