[2022-07-21 00:35] dnalborczyk commented on #1149
I can re-open this issue, but it appears that `serverless` might be responsible for the variable resolution.

[2022-07-21 01:26] dnalborczyk commented on #1448
plublished: https://github.com/dherault/serverless-offline/releases/tag/v9.0.0

[2022-07-21 01:26] #1448 closed

[2022-07-21 01:27] dnalborczyk commented on #1501
that's great to hear @pareis !

[2022-07-21 01:40] dnalborczyk commented on #1119
`v9` was released a couple days ago. as mentioned above, `worker threads` are now used by default. if you want the handler to reload for development you can use the `--reloadHandler` flag, which creates new lambda instances and discards previous ones.

if there's still problems or if it doesn't fit the expectations please open a new issue.

[2022-07-21 01:40] #1119 closed

[2022-07-21 01:46] dnalborczyk commented on #1387
`v9` was released a couple days ago. could you check if that takes care of the problem(s)?

I'm closing this issue in the meanwhile as I believe there's multiple issues bing conflated.

please open a new issue if the problem still persists.

[2022-07-21 01:46] #1387 closed

[2022-07-21 01:49] dnalborczyk commented on #954
`v9` was released a couple days ago. could you check if that solves your problems? as mentioned above, worker threads are now used by default. if you want the handler to reload for development you can use the `--reloadHandler` flag, which creates new lambda instances and discards previous ones.

closing this issue in the meanwhile. please open a new issue if this does not solve your problems.

[2022-07-21 01:49] #954 closed

[2022-07-21 01:51] dnalborczyk commented on #1461
@coyoteecd `v9` was released a couple days ago. could you see if that fixes your problems? `worker threads` are now used by default. if you want the handler to reload for development you can use --reloadHandler, which creates new lambda instances and discards previous ones.

closing this in the meanwhile. please open a new issue if this does not fix your issue.

[2022-07-21 01:51] #1461 closed

[2022-07-21 01:58] dnalborczyk commented on #864
`v9` was released a couple days ago. could you see if that takes take of your issues? `worker threads` are now used by default (and also recommended). if you want the handler to reload for development you can use the `--reloadHandler` flag, which creates new lambda instances and discards previous ones.

closing this in the meanwhile. please open a new issue if this is still a problem.

[2022-07-21 01:58] #864 closed

[2022-07-21 12:18] darylteo opened #1509 "Feature Request - simulate isBase64Encoded."
## Feature Request

[code]

The above code should be familiar - API Gateway may or may not send you "isBase64Encoded: true | false" and you're expected to decode the base64 payload as needed.

It would be good to have caught this in our test suite, as it is currently not possible to simulate this through `serverless-offline`. I'm not really sure how to accomplish this currently. From source code i

[2022-07-21 20:46] dherault commented on #1448
You're the best @dnalborczyk !

[2022-07-21 20:47] bneigher opened #1510 "8.8.1 -> 9.0.0.. AWS config environment variables no longer available"
## Bug Report

**Current Behavior**

With a simple change updating the plugin from v8.8.1 to v9.0.0 - it appears that my aws config is no longer loaded automatically and unavailable in my runtime.  Testing with `"serverless": "^3.21.0"`

I don't see any breaking changes (or a changelog for the release).. am I doing something wrong?  I tried setting `AWS_SDK_LOAD_CONFIG: 1` as per the error message

[2022-07-21 21:07] MarioSimou opened #1511 "reload not working in v9?"
Prior v9, `sls offline start` was running on watch mode, but this functionality isn't available anymore. I am not sure if its an intentional change because the [changelog](https://github.com/dherault/serverless-offline/releases/tag/v9.0.0) doesn't mention anything. If that's the case, which is the recommended way to run the app in development? Use nodemon?

[2022-07-21 22:39] dnalborczyk commented on #1511
@MarioSimou I'll have to add some information to the release still. there's a couple changes under the hood. `serverless-offline` uses worker threads by default now under the hood. the other breaking change you are experiencing is that the reload mechanism is now an opt-in, as opposed to an opt-out. for that reason (and others) the name of the flag was also replaced with: `--reloadHandler`.

[2022-07-21 23:09] dnalborczyk commented on #1511
added _(and still adding)_ some changelog entries: https://github.com/dherault/serverless-offline/releases/tag/v9.0.0

[2022-07-22 16:33] ZebraFlesh opened #1512 "offline breaks when upgrading to v9"
## Bug Report

**Current Behavior**

After upgrading to serverless-offline@9.0.0, the offline process errors out with the following output:

[code]

Reverting to serverless-offline@8.8.1 restores functionality and allows the offline process to service requests. I'm using serverless-webpack for the handler code, but there's nothing crazy (e.g., no ESM).

**Sample Code**

- file: serverless.yml

[co

[2022-07-22 18:32] #1504 closed

[2022-07-22 18:45] MarioSimou commented on #1511
thanks. I managed to get my app working using v9. You can close the issue

[2022-07-22 21:30] gfzabarino commented on #864
I can confirm it works with that flag, just tested it.

[2022-07-23 03:45] ZebraFlesh commented on #1512
Was able to move past this, so closing

[2022-07-23 03:45] #1512 closed

[2022-07-23 03:54] ZebraFlesh commented on #1430
Copying over the `AWS_*` environment variables would be a great solution here. I've had to resort to the `--useInProcess` flag to successfully upgrade to v9. (We're heavily leveraging CloudMap for service discovery, which requires credentials, which can be supplied in a myriad of ways -- so I can't generically say "copy the `AWS_PROFILE` value" because not everyone uses profiles.)

[2022-07-23 10:59] TheTeaCat commented on #1358
@dnalborczyk The root of the issue here seems to be that the serverless framework expects binaries for its handlers when you're using Go, but there's no way to express how those binaries should be created in the `serverless.yml`.

The standard way this is dealt with is by providing a makefile that needs to be run before `sls deploy`. You can see makefiles are provided in all the [serverless exampl

[2022-07-23 17:43] dnalborczyk commented on #1511
great to hear! closing.

[2022-07-23 17:43] #1511 closed

[2022-07-23 17:50] dnalborczyk commented on #1430
labeling as feature. I can see the need for this. Tho I think we should copy over _everything_ instead of just restricting it to `AWS_` values. I also think this should be implemented behind a flag, and be done for `worker threads` and possibly `docker`. `in-process` picks local envs up automatically, I have to double check how `child process` is handling local envs.

[2022-07-23 17:55] dnalborczyk commented on #1510
@bneigher thank you for the report! it appears to be a duplicate of https://github.com/dherault/serverless-offline/issues/1430

the issue you are experiencing is that `serverless-offline` uses `worker threads` in **v9** by default, where we only apply env vars declared in the `serverless.yml`. if you want to lift your local variables into the lambda you would currently do this explicitly, look at

[2022-07-23 18:00] dnalborczyk commented on #1509
@darylteo thank you for the report.

could you add some minimally needed example code (serverless.yml + handler) or better create a repository which works with `serverless` but not with `serverless-offline`?

[2022-07-24 01:00] darylteo commented on #1509
I'm not sure how I can demonstrate a feature/functionality that is non existent. But I will try.

When using Serverless-Offline, the `isBase64Encoded` field is always false.

https://github.com/dherault/serverless-offline/search?q=isBase64Encoded

In a production environment, it is `true` on some occasions, or all occasions.

So code that I wrote that works in serverless-offline, without taking in

[2022-07-24 23:55] funkel1989 commented on #1512
@ZebraFlesh  I'm having a similar issue, what was your solution?

[2022-07-25 00:02] ZebraFlesh commented on #1512
I’m honestly not sure. We merged in some unrelated lock file changes and then things started working.

[2022-07-25 02:02] #1510 closed

[2022-07-25 02:04] dnalborczyk commented on #1430
added with: https://github.com/dherault/serverless-offline/pull/1513

[2022-07-25 02:04] #1430 closed

[2022-07-25 02:12] dnalborczyk commented on #1509
thank you @darylteo I thought this was already implemented, but seems like it wasn't (yet).

[2022-07-25 09:09] privateGenish opened #1514 "Offline is not supported!"
## Bug Report

Hi there! trying to create a project with serverless-offline, yet it just seem broke.

**Current Behavior**

No matter what i do, the serverless framework can seem to even work when serverless-offline is in the yml file.

**Sample Code**
`npm i --save-dev serverless-offline`

then  adding the plugin to the yml.

- file: serverless.yml

[code]
**Error**
[code]
Even just doint `server

[2022-07-25 23:03] rizowski opened #1516 "Missing AWS_PROFILE when running with new worker threads"
## Bug Report
I use the ENV AWS_PROFILE to swap out my configuration based on the directory I'm in. And because of that I quickly ran into an issue with v9 where I couldn't connect to dynamo unless I threw on the flag `--useInProcess` The environment variable will then show up and everything works as intended.

••Edit:•• After looking further into closed tickets I realized there may be a fix ready

[2022-07-26 00:02] dnalborczyk commented on #1514
hard to know what the problem is without a repro. but the way it sounds it's likely an incorrect `serverless` version which needs to be at least **v3.2** or higher for `serverless-offline` **v9**. it's also possible you are using an incorrect `node.js` version, which needs to be at least **v14.18** or higher.

if that doesn't solve your issue you might have to provide more information.

[2022-07-26 12:53] EliBates commented on #1382
Would love to have this feature as well. Any updates or workarounds?

[2022-07-26 16:10] Ankcorn commented on #1431
Hey @dnalborczyk if I made a PR with that fix do you think it would be merged?

[2022-07-27 02:15] dnalborczyk commented on #1280
please open a new issue with a repro if this issue still persists.

[2022-07-27 02:15] #1280 closed

[2022-07-27 02:19] dnalborczyk commented on #1460
thank you for the report @trixobird  could you try the latest v9 if that solves your issue?

[2022-07-27 02:32] dnalborczyk commented on #1015
this issue is fairly old, and a couple things are also being conflated here. please open a new issue if this problem still persists.

closing this in the meanwhile.

[2022-07-27 02:32] #1015 closed

[2022-07-27 02:33] dnalborczyk commented on #1514
closing this for now @privateGenish as it's not enough information to take action. feel free to open a new issue with more information if this problem still persists.

[2022-07-27 02:33] #1514 closed

[2022-07-27 10:46] OxonianCambion commented on #1192
Hi!

I don't think this is fixed for Python and the non-in-process runners issue is a red herring:

I've encountered the same issue with serverless-offline 8.8.0 & v9.0.0.

My serverless.yml:
[code]

and handler.py:
[code]

gives the same result, even if I use in-process runners or not.

I get the following, whether I use `serverless offline` or `serverless offline --useInProcess`
I get the same f

[2022-07-27 12:39] dnalborczyk commented on #1192
the docs are not really clear about this and need some updates: the flags `useInProcess`, `useWorkerThreads`, `useChildProcesses` are _only_ available for **node.js runtimes**.

@OxonianCambion could you open a new issue if you are still experiencing problems?

[2022-07-27 13:07] OxonianCambion commented on #1192
Ah, so this issue is (somewhat) unrelated to #1319 .
I'll raise a new issue for the Exception problem here and leave you to manage the documentation about the flags.

[2022-07-27 13:22] OxonianCambion opened #1517 "Failure to handle Unauthorized Exception in Python Lambda Authorizer"
## Bug Report

Raising a new issue on guidance from #1192.
"ZeeD" summarised the requirement well in that issue:

**Current Behavior**
Instead of the exception being handled and transformed into a 401 response, serverless-offline lets the exception propagate and fails to respond. The console gives the following output.
[code]
If I use Docker with `serverless offline --useDocker`, it gives a slight

[2022-07-27 18:16] dnalborczyk commented on #1516
thank you for the writeup and the repro @rizowski !

yeah, as you noticed, the other 2 issues you mentioned are related.

what I ended up implementing is the automatic copying of any `AWS_xxx` environment variables (without the need for a flag, by using some of your repro code) as well as a new option `--localEnvironment` to copy _all_ environment variables. it's released as part of **v9.1**. let

[2022-07-27 18:16] #1516 closed

[2022-07-27 18:18] dnalborczyk commented on #1430
what I ended up implementing is the automatic copying of any `AWS_xxx` environment variables (without the need for a flag) as well as a new option `--localEnvironment` to copy _all_ environment variables. it's released as part of **v9.1**.

please let me know if that fixes your issue (ideally without the flag).

[2022-07-27 18:19] dnalborczyk commented on #1510
what I ended up implementing is the automatic copying of any `AWS_xxx` environment variables (without the need for a flag) as well as a new option `--localEnvironment` to copy _all_ environment variables. it's released as part of **v9.1**.

please let me know if that fixes your issue (ideally without the flag).

[2022-07-27 19:01] dnalborczyk commented on #1383
thank you, I have a bit of better understanding now on what you are trying to solve. it might be even possible that your approach with the `async-mutex` lib (or similar) could be implemented directly with the `in-process` handler mode. not really sure tho. that said, I'm still not convinced that going so far as to adding a mutex to each handler is justified. just my personal opinion, I don't know

[2022-07-28 07:27] samartomar commented on #1150
ANy solution to this beside downgrade which i can not do, as have other things that need latest version.

[2022-07-28 12:03] dnalborczyk commented on #1150
@amanprak @samartomar https://github.com/dherault/serverless-offline/issues/1150#issuecomment-1155761386 literally nothing is gonna happen otherwise

[2022-07-29 11:34] Mauriceu opened #1519 "Error: "handler 'handler' is not a function" and webpack-libraries. What is the use-case?"
## Question

Hello!

maybe this is a non-issue, and more relevant to the webpack team, but the error is thrown inside serverless-offline.

serverless-offline: 9.0.0
webpack-version: 5.74.0

I am running a simple NestJS-Application, bundling the build-files with webpack.

My webpack.config.js:

[code]
Now when I start serverless and execute a request against an endpoint, serverless-offline throws t

[2022-07-30 23:05] dnalborczyk commented on #1519
I believe the `library` flag for webpack can be used if someone wants to export a module `namespace` (objects).

for your specific example, which appears to be `commonjs`, it would be something like:

[code]

your `serverless.yml` would look something like:

[code]

this is working in `aws lambda` as well as with the `serverless` framework. it is not **yet** supported by `serverless-offline`, but

[2022-07-31 02:47] dnalborczyk commented on #1460
@trixobird closing this issue for house keeping. please open a new issue if **v9.x** does not fix your issue.

[2022-07-31 02:47] #1460 closed

[2022-07-31 02:51] dnalborczyk commented on #1497
`serverless-offline` currently does not support `kafka` events. you might have to look if someone created a plugin for any support.

[2022-07-31 02:51] #1497 closed

[2022-07-31 03:15] dnalborczyk commented on #1224
this should be fixed with the recent release of **v9**. `worker threads` are now the default with proper memory management. if you want to reload handlers for development use the new `--reloadHandler` flag. `--allowCache` has been removed.

please open a new issue if this causes still any problems.

[2022-07-31 03:15] #1224 closed

[2022-07-31 03:33] dnalborczyk commented on #1342
@christhomas in addition what @akinboboye said, you can find an example here: https://github.com/dherault/serverless-offline/tree/master/examples/lambda-invoke

[2022-07-31 03:33] #1342 closed

[2022-07-31 03:36] dnalborczyk commented on #1383
@thekevinbrown  closing this for house keeping reasons. let us know if **v9** did not fix your issue.

[2022-07-31 03:36] #1383 closed

[2022-07-31 06:03] trixobird commented on #1460
verified that this is fixed, thank you for your efforts, apologies for the delay in verifying.

[2022-07-31 12:12] dnalborczyk commented on #1519
related: https://github.com/dherault/serverless-offline/issues/1345

[2022-08-01 05:55] trixobird commented on #1460
I verify that the bug is fixed :) Thank you for your efforts, and apologies for the late response.

[2022-08-01 11:48] dnalborczyk commented on #1431
@Ankcorn that would be great. I don't see why not!?

[2022-08-01 21:57] Pouja commented on #1512
We had the same issue. But the culprit for us was the node modules `app-root-path`. By setting `APP_ROOT_PATH` as a environment variable in the `serverless.yml` configuration file. We were able to continue.

@funkel1989 try to edit https://github.com/dherault/serverless-offline/blob/master/src/lambda/handler-runner/in-process-runner/InProcessRunner.js by removing lines https://github.com/dherault/

[2022-08-02 12:09] AlexsandroProjetosOficial opened #1522 "SyntaxError: Unexpected reserved word"
Using the current version of serverless-offiline I get the error SyntaxError: Unexpected reserved word when deploying aws through the pipeline, I had to go back to version 6.8.0, have you had this error to help me?

[2022-08-02 12:29] dnalborczyk commented on #1522
please check your node.js version: `node --version`.

`serverless-offline` **v9** requires a minimum `node.js` version of **14.18 or higher**.

[2022-08-02 12:29] #1522 closed

[2022-08-02 22:55] RichiCoder1 commented on #1014
Here's the new patch:
[code]

[2022-08-03 12:07] maximang opened #1523 "SyntaxError: Named export 'log' not found. The requested module '@serverless/utils/log.js' is a CommonJS module, which may not support all module.exports as named exports."
## Bug Report

**Current Behavior**

When running serverless offline, I get the following error since upgrading to version >=9.x.x
[code]

**Sample Code**

- file: serverless.localdev.yml

[code]

- file: get.ts

[code]

**Expected behavior/code**

I expected serverless offline to start without any error, just like with version 8.8.1

[code]

**Environment**

- `serverless` version: 3.21.0
- `serv

[2022-08-03 12:38] dnalborczyk commented on #1523
@maximang thank you for filing the issue. this is very strange. could you check which version of `@serverless/utils` is installed in your `node_modules` folder?

[2022-08-03 13:19] maximang commented on #1523
@dnalborczyk Thanks for your reply

I have multiple versions of `@serverless/utils` installed:
![image](https://user-images.githubusercontent.com/9293959/182617559-01d6957d-a1f9-49ed-a2aa-8083c88e2033.png)

The one directly under `node_modules/@serverless/utils` is version 3.1.0:
![image](https://user-images.githubusercontent.com/9293959/182617741-e0334a4f-527b-45e2-9e95-cb1eb008fa11.png)

[2022-08-03 15:53] dnalborczyk commented on #1523
although I haven't used `yarn` for a while and I don't know how their `peer-dependency` resolution works, I assume `serverless-offline` is trying to load the `v3.1.0` version, which in that case a "named export" of `log` does indeed not exist (it only exists in `v6+`. `npm v8+ also installs peer-dependencies automatically, not sure about yarn.

that said, I'm fairly sure now that `@serverless/util

[2022-08-03 17:34] dnalborczyk commented on #1523
@maximang  just released **v9.1.4**. could you try if that fixes your issue?

[2022-08-04 06:51] maximang commented on #1523
@dnalborczyk Thanks for your reactivity! It works like this :)

[2022-08-04 06:51] #1523 closed

[2022-08-04 09:39] liam-ot commented on #1476
adding `--reloadHandler` did work so i added it to the `serverless.yml` as
[code]
which also works fine

but one note

in the docs [here](https://wb.serverless.com/plugins/serverless-offline) under the `Usage and command line options` section there is a "full list" of commands but it does not yet contain this new and very useful flag

[2022-08-04 10:43] dnalborczyk commented on #1476
this seems to be some old(er) cached version of the README hosted within the `serverless` docs. you can find the up-to-date README in the github repo: https://github.com/dherault/serverless-offline#usage-and-command-line-options

[2022-08-04 14:39] kvnam opened #1526 "Error: write EPIPE after upgrade to vr 9"
Hey,

I upgraded serverless-offline to 9.1.4 from 8.3.1 and am unable to run my Serverless app, which is a Graphql Express/Node backend. Any request to it crashes immediately with this error.

The error

[code]

Environment: darwin, node 16.16.0, framework 3.21.0 (local), plugin 6.2.2, SDK 4.3.2

Serverless is at "^3.20.0"

When I downgrade to 8.8.1, it works fine. I have read the release notes, a

[2022-08-04 18:15] dnalborczyk commented on #1526
thank you for the report @kvnam .

just checked the code, I introduced a bug in **v9.1.1**, **v9.1.0** should still work for you.

it seems that you are using `child processes`, with the flag `--useChildProcesses` (or as an option in your `serverless.yml`). if you are unsure why you are using that flag I would suggest to remove it and give worker threads (the default now) a try. if you want auto-r

[2022-08-04 18:51] #1526 closed

[2022-08-04 20:23] aldenquimby opened #1528 "httpsProtocol dev certs no longer working as of 9.1.3"
## Bug Report

**Current Behavior**
- After upgrading from v8 to the latest v9.1.5, my local build failed with the following error:
[code]
- Downgrading to v9.1.2 fixes the issue

**Sample Code**

- file: serverless.yml

[code]

**Expected behavior/code**
- dev server boots without errors

**Environment**

- `serverless` version: v3.21.0
- `serverless-offline` version: v9.1.5
- `node.js` version:

[2022-08-04 20:36] kvnam commented on #1526
Thanks @dnalborczyk! You are right I did have useChildProcesses set in the serverless.yml, missed it completely. I'll switch to 9.1.5 with your fix.

[2022-08-05 10:59] dnalborczyk commented on #1528
thank you for filing the issue @aldenquimby

a fix is on the way, just need to add some tests so it won't break again in the future.

[2022-08-05 12:54] #1528 closed

[2022-08-05 13:19] #1431 closed

[2022-08-05 17:26] jer-sen opened #1530 "Computer freezes after wake up with scheduled events"
## Bug Report

**Current Behavior**

When the computer wakes up from a long standby, scheduled event are all fired at the same time executing a lot of lambdas, the computer freezes.

**Sample Code**

- file: serverless.yml

[code]

- file: handler.js

Not relevant

**Expected behavior/code**

Events triggered too late should not be fired (or at least it should be configurable, ideally per function

[2022-08-05 17:41] dnalborczyk commented on #1528
@aldenquimby could you give **v9.1.6** a try? I couldn't get the tests working quickly so I try to add them at a later time. I need to read up more about the usage of the certs and how to make it work.

[2022-08-05 20:09] jer-sen opened #1531 "Missing documentation on callbackWaitsForEmptyEventLoop and run modes"
It should be clear that `callbackWaitsForEmptyEventLoop` is not handled at all by serverless-offline with these impacts:

- in worker-threads mode: lambdas are terminated after an idle timeout without waiting for an empty event loop => ressources may not be cleared properly (connection to DB...) so they have to be cleared in a `setTimeout` juste before `functionCleanupIdleTimeSeconds`
- in in-proc

[2022-08-06 01:14] erwan-joly opened #1532 "How to add http proxy event ?"
Hello,
I'm trying to understand how I can handle an http proxy event from lambda using serverless-offline.

The configuration works fine on aws api gateway but I can't find how to make it work locally.

I have a server and can access images using direct address example:  `http://localhost:9999/image1.png` (on aws it's on a s3 bucket with cloudfront address)
I would like this to be served by the pr

[2022-08-07 19:32] dnalborczyk commented on #1532
thank you for filing the issue @erwan-joly

as far as I know support for binary data types is either only partially implemented or not supported at all _yet_.

it's on the top of the list to support next.

[2022-08-07 21:55] dnalborczyk commented on #1531
thank you for filing the issue @jer-sen

you are right, `callbackWaitsForEmptyEventLoop` is entirely being ignored right now, and I'm not sure if it's even possible to support with the current node.js api or javascript api.

I have personally never used `callbackWaitsForEmptyEventLoop`, and just looking at the AWS documentation and others, generally speaking usage doesn't seem to be advised.

we s

[2022-08-08 00:12] dnalborczyk commented on #1530
thank you for filing the issue @jer-sen

haven't tried to repro it yet, but would you mind putting up a PR with the suggested fix?

[2022-08-08 00:15] dnalborczyk commented on #1532
possibly related: https://github.com/dherault/serverless-offline/issues/1509

[2022-08-08 08:57] erwan-joly commented on #1532
@dnalborczyk issue is not really about binary data types here but the http proxy part. I only get 204 No Content. If I had binary issue I would still expect a content with corrupted data

[2022-08-08 10:38] erwan-joly commented on #1532
I tried to fix it myself https://github.com/erwan-joly/serverless-offline/pull/1/files but it seems like my knowledge of this codebase is not big enough. The new seems to return 404

[2022-08-08 16:47] jer-sen commented on #1530
@dnalborczyk sorry I realy don't have time for that. Also the best would be to make it configurable but it would take me a lot of time to dig into documentation and configuration system. The fix works well on my project. For the test, maybe you can extract `scheduleJob` callback and call it with `new Date(Date.now() - 24 * 60 * 60 * 1000))` and `new Date()` to check that there is an error only in

[2022-08-08 18:28] jer-sen commented on #1531
I don't think it can be supported by node.js.

It is the recommended way to use MongoDB with handlers using a callback cf https://www.mongodb.com/docs/atlas/manage-connections-aws-lambda/

But you are right, with async handlers, `callbackWaitsForEmptyEventLoop` is also ignored by AWS so maybe it should be just stated in the doc that:

You should also add documentation about lambda termination for

[2022-08-08 21:54] dnalborczyk commented on #1531
not quite sure if `false` covers the case tho, because as you mentioned the code keeps running (does not freeze), which would be the behavior for `true`. I would argue it behaves more like `true` (the default) than `false`, minus the freezing. (to be sure I would have to check the code, including the behavior in the modes.

(but depending on the running mode, and unlike what AWS does, some code ca

[2022-08-09 07:10] jfbette commented on #1229
@darbio which version of sls offline solved the problem? I have the problem too with v6.9.0

[2022-08-09 07:45] darbio commented on #1229
From my package.json:

`"serverless-offline": "^8.8.0"`

[2022-08-09 09:20] jer-sen commented on #1531
It's more like `false` because the response is immediately sent back to the client (in case of an http event) and the lambda timeout will not be triggered after returning. But, you are right, the lambda is not freezed just after returning, except with child-processes (it is killed immediately). Note that it is similar to what can happen on AWS when the lambda is immediately reused.

Yes, on AWS if

[2022-08-10 13:35] dnalborczyk commented on #1519
resolved in: https://github.com/dherault/serverless-offline/pull/1534

[2022-08-10 13:35] #1519 closed

[2022-08-10 13:37] dnalborczyk commented on #1345
resolved in: https://github.com/dherault/serverless-offline/pull/1534

[2022-08-10 13:37] #1345 closed

[2022-08-10 13:37] dnalborczyk commented on #1345
resolved in: https://github.com/dherault/serverless-offline/pull/1534

[2022-08-10 13:37] dnalborczyk commented on #1014
resolved in: https://github.com/dherault/serverless-offline/pull/1534

[2022-08-10 13:37] #1014 closed

[2022-08-10 15:59] dnalborczyk commented on #1531
I can see your point. speaking of which, `child-processes` only exists for historical reasons when worker threads weren't available yet. I think it's about time to remove it in the next major. I'm thinking of creating a survey in the next day for arguments for keeping or removing. I don't think worker threads does not cover any scenario `child-processes` does, and if there is, we can hopefully fix

[2022-08-10 16:01] dnalborczyk commented on #1530
that's understandable, no problem. it just might take a while that someone will get to it, that's all.

[2022-08-10 16:27] jer-sen commented on #1531
With `--reloadHandler` you can have a lot of instances, and AFAIK there is no concurrency limit in serverless-offline. So there can be more to clean than on AWS.

I think that frozen lambdas are killed without any notice.

[2022-08-10 17:02] jfbette commented on #1229
@darbio I updated and now its working fine! thanks!

[2022-08-11 17:47] novumcoder opened #1535 "Long header value causes 431 on requests"
Hi, i need to send an authorization token with a length of nearly 9000 characters.

That causes the offline server to respond with 431 - Request Header Fields To Large.

Is there any possibility to make it accept such big headers? I didn't find any option for it.

[2022-08-11 22:18] dnalborczyk commented on #1535
that might be a node.js limitation. you could try to change the header max size for node.js: https://nodejs.org/api/cli.html#--max-http-header-sizesize

[2022-08-12 09:02] novumcoder commented on #1535
@dnalborczyk i know that, but how do i push that param into a call like "serverless offline --stage xyz" ?

[2022-08-12 12:26] dnalborczyk commented on #1535
`NODE_OPTIONS="max-http-header-size=9000" serverless offline --stage xyz`

[2022-08-12 14:05] dnalborczyk commented on #1386
we do have a `monorepo` at the company I'm working, and we currently explore using `@serverless/compose` as well. I believe the intend of `@serverless/compose` is to eventually move the functionality into the main `serverless` framework, if I'm not mistaken. it might be best to wait until that happens. that said, we won't know until someone finds the time to look into it.

[2022-08-12 14:27] ArielGueta commented on #1386
@dnalborczyk check https://github.com/ngneat/nx-serverless

[2022-08-12 18:11] dnalborczyk commented on #1517
thank you for filing the issue @ OxonianCambion

if you have an idea on how to fix this issue a PR would be very much appreciated.

[2022-08-12 18:19] dnalborczyk commented on #1473
@13ogrammer could you try the latest `serverless` `v9` to see if you are still experiencing this issue?

[2022-08-13 02:18] dnalborczyk commented on #1408
thank you for filing the issue @alexcroox

I'm having a problem to see what the issue is about. your screenshot is showing the stage. what am I missing?

[2022-08-13 14:35] ecomlisters commented on #977
Must say this is really bull shit  , developers and contributors must really take a look at this . it is not working in any case . and also this is really weird to see that even after matching the node versions it is not working .

[2022-08-13 15:30] dnalborczyk commented on #977
@ecomlisters instead of venting, it would help way more if you would provide a small repro repository, if you think this is still a problem with the latest version. literally nothing will happen otherwise. there's multiple issues being conflated in this thread. The only reason I left this issue open is as a reminder to implement a `warning message` for `synchronous handlers`.

[2022-08-13 21:29] novumcoder commented on #1535
@dnalborczyk cool, that is what i was looking for. thanks.

[2022-08-14 01:10] #1535 closed

[2022-08-14 01:23] dnalborczyk commented on #1408
nm, I was able to repro if you meant the `console.log` message.

[2022-08-14 02:11] #1408 closed

[2022-08-15 11:50] mishchief opened #1540 "Serverless functions are being created but no routes are being assigned to them. I get Serverless-offline: route not found. if I try to query the endpoint."
## Bug Report

**Current Behavior**

Hello, I am working in a serverless application using serverless-offline, the application is specifically a multi route application. That is, that every endpoint is its own route. I had about 26 functions and routes before this problem occurred, then I added 4 new functions and routes, and suddenly my users routes disappeared? The functions seem to be getting c

[2022-08-15 13:34] dnalborczyk commented on #1540
Happens to everyone  😉

`serverless` config validation should probably catch it: https://www.serverless.com/framework/docs/configuration-validation

try to set it to `configValidationMode: error` to enforce it. `warn` (current default) can easily be missed. `error` also will be the new default in `serverless v4`.

[2022-08-15 16:02] #1540 closed

[2022-08-15 17:28] aldenquimby opened #1541 "Uncaught exception from worker thread should be logged to console"
## Bug Report

**Current Behavior**
1. Throw an uncaught error in function handler
2. Console does not show error details, which happened in a worker thread. Console only shows:
[code]

**Sample Code**
- file: serverless.yml
[code]

- file: appHandler.js

[code]

**Expected behavior/code**
- See `Example failure` in the console logs

**Environment**

- `serverless` version: v3.21.0
- `serverless-o

[2022-08-15 17:36] aldenquimby commented on #1541
Looks like if I change this: https://github.com/dherault/serverless-offline/blob/0f6c9f40ab94df8e1743ff7f4e3521abd9084f0b/src/lambda/handler-runner/in-process-runner/InProcessRunner.js#L93-L94

To this:
[code]

Then I start seeing the error in my console. I can put up a PR for that if console logging is acceptable? Or is there another preferred way to log?

[2022-08-15 21:13] dnalborczyk commented on #1541
thank you for filing the issue @aldenquimby . PR would be great! we use the `serverless` framework logger:

`import { log } from '@serverless/utils/log.js'`

[2022-08-16 15:01] aldenquimby commented on #1541
@dnalborczyk I just submitted a PR!

[2022-08-16 21:02] dnalborczyk commented on #1454
thank you for filing the issue @Travellerme

it seems the `childProcessHelper.js` or the `workerThreadsHelper.js` can't be loaded which are located in the same folder as the parent caller.

could you try if the issue still exists with the latest `serverless v9`? also, is `serverless` installed globally or locally next to `serverless-offline` ?

if it's not yet fixed, could you also try to create a

[2022-08-16 21:12] dnalborczyk commented on #1369
thank you for filing this issue @redouane-dev

I don't believe this can be fixed on our end. node.js itself is throwing an error if the port is already in use, unless we are catching it and ignoring it, but I don't think that's what we are doing, just checked the code.

I also tried to start `serverless-offline` twice with the same port, and an error is being thrown.

[code]

[2022-08-16 21:22] dnalborczyk commented on #1369
closing this for house keeping purposes.

[2022-08-16 21:22] #1369 closed

[2022-08-16 22:35] 13ogrammer commented on #1473
Hi @dnalborczyk
We have already resolved this issue in a different way. We realised that if we force the  handlers to always return something except `null` or `undefined`, the error did not occur. So, we updated our entire codebase to always return an empty object as a fallback to avoid this issue.

Will share if anything changes, once we update our codebase to the new version.

Thanks

[2022-08-17 00:58] dnalborczyk commented on #1473
it's definitely a bug.

e.g. when the handler returns `undefined`.

[2022-08-17 01:00] dnalborczyk commented on #1473
fixed up the PR you mentioned and I'm about to pull it in.

just fyi, we are thinking of removing `childProcesses` in the next major version, as the new default 1worker threads` pretty much covers everything what `child processes` covers - or more.

[2022-08-17 01:43] #1473 closed

[2022-08-17 19:14] sean-legitscript commented on #388
Noticed that this ticket has been closed. Does that mean a solution has been reached?

[2022-08-18 20:35] #1502 closed

[2022-08-18 21:16] dnalborczyk commented on #1502
thank you again @vic-pic for the detailed repro! fix is released in **v9.2.5**

[2022-08-18 22:24] dnalborczyk commented on #1258
@deathemperor `serverless-offline` has a dependency on `serverless`, and (a lot of) other dependencies. running both in `deno` might be soon possible: https://deno.com/blog/changes  it really depends if the node.js API is fully supported (mainly node:http/s)

[2022-08-18 22:29] dnalborczyk commented on #1241
@dherault just re-opened this. it's great to have a repro repository, which we can use to add more tests.

@enpidev please don't remove the repository until someone gets to this. I'm currently in bug-fixing mode, but it might take a while.

[2022-08-19 01:09] dnalborczyk commented on #1180
https://github.com/dherault/serverless-offline/issues/1051

[2022-08-19 14:53] coyoteecd commented on #719
For whoever ends up here, the plugin linked above is now archived by its maintainer, and it does not work with the worker-thread mode that is now the default in `serverless-offline` v9. To continue using it, you have to set `useInProcess: true` in your serverless.yml file, under the serverless-offline settings.

[2022-08-19 17:11] dnalborczyk commented on #719
@coyoteecd could you create a repro in order to see what exactly doesn't work? it shouldn't matter if `in-process` or `worker-threads` is being used.

[2022-08-21 02:10] #1541 closed

[2022-08-21 17:38] dnalborczyk commented on #719
@coyoteecd just looked at the plugin you mentioned above. you are right, it shouldn't work anymore for worker-threads, as there is no global being shared anymore.

that said, with **v9.1** we are copying the all AWS_xxxx related env vars into the worker thread: https://github.com/dherault/serverless-offline/releases/tag/v9.1.0 and you could add those 3 lines of code yourself: https://github.com/ja

[2022-08-21 17:39] #719 closed

[2022-08-21 18:33] dnalborczyk commented on #918
thank you for the repository @kc1

I was able to run everything, although I bumped everything to latest (serverless v3+, serverless-offline v9+, chrome-aws-lambda v10+)

there was indeed a problem with the serverless-offline v6 version you were using in your repro, but I didn't look into it, as the versions are now outdated.

[2022-08-21 18:34] #918 closed

[2022-08-22 11:12] coyoteecd commented on #719
@dnalborczyk the plugin uses a dedicated "role" property under the `custom > serverless-offline` config key. I don't think these settings are copied into the worker thread.

I'm also a bit confused about the "adding those 3 lines of code", do you mean add them to the lambda handler? I don't think the serverless-offline plugin has any events that get called in the worker thread's context so there's

[2022-08-22 12:07] andidev commented on #1511
@dnalborczyk since `--reloadHandler` seems to reload each lambda call there is no way to cache database connections.
Is the reccomendation to use nodemon for those cases where you want reload on file change only?

[2022-08-22 13:53] dnalborczyk commented on #1511
@andidev `--reloadHandler` is meant for development purposes, and you are right, the handler process is being terminated on each call, memory being released, and a new process (worker thread) is being spun up. keep in mind, this happens only for that individual handler you are requesting, _not all your handlers_.

reload on file change (HMR, Hot Module Replacement) is not yet implemented, but it's

[2022-08-23 11:24] agawley opened #1548 "Serverless-offline >8.5.0 stops hot reloading"
[Editing as I simplified Repo]

## Bug Report

**Current Behavior**

When upgrading from 8.5.0 to any later version of serverless-offline, changes made to the handler response while the server is running do not show up on a page reload. Stopping the server and restarting it causes those changes to appear on page reload

**Sample Code**

[code]
Shows incorrect behavior on edits to static.tsx

if yo

[2022-08-23 12:33] agawley commented on #1548
Madce some updates as I simplified the Repo by removing React and Loadable etc. Bug persists.

[2022-08-24 02:43] dnalborczyk commented on #1548
thank you for the report and the repro @agawley !

we had a couple **BREAKING CHANGES** in v9: https://github.com/dherault/serverless-offline/releases/tag/v9.0.0

reloading is now an opt-in (previously an opt-out). you have to use the flag `--reloadHandler` in order to trigger handler reloads. could you try with the latest and the flag and see if this solves your problem?

[2022-08-24 07:00] alexanderwink opened #1549 "Docker Node16 runtime"
## Feature Request

AWS recently announced it is dropping support for Node 12 runtime. Recommended action is to upgrade to Node 16. However https://github.com/lambci/docker-lambda seems stale and there is no Node 16 lambda image available and there is no activity in the repo. Do you have any plan on how to support Node 16 runtime?

More info from AWS
https://docs.aws.amazon.com/lambda/latest/dg/la

[2022-08-24 10:43] dnalborczyk commented on #1549
thank you @alexanderwink for filing the issue. you are right, the entire `nodejs` docker functionality is becoming close to be unusable.

we could try the official amazon docker image: https://hub.docker.com/r/amazon/aws-lambda-nodejs

[2022-08-24 14:04] agawley commented on #1548
I appreciate you not telling me to RTFM!

Strange that it started happening on 8.6.0, but all fixed now so no worries!

[2022-08-24 14:04] #1548 closed

[2022-08-24 16:01] anner-emed commented on #1549
I mean security wise is scary that serverless-offline has been hardcoded to use that lambci repos their docker images haven't been updated in 2 years and their github is equally stale.

I definetly suggest switching the image to something more reputable / maintained.

@dnalborczyk if i wanted to contribute fixing this what are the requirements for the image to have / include?
What tools on that im

[2022-08-24 20:13] joshdura opened #1550 "Getting ERR_PACKAGE_PATH_NOT_EXPORTED error in monorepo when updating to Node 16"
I am running a serverless application in a yarn workspaces monorepo. When trying to run the `serverless offline` command after updating to Node 16 (from Node 12), I get the following error:

[code]

The start script in my `package.json` file is as follows:

[code]

Serverless versions here:

[code]

Any idea what might be causing this (or any possible workarounds)? I have tried a complete reinstal

[2022-08-24 20:51] joshdura commented on #1550
One other note, just went back down a version (to `8.x`) and this issue doesn't happen.

[2022-08-24 21:13] an1va commented on #1550
Seeing the same issue on Node16. Was trying to switch to top level awaits but can't seem to go serverless-offline-9.x to start using this feature.

[2022-08-24 22:02] dnalborczyk commented on #1550
@joshdura @an1va

that's really weird. `./dist/debugLog` does not exist anymore in v9, which was the Babel compiler target in v8.

you might want to try some equivalent of `npm update` (`yarn update`?) or remove `node_modules` and `yarn lock` and force a fresh install.

if that doesn't help try to see if you have multiple versions of `serverless-offline` installed (since you mentioned monorepo).

[2022-08-24 23:07] pjain11 commented on #1454
I ran into similar issue. downgrading to serverless offline v 8.5.0 works for me w Serverless 3.22.

[2022-08-25 01:37] joshdura commented on #1550
Figured it out, it's actually an issue in the `serverless-offline-sqs` package. Linked [here](https://github.com/CoorpAcademy/serverless-plugins/issues/217).

[2022-08-25 01:37] #1550 closed

[2022-08-25 02:43] dnalborczyk commented on #1550
thanks for linking the issue @joshdura

in addition: https://github.com/rubenkaiser/serverless-offline-eventBridge/issues/60

[2022-08-25 03:09] dnalborczyk commented on #1549
you are right, those shouldn't be hard-coded ideally. since this plugin is for local development, security-wise it should be (more or less) "fine". that said, they are still outdated and unsupported runtimes.

Agreed.

there shouldn't be any restrictions, although it might be best to get the official amazon images supported. if I remember correctly the very release of those made the lambci maintai

[2022-08-25 05:00] adityabhimesha commented on #333
the `{paramID?}` strategy works fine on serverless-offline but results in an error saying **Resource's path part only allow a-zA-Z0-9._-: or a valid greedy path variable and curly braces at the beginning and the end** on deployment with serverless, i believe this ticket should be open since serverless-offline and serverless have an inconsistency

[2022-08-25 11:43] rubenkaiser commented on #1550
#1552

[2022-08-26 13:35] j0k3r opened #1553 "How to invoke a lambda using the AWS SDK v3?"
The README mention how to invoke locally using the v2 of the AWS SDK, but how to invoke using the v3?

I tried to define the Lambda client using these options:

[code]

But when I use it, it fails because the sdk is looking for credentials:

[code]

[2022-08-27 02:09] #1180 closed

[2022-08-27 02:09] #1051 closed

[2022-08-28 12:13] jamesnight1994 opened #1554 "Error [ERR_MODULE_NOT_FOUND]: Cannot find module 'D:\lami-accounts\node_modules\luxon\src\impl\formatter'"
## Bug Report

`npx serverless offline` gives me the following error:

[code]

I was following the following documentation on how to run a serverless Nest.js application offline : https://docs.nestjs.com/faq/serverless#example-integration

- file: serverless.yml

[code]

- file: handler.js
**Environment**

- `serverless` version: [e.g. v3.19.0]
- `serverless-offline` version: [e.g. v8.8.0]
- `node

[2022-08-28 12:19] arferreira commented on #1554
Im have to same error here :(

[2022-08-28 13:44] kurone-kito commented on #1554
I'm using a PnP environment with Yarn@berry and am probably getting the same error as in this case.

- Node.js: v16.17.0
- Yarn: v3.2.3
- serverless-offline: v9.2.6

[code]

[2022-08-28 14:25] kurone-kito commented on #1554
A temporary solution to the error, until the maintainer resolves the underlying issue, is to fix the version of luxon, an external package that serverless-offline directly depends on, to version 3.0.1.

I'll leave the explanation of how to do this in npm to others, but in Yarn, you can add the following code to package.json:

[code]

[2022-08-28 16:27] OscarLundberg commented on #1554
Same problem here. Adding the following to package.json solved it for me. (npm)

[code]

[2022-08-28 17:23] dnalborczyk commented on #1554
thank you for filing the issue. yeah, this seems to be a `luxon` issue. I'll pin the version to `v3.0.1` and release this soon, possibly also for `v8`.

[2022-08-28 18:17] #1554 closed

[2022-08-29 01:23] jaredcollier opened #1556 "Error processing numeric data type"
## Bug Report

**Current Behavior**

I'm running a fetch function using Prisma against a table with `numeric` data types.  The fetch executes well, but the `numeric` data type seems to be causing an error to throw in node_modules/serverless-offline/src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js in the following code `port.postMessage(result)`.  Running the code sample below a

[2022-08-30 02:18] dnalborczyk commented on #1553
thank you for filing the issue @j0k3r

I have a working example for the `@aws-sdk v3` working locally, but noticed some discrepancies with the `aws-sdk v2` actually not being quite right compared to the lambda behavior. I have to look into the details. I try to put up a PR which you can use as a potential reference in the meanwhile.

[2022-08-30 02:29] dnalborczyk commented on #1556
thank you for filing the issue @jaredcollier

your issue appears to be a bug in `serverless-offline`. that said, I'm wondering if your example code is working when you deploy it with `serverless`, because the exception appears to be about a custom type (Decimal2?), and not a primitive - regarding serialization?

labeling as a bug, as we should do something about it (e.g. handle exception etc.)

[2022-08-31 00:41] dnalborczyk commented on #1553
this should get you started: https://github.com/dherault/serverless-offline/pull/1557

let me know if you have any questions. I'm pulling in the PR once aws-sdk v2 + v3 work the same as the deployed version.

[2022-08-31 07:44] j0k3r commented on #1553
Great, the missing piece was the `credentials` object, this is working as expected:

[code]

Thanks!
Maybe this should be added to the README directly (like for the v2 example).

[2022-08-31 12:02] dnalborczyk commented on #977
I couldn't find an absolute 100% correct way of knowing if a function (handler) is synchronous without a callback or without the [deprecated] context callbacks.

if anyone reading this knows or finds a way, I'm happy to add a warning.

[2022-08-31 12:02] #977 closed

[2022-08-31 18:23] antpingelli commented on #1548
We are also seeing this on 8.8.0, @dnalborczyk any reason this would be happening to a version before 9?

[2022-08-31 19:43] dnalborczyk commented on #1548
😆

@agawley @antpingelli

the thing is there have been A LOT of changes under the hood from v8 to v9.  the biggest being switching from running the handlers `in-process` to `worker-threads`. reloading handlers in v8 was very buggy, unreliable, but most importantly leaking memory , as something like hot reloading can't be accomplished with the current javascript api and/or node.js api.

the only ch

[2022-08-31 19:51] dnalborczyk commented on #1553
great to hear, no problem. 👍

I made a reminder note in the PR for adding this to the docs.

[2022-08-31 19:51] #1553 closed

[2022-08-31 20:26] antpingelli commented on #1548
Thanks for the quick response! I tried 8.5.0 but it unfortunately does not work either. We will look into upgrading to v9, hopefully it is not too much work on our end

[2022-08-31 21:34] nponeccop commented on #1553
Well, this might be not the best advice. E.g., when calling a Lambda function from within a Lambda function, you must do it without arguments as the SDK would use the current role the Lambda is using.

There is also `AWS_LOAD_CONFIG` environment variable. Setting it to 1 and setting an `AWS_DEFAULT_PROFILE` lets you to use a configured profile from ~/.config the same way it is used by the AWS CLI.

[2022-09-01 07:45] leongwq opened #1560 "Unable to start serverless offline after adding plugin"
## Bug Report

**Current Behavior**

After adding `serverless-offline` into the plugins, I am getting this error when i call `serverless offline`

[code]

**Sample Code**

- file: serverless.ts

[code]

- file: handler.js

[code]

**Expected behavior/code**

**Environment**

- `serverless` version: 3.0.0
- `serverless-offline` version: 9.3.1
- `node.js` version: v14.20.0
- `OS`: macOS 12.51

[2022-09-01 10:49] dnalborczyk commented on #1560
thank you for filing the issue @leongwq

your version information differs in the top and the bottom section: `serverless` (3.22.0 vs. 3.0.0) and `node.js` (12.22.1 vs. 14.20.0)

the minimum `serverless` version required for `serverless-offline v9` is **v3.2.0**, and the minimum `node.js` version is **v14.18.0**

[2022-09-01 12:13] dnalborczyk commented on #1556
it seems the serialization is done for non-primitives by httpApi as well. I assume the deployment would work.

[2022-09-02 02:33] leongwq commented on #1560
Thanks. I was using nvm and I thought my nodejs version is at 16. I've checked and made sure my node is at version 16 and the command `serverless offline` works now.

[2022-09-02 02:33] #1560 closed

[2022-09-02 23:13] ruchikpravasi7 opened #1562 "Syntax Error when working with version 9.3.1"
## Bug Report
when trying to run "serverless --verbose" at serverless-offline version 9.3.1, getting below error

Environment: darwin, node 14.7.0, framework 3.22.0, plugin 6.2.2, SDK 4.3.2
Docs:        docs.serverless.com
Support:     forum.serverless.com
Bugs:        github.com/serverless/serverless/issues

Error:
SyntaxError: Unexpected reserved word
    at Loader.moduleStrategy (internal/modul

[2022-09-02 23:28] dnalborczyk commented on #1562
thank you for filing the issue @ruchikpravasi7

the minimum node.js version for `serverless-offline v9` is **v14.18.0**.

[2022-09-02 23:36] dnalborczyk commented on #1454
could you create a small repro repository @pjain11 ?

[2022-09-02 23:50] #1454 closed

[2022-09-02 23:58] #1326 closed

[2022-09-02 23:58] #1562 closed

[2022-09-05 02:05] dnalborczyk commented on #1257
this was introduced by bumping `hapi`, the underlying http framework: https://github.com/dherault/serverless-offline/pull/1235

unfortunately `hapi` can be a very opinionated about certain things. this might be not easily fixable without switching to another framework.

[2022-09-05 08:28] TioLuiso opened #1566 "Authorizer response context values must be of type string, number, or boolean"
## Bug Report

We have a Lambda Function, that was in Node 14. We were using serverless-offline 8.5. We had some acceptance tests, for which we spun up the function with `serverless offline start`, then we called the functions with Axios, and everything was ok.

We tried to bump Node to 16. It looks like serverless offline 8.5 isn't compatible with it. So I updated with npm i -D `serverless-offlin

[2022-09-06 02:02] dnalborczyk commented on #1566
thank you for filing the issue @TioLuiso

this is very unlikely, because v8.8.1 was published almost 2 months ago, and has been super seeded by v9 and v10 since.

not sure if you know, but wanted to mention anyways: the `context` methods (succeed, fail, done) are all deprecated. I would try to use async functions/promises instead, or if you can't for some reason, callbacks.

that's sounds like a b

[2022-09-06 11:35] TioLuiso commented on #1566
First thing, thanks for your prompt response. I was mistaken
the issue was in our authorizer. For the token that we used in the tests, it didn't have a scope. So our context was:
[code]
Version 8.5 didn't have an issue with that. However, version 8.8.1 does. The issue lays inside our authenticator.
As for the deprecation of the context methods, thanks a lot. We will address that.
I would consider

[2022-09-06 11:35] #1566 closed

[2022-09-06 12:26] AntonyOnScript commented on #1549
same problem here, i'd like to use serverless offline with node 16 or even 14, is there a date to fix it? @dnalborczyk

[2022-09-06 13:28] AntonyOnScript opened #1567 "should serverless offline works in a docker container?"
i always get this error when trying to run it in a docker container, i can't figure out where is the problem, can someone help me?
![image](https://user-images.githubusercontent.com/62514607/188647233-72c4ca68-ef35-4d2c-bf26-31b63f9235f2.png)

 - File "Dockerfile"
[code]
- File "serverless.yml"
[code]

[2022-09-06 18:19] dnalborczyk commented on #1567
you should be able to run `serverless-offline` in a docker container. the `--useDocker` option is meant for running your lambda handlers in a docker container, not `serverless` and `serverless-offline` itself. just removing it might already be enough.

[2022-09-06 20:04] jwillingham789 opened #1568 "process.env.IS_OFFLINE"
It would be great if the IS_OFFLINE env variable were either optional or could be given a custom name. I'm currently having env collision issue with another library. When i delete the following line in the code everything works as I want it to.

https://github.com/dherault/serverless-offline/blob/7416c1cd9251efb37fba62941bd48e769c7ab18c/src/lambda/LambdaFunction.js#L115

[2022-09-06 23:01] dnalborczyk commented on #1568
thank you for filing the issue @jwillingham789

we could certainly do that. that said, I would be interested to know on how this causes issues, as the `IS_OFFLINE` env var is only visible in the lambda handler itself (when running worker threads, the default). is the "other library" another `serverless plugin`, or is that a library you are using within your handler code?

[2022-09-06 23:20] jwillingham789 commented on #1568
@dnalborczyk The other library is imported by my handler code. The problematic code in the other library is here:

https://github.com/alixaxel/chrome-aws-lambda/blob/f9d5a9ff0282ef8e172a29d6d077efc468ca3c76/source/index.ts#L180

I really just want to unset the IS_OFFLINE variable completely. Thanks again for your help!

[2022-09-07 15:00] bitsofinfo commented on #1318
not sure why this was closed, definately an issue

[2022-09-07 15:27] dnalborczyk commented on #1568
thanks for the reference. it looks like the code was added to fix something with `serverless-offline`:

PR: https://github.com/alixaxel/chrome-aws-lambda/pull/195
issue: https://github.com/alixaxel/chrome-aws-lambda/issues/194

I personally don't think it's a good idea to check for that `IS_OFFLINE` variable in _any_ project. the best option for you might be to create an issue or a PR removing tha

[2022-09-07 17:39] jwillingham789 commented on #1568
@dnalborczyk Thanks again for your help. I'll use that code for now!.

[2022-09-10 12:23] dnalborczyk commented on #1568
@jwillingham789 I added a working test case: https://github.com/dherault/serverless-offline/tree/master/tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app

if you go to that directory you should be able to deploy with `serverless` as well as running `serverless-offline` locally.

[2022-09-10 17:52] saachinsiva opened #1570 "Console color no more working"
## Bug Report

We recently migrated the serverless framework to the latest version from v8.8.1 and stared noticing that none of our log statements are printed in color. With versions upto 8.8.1, we used to see info in green, warn in yellow and error in red color. We use the following logging library  https://github.com/baryon/tracer

We confirm that this started happening from V9.0.0 to the latest

[2022-09-10 18:21] saachinsiva commented on #1512
Can you please let me know what did you set for APP_ROOT_PATH? I am getting the same error starting V9.0.0

[2022-09-10 19:51] dnalborczyk commented on #1570
thank you for filing the issue @saachinsiva

the reason you don't see any colors in v9+ anymore is that the lambda handlers now run in a worker thread. it seems the color library `tracer` you are not using has a bug and can't detect color support in worker threads. I just tried `chalk` and it seems to have a similar problem. it appears to be a wide spread problem which should probably be fixed.

i

[2022-09-10 20:17] dnalborczyk commented on #1567
closing this for good house keeping. let us know if there's any other issues.

[2022-09-10 20:17] #1567 closed

[2022-09-10 20:26] dnalborczyk commented on #1549
@AntonyOnScript `serverless-offline` supports node.js v14 and v16, just not running the `lambda handler` in a docker container with the `lambda runtime`.

[2022-09-11 10:53] saachinsiva commented on #1570
@dnalborczyk

Thank you for your quick response. tracer is a logging library but I will create a ticket for them and explain the problem.

[2022-09-11 10:53] #1570 closed

[2022-09-11 13:21] AntonyOnScript commented on #1567
thanks!

[2022-09-11 16:11] alexanderwink commented on #1549
The issue is if you have mixed tech like Go and NodeJS you need to run them all with useDocker, or is it possible to have some functions run in Docker and some locally?

[2022-09-12 13:46] dnalborczyk commented on #1318
@bitsofinfo I want to tackle this issue next. it looks like the flag (option) for setting an apiKey is really not needed, as it can be done with the `serverless` config itself (as your example is outlining above). it is possible that the apikeys key/value pair in the provider.apiGateway section was not introduced yet in `serverless` when support was implemented in `serverless-offline`.

[2022-09-12 14:52] dnalborczyk commented on #963
I want to tackle this issue next. it looks like the flag (option) for setting an apiKey is really not needed, as it can be done with the serverless config itself (as your example is outlining above). it is possible that the apikeys key/value pair in the provider.apiGateway section was not introduced yet in serverless when support was implemented in serverless-offline.

[2022-09-13 01:22] lucasoares commented on #1358
Hot reloads are ok to lose, but what about debugging? :(

[2022-09-16 01:21] #963 closed

[2022-09-16 01:21] #1318 closed

[2022-09-17 17:41] yasmikash commented on #1311
so I guess we still don't have a solution for this as the maintainers have limited time in reviewing the issues that are being raised

[2022-09-19 04:50] Arc-Jung opened #1573 "Please show me solution. I want debugging TypeScript."
![스크린샷 2022-09-19 오후 1 35 38](https://user-images.githubusercontent.com/43470915/190951621-f907a1dd-0c3a-4fcb-b806-42396f2f7411.png)

I learned debugging in JavaScript.
But i failed debugging in TypeScript.
Show me debugging solution in TypeScript.

[2022-09-19 04:59] Arc-Jung commented on #1573
Here is serverless.yaml file.

[code]

Here is launch.json file in vscode setting.

[code]

[2022-09-19 11:19] dnalborczyk commented on #1573
your args in the launch config are running `serverless` directly (invoke local), not `serverless-offline`.

[2022-09-19 13:59] ahmed-sharief5 opened #1575 "POST request not working in httpApi"
## Bug Report

I am trying to use httpApi from serverless but unfortunately its not returning any response. Its just hanging

**Current Behavior**

Requests are hanging on request

**Sample Code**

- file: serverless.yml

[code]

- file: handler.js

[code]

**Expected behavior/code**

It has to give the response. But its hanging

**Environment**

- `serverless` version: [e.g. v3.19.0]
- Framework

[2022-09-19 14:14] #1575 closed

[2022-09-19 17:51] ahmed-sharief5 opened #1576 "Version 10.1.0 throws internal server error with --disableCookieValidation flag"
## Bug Report

serverless-offline 10.1.0 fails when the --disableCookieValidation flag is used with HTTP API (AWS) with payload 2.0.

**Current Behavior**

It throws internal server error with the following error

`Debug: internal, implementation, error
    TypeError: Cannot convert undefined or null to object
    at entries (<anonymous>)
    at LambdaProxyIntegrationEventV2.create`

**Sample Code

[2022-09-19 19:12] francosalcedo commented on #258
thanksss

[2022-09-20 18:11] asotoglez commented on #1382
any updates?

[2022-09-21 01:21] dnalborczyk commented on #1382
My plan is to add support for this in the next coming months - if no one beats me to it.

just skimmed over the docs and it appears that AWS is creating a URL for each `function url` with _any_ path invoking the function handler. I would imagine that means we would need to create a service with a port for each `function url`. if someone would define more than 1 `function url` we would need to assi

[2022-09-21 07:39] j0k3r commented on #1382
Or maybe using an option to determine which method the developer wants.

[2022-09-21 08:17] Pouja commented on #1512
@saachinsiva There is a new release (3.1.0) for `node-app-root-path` that includes my fix for this issue.

[2022-09-21 11:48] lensbart opened #1577 "Serverless offline does not work correctly with yarn pnp"
I’m having the same issue as described here: https://github.com/dherault/serverless-offline/issues/1454

(Finding that issue would have been easier had it not been closed prematurely!)

**Current Behavior**

[code]

**Sample Code**

- file: serverless.yml

[code]

- file: handler.ts

[code]

**Environment**

- `serverless` v3.22.0
- `serverless-esbuild` v1.32.8
- `serverless-offline` v10.1.0
- `no

[2022-09-21 11:55] lensbart commented on #1577
Reverting to `serverless-offline@8` resolved the issue, as it did for https://github.com/dherault/serverless-offline/issues/1454#issuecomment-1226582557

[2022-09-21 12:54] dnalborczyk commented on #1577
thank you for filing the issue @lensbart

could you create a small self-contained repository without `esbuild`, 'aws-lambda' and `rimraf` showcasing your problem? I'm not a `yarn` user, so I have no idea how the project setup looks like nor what command I would need to run.

you have to leave it to the maintainers of a project on how to maintain the issue tracker. if no one answers simple question

[2022-09-21 13:55] lensbart commented on #1577
The issue is not urgent for me, because I downgraded to v8. So if that’s the heuristic being applied, feel free to close this ticket as well. 😅

[Reproduction](https://github.com/lensbart/serverless-offline-issue-1577)

Or, to do it yourself:
* `mkdir example && cd example`
* Install Yarn according to https://next.yarnpkg.com/getting-started/install:
  * `corepack enable`
  * `yarn init -2`
* `yar

[2022-09-22 00:05] dnalborczyk commented on #1577
you might have noticed that this is an open source project. you won't get very far with your entitlement mentality. people are donating their time for free to do this work. nobody owes you anything. stay on v8 as long as you want, I could care less.

thank you for the repro, this actually helped to look into this quickly.

I'm convinced that this is a yarn pnp issue, since the code runs on all sup

[2022-09-22 00:17] lensbart commented on #1577
No such thing, I made it clear (pretty explicitly) I don’t expect anything from anyone.

So did I, or so I thought, by providing a reproduction for an issue that doesn’t affect me anymore.

On a more productive note, I might look into it more closely next week, and if I can identify the issue with Yarn I’ll file an issue over there.

[2022-09-22 00:22] #1577 closed

[2022-09-22 00:27] dnalborczyk commented on #1576
thank you for filing the the issue @ahmed-sharief5

could you create a PR with your fix?

[2022-09-22 00:35] dnalborczyk commented on #1549
it's not possible right now, but I agree, that's one of the pain points we should address eventually.

[2022-09-22 13:34] ahmed-sharief5 commented on #1576
@dnalborczyk  I am not able to push the code to a new branch. May i know which branch should i use to push the changes

[2022-09-22 14:11] AntonyOnScript opened #1578 "Is actually a way to to return http method as an httpMethod event key?"
With this serverless.yml, my lambda always return httpMethod inside event.requestContext, but on AWS, the httpMethod comes from event.httpMethod. So id like to know if there's a way to set it up
[code]

[2022-09-22 20:07] fuzing opened #1580 "Is there any way we could provide the name of the docker image to run"
I'm developing serverless functions for some custom images/containers.  It would be great if we could override the default docker container name so that our custom container could be used instead of the standard container/s.

[2022-09-25 23:33] dnalborczyk commented on #1121
fixed in: https://github.com/dherault/serverless-offline/pull/1581

released in [v10.3.0](https://github.com/dherault/serverless-offline/releases/tag/v10.3.0)

[2022-09-25 23:33] #1121 closed

[2022-09-25 23:33] dnalborczyk commented on #1576
fixed in: https://github.com/dherault/serverless-offline/pull/1581

released in [v10.3.0](https://github.com/dherault/serverless-offline/releases/tag/v10.3.0)

[2022-09-25 23:33] #1576 closed

[2022-09-26 01:23] dnalborczyk commented on #1578
not quite sure what your ask is @AntonyOnScript . could you elaborate a little bit on your issue?

[2022-09-26 11:11] AntonyOnScript commented on #1578
@dnalborczyk  i meant, when i invoke my lambda locally, the http method comes inside `event -> requestContext -> http -> method` key, but on AWS it comes from `event -> httpMethod`. So id like to know if theres a way to set it up to return http method as AWS does

[2022-09-26 18:14] ajouve opened #1583 "Custom plugin not sending env variables"
## Bug Report

**Current Behavior**

An environment variable defined in my custom plugin is not accessible in the local serverless code

**Sample Code**

[code]

- file: serverless.yml

[code]

- file: handler.js

[code]

- mongo connector

[code]

**Expected behavior/code**
I am running `serverless offline start` can can see my database start logs
The `MONGODB_URI` variable should be defined, but

[2022-09-27 15:31] karo-dc opened #1584 "Hot Reloading is Delayed"
## Bug Report

**Current Behavior**

Hot reloading is working with delay.
For avoiding that I have found temporary solution downgrade to 8.8.1 version.

**Sample Code**

N/A

[code]

**Expected behavior/code**

Should work as in 8.8.1 version.

**Environment**

- `serverless`  3.22.0
- `serverless-offline` 10.3.2
- `node.js` 16.17.0
- `OS`: macOS 12.2 (21D49)

Thanks in Advance.

[2022-09-27 23:21] dnalborczyk commented on #1584
thank you for filing the issue @karo-dc

how much delay are you experiencing? also, are you running your serverless process with the `--reloadHandler` flag? this is required to enable reloading in v9 and v10.

[2022-09-27 23:29] dnalborczyk commented on #1583
thank you for filing the issue @ajouve

every lambda handler is running in their own process now (worker thread), which do not share their env with the `serverless` process nor any other handlers.

you could try to use the `--localEnvironment` option, which copies the env from the main process into each handler. if your plugin runs before the `serverless-offline` plugin it should work.

[2022-09-27 23:44] dnalborczyk commented on #1578
just double checked, `httpMethod` does not exist on the `event` object. is it possible that you were running the `http` method (not `httpApi`) in aws?

[code]

[2022-09-27 23:49] dnalborczyk commented on #1580
thank you for filing the issue @fuzing

we have plans to re-write the docker functionality, as it's currently also based on the unmaintained `lambci`. we should probably slowly start collecting some ideas.

[2022-09-27 23:53] AntonyOnScript commented on #1578
yes, that's my doubt @dnalborczyk

[2022-09-28 00:06] AntonyOnScript commented on #1578
@dnalborczyk i saw here that there's 2 versions of API Gateway event, mine was setted as version 1.0 and the serverless-offline runs following the 2.0 version. Solved here! https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html

[2022-09-28 05:43] msesun commented on #838
I have this problem as well

[2022-09-28 07:15] karo-dc commented on #1584
@dnalborczyk thanks for response, yeah, I think I missed that flag, let me check with that flag as well.

[2022-09-28 08:12] #1584 closed

[2022-09-29 12:15] dnalborczyk commented on #1578
@AntonyOnScript ideally `serverless-offline` behaves more or less the same as the `serverless` deployed version to aws. are you sure this is not a bug?

[2022-09-29 12:16] dnalborczyk commented on #1583
those this solve your issue @ajouve ?

[2022-09-29 12:49] lkeijmel opened #1586 "Authorization fails when having pathParameters and set one of them fixed when building the policy"
## Bug Report

I don't complete know if it's a bug, wrong usage or "feature" but it has to do with #1043 which is closed with actually no comment  and a related PR (#1283) which addresses the issue is also closed for being old and without tests.

**Current Behavior**

We're unable to authorise when using path parameters and limiting resource access in a policy because when we're building the polic

[2022-09-29 15:55] AntonyOnScript commented on #1578
@dnalborczyk Yes, i'm sure it was just a mistake on my part. my aws was setted to create HTTP API's (API Gateway) with `1.0` version, and the `serverless-offline` is just setted to fit the most recent version `2.0`. It was causing my issue because each version has a pattern of `event` response. You can close it as solved, i think this issue will help some people with the same issue, thanks!

![ima

[2022-09-30 12:51] dvelezroman opened #1588 "NPM serverles-autoswagger library does not compile the swagger endpoint with serverless version ^3"
## Bug Report

**Sample Code**

- file: serverless.yml

[code]

**Expected behavior/code**

serverless-auto-swagger should work with serverless-offline, the endpoint to access swagger docs in browser should be deploy for local development.

**Environment**

-     "serverless": "^3.22.0",
-     "serverless-auto-swagger": "^2.8.2",
-     "serverless-dynamodb-local": "^0.2.40",
-     "serverless-offl

[2022-09-30 15:44] ryanbillingsley commented on #598
Curious why this was closed, seems like the PR was closed so this still remains a feature that would be nice to have in serverless-offline

[2022-10-01 18:29] dnalborczyk commented on #1588
@dvelezroman it looks like this issue should be filed with the `serverless-auto-swagger` repository?

[2022-10-01 18:35] dnalborczyk commented on #1586
thank you for filing the issue @lkeijmel

I'm not really familiar with this part of the code base. how is the `ApiAuthorizer` class being instantiated? is this missing in your `serverless.yml`, or done by convention?

[2022-10-02 22:32] dnalborczyk commented on #1386
https://www.serverless.com/framework/docs/guides/compose is available with **serverless v3.15**

[2022-10-03 05:13] ttn-nguyen42 opened #1591 "Serverless Offline requires .go directory"
`{
	"errorMessage": "ENOENT: no such file or directory, open 'C:\\Users\\nguyen.tran\\Desktop\\Projects\\aws-demo\\.go'",
	"errorType": "Error",
	"stackTrace": []
}`

I got this message when trying to run ```serverless offline start```. It works when using ```serverless offline start --useDocker``` but then it is super slow on first run.

Is there any way to avoid using Docker for Go projects?

[2022-10-03 08:51] lkeijmel commented on #1586
@dnalborczyk it's also a separate function declared in the servereless.yml. I've updated the original comment.

I'm also not certain on how to solve this, as I'm also a little new for deep diving into serverless(offline). Basically it should do some translation when using the regex to test if the resource path and the policy resource path match when using pathParamaters or getting also the previou

[2022-10-03 14:33] SteveAlexander opened #1592 "Lambdas can be timeout-terminated by earlier invocations"
**Current Behaviour**

The `#timeoutAndTerminate` method in `LambdaFunction` does not work properly. Later invocations can be terminated by the timeout from an earlier invocation.

This happens because `#timeoutAndTerminate` and `#handlerRunDone` are scoped to the `LambdaFunction` instance, rather than to the invocation of the lambda function.

See https://github.com/dherault/serverless-offline/bl

[2022-10-03 20:55] #1583 closed

[2022-10-04 16:45] dnalborczyk commented on #1592
thank you for reporting @SteveAlexander

I was able to reproduce and I'm looking into the issue.

If I remember correctly, the `LambdaFunction` class is being instantiated to mirror more or less a Lamda container. each instance serves (or better: should serve) exactly 1 request.

[2022-10-04 18:37] SteveAlexander commented on #1592
Thanks for looking into this!

If I understand you, then LambdaFunction should be used for only one invocation, and so the problem might be more like, the LambdaFunction instance is being reused when it shouldn't be. So, no LambdaFunctionInvocation class is necessary, just for LambdaFunction to be not reused.

That makes sense to me

[2022-10-05 00:08] dnalborczyk commented on #1592
sorry, I should have clarified. what I meant is "each instance serves (or better: should serve) exactly 1 request _at a time_" - meaning the `LambdaFunction` can be (and usually is being) re-used.

on a high level, what happens is this:  when a request is coming in, we create a `LambdaFunction` instance and add it to a LambdaFunction pool. when a second request is coming in, we check if the pool h

[2022-10-05 08:37] SteveAlexander commented on #1592
Thanks for the explanation. That all makes sense.

We're not using the same lambda in parallel just now, only calling them one after the other. Our system is basically a batch processing system, so I expect that's why we encountered this bug in this way -- calling the same lambda many times immediately in series.

[2022-10-05 15:15] #1592 closed

[2022-10-05 23:58] dnalborczyk commented on #1592
@SteveAlexander could you give **v11.0.2** a try? that should hopefully fix your issue.

[2022-10-07 14:23] SteveAlexander commented on #1592
It works! We're now using v11.0.3 successfully without our workaround.

Many thanks for your attention and fix for this.

[2022-10-08 01:19] #1588 closed

[2022-10-08 02:22] b-scharbau opened #1594 "Request authorizer with golang handler function"
Hello,

I would like to use an AWS API Gateway with a custom request authorizer written in golang. So far the code works itself, but I fail to run my handler as a custom authorizer for the gateway I configured. Is this actually a supported configuration?

My `serverless.yml` currently looks like this

[code]

When trying to run a request against my authorizer, I only get an error message that the

[2022-10-10 14:37] thehenrymcintosh opened #1595 "Breaking change introduced in 11.0.2"
## Bug Report

In version 11.0.2 [this change](https://github.com/dherault/serverless-offline/commit/ae1c8b3d62c378f4ebf604e6d60117622c22a4ed) was introduced saying it removed an unreachable condition. This was actually useful code that normalised the body, and removing it was a breaking change for Middy users (and possibly others).

**Current Behavior**

The Middy JSON body parser middleware call

[2022-10-11 02:04] dnalborczyk commented on #1595
thank you for filing the issue @thehenrymcintosh

could you give a concrete example of what is broken? I don't mind reverting the revert, but I would also like to add some tests so it won't break again in the future. we also have some scenario tests, where I would not mind to add middy as well (which I have never used).

[2022-10-11 10:20] thehenrymcintosh commented on #1595
Hi @dnalborczyk, thanks for your fast reply & overall maintenance of sls-offline, it's a fantastic tool and really appreciate your work.

I've forked the repo and added a [failing scenario test to reproduce the issue](https://github.com/thehenrymcintosh/serverless-offline/tree/master/tests/scenario/lambda-frameworks/middy-lambda). The one that fails is the get request, because the body is not norm

[2022-10-11 12:24] thehenrymcintosh commented on #1595
Also a bit of extra supporting information from the AWS lambda docs to show this is intended:

[source: bottom of this](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-create-api-as-simple-proxy-for-lambda.html)

[2022-10-12 14:31] dnalborczyk commented on #1595
@thehenrymcintosh thank you for the repro test case. I took the liberty and created a PR from your branch: https://github.com/dherault/serverless-offline/pull/1596 . everything looks good.

I deployed your test case to aws, and when invoking the GET request I get an "internal server error". is there anything else needed or something missing to make this work?

[2022-10-12 16:40] thehenrymcintosh commented on #1595
@dnalborczyk that's weird, it works when i deploy it?

If you were deploying multiple scenarios, something weird might have happened because i forgot to give the repro service a unique name (sorry). I've updated the service name to be unique now.

[2022-10-12 17:58] DallasO commented on #1588
I have reported a similar issue to `serverless-auto-swagger` and they pointed me to `serverless-offline`.

Please see their response:
https://github.com/completecoding/serverless-auto-swagger/issues/97

In my case specifically, adding `-host 0.0.0.0` option to `sls offline start` prevents compiling the swagger docs, and does not add the lambda handlers. Removing the option works as expected.
I nee

[2022-10-13 00:53] dnalborczyk commented on #1595
ups, sorry, you're right, that was entirely my fault (I copy/pasted and I didn't rename the handler file). 😞

I will pull in your PR, revert the commit and (if everything is green) release the kraken. 😉

[2022-10-13 01:12] #1595 closed

[2022-10-13 09:35] thehenrymcintosh commented on #1595
thank you! :)

[2022-10-14 01:30] dnalborczyk commented on #1437
fixed with: https://github.com/dherault/serverless-offline/pull/1525

[2022-10-14 13:21] ZentPeople commented on #1548
https://github.com/dherault/serverless-offline/releases/tag/v9.0.0

from serverless-offline v 9.0.0 hard reloading is not supported by default. To support hot reloading, you have to use the below flag

`--reloadHandler`

[2022-10-14 21:21] JamesKyburz opened #1597 "lack of child process support"
With the previous support of child process no watcher was needed as the latest code was always executed. Am I missing something, because it seems worker threads retain the initial code on process creation with no means to update?

[2022-10-15 00:14] dnalborczyk commented on #1597
we had a couple BREAKING CHANGES in v9: https://github.com/dherault/serverless-offline/releases/tag/v9.0.0

reloading is now an opt-in (previously an opt-out). you have to use the flag `--reloadHandler` in order to trigger handler reloads.

[2022-10-15 00:14] #1597 closed

[2022-10-15 18:14] dnalborczyk commented on #1588
@DallasO  there is not enough information to act on. if you want anyone to have a look, please create a small minimal repository with the involved plugins and open a new issue please.

[2022-10-16 07:37] QAnders commented on #1382
Any updates on this?
We are using a bunch of micro-services and the Lambda Function URL,  while great as a function has put some hurdles for us developing and testing...

We have moved to use Localstack to be able to run local tests but it's a hassle to develop still... We are now doing kind of an "ugly-fix" for it where we, developing as `offline` stage add a API GW (Serverless Offline), but in L

[2022-10-16 07:46] QAnders commented on #1382
I'd prefer the second approach and run it on the same port as Serverless Offline. We often have a combination of API GW (external access) and Function URL for internal access and it would be more convenient with one port and an URI prefix for Function URL's, like:
[code]

Sure, it's more to keep track of as a developer, but as Serverless Offline already prints out the URL's at startup I think it w

[2022-10-17 08:53] JamesKyburz commented on #1597
Thanks!

[2022-10-17 11:18] uzair004 commented on #1266
@eeroniemi If I understand correctly, it's not support 3.9 rather a check to throw an error if python 3.9 is used.

[2022-10-18 02:52] OmarKhattab commented on #1511
can confirm this flag `--reloadHandler` works on version 11 of serverless offline.

Otherwise I had to restart the process.

[2022-10-20 14:20] kurone-kito commented on #1577
For reference, by enabling the `useInProcess` flag, v9 and later (and v11, of course!) It works.

However, I strongly hope to solve this problem, which causes various inconveniences in the above setting.

[2022-10-25 02:55] james-hu opened #1601 "Trailing slash not removed in the route when '/' is defined in serverless.yml and prefix is specified in command line"
## Bug Report

**Current Behavior**

Command line:

[code]

serverless.yml:

[code]

Output from serverless-offline:
[code]

Response when trying to access `http://localhost:3010/me`:
[code]

**Expected behavior/code**

Request to `http://localhost:3010/me` should not be rejected by serverless-offline with a 404 response. And this expectation is consistent with the behaviour of AWS.

**Environment

[2022-10-25 03:06] james-hu commented on #1601
Could this change be a solution?
`if (hapiPath !== '/' && hapiPath.endsWith('/') && hapiPath.endsWith('+}/')) {` => `if (hapiPath !== '/' && hapiPath.endsWith('/') && (path === '/' || hapiPath.endsWith('+}/'))) {`

[2022-10-25 21:28] matias-miranda commented on #931
I think running server with `--reloadHandler` option should work
[code]

[2022-10-26 10:40] zygimantus commented on #1252
@lucasmdomingues, how did you resolved the issue?

[2022-10-26 13:58] tinchoz49 opened #1603 "Module did not self-register"
## Bug Report

Hey everyone! :wave:!

**Current Behavior**

I was trying to use the `sharp` module in my project and at the first run of the lambda handler everything works but after the lambda is cleanup (for idle timeout) I try to execute the handler again and I get the error:

[code]

**Sample Code**

- file: serverless.yml

[code]

- file: handler.js

[code]

**Expected behavior/code**

The la

[2022-10-26 20:03] JoelKlint commented on #1317
Did this get resolved? I am too experiencing that uncaught errors are silently ignored. On version 11.1.3

[2022-10-26 21:04] dnalborczyk commented on #1603
thank you for filing the issue @tinchoz49

I'm no very familiar with native modules running in `worker threads`, but it seems to me that that scenario can be supported. you could file a bug with the native plugin and ask if `worker threads` support could be added.

https://nodejs.org/dist/latest-v19.x/docs/api/addons.html#worker-support

Be declared as context-aware using NODE_MODULE_INIT() as des

[2022-10-26 21:05] dnalborczyk commented on #1603
TODO: we should add this to the docs.

[2022-10-26 21:16] dnalborczyk commented on #1601
thank you for filing the issue @james-hu

I removed the `noStripTrailingSlashInUrl` flag as you noticed in **v11.1.0**, and added the expected functionality without setting the flag. as you mentioned, `serverless-offline` should behave the same as `aws`. that said, I might have missed your scenario, or didn't fully understand the use case for such a flag.

I'll try to look into this soon.

[2022-10-27 01:02] #1317 closed

[2022-10-27 21:16] james-hu commented on #1601
Thank you @dnalborczyk !

[2022-10-28 16:23] tinhochu commented on #919
Any Updates on this Problem?

[2022-10-31 16:25] #1601 closed

[2022-10-31 19:30] dnalborczyk commented on #1601
@james-hu could you check if **v11.2.2** fixes your problem (not sure if I got all permutations).

[2022-11-01 02:01] dnalborczyk commented on #1379
fixed with: https://github.com/dherault/serverless-offline/pull/1380

[2022-11-01 02:01] #1379 closed

[2022-11-01 02:07] dnalborczyk commented on #1231
I  need to double check, but I'm fairly sure that support for `Lambda Proxy integration event v2` has been added.

[2022-11-02 00:51] dnalborczyk commented on #1231
lambda proxy event v2 support was added. closing.

[2022-11-02 00:51] #1231 closed

[2022-11-03 00:40] dnalborczyk commented on #1008
fixed with: https://github.com/dherault/serverless-offline/pull/1301

[2022-11-03 00:40] #1008 closed

[2022-11-05 21:34] mdnorman opened #1608 "API Keys in latest version (11)"
## Feature Request

I would like to continue to pass an API Key from the command-line for local development.

The `--apiKey` parameter is no longer valid on the command-line, but the API keys for my service are all created at runtime for the users that need it. Therefore, it is a bad idea for us to create API Keys in the serverless yaml file. However, locally, I still need to use an API Key and I'

[2022-11-07 21:13] dnalborczyk commented on #1608
we are trying to reduce options (flags) which have been rendered redundant over time to keep the api simple and easier to maintain.

I believe your particular scenario could be covered with something like this:

[code]

it's possible that there are other options, e.g. I'm not sure if it's possible to have a condition for (JSON) objects without using custom variables. we should probably add this to

[2022-11-08 01:55] #1311 closed

[2022-11-08 01:55] #1341 closed

[2022-11-08 01:55] #1343 closed

[2022-11-08 01:55] #1475 closed

[2022-11-10 19:06] mheironimus-rgare opened #1609 "Request to have various CVE vulnerabilities addressed"
## Feature Request

This is a request to address the following CVE vulnerabilities present in **serverless-offline** as identified by the [OWASP dependency-check](https://jeremylong.github.io/DependencyCheck/) tool:

- [CVE-2020-25649](http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-25649): A flaw was found in FasterXML Jackson Databind...
- [CVE-2020-36518](http://web.nvd.nist.gov/view/v

[2022-11-10 20:57] mdnorman commented on #1608
Thanks. I'm aware of the tricks to do this, but since I _only_ want to set the API for offline mode, the offline plugin seems like the right place to do this so folks don't accidentally add insecure API keys to production. It seems bad to force a local development feature into the deployment configuration.

[2022-11-14 12:47] jcampbell05 commented on #1324
We currently need this and hoping to contribute even just a basic version so we can use offline with our setup

[2022-11-14 14:00] major-mayer commented on #1324
If you could do a contribution for the project, this would be great news 👌 @jcampbell05

[2022-11-14 15:40] jcampbell05 commented on #1324
I've managed to throw together a basic proof of concept implementation in a few hours to kickstart discussions here. It was pretty easy to combine pieces of code we already had to get this to work with my own container images.

[2022-11-15 01:30] dnalborczyk commented on #1609
thank you for for filing the issue @mheironimus-rgare

the problem is that as you mentioned the above CVEs are related to the `java-invoke-local` package and also java related. ideally that package would fix the dependencies itself, as we can't do much about it - other than forking that package or removing jvm support altogether.

on the bright side, `serverless-offline` is a local development dep

[2022-11-15 01:36] dnalborczyk commented on #1608
I have to double check, but the way it was previously implemented didn't quite align with the newly added **provider.apiKeys** support. we could probably replace the generated value with the manual value if one is provided with the flag.

[2022-11-15 01:41] Edweis opened #1612 "Node formating colors missing after upgrading from version 8.8.1 to 9 or above"
## Bug Report

Using node 16.x, `console.log({ hello : 1 })`
![image](https://user-images.githubusercontent.com/18052624/201804666-2d2d1bf3-9b05-4bd8-8d17-8510f69add89.png)

Using `serverless-offline@8` it worked the same way:
![image](https://user-images.githubusercontent.com/18052624/201804901-a6395165-cce0-4795-acc6-5d37cbd36d46.png)

Upgrading to `serverless-offline@8`, `serverless-offline@9`,

[2022-11-15 05:51] bnol commented on #1382
Hi. Any updates on this?

[2022-11-16 00:30] ScottAwesome commented on #672
I know this was closed but it still appears to be an issue.

I am using Apollo w/ Lambda, and I get a stream of this, just off one handler:

[code]

This creates quite an issue when you're running quite a few of these and are trying to use the playground.

Any way to silence these logs, or only have it report errors?

[2022-11-16 12:33] groozin opened #1613 "API Gateway response mapping from 403 authorizer results"
In API Gateway we have a response mapping for `403` errors coming down from authorizer. See below:

![image](https://user-images.githubusercontent.com/3785575/202181146-f3d6e074-4f07-43f7-9903-02bdbb4031ea.png)

Is this doable using serverless-offline somehow? So as an effect we can run similar authorization use cases locally?

Thanks much ❤️

[2022-11-16 15:45] tiksa opened #1614 "Timeout of scheduled lambda is broken since v.9.3.0"
If scheduled lambda doesn't return a truthy value, it will result in a timeout even if the handler function is processed normally.

For example, if you specify a scheduled lambda like:
[code]

And make the handler to be like this:
[code]
And then run serverless-offline, it will result in a timeout. However, if you change `return` to `return True`, it will work as it should and timeout doesn't happ

[2022-11-18 13:40] dnalborczyk commented on #1614
thank you for filing the issue @tiksa . we'll have to look into it. not sure if that's something related to `python` runtimes only? labeling as bug for now.

[2022-11-18 13:55] dnalborczyk commented on #1612
thank you for filing the issue @Edweis

`serverless-offline` switched to using [worker threads](https://nodejs.org/api/worker_threads.html) from `v9` onwards. that said, I didn't even notice that console.log is using colors in the main process. that might be something node.js itself has to fix. if you could do some research on that topic that would be much appreciated.

on a similar note, what I n

[2022-11-18 17:39] webdeveric opened #1615 "Add Node 18 support"
## Feature Request

Add `nodejs18.x` since [Node 18 is now supported in AWS Lambdas](https://docs.aws.amazon.com/lambda/latest/dg/lambda-nodejs.html).

https://github.com/dherault/serverless-offline/blob/6ab39287fb6c4c867873740b3aa2f2b3de9ccefe/src/config/supportedRuntimes.js#L17-L21

[2022-11-18 18:40] dnalborczyk commented on #1615
thank you for bringing this up @webdeveric ! could you create a PR for the addition?

[2022-11-18 20:40] #1615 closed

[2022-11-19 00:31] vidueirof commented on #1614
I can confirm same problem with node

[2022-11-19 10:41] huksley commented on #925
Is there support of putting `noPrependStageInUrl: true` in serverless.yml?

[2022-11-20 16:07] nicoandra commented on #1324
Hello

I've faced a similar issue some days ago, my lambda package was too big and I moved the entire project towards Docker Images. But once the move was completed, deployed and tested in AWS, I realized I somehow locked-out myself of working locally.

I put together a POC that worked, and now converted it into a serverless plugin, [serverless-offline-lambda-docker-plugin](https://www.npmjs.com/p

[2022-11-21 11:55] Edweis commented on #1612
Thank you. I had a quick look and I found that colors should be passed into the worker at `src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js`. However the colors from the workers are not set. My guess is that `util.format` used in `console.xxx()` does not detect the TTY (since the worker is technically not a TTY), hence not applying colors.

I might investigate more when I'll ha

[2022-11-24 17:56] connelallison opened #1617 "Websocket connections not working with node18"
## Bug Report

Websocket connections are working when deployed but not locally when using node18. Switching to node16 fixes it so this is presumably an oversight in the recently added support for node18.

Attempting to connect to a local websocket connections results in the following:

[code]

**Environment**

- `serverless` version: v3.25.0
- `serverless-offline` version: v11.5.0
- `node.js` vers

[2022-11-25 02:08] dnalborczyk commented on #1617
thank you for filing the issue @connelallison

the support for node v18 was merely a Set entry to allow for node.js 18 as a lambda runtime. no code was changed otherwise. we also have some websocket tests running on node.js v18. could you try to run your scenario without `esbuild`? we have some scenario tests running with esbuild and when updating to the very latest version causes issues running w

[2022-11-25 14:26] sany-alume commented on #1294
@cpoetter You found any solution here? Im facing the same problem.

[2022-11-25 15:37] #1609 closed

[2022-11-25 15:53] #1603 closed

[2022-11-25 20:09] anax015obs commented on #864
--reloadHandler option is not solved my problem...

[2022-11-27 17:20] dnalborczyk commented on #1614
@vidueirof I'm not able to reproduce. I used the code from the examples: https://github.com/dherault/serverless-offline/tree/master/examples/events/schedule, added `timeout: 5` and ran it. Is there something else needed?

[2022-11-28 14:38] juha-finlabs commented on #1013
This bug has resurfaced after `resolveJoins` was removed in this refactor commit: https://github.com/dherault/serverless-offline/commit/e459110b1aa327ea8ac5b7e5d9a47bab708445ca

Reason for removal was not stated, I wonder what it is?

[2022-11-29 12:52] tsaarinenluoto commented on #1614
I created a very simple repository with simple instructions to reproduce this bug (Python):
[https://github.com/tsaarinenluoto/sls-offline-timeout-bug](https://github.com/tsaarinenluoto/sls-offline-timeout-bug)

[2022-11-29 19:58] dnalborczyk commented on #1614
thank you @tsaarinenluoto thank you for your repo!

@tiksa the reason it worked before v9.3.0 was that timeout was either not implemented or broken.

[2022-11-30 04:03] dnalborczyk commented on #1617
closing for good housekeeping. I'm happy to re-open if his really is an issue with `serverless-offline`.

[2022-11-30 04:03] #1617 closed

[2022-11-30 07:14] tiksa commented on #1614
Yeah, according to release notes it seems the timeout feature was added in 9.3.0. (Along with this bug :)

[2022-11-30 07:33] tiksa commented on #1614
Hmm, I checked PythonRunner.js and it seems there isn't handler for `'end'` event in #handlerProcess. There are:
[code]
Should the following handler perhaps be added? Possibly the promise never gets resolved, which results in a timeout.
[code]

Unfortunately atm I'm busy to clone and study this more and try something like that. Btw, tiksa equals tsaarinenluoto, accidentally just posted with wrong

[2022-11-30 17:09] dnalborczyk commented on #1614
I'll have a look when I find some time. as a workaround until it's fixed you should be able to use the `noTimeout` flag.

gotcha, no problem 😉

[2022-11-30 19:22] dnalborczyk commented on #1614
just digged through the code a bit, it seems the spawned process is essentially created once per lambda for performance reasons (change here: https://github.com/dherault/serverless-offline/pull/949)  I'm not quite sure what effect the `reloadHandler` flag and the `timeout` have on the runtime.