[2016-02-23 11:58] dherault opened #2 "Populate `event` object using velocity templates"
Todo, not really an issue.

[2016-02-26 14:47] rallu opened #3 "Problem with parsing JSON requestTemplate since it is already js object"
I had problem with parsing my request templates. I made this little fix to test if template is already js object:

In index.js:163

[code]

[2016-02-26 15:11] dherault commented on #3
You're right, `requestTemplates` as defined per `const requestTemplates = endpoint.requestTemplates;` is already an Object, so there is no need for parsing. I've been working on 1.0 (that should supports velocity in full) on master but I'll create a branch for it.

Allow 30 min, I'll publish a new version applying your fix. Make sure you've read the source (you've done it obviously) before using t

[2016-02-26 15:15] rallu commented on #3
Yeah. I noticed that after fiddling for a while. Then I found another error second route and ended up catching whole error:

[code]

[2016-02-26 15:17] dherault commented on #3
I wanted to get rid of the JSON parsing, but do you think it is still necessary ?

[2016-02-26 15:20] rallu commented on #3
Just get rid of it. It was nice to have something automatic for simple cases.

[2016-02-26 15:21] dherault commented on #3
This is a fix, not amazing:

[code]
What do you think ?

[2016-02-26 15:22] dherault commented on #3
I replaced `if (typeof requestTemplate === 'object') {` with `if (requestTemplate) {`

[2016-02-26 15:27] dherault commented on #3
Publised under v0.2.2

[2016-02-29 21:29] #3 closed

[2016-02-29 21:30] dherault commented on #2
v1.0.0-beta1

[2016-02-29 21:30] #2 closed

[2016-03-08 09:20] thekiwi opened #7 "Problem with parsing requestTemplate"
It seems that serverless-offline is not correctly handling my request template.

In my s-function.json, I have the following:

[code]

But the end result is the handler is receiving a crazy object:

[code]

Trying to debug it, it looks like the issue is within `renderVelocityTemplateObject.js` as the `templateObject` parameter passed in is actually a string, so the following line iterates over eve

[2016-03-08 09:59] ngothanhtai opened #8 "Does not work with POST?"
I tried to access data in event object but it's undefined.
Thanks for creating this awesome plugin :+1:

[2016-03-08 10:36] dherault commented on #7
I'm on it!

[2016-03-08 10:37] dherault commented on #8
I'm on it! Can you provide some lambda function and config ? Also, are you on serverless 0.4 ? Thanks.

[2016-03-08 11:23] thekiwi commented on #7
Thanks! Loving the plugin, makes development so much quicker!

[2016-03-08 11:24] dherault commented on #7
Ok, I saw where the pb was. Please run npm update (new version: 1.0.5) and tell me if it solved your issue :sweat_smile:

[2016-03-08 11:41] dherault commented on #8
I see the pb, solving it :smiley:

[2016-03-08 12:29] ngothanhtai commented on #8
Hi @dherault,
Thanks for your quick response.
I don't define any template for POST content. Everything post from client will available in "event" object.

I used Postman to test the API and here is the result:
Error: Something went wrong while parsing the response as JSON: Unexpected ''
https://gyazo.com/a9b8db481b31da1685970491fd4d1f77

testPost/handler.js
[code]

s-function.json:
[code]

[2016-03-08 12:49] thekiwi commented on #7
Yep, that sorted it! Thank you very much!

[2016-03-08 12:49] #7 closed

[2016-03-08 13:08] dherault commented on #8
Soooo,
Solving your issue was easy: my bad, I could have seen it coming.
But I had to write a few lambda to know how APIG (weirdly) behaves with content-type.
Please run npm update (v1.0.6) and tell me if it solved your pb.

Thanks for the issue, the plugin got nicer :sweat_smile:

[2016-03-08 17:28] ngothanhtai commented on #8
The "event" object now have data but only `{ isOffline: true }`. Even though, I passed `{ "id": 1}`.
I tried to run with args `--debugOffline` and see in payload they have `{ "id": 1}`.
![screen shot 2016-03-09 at 12 27 01 am](https://cloud.githubusercontent.com/assets/295174/13609927/baef17d4-e58d-11e5-9fdd-38243f143bf2.png)

[2016-03-08 22:34] martinmicunda opened #9 "GET by id doesn't seem to work"
Hi,

I try call follow API address `http://localhost:3000/locations/1` but it seems offline plugin is not passing id param to the lambda handler.

*s-functions.json*
[code]

*handler*
[code]

*output*
[code]

[2016-03-08 22:43] dherault commented on #9
Thanks, I'm on it!

[2016-03-08 22:43] dherault commented on #8
As seen in your screenshot, there is no template found for the `application/json` content-type.

Here's how to configure your `s-function.json` file to extract the payload (and client's ip as another example) from the request:

[code]

Here's the resulting event object:
[code]

If you plan on using other content-type, like `multipart/form-data`, specify another template for it.

[2016-03-08 22:46] dherault commented on #9
In the meanwhile, I would suggest you this modification to your template:

[code]

But you should be able to use a JSON string if you want to, so I'll work on it.

[2016-03-08 22:51] martinmicunda commented on #9
hm it doesn't seems to work either.... I am using latest offline plugin and serverless framework...

[2016-03-08 22:57] martinmicunda commented on #9
I have just checked the same code against `v1.0.4` and it works however when I try run it against `v1.0.6` I can't pass any params.

[2016-03-08 22:58] dherault commented on #9
Yep, I see why. I'm pushing a quick fix commit, but I have another issue: `"operation": "read"` gets evaluated as a Velocity string, and returns undefined. I'll run some tests on AWS to see how it goes.

[2016-03-08 22:59] dherault commented on #9
v1.0.7 for quick fix (that doesn't support custom attributes like `"operation": "read"`)

[2016-03-08 23:01] martinmicunda commented on #9
thanks ;) To get idea why I am using `operation` flag see this [thread](https://github.com/serverless/serverless/issues/443#issuecomment-168019991).

[2016-03-08 23:02] dherault commented on #9
Ok, AWS gets it right (of course). Making more tests

[2016-03-08 23:06] dherault commented on #9
My test template: `"{\"operation\":\"read\",\"id\":\"$input.params('id')\", \"stuff\":\"$stuff\"}"`
AWS response:
[code]
See how 'stuff' is considered Velocity ?
Thats my pb: how to know whether a string is Velocity or not (so I can parse it or not)

[2016-03-08 23:22] dherault commented on #9
Sooo,

I can't get the same results as AWS for now, because the velocity library I'm using (JS) differs from theirs (Java I guess). But 1.0.8 allows for custom attributes (like 'operation') until I fill an issue in the velocityjs repo ^^

v1.0.8

[2016-03-08 23:24] martinmicunda commented on #9
Thanks a lot... v1.0.8 works for me ;)

[2016-03-08 23:26] #9 closed

[2016-03-09 08:54] #8 closed

[2016-03-10 19:03] marclar opened #11 "Support for serverless v0.5"
Any idea if this should work with v0.5?

[Here's the line that exits if it's a later version](https://github.com/hyrwork/serverless-offline/blob/master/src/index.js#L79)

Happy to send a PR if there's no problem removing it.

[2016-03-10 19:24] dherault commented on #11
No, it does not work with serverless 0.5, there are a few ajustements to be made. It has to do with how to load the project, functions and endpoints, and how to populate them (they changed the API). I was waiting for sls 0.5 to go out before publishing it but I can do it tomorrow, on a separated branch.
If you wanna try please be my guest :)

[2016-03-10 20:08] spardo opened #12 "responseParameters support"
Would like support for responseParameters.

Not sure if the example below is valid but would like to dynamically load responses to the header, such as `location` for a newly created item.

[code]

[2016-03-10 20:16] marclar commented on #11
I will defer to your superior expertise ;)

[2016-03-10 21:37] martinmicunda commented on #12
I am currently working on error API Gateway and lambda error handling and here is my use case:

[code]

*handler.js*
[code]

The above example works on AWS. Not sure if this on your roadmap but it would be nice if offline plugin could match regular expression and return 404 statusCode with errorMessage (currently is returning 200). This is nice [article](http://kennbrodhagen.net/2016/03/09/how-to-

[2016-03-10 22:55] martinmicunda opened #13 "Bug in renderVelocityTemplateObject.js and quick fix"
Hi,

I have follow request template which is not parsed properly by offline plugin:

[code]

To fix the problem make change on code line [43](https://github.com/dherault/serverless-offline/blob/master/src%2FrenderVelocityTemplateObject.js#L43) and add `context` parameter:

*from:*

[code]

*to:*
[code]

[2016-03-11 07:13] dherault commented on #13
Thanks, will fix soon

[2016-03-11 07:14] dherault commented on #11
Haha, my superiory is inexistant :monkey: I'm a mech engineer :)

[2016-03-11 07:18] dherault commented on #13
Fixed in 1.2.1
But I will use your template for additionnal tests, I feel like 1.2.1 won't be enough.

[2016-03-11 07:18] #13 closed

[2016-03-11 07:28] dherault commented on #12
@spardo spardo Using (request and response) parameters is hard because it really has to do with integrations, but I'll try something.

@martinmicunda You can teak you template to make it work with Offline:
[code]
But I'll commit something to make it work with your code soon.

[2016-03-11 12:34] dherault commented on #12
@martinmicunda Solved in v1.2.2.

@spardo It seems like a long road, but request and response parameters are on their way :sweat_smile:

[2016-03-11 13:42] dherault commented on #11
Done! Wanna try it ? I have not published it yet but installation instructions are given on the new branch https://github.com/dherault/serverless-offline/tree/serverless_0.5

[2016-03-15 11:06] martinmicunda commented on #12
I am starting to have same request like @spardo :) I try to set up response content-type to json (offline currently return conte-type as text) so it would be nice to have this feature in the offline plugin :)

[code]

[2016-03-15 15:29] dherault commented on #12
Content-type returned as text is a bug! I'll fix it!
I've been thinking about request/responseParameters, it's possible, but will take some time.

[2016-03-15 15:36] martinmicunda commented on #12
thanks...

[2016-03-15 15:40] dherault commented on #12
I don't see the response content-type set as text, in which case do you have this ?

[2016-03-15 15:43] dherault commented on #12
Anyway, I worked a fix, v1.2.6, please review it, thanks.

[2016-03-15 15:45] martinmicunda commented on #12
sorry .. The `content-type` doesn't seem to be set at all... I am using Postman for testing and I have test for response `content-type`. Shouldn't the offline plugin send content-type="application/json; charset=UTF-8" or at least to be able somehow to configure respond..

[code]

[2016-03-15 15:47] dherault commented on #12
With v1.2.6 ?

[2016-03-15 15:49] martinmicunda commented on #12
just pulled latest version and it works ... thanks ;)

[2016-03-15 15:51] dherault commented on #12
Sweet! I'll start working on request/responseParameters right away. Won't be before friday I think, sorry about that :cry:

[2016-03-16 10:04] dherault commented on #12
@spardo @martinmicunda So it seems that only header modification is supported by APIG's responseParameters when it comes to lambda integrations.

1.3.0 is on it's way, will support
`"method.response.header.xxx": "integration.response.body"`
`"method.response.header.xxx": "integration.response.body.__JSONpath__"`
`"method.response.header.xxx": "integration.response.header.yyy"`
`"method.response.he

[2016-03-18 18:52] dherault commented on #12
@spardo @martinmicunda Done. run `npm update` to download the new `v1.3.0`.
See the new docs for usage. Happy coding!

[2016-03-18 18:52] #12 closed

[2016-03-18 18:59] #11 closed

[2016-03-18 19:15] marclar commented on #11
Perfect -- sorry; missed this for some reason. I'll try it and report anything odd. Thanks, @dherault

[2016-03-20 13:56] nirmalgoswami opened #15 "Serverless V0.5 - TypeError: Path must be a string. Received undefined"
Installed for v0.5 with `npm install https://github.com/dherault/serverless-offline.git#serverless_0.5`

added `"plugins": ["serverless-offline"]` in `s-project.json` file

run `sls offline start` then i got following error

`TypeError: Path must be a string. Received undefined`

[2016-03-21 07:29] dherault commented on #15
Thanks a lot @nirmalgoswami. Serverless 0.5 is still in active dev, many PRs are breaking changes. I'll look at it in a few hours after work.

[2016-03-21 11:37] andreipopovici opened #16 "Set env var when Offline"
Hi there,

Lambda best practices suggest setting up database connections (in my case, DynamoDB Local) outside of the event handler. I noticed that `isOffline` is appended to the event object, but we have no other way to determine if we're running offline before that.

My suggestion would be to set a `process.env.IS_OFFLINE` or similar within the server code, so we can check for it within init code

[2016-03-21 16:10] dherault commented on #16
Thanks for the suggestion @andreipopovici. I'll publish something in a few hours, stay tuned :)

[2016-03-21 16:38] dherault commented on #16
Done, and I fixed a major bug u_u'. Please see v1.3.1.

[2016-03-21 16:57] andreipopovici commented on #16
:+1: Way to be on top of things!

[2016-03-21 16:58] #16 closed

[2016-03-21 17:35] dherault commented on #15
Yep, they changed a lot. I like what they did though. Should be working now. Thanks for the issue!

[2016-03-22 15:56] marclar opened #17 "Cannot read property 'serverlessPath' of undefined"
For serverless v0.5

Added the plugin, then ran `sls offline start` and got this error.

[code]

[2016-03-23 07:17] dherault commented on #17
Ok, I'm on it!

[2016-03-23 07:18] #15 closed

[2016-03-23 07:36] dherault commented on #17
Just released `v2.0.0` :tada:  !

[2016-03-23 16:05] domderen opened #18 "Support for `babel` runtime"
There is a serverless plugin: https://github.com/serverless/serverless-runtime-babel which adds support for new type of runtime called `babel`. It pretty much does part of the functionality of this plugin. It would be awesome if the two could play nicely together ;)

[2016-03-23 20:20] dherault commented on #18
Yep, thanks for pointing it out! I'll try to implement something for that.
In the meanwhile you can still use Babel with Serverless-Offline (see the readme) and use Serverless-Optimizer to compile your es6/7 code before deploying on Lambda. The result is pretty much the same as using Serverless-runtime-babel except you get all the Serverless-Offline functionalities, like Velocity parsing.
Let's ke

[2016-03-23 20:21] #17 closed

[2016-03-23 20:23] domderen commented on #18
Yeah that's cool and that's exactly what I am using right now. But today with the release of v0.5.0 of `serverless` there was an issue in `serverless-optimizer-plugin` which made it unusable. That's when I switched to the `serverless-runtime-babel`, and noticed that this project is not compatible ;)

Anyway, it would be great if the two could work together ;)

[2016-03-23 23:59] martinmicunda opened #19 "Serverless v0.5.0 env breaking changes"
The Serverless has released `v0.5.0` with env [breaking changes](https://github.com/serverless/serverless/releases/tag/v0.5.0) and dropped `serverless-helpers-js` module so my question is if the offline plugin should be responsible to load these env variables from `s-function.json` as I tried run my app but it doesn't seem the env variables are passed.

*s-function.json*
[code]

[2016-03-24 06:31] dherault commented on #19
If think I would be nice (and easy) to do it :shipit: . In the meanwhile you can access them via your event object with the following template:
[code]

[2016-03-24 10:23] martinmicunda commented on #19
just quick note this env needs to be load as `process.env` e.g. `process.env.SERVERLESS_PROJECT` ..

from the release [notes](https://github.com/serverless/serverless/releases/tag/v0.5.0):
`This is done by switching your handler with another one on FunctionRun and FunctionDeploy. The handler is titled _serverless_handler and it contains your Environment Variables.` so when you run or deploy the fu

[2016-03-26 09:13] dherault commented on #19
Done! Please tell me how it goes :)
v2.1.0

[2016-03-26 15:13] martinmicunda commented on #19
it works! thanks a lot :)

[2016-03-26 15:13] #19 closed

[2016-03-30 12:48] dherault commented on #18
Done! Check out the new version 2.2.0 :sweat_smile:
Please note that you might have to install the es2015 preset in your project to make it work.
`npm i babel-preset-es2015`.
Can you tell me if it works fine on your side? Sorry for the 1-week delay u_u'...

[2016-03-30 13:00] dherault commented on #18
oups! `v2.2.1`

[2016-03-30 13:50] domderen commented on #18
Awesome thanks! I'll test it in a spare moment and report back.

[2016-03-31 04:46] nirmalgoswami opened #21 "Error - internal, implementation, error"
[code]

can you please explain why i am getting this error,is this bug or i have issue with my code

i love your work :)

[2016-03-31 05:02] nirmalgoswami commented on #21
Just for ref - i have created common function for response,i have pass content as param of common function and i am return like content.done in common function

[2016-03-31 07:50] dherault commented on #21
Hello @nirmalgoswami
Can you provide more details about your project (especially your handler and s-function file)?
Do you think it has to do with the order of args ? `context,status,data`

[2016-03-31 07:53] dherault commented on #21
YES! I found the issue ^^ it has to do with the plugin u_u, will fix soon

[2016-03-31 07:54] nirmalgoswami commented on #21
+1

[2016-03-31 08:05] dherault commented on #21
Sorry to disturb you for that, but can you copy/paste me the line at E:\wamp\www\project\node_modules\serverless-offline\src\index.js:444 ? Thanks

[2016-03-31 08:08] nirmalgoswami commented on #21
@dherault here it is line number `444`

`return this._reply500(response, 'Uncaught error in your handler', err);`

[2016-03-31 08:08] dherault commented on #21
thanks

[2016-03-31 08:09] nirmalgoswami commented on #21
welcome :+1:

[2016-03-31 08:18] dherault commented on #21
OMG, are you using the babel runtime?

[2016-03-31 08:19] nirmalgoswami commented on #21
no

[2016-03-31 08:20] dherault commented on #21
This is bigger than I thought, it will take me some time. you should try to install a previous version of the plugin in the meanwhile
`npm uninstall serverless-offline`
`npm install serverless-offline@2.1.1`

[2016-03-31 08:21] nirmalgoswami commented on #21
no problem take your time

[2016-03-31 08:25] nirmalgoswami commented on #15
Thanks working fine now

[2016-03-31 09:28] dherault commented on #18
Oups again :sweat:  please try `v2.2.2`

[2016-03-31 09:29] dherault commented on #21
Done! Please try `v2.2.2`
You may still have an error though, but I hope it won't be mine :stuck_out_tongue:
Thanks a lot @nirmalgoswami for pointing this out

[2016-03-31 09:31] nirmalgoswami commented on #21
@dherault Thanks for such fast fix :) let me check

[2016-03-31 09:37] nirmalgoswami commented on #21
@dherault Fixed :+1: :100:

[2016-03-31 09:40] dherault commented on #21
Wooooouoooo :fire: :exclamation: 'till next bug :stuck_out_tongue:

[2016-03-31 10:30] nirmalgoswami commented on #21
can you please explain case when this type of error can come

you have mentioned that You may still have an error though, but I hope it won't be mine

before fixed this issue,i got this error on first run of function on browser,,but that fixed but i got another error related mysql,,i mean may be due to timeout of mysql connection,i got after some idle time

i got following error

[code]

[2016-03-31 10:45] nirmalgoswami opened #22 "Question - how can we use post method with this plugin"
I can read this comment from author

`When no Content-Type header is set on a request, API Gateway defaults to application/json, and so does the plugin. But if you send a application/x-www-form-urlencoded or a multipart/form-data body with a application/json (or no) Content-Type, API Gateway won't parse your data (you'll get the ugly raw as input) whereas the plugin will answer 400 (malformed JSON

[2016-03-31 10:53] dherault commented on #22
Using postman, try this:
![image](https://cloud.githubusercontent.com/assets/4154003/14173650/7de0fa60-f73f-11e5-89b1-57bf16f393a4.png)
(settings: raw, application/json)
- or -
You could make a template for x-www-form-urlencoded and keep your actual settings.

[2016-03-31 10:55] dherault commented on #21
Damn, I'll look again u_u after I eat

[2016-03-31 11:11] dherault commented on #21
This time I really need some code, can you send me your project by email (dherault@gmail.com) unless it's confidential of course. Thanks!

[2016-03-31 11:16] nirmalgoswami commented on #21
@dherault  i can not give you project due to confidential issue but if you want to see my project structure then here it is [project-structure](https://github.com/serverless/serverless/issues/897#issuecomment-203734877)

[2016-03-31 11:24] dherault commented on #21
Ok, let us do things differently:
can you run `sls offline start [your usual options] --debugOffline` and copy/paste te console output please? I really can't find wat causes this bug

[2016-03-31 11:26] dherault commented on #21
Mmm I found something. Do you call context.(done/succeed/fail) twice ?

[2016-03-31 11:27] nirmalgoswami commented on #21
hahahha yes i am also debugging,,,look like this is case....i did not use `return false`

[2016-03-31 11:29] dherault commented on #21
`return false` ? I don't see why your handler should return anything in particular

[2016-03-31 11:33] dherault commented on #21
So,
once again, `v2.2.3` should (and may) fix it. Thanks for your help @nirmalgoswami the plugin got nicer.

[2016-03-31 12:10] nirmalgoswami commented on #21
Thanks for consider my point in plugin

[2016-03-31 12:11] nirmalgoswami commented on #22
@dherault  can not get value in handler got `undefined`

[2016-03-31 12:14] dherault commented on #22
try
[code]

[2016-03-31 12:18] nirmalgoswami commented on #22
[code]

this one is working,thanks

[2016-03-31 12:21] #22 closed

[2016-04-01 16:41] rajington commented on #18
Works for me on `v2.2.4`

[2016-04-02 08:00] #18 closed

[2016-04-03 23:13] kennu opened #25 "Array in $input.json('$.value') expanded as double array"
Hi. I'm testing with a simple template like this:

      "requestTemplates": {
        "application/json": "{\"value\":$input.json('$.value')}"
      },

It expands as expected with a string value:

    curl -H 'Content-Type: application/json' -d '{"value":"hello"}' 'http://localhost:3000/echo'
    {"value":"hello"}

However, with an array value, the array is expanded as a double array:

    curl

[2016-04-04 05:33] dherault commented on #25
Thanks for this issue @kennu! `wrap: false` is supposed to take car of that, but seems like it does not. I'll make more tests and publish a fix.

[2016-04-04 08:50] dherault commented on #25
Your fix did it, here's the new version: `v2.2.7` :monkey: !!!

[2016-04-05 02:05] spardo commented on #12
Thank you very much and sorry for going dark, I was not receiving any email notifications. Can't wait to test it out.

[2016-04-05 12:53] dherault opened #26 "$util.escapeJavaScript inconsistency"
When using `$util.escapeJavaScript('Hello%0AWorld')` in a template,
APIG parses: `Hello↵World`
Offline parses: `Hello\nWorld`

This is due to the Offline dependency `js-string-escape` that does not match APIG's `$util.escapeJavaScript`.

Will fix. Until then this does the trick: `foo.replace(/\\n/g, '\n');`

[2016-04-06 02:30] tobyhede opened #27 "Does not work with node v0.10.44"
A pretty minor issue but on node 0.10.44 when running the `sls offline start`

[code]
Why even, do you ask?
Because Lambda only supports node 0.10.x

I was trying to be diligent and develop against the target platform.

[2016-04-06 08:00] dherault commented on #27
You're right, this plugin does not work with node 0.10.x. In fact, it is optimized for Node v4 and over!
But `/usr/local/lib/node_modules/serverless/bin/serverless:5` indicates that the error is due to Serverless, not Serverless-offline. Serverless too is compatible only with v4 and over.
My advice is for you to use Node v5 (with its cool new ES6 features, and npm v3!) with Serverless, Serverless-

[2016-04-06 08:00] #27 closed

[2016-04-07 10:50] evanstachowiak opened #28 "{"statusCode":404,"error":"Not Found"}"
For any request I make, I'm receiving a 404.

I'm using python, is this supported with serverless-offline?

[2016-04-07 12:00] dherault commented on #28
Sorry, Python is not supported by the plugin u_u.
I'll add a warning on startup if an unsupported runtime is found.
I'm willing to implement it thought. Can you show me how to declare an environment variable in Python please ? In JavaScript it looks like `process.env.FOO = 'bar'`

[2016-04-07 13:44] #25 closed

[2016-04-07 14:45] evanstachowiak commented on #28
That would be great if you implemented it.

In Python:
[code]

[2016-04-07 15:06] dherault commented on #28
Thanks! It means to rethink the plugin architecture (that is a good thing). I can't say for sure :)

[2016-04-07 15:06] #28 closed

[2016-04-08 02:34] ac360 commented on #26
@dherault In the meantime, you are missing `jsesc` in `package.json` which is causing the current version to crash:

`Error: Cannot find module 'jsesc'`

[2016-04-08 07:11] dherault commented on #26
:scream:

[2016-04-08 07:14] dherault commented on #26
v2.2.9

[2016-04-14 11:10] nirmalgoswami commented on #21
please work little more on `Warning: context.done called twice!` because its hard to find where is mistake,it is just showing `Warning: context.done called twice!` message,it should be display line number to trace issue,this is my suggestion.

[2016-04-14 12:52] dherault commented on #21
Ok it's noted! I'm currently working on a new version of the plugin, with support for python runtime, I'll include this as well. Watch out for version 2.3 :)

Including the line number might be possible, I'll look deeper into that.

[2016-04-14 12:52] #21 closed

[2016-04-14 12:56] nirmalgoswami commented on #21
Thanks for hard work ! `your plugin is essential for serverless framework` cant imagine work without your plugin :+1:

[2016-04-17 22:05] nat-n opened #31 "optionally disable timeout"
I have a use case for there being an optionally to disable or lengthen the timeout when running offline.

Specifically I have function that has to load a sizeable file from s3 to process requests. This of course takes very little time from lambda but can easily timeout locally. I can of course adjust the config for when I'm running it locally but this isn't really a good solution.

I think the ide

[2016-04-18 12:21] dherault commented on #31
Disabling timeout with a CLI option like `--disableTimeout` should be easy to implement.
Please wait for the new version 2.3, it will take some time, I'm working on it today.

[2016-04-19 08:39] carlhunterroach opened #32 "checking "Invoke with caller credentials" option for Integration Requests"
In my s-function.json under "endpoints" I have "authorizationType": "AWS_IAM"

I'd also like to set "Invoke with caller credentials" in my APIG's Integration Request as it is currently reset to false on each sls update.

Can I set this value using SLS?

[2016-04-19 13:43] carlhunterroach commented on #32
incorrect domain

[2016-04-19 13:43] #32 closed

[2016-04-20 15:42] dherault opened #33 "Content-type override"
On non-GET and non-HEAD request (typically a POST), the content type for incoming requests is overridden to 'application/json'.
Will be fixed in v2.3.

[2016-04-22 17:09] dherault commented on #33
Fixed

[2016-04-22 17:09] #33 closed

[2016-04-22 17:11] dherault commented on #31
Done! Enjoy `v2.3` with the new `-noTimeout / -t` CLI option.

[2016-04-22 17:11] #31 closed

[2016-04-22 17:12] dherault commented on #26
Fixed. `v2.3`

[2016-04-22 17:12] #26 closed

[2016-04-24 16:45] arabold opened #34 "Overwriting Content-Type header in response not working"
I'm serving web content (css, js) through my Lambda. For this I have defined a central endpoint that handles various different content types. The actual one is set dynamically in the response. Take this endpoint response as an example:

[code]

The json response from my Lambda looks something like this:
[code]

The _expected_ behavior is that the HTTP `Content-Type` header is set to `text/css` (as

[2016-04-25 09:02] dherault commented on #34
Ok I'm on it, expect `v2.3.1` by the end of the day :)

[2016-04-25 09:34] dherault commented on #34
Done! Please enjoy `v2.3.1` and tell me if it worked :)

[2016-04-25 15:47] arabold commented on #34
Thanks! It works perfectly for dynamic `Content-Type` headers now. But it seems there's one case that still doesn't work - fixed strings like this:

[code]

In this case the plugin sets the `Content-Type` to `'text/html'` (with single quotes around it). The correct value would be `text/html` (without quotes).

[2016-04-26 08:28] dherault commented on #34
Doesn't the unquoted version work on APIG? Please do not close this issue, I'll work on it later, thanks for the help @arabold !

[2016-04-26 22:22] Whoaa512 opened #35 "Not able to specify timeout with a template value"
While this work for deploys this does not work for local dev

[code]

[code]

[2016-04-27 07:03] dherault commented on #35
I'm on it!

[2016-04-27 07:31] dherault commented on #34
Done! See `v2.3.2`.

[2016-04-27 07:32] dherault commented on #35
Done! See `v2.3.2`.

[2016-04-27 12:52] arabold commented on #34
The unquoted version wouldn't work as APIG needs to distinguish between a hardcoded value (`'text/html'`) and a dynamic one (`integration.response.body.contentType`). The latest version works perfectly though! Thanks again.

[2016-04-27 17:20] Whoaa512 commented on #35
Works great thanks!

[2016-04-27 17:20] #35 closed

[2016-04-28 07:20] #34 closed

[2016-05-01 23:01] jkon opened #36 "Pass METHOD and PATH to event"
In the serverless docs, there is a part about how to structure your endpoints and functions to consolidate the code. It mentions that API Gateway can pass the METHOD and PATH of the endpoint to the lambda event.  Those can then be used to route the request to a specific chunk of code instead of having multiple lambdas. It would be nice if this plugin could do that too.
Thanks

[2016-05-01 23:35] jkon commented on #36
Sorry, after looking some more, I figured out that this is a matter of getting the requestTemplate right, not an issue with the plugin. Closing the issue

[2016-05-01 23:35] #36 closed

[2016-05-04 13:10] fruffin opened #37 "Request template not parsed/rendered correctly"
First of all, thanks a lot for this plugin! It's an awesome time saver and makes development and debugging so much easier!

I am however having some issues with the request templates, which I hope you can help with.

The template I am using is very basic:
[code]

So when I hit my endpoint with the query string "?first=12&other=34" I was expecting the "queryParams" property to give me an array or a

[2016-05-04 13:44] fruffin commented on #37
I'm not quite sure what format velocity.js is meant to output, but to me it looks like it's meant to be json strings and it's just not happening.

I managed to get it to work by modifying the file velocityjs/src/compile/compile.js

This is the new version of the "format" function which seems to work with serverless-offline, but the fix may be in completely the wrong place and I may have completely

[2016-05-05 08:39] aliatsis opened #38 "Typescript Support"
Feature Request:
TypeScript support would be greatly appreciated!

[2016-05-06 06:51] dherault commented on #38
I'll see what I can do, never used Typescript, hope they have a require-override like babel and cofeescript :)

[2016-05-06 06:57] dherault commented on #37
Hi !
First of all I'm sorry I took so long (new job).
Using Serverless-Offline, your query string is rendered as "{first=12, other=34}". What about APIG ? I think it does the same! `"$input.params().querystring"` and `"$input.params().header"` are not meant to return JS object, neither JSON, they return Velocity-flavored string.

Nevertheless, if you stop any difference between APIG and this plugi

[2016-05-07 00:06] vmadman opened #39 "Add CORs support"
I'm using `serverless-cors-plugin` to add CORs support to my AAG endpoints, so that I can test/use my API in the browser and on hostnames/ports that differ from my API.

I am using `swagger-ui` to test the live endpoints, and would also like to use `swagger-ui` to do the same with my `serverless-offline` server, and, yet, I get the following error:

[code]

I noticed mention of setting response he

[2016-05-07 01:24] marcoslhc commented on #37
I have this from the directly from serverless-starter project:
[code]

I tried to do this and didn't get the error:

[code]

I didn't got the transformed map in the function though 😞

[2016-05-07 01:28] vmadman commented on #39
PR submitted, #40

[2016-05-07 04:21] aliatsis opened #41 "authorizer function support"
It would be great to add support for customer authorizer functions so I can simulate authorization/authentication locally.

[2016-05-08 04:01] marcoslhc commented on #37
This error happens in Node 6.0. Rolling back to Node 5.0 fixed my issue. I guess is something with the Object.toString check in Velocity broke with the new version of Node.

[2016-05-09 07:11] dherault commented on #37
Yep, I'll look into it :) PR are welcome because I got a new job u_u

[2016-05-09 07:12] dherault commented on #41
Please PR ^^ Thanks!

[2016-05-09 07:12] dherault commented on #39
Saw it, thanks!

[2016-05-11 08:10] dherault commented on #39
Merged, `v2.4.0` thanks again and sorry for the delay u_u

[2016-05-11 08:10] #39 closed

[2016-05-11 08:12] dherault commented on #37
This was a major bug due to an upgraded dependency (hapijs). Thanks guys for the issue. Please check the new version `2.4.0` for the fix :)

[2016-05-11 08:12] #37 closed

[2016-05-13 14:22] jesucarr opened #44 "eslint support, and watch files"
It would be good to have the option to parse the code through eslint when starting the offline command, and show the lint warnings/errors as you save the files (watch).

[2016-05-13 14:27] jesucarr opened #45 "Debuggers support"
The `--debugOffline` flag seems to only print some debug info to console. I would expect that to also send the `--debug` flag to the node process, so it exposes the debugger listening in the default port (5858), or setting `--debug=PORT`, to use a custom port, just as it happens with the `node` command. This way we could use any debugging tool to attach to that port and debug line by line from our

[2016-05-16 06:43] dherault commented on #44
I think this would be outside the scope of this plugin, since this is just a AWS APIG & Lambda emulator. What about doing this linting step at build time, before pushing?

[2016-05-16 06:46] dherault commented on #45
Yep, good idea. I can't PR since I've never used such tools. Is there a way to have both behaviors? (the console.log and the debugger output?)

[2016-05-16 21:42] johncmckim commented on #41
Has anyone started work on this? I'd be happy to contribute a pull request.

Just going over what needs to be done (looking at src). For each endpoint that had a `authorizationType` or `CUSTOM`, a [hapi auth strategy](http://hapijs.com/api#serverauthstrategyname-scheme-mode-options) would be set on the route. The strategy would be linked to the [hapi auth scheme](http://hapijs.com/api#serverauthsc

[2016-05-16 21:54] aliatsis commented on #41
@johncmckim
I was planning to at some point, but had to de-prioritize it for now.

Here's an example:
https://aws.amazon.com/blogs/compute/introducing-custom-authorizers-in-amazon-api-gateway/

the event object:
[code]

I'm not exactly sure how serverless determines the `authorizationToken`. The API Gateway docs allow this to be configurable (e.g. `method.request.header.Authorization`).

The only

[2016-05-16 21:57] johncmckim commented on #41
Thanks @aliatsis. I'll see if I get some time to put something together this week.

[2016-05-16 22:03] johncmckim commented on #41
Also, what's the easiest way to test this? Can this be run as a CLI from outside a serverless project?

[2016-05-18 06:42] dherault commented on #41
Testing this project has always been a pain. I tried several times to write tests but its intrication with serverless raises testing issues. If you find something better than calling functions for the browser/terminal/postman please tell me!

[2016-05-18 06:46] #44 closed

[2016-05-18 12:11] jesucarr commented on #45
Yes, they are totally different things.

To the console log you can output anything you think might be useful to see in console.

What I mean with debugger support is that the node process is launched in debug mode.

For example, imagine that I have a file called `server.js` that starts a web server in port 3000. I can execute it normally with the node command:
[code]
Now I can execute it in debug

[2016-05-18 23:10] johncmckim commented on #41
@dherault I have been using [API Easy](https://github.com/vowsjs/api-easy) to test the endpoints on my serverless project. See [this test file](https://github.com/johncmckim/express-to-aws-lambda/blob/4-authentication/test/index.js).

If you were willing to have a test serverless project in this repo, you could have a script to do the npm linking, run the `sls offline start --debugOffline` command

[2016-05-19 09:34] johncmckim commented on #41
How far should this go in validating the result of the Authorization function? So far with the pull request I've created it check checks for `err` and `data`. Is it worth going into checking wether or not the endpoint matches the resources specified in the policy document?

The `methodArn` on the `event` object requires a `<Account id>` and `<API id>` (API Gateway ID). Any idea of ways to deal wit

[2016-05-19 15:57] aliatsis commented on #41
@johncmckim I think validating that the `principalId` exists is worth it.
Validating the policy would definitely be nice, but probably not required.

[2016-05-23 11:44] dherault commented on #41
Thanks to @johncmckim, please try the new `v2.5.0` :)

[2016-05-29 00:29] johncmckim commented on #41
@dherault with some more testing I've realised there's a few differences between how this work and how API Gateway works. I'll send a PR with fixes soon.

[2016-05-30 08:23] dherault commented on #41
@johncmckim Ok sure np

[2016-05-30 23:40] johncmckim commented on #41
I haven't had a chance to do it yet, I'll try soon. But the main issue is that the plugin splits the Authorization header when it should pass in the whole header.

The other issue is that it returns 403. However, it should return 401 when `context.fail("Unauthorized")` is used and 403 when the policy denies the resource.

[2016-05-31 08:09] tuanmh opened #49 "Babel runtime requires return Promise?"
Hi guys, thanks again a great plugin, this is compulsory for development using Gateway & Lambda. Currently I'm having a function with babel runtime. However, I always get the following error when using `context.done`. This is really a show-stopper.
``Serverless: Warning: context.done called twice within handler 'user_bookmark_create'! ``

My function is very simple though:
[code]

It looks like we

[2016-05-31 17:53] alshamma opened #50 "JSON using VTL different between serverless on API Gateway vs offline"
I am using this construct in my s-templates.json as part of my requestParameters:

[code]

When I call my API from API Gateway, my Lambda receives the params as a string, and I have to call JSON.parse on the string.

When I call my API from serverless-offline, my Lambda receives the params as an object (which I actually prefer).

Would be great if both returned the same response, which I guess mea

[2016-05-31 18:15] edclement commented on #41
It seems that the implementation for custom authorizer support cannot handle promises being returned. Returning a promise works when deployed but the offline plugin expects an immediate value with a principalId.

[2016-05-31 21:23] johncmckim commented on #41
@edclement I've just added support for promises, along with some other fixes.

[2016-06-01 07:27] dherault commented on #50
Hi @alshamma, you've just pointed out the plugin's main issue! This is due to the difference of implementation between the Java Velocity parser AWS uses and the JavaScript Velocity parser we use (an external library).

To fix your issue one should call JSON.stringify on each velocity output, put this raises issues too.

I'll keep this one open as a reminder.

[2016-06-01 07:31] dherault commented on #49
Hi @tuanmh, you make a good point. I'll merge your PR, thanks for it. But this might break other people's code and open more issues ;) :monkey:

[2016-06-01 07:31] #49 closed

[2016-06-01 08:03] dherault commented on #41
Merged! `v2.5.1`

[2016-06-01 21:25] alshamma opened #53 "Problem with CORS support"
I have a problem with CORS. I’ve got it as far as returning 200 from OPTIONS, but then get this in Chrome:

[code]

Where xxx is my domain name for my SSL cert. Note that the ports are different on the origin and XMLHttpRequest, therefore, $.ajax adds 'Origin'. This seems to be the case even if I specify crossDomain: false.

I'm invoking serverless offline like this:
[code]
Charles Proxy gets this

[2016-06-02 02:32] peebles opened #54 "Does not work given serverless getting started doc"
When using "sls function create", the s-function.json created contains this fragment:
[code]

In particular, "requestTemplates" has a template for "application/json" which is set to "".  This seems fine for AWS.  But not for offline ...

In index.js we have:

[code]

In this case, requestTemplate is "", which resolves to false (node 4.4.4), and the if block is not executed, leaving event equal to

[2016-06-02 08:01] dherault commented on #54
Hi @peebles thanks for noticing this.

Are you saying that AWS always adds a "payload" key to the "event" object when using the POST method? If yes this is a major bug of the plugin.

Here's a quick fix to your pb, until we solve it globally:
[code]

[2016-06-02 08:04] dherault commented on #53
Hi @alshamma, I'll look into it. @vmadman what do you think?

@alshamma Can you test each header separately to see which one is blocking?

[2016-06-02 14:51] peebles commented on #54
No, that's not what I am saying.  I'm saying that given the s-function.json I showed, if I post { "foo": "bar" } to amazon, I get event.foo==bar, but in offset plugin I get event.foo==undefined.

[2016-06-02 15:52] dherault commented on #54
Thanks, this is officially a bug now :wink:
Will work on it.

[2016-06-02 15:54] alshamma commented on #53
@dherault The error message from Chrome indicates that the "Origin" header is not accepted. But, Firefox sends Origin. Here is the list of headers that Firefox sends:
[code]

And the response in Firefox:
[code]

For Chrome, I can only see the headers sent on OPTIONS, which succeeds. It is the GET that fails:
[code]

For some reason, I can't see the OPTIONS for this particular call in Firefox, but

[2016-06-02 18:50] alshamma commented on #53
I found what appears to be the problem. Chrome sends the "Referer" header in OPTIONS and Firefox does not. As a result, offline does not send the CORS Access-Control-xxx headers in the OPTIONS response to Chrome.

The workaround is to add **referer** to --corsAllowHeaders.

[2016-06-02 20:40] alshamma commented on #53
Yikes, it was working while Charles Proxy was running, but stopped working after reboot. Debugging some more.

[2016-06-03 22:54] adambiggs commented on #50
I just ran into this issue as well. `#if()` statements seem to act differently between AWS/Offline.

Assuming `value` is undefined, the following works offline:
[code]
But on AWS the text is rendered when it shouldn't...

Then I tried this:
[code]
Which works on AWS, but throws an error offline...

I also tried:
[code]
Which worked offline but not on AWS.

[2016-06-03 23:51] adambiggs commented on #50
I found a workaround on [this page](http://wiki.apache.org/velocity/CheckingForNull) that seems to work the same between AWS/Offline:

[code]
But this is kind of ugly...

[2016-06-04 20:38] Aciid opened #55 "Ability to run lambda functions offline "locally""
Sorry for empty post in your emails, ill edit this now.

 is there  a way to use lambda functions that are not deployed, via invoke in serverless offline mode?

eg `.then(() => invoke('timeout', {user, delay: 70}))`, would execute the lambda function. But it would call it in AWS and not try running it in offline mode.

like theres a command to run `sls function run timeout` that runs the function

[2016-06-05 09:37] Aciid commented on #55
https://github.com/SC5/lambda-wrapper
This looks like what I'm looking for

[2016-06-06 06:38] dherault commented on #55
Hi @Aciid, this feature is interesting, can you point me to the `invoke` API? Is it a AWS thing?

[2016-06-06 08:01] Aciid commented on #55
Hey here is invoke.js from serverless-graphql project

[code]

And heres how serverless-graphql uses it

[code]

Here's Lambda-wrapper that I figured using with env.IS_OFFLINE

[code]
'use strict';

// Require Serverless ENV vars
//var ServerlessHelpers = require('serverless-helpers-js').loadEnv();

const db = require('../../api/lib/dynamodb');

const stage = process.env.SERVERLESS_STAGE;
const pr

[2016-06-07 22:48] aidanlane opened #57 "Doesn't seem to support the MOCK endpoint type (for CORS)"
The MOCK endpoint type would be super helpful, enabling us to implement the CORS preflight OPTIONS endpoint without invoking the handler.

Examples:
- https://github.com/joostfarla/serverless-cors-plugin/issues/22#issuecomment-205966037 (manual implemention, ***not*** using the CORS plugin)
- https://github.com/joostfarla/serverless-cors-plugin/blob/f044e0f5b8c12d0c95f3a4a5b0a6e4a0245ace08/src/ind

[2016-06-08 07:21] dherault commented on #57
Hi @aidanlane, indeed this would be useful, although not too many people would like to call the OPTION preflight without invoking the handler behind.
I'll think of a way to handle the MOCK type correctly. But it won't be until august :/
Feel free to PR if you can't afford to wait :)

[2016-06-08 07:24] dherault commented on #55
This is a nice feature for the next big release in august, thanks for your input it will be implemented!

[2016-06-08 07:24] #53 closed

[2016-06-08 11:16] aidanlane commented on #57
Fair enough :)
We have a workaround for now, but we'll see what we can do.
Thanks for the speedy reply!

[2016-06-10 08:27] shineli1984 commented on #41
Hi @johncmckim , great work here. Thank you for the efforts to make this work.
I can't seem to use environment variables set in s-function.json for authorization function.
I had a look at the code. I think the auth function is invoked before any environment variables is set on process.env. Is this the case? or Am I missing anything?

[2016-06-11 21:12] aliatsis commented on #41
@johncmckim I just tried out the authorizer flow and it works but I can't seem to get the `principalId` in the handler. I have a request mapping set up for `$context.authorizer.principalId` is this supported? How have you successfully retrieved the `principalId` from with the handler lambda?

[2016-06-12 01:59] rickdsac opened #58 "None of my JSON parameters come through in event object"
I can't seem to figure out what is going on I have a simple Serverless function like:

[code]

and I'm using Postman to call it with this JSON:
[code]

But the response I get back is missing the tpl param as this is all I get back:
[code]

Does anyone have an idea what could be going on?

[2016-06-12 02:54] rickdsac commented on #58
I was thinking maybe this was something to do with my serverless project configuration so I just started a fresh new test project as well but got the same issue.. I can upload the project here or push to a repo if that would help as well, I'm genuinely perplexed by what the issue could be. I'm running on Ubuntu and my node version is v6.2.0, in case that matters.

[2016-06-13 00:59] johncmckim commented on #41
@shineli1984 the env variables are something I missed. The file that would need to be updated would be [createAuthScheme.js](https://github.com/dherault/serverless-offline/blob/master/src/createAuthScheme.js) and it would need to populate the env variables as in [index.js line 353](https://github.com/dherault/serverless-offline/blob/master/src/index.js#L353). Abstracting that could be a good idea.

[2016-06-13 01:04] shineli1984 commented on #41
@johncmckim I'll try to do a PR myself.

[2016-06-13 01:54] shineli1984 commented on #41
@aliatsis A workaround for you I think would be setting `PRINCIPAL_ID` in your auth function in dev environment.
For example:

[code]

[2016-06-13 07:30] dherault commented on #58
Hi @rickdsac , this is a confirmed bug of serverless I'll tackle when the time comes. Please refer to #54 to add a "payload" key to your event until this get solved.

[2016-06-13 07:37] dherault commented on #41
@shineli1984 I merged your PR, see version 2.5.2!

[2016-06-13 07:39] dherault commented on #41
Guys thank you all for your good work. There are still a few bugs in the plugin (see other issues), I intend to solve them all in August, unless you do it first of course.
Thanks again!

[2016-06-13 07:39] #41 closed

[2016-06-13 20:45] diosmosis opened #60 "x-form-url-encoded body should not be parsed by offline server"
I have an API Gateway endpoint that accepts form POST data (ie, w/ mime `application/x-form-url-encoded`). API Gateway will not parse this data, instead this has to be done in the lambda, so the event payload in AWS is a string.

The problem is that the Hapi server always parses this data into a JavaScript object. Which means my lambda code that works on AWS will not work through serverless offlin

[2016-06-14 02:48] rickdsac commented on #58
thanks, guess I missed that, will try that

[2016-06-14 03:08] rickdsac commented on #58
Hi, I tried the following from the other post but I'm still not seeing the params come through for the event object, am I doing something wrong?

my s-function.json:

[code]

My function:
[code]

My request:
[code]

My response (when I call in Postman):
[code]

[2016-06-14 06:56] dherault commented on #60
Hi @diosmosis, I had this pb too, and think there is a way to get the raw string using the Hapi API.
In the meanwhile I'll denote your issue as a bug and will come back to it in august u_u.
I know.

[2016-06-14 07:03] dherault commented on #58
It works fine on my side. Did you set the content-type right (application/json) ?
Also, can you start serverless-offline with `--debugOffline` and paste your terminal output on the request?

[2016-06-14 20:06] martinmicunda commented on #55
This is actually nice feature to have as I have same problem when I invoke lambda function it calls AWS lambda an not local lambda...

[2016-06-16 18:51] randallmeeker commented on #57
@aidanlane what is your current work around, I just hit this myself. My first thought was to just disable the security check in the browser, but that would be a pain.

[2016-06-16 19:23] diosmosis commented on #60
If you could point me in the right direction, I'd be happy to create a PR. The closest I could get to finding a way to get the whole request body is the `raw` property which has the incoming request. At this point, though, I think the request has already been read? Maybe there's something I'm missing or another approach...

[2016-06-16 20:22] aidanlane commented on #57
Hi @randallmeeker, for CORS itself, we used this approach: https://github.com/joostfarla/serverless-cors-plugin/issues/22#issuecomment-205966037

With the change that for the request template, we added `httpMethod`:
[code]

Then for the handler we do something like:
`if (event.httpMethod === 'OPTIONS') { return context.done(); }`

Hope that helps!

[2016-06-16 20:29] randallmeeker commented on #57
cool, I was using the same work around for the mocked endpoint was just unsure I ended up needed to just write the method into my lamdba. Thanks for the quick answer!

[2016-06-17 09:47] binux opened #62 "When response is a String AWS wrap it with double-quote while serverless offline not."
handler.js:

[code]

The response of AWS lambda is `"string"`, but the response of serverless offline is `string`

[2016-06-20 07:35] dherault commented on #60
The `raw` object is the way to go. But Hapi's configuration can be pretty tough and the raw object may be weird to handle.
In your request, what is the content-type request header? In your lambda function template, is it the same content-type?

[2016-06-20 17:47] diosmosis commented on #60
I'm not sure how well I understand your question, so correct me if I'm wrong, but you'd like to know what content-type I'm sending to serverless offline & what content-type is in the lambda function template, right?

In my lambda s-function.json, there is this:

[code]

I have a mocha test case that uses request-promise (& co-mocha) like so:

[code]

(This is somewhat sparse, I know, but the code

[2016-06-20 17:49] diosmosis commented on #60
I noticed Hapi lets you add an extension that is run before the request payload is processed. I think I could use this to read the request to make the raw string body available to serverless offline (for x-www-form-urlencoded and for using $input.body in velocity templates). Do you think this is an acceptable approach?

[2016-06-21 08:47] dherault commented on #60
From what I see, your request's content-type may not match your template's content-type.
Can your start serverless-offline with the `--debugOffline` CLI option and paste the terminal output here (when sending the request) ?

Thanks.

[2016-06-21 16:58] Glavin001 opened #63 "Use CORS-policy configured for serverless-cors-plugin in s-project.json"
See https://github.com/joostfarla/serverless-cors-plugin#usage

I incorrectly assumed that serverless-offline and serverless-cors-plugin worked well together 😜 . I expected the configuration for CORS as defined in `s-project.json` to be extracted and used by serverless-offline.

I'd love your feedback. I am happy to contribute. Let me know how you recommend implementing this! Thank you for this ex

[2016-06-21 19:49] diosmosis commented on #60
Here is the debug output (w/ some info redacted):

[code]

The exception raised is: `'TypeError: str.split is not a function'`. Raised because `str` (which is the payload) is an object.

[2016-06-22 05:23] vanerleo opened #64 "support for scheduled events"
is there a way to get  scheduled events supported?
ie;=:
"events": [
    {
      "name": "schedule",
      "type": "schedule",
      "config": {
        "schedule": "rate(5 minutes)"
      }
    }
  ]

[2016-06-22 10:18] dherault commented on #63
Indeed that would be sweet, serverless-offline doesn't work out of the box with serverless-cors. We do have configuration options for CORS, but nothing handy for serverless-cors. To contribute all you need to know is how Hapi handles CORS. You can access the `custom` object easily, you'll find examples in the code. If you're missing something do not hesitate I'll try to respond quicker!

[2016-06-22 10:19] dherault commented on #64
I don't know what are scheduled events yet. Is it like a cron call on your lambda?

[2016-06-22 10:25] dherault commented on #60
Ok your request template is processed normally.
Try the following on your request template:
[code]

[2016-06-22 13:34] andreipopovici commented on #64
@dherault, yup, they're created via CloudFormation in `serverless`. They're actually "Events" in CloudWatch, exactly like cron calls. As far as I can tell, they need to be enabled manually the first time they're deployed with `serverless`.

@vanerleo, I think enabling events would be tricky for `serverless-offline` and might be better suited for a separate plugin. It would involve keeping track of

[2016-06-22 13:58] andreipopovici opened #65 "FYI: issue with hapi's CORS in 13.4.1"
Just a heads up to anyone having issues with CORS headers in `serverless-offline`. There seems to be a bug in the latest minor version of `hapi`: https://github.com/hapijs/hapi/issues/3207

I had the same issue and it went away by downgrading to `hapi@13.3.0` and `serverless-offline@2.3.2`.

[2016-06-22 19:13] diosmosis commented on #60
NOTE: Testing against serverless offline, not API gateway.

`"$"` sets my payload to the string literal `"$"` (so not too helpful :) )

`"$input.path('$')"` has a very strange effect, it sets the payload to invalid stringified JSON that looks like:

[code]

(Notice the lack of quotes.)

`$input.body` would help, but this doesn't appear to be available offline.

I appreciate you taking the time to

[2016-06-23 01:27] vanerleo commented on #64
agreed ,` sls offline run functionName` would be a good feature to set up all vars at least

@andreipopovici in regards to enabling them in CouldWatch, i've read that having a setting in "config"
{
"enabled": true
}

should enable it ... but so far no luck with getting it to auto enable on first deploy
see https://github.com/serverless/serverless/issues/698
https://github.com/serverless/serverless

[2016-06-23 05:17] andreipopovici commented on #64
@vanerleo I had no idea about the `enabled` flag! Thanks for that 👍

With `sls@0.5.5` and higher, I think that the default `sls function run functionName` actually loads all env variables specified in the `_meta` folder for that particular stage, so that's a possible existing replacement.

@vanerleo, I would see the ability to run scheduled events as part of a fork of `serverless-offline`, made wi

[2016-06-23 05:36] #64 closed

[2016-06-23 06:58] dherault commented on #65
Wow, thanks a lot @andreipopovici, I'm fixing this now!

[2016-06-23 07:00] dherault commented on #60
O_O $input.body is so new! I'm adding it now!

[2016-06-23 07:09] andreipopovici commented on #65
No worries. Let me know if you figure out what causes it. Since the issue seems to be with `hapi`, a quick fix would be just to downgrade the dependency, especially if you don't use anything added in `13.4`, I guess...

[2016-06-23 07:14] dherault commented on #65
It is done. `v2.6.0`, let me know.

[2016-06-23 07:14] dherault commented on #60
Please try the new version `2.6.0` for $input.body (not a string yet...)

[2016-06-23 07:15] dherault commented on #54
Ok what about now, `v2.6.0`

[2016-06-23 07:16] dherault commented on #58
Ok, now it should work, only if your template is empty. (Is it the case on AWS?)

[2016-06-23 07:38] andreipopovici commented on #65
Hmm, didn't work. There might be another issue specifically with `serverless-offline` between 2.3.2 and latest.

I tried a combination of `hapi@13.4.1` and `serverless-offline@2.3.2` and it worked fine, but `v2.6.0` with `hapi@13.3.0` didn't work (same error).

Perhaps there's something going on with the default CORS headers option? I'll try to take a look later today.

[2016-06-23 13:25] cspeer opened #67 "Uncaught error: Cannot set property 'isOffline' of null if payload is empty"
Hello there,

I just discovered that if you fire a POST request with no payload at all it will throw the following error:
[code]

If you however supply a payload as simple as `{}` everything is fine!
Thanks for this awesome plugin!

Cheers,
Chris

[2016-06-23 13:56] cspeer commented on #54
I'm running 2.6.0 and still my event object == `{"isOffline":true}`:/

[2016-06-23 14:01] cspeer commented on #58
Here is my `--debugOffline` output:
http://pastebin.com/hezMaiCU

[2016-06-23 14:14] dherault commented on #67
And now ? `v2.6.1`

[2016-06-23 14:16] cspeer commented on #67
Perfect 👍  Thanks a lot!!

[2016-06-23 14:16] #67 closed

[2016-06-23 17:20] diosmosis commented on #60
Thanks, I'll try using `$input.body` :)

[2016-06-23 19:19] dbunker commented on #54
@cspeer, your debug indicates payload is empty and requestTemplate is undefined, shown from [here](https://github.com/dherault/serverless-offline/blob/master/src/index.js#L349). This is likely due to a missing `application/json` as `Content-Type` header. If that doesn't help, could you post the code you're using for fetch and your s-function.json file?

[2016-06-24 02:29] vanerleo opened #68 "support for serverless-plugin-kmsvariables"
This would be really useful to integrate
https://bitbucket.org/atlassian/serverless-plugin-kmsvariables/

[2016-06-24 10:02] cspeer commented on #54
@dbunker Yes, you were right, I forgot to set the appropriate header. Everything is fine now!

[2016-06-24 12:11] #54 closed

[2016-06-24 12:13] dherault commented on #58
Sorry @cspeer , I meant serverless-offline not serverless u_u'.

[2016-06-24 12:13] #58 closed

[2016-06-24 14:22] cspeer opened #69 "Custom Authorizer HowTo"
Hi there,

I'm using a custom authorizer and it works great when deployed to lambda and API Gateway, but serverless-offline never invokes my authorizer. So, my question is whether there is more configuration work to be done on my part or whether you could provide a simple walk-through of how to make serverless-offline respect a custom authorizer :)

Thanks a lot,
Chris

[2016-06-24 15:15] cspeer opened #70 "environment variables aren't set"
Hi again,

I noticed that when running with `serverless-offline` none of the in `s-function.json` specified environment variables like `SERVERLESS_STAGE` or `SERVERLESS_REGION` are popuplated. Is this on purpose? Is there a way to have them populated? In some functions I'm kind of relying on the stage to determine `NODE_ENV` and would really appreciate having this available while in `serverless-of

[2016-06-24 16:06] cspeer commented on #70
Well, all of a sudden they are set... I don't know what happened?!

[2016-06-25 19:05] #70 closed

[2016-06-25 19:09] dherault commented on #69
Hi @cspeer, I did not write the code for that feature but I'll keep this issue open as a reminder whenever I decide to refactor this plugin and re-write the readme. In the meanwhile, maybe @johncmckim and #47 can help you.

[2016-06-25 19:15] cspeer commented on #69
Thanks @dherault , it would really be great if you @johncmckim could take a look at this :)

[2016-06-26 04:25] johncmckim commented on #69
@cspeer without being able to see your config it's hard to know what's going wrong. The custom authorizer implementation does have some limitations that are outlined in the README.

Have you tried running serverless offline with the `--debugOffline` flag? It should give you more details about what is happening.

[2016-06-26 13:43] cspeer commented on #69
Fair enough.
Here is my authorizer:
[code]

and here it is in action:
[code]

[2016-06-26 22:29] johncmckim commented on #69
@cspeer I would say this line of code is your issue `if (endpoint.authorizationType === 'CUSTOM') {`

In all the examples I have seen the endpoint had an `authorizationType` or `CUSTOM`. I've never seen it lower case before. I would suggest changing your endpoint to use `CUSTOM` for now.

@dherault do you think it the check should be case insensitive?

[2016-06-27 06:35] dherault commented on #69
@johncmckim Yes it would be ok, unless it doesn't work when deploying :)

[2016-06-27 08:47] cspeer commented on #69
@johncmckim nice catch! That was exactly it.
However, during my research I came across `custom` as well as `CUSTOM` so I figured it wouldn't matter. Maybe it does matter. Deploying however @dherault works both ways, no error whether it's all lower or upper case.

[2016-06-29 09:30] flomotlik opened #71 "Offline Plugin for Serverless V1"
We're currently moving ahead with the first alphas of V1 of Serverless (http://blog.serverless.com/serverless-v1-0-alpha1-announcement/) and we'd love to include the serverless-offine plugin as part of Serverless as well. Would be great to chat about this in more detail soon. You can also reach me at florian@serverless.com or we can chat here in the issue

[2016-06-29 15:12] cspeer commented on #65
All of a sudden I'm having issues with CORS as well.
Here is a preflight request and as you can see no CORS headers are present in the response:
[code]

[2016-06-29 16:00] cspeer opened #72 "CORS OPTIONS preflight request does not have cors headers set"
Ok, so what I posted [here](https://github.com/dherault/serverless-offline/issues/65#issuecomment-229387875), is actually this:

If a CORS preflight request (OPTIONS) is sent to an endpoint, `serverless-offline` fails to set the appropriate CORS headers.

"Normal" GET request (CORS headers **are** present):
[code]

versus

CORS preflight OPTIONS request (CORS headers **are not** present):
[code]

[2016-06-29 17:03] cspeer commented on #72
duplicate #57

[2016-06-29 17:03] #72 closed

[2016-06-30 07:02] dherault commented on #71
Hi @flomotlik, since I got my new job I find it difficult to maintain this project that has lost some code quality over time.

Do you want to merge it into Serverless, move it to your org or keep it as is? The 3 solutions are fine with me.

[2016-06-30 07:05] flomotlik commented on #71
We would love to work with you on making this better in the future (happy to pay of course) but if thats not an option for you at the moment moving it into our own org and then integrating it into the core itself would be the best steps imho

[2016-06-30 16:51] ac360 commented on #71
But, you are basically a VIP in our eyes, @dherault, and we would very much like to chat with you.  Everyone is loving this plugin :)

[2016-07-04 07:15] dherault commented on #71
Ok. I live in Paris, France so I hope we'll find some comon time window. You can contact me however you like using the same handle on other social media websites. I'll send an email to Florian as a starting point.

[2016-07-16 03:59] rschick commented on #60
This is the mapping template I'm using:

[code]

With PR #73, `$input.body` comes through unparsed.

To use this template you also need to update to `velocityjs@0.8.5` to fix an issue when the array given to a nested `#foreach` is empty.

[2016-07-25 07:35] dherault commented on #60
See v2.6.2, it should resolve the issue

[2016-07-25 07:37] dherault commented on #71
@flomotlik  @ac360 Do you still wish to take over the plugin?

[2016-07-30 11:44] dherault commented on #55
Hi all, maybe this PR fixed this issue for some edge cases: #74

[2016-08-01 15:33] dpeek opened #76 "Custom authorizers do not get transformed by babel runtime"
I'm using runtime: babel for my custom authorizer. It works when deployed, but I get a parsing error when using serverless-offline

[2016-08-02 07:12] dherault commented on #76
I would like to help, can you give me a little more?
- The actual error
- your lambdas config
- your lambda code if you can
Thanks

[2016-08-02 11:19] dpeek commented on #76
So here's the basic output when running and hitting an authenticated function (paths obfuscated):

[code]

Printing out the error in createAuthScheme I see this:

[code]

Which suggests that the module isn't being transpiled before execution. The first line of the module is:

[code]

[2016-08-02 15:12] kevinaud opened #77 "in custom authorizer the methodArn of the requested function isn't correctly containing the http method"
I have a /profile endpoint that is protected by a custom authorizer. Each http method for the endpoint is connected to its own Lambda function. GET requests go to a function called getProfile. When I make a GET request to my /profile endpoint, the event.methodArn inside of the custom authorizer looks like:
`arn:aws:execute-api:us-east-1:<Account id>:<API id>/dev/getProfile/profile`
where as it sho

[2016-08-04 09:24] dherault commented on #77
Hi @kevinaud . Custom authorizers don't seem to work right now in the plugin. But this is something else, thanks for the issue.

[2016-08-04 18:41] Bilal-S commented on #45
I think this is a fantastic idea.
If this is still an open issue I wouldn't mind taking a look into how to make that happen.
Let me know.

[2016-08-05 01:40] vanerleo commented on #45
just a note that VS code now supports attaching to an existing node session, so you can debug it with vs code

[2016-08-05 06:19] WooDzu commented on #45
I keep serverless local which allows me to debug it like so:

`node --debug node_modules/.bin/serverless offline start`

but you might also be able to do the same for a global installation:

[code]

[2016-08-05 13:34] Bilal-S commented on #45
I think the idea is to go beyond setting node into debug state, also firing off a profiler, interactive environment with code changing, stack tracing and profiling ability. In other words ready to go to work.  I like the idea of this with MS VS code, but an independent mechanism would be cool as well. I was thinking a link to node-inspector via chrome. Having a command as simple as:
`sls-debug off

[2016-08-05 16:26] johnsgp opened #78 "Lambda functions share process.env"
I found an issue where two lambda functions run concurrently while in offline mode, there can be a race condition with process.env.

Operating system: Windows 8 Professional
Serverless version: 0.5.5
Serverless-offline version: 2.7.0

For example, say Lambda1 has this in s-function.json

[code]

and Lambda2 has this in s-function.json

[code]

If Lambda1 starts first, then Lambda2 starts, everythi

[2016-08-07 22:53] Bilal-S commented on #45
![local_debugging_serverless](https://cloud.githubusercontent.com/assets/668901/17465879/8555fb4c-5ccf-11e6-81ef-d81734c5951d.png)

I was able to do this and I think this is the way to go to develop in serverless.
However, there is a few things that I need guidance on.
I can only build the hooks into the overall serverless framework, so I submitted a change there a few days ago; I have not receive

[2016-08-08 03:55] mikestaub commented on #71
Hey guys, I wanted to play with v1.0.0-beta.1 so I ported this plugin, it wasn't that hard.

https://github.com/mikestaub/serverless-offline/commits/master

Most of the core is unchanged, just needed to rearrange some stuff. I'm still waiting on https://github.com/serverless/serverless/issues/1593 to test with custom templates.

IMO this should definitely be a core plugin, as it is essential for d

[2016-08-08 03:59] mikestaub commented on #45
Not sure if everyone knows yet but as of node v6.3.x you can debug in chrome with the --inspect flag. No need for node-inspector anymore.

I ported this plugin to be compatible with v1.0.0-beta.1, feel free to check it out here: https://github.com/mikestaub/serverless-offline/commits/master

I am running this command with great success while developing locally:

export SLS_DEBUG=true; node --inspe

[2016-08-08 08:35] flomotlik commented on #71
@mikestaub nice, great job on this one. We'll review the changes. We're still discussing the offline plugin and including it into the core. One of the main issues as that we're starting to get more and more users of different languages and this would be strictly NodeJS based. Thats the main thing holding us back from including it straight into the core (and might want to put this into our communit

[2016-08-08 16:15] Bilal-S commented on #45
Mike,
Thanks for the 1.0 beta version info.
You make a good point and I can see how your approach can work. Similarly, VS Code has a mechanism to do this as mentioned earlier. There are a few things to consider though.
- My preference has always been to work on the version of node that would be supported by AWS, thus the latest is 4.3. This avoids any unnecessary incompatibility of code.
- There a

[2016-08-08 21:27] mikestaub commented on #71
If there was a new version of this plugin that supported all languages and was included in the core, that would be a huge boon to the serverless framework.

Once the community plugin repo is online and custom velocity templates are supported, I will gladly revisit this and submit a proper PR.

[2016-08-10 19:06] Bilal-S commented on #45
@mikestaub Mike I used your fork to test serverless 1.0alpha and offline together and ran into this error after registering the plugin:
`Cannot read property 'start' of undefined`
when calling this
`serverless offline start`
Is this something you encountered? If not, I will try to work through it.

Stack looks like this:
`TypeError: Cannot read property 'start' of undefined
  at PluginManager.vali

[2016-08-11 03:56] mikestaub commented on #45
start is now a life cycle hook, not a subcommand. Try just 'serverless offline'.

Sorry I should have updated the README as well, let me know if you still have issues. I didn't rigorously test that branch yet.

[2016-08-11 09:29] dherault commented on #45
This plugin is v1-ready yet. If you want to PR please do. :)

[2016-08-11 09:31] #65 closed

[2016-08-11 09:32] #69 closed

[2016-08-11 09:33] dherault commented on #78
Thanks @johnsgp!

[2016-08-11 17:34] Bilal-S commented on #45
Thanks @mikestaub and @dherault
I added a hook for 'start' for myself so you can issue backward compatible CLI call like
`serverless offline start`

However, I am running into a different error for the API calls. I will have to dig into that later:
[code]

I would like to suggest that we create a 1.0 Branch of this plugin so we can consolidate work into a single project, update docs etc. David cou

[2016-08-12 16:22] clauderic commented on #76
Same here

[2016-08-16 07:40] dherault commented on #71
A `servereless_v1` branch was created, PRs are welcome there :)

[2016-08-16 07:41] dherault commented on #45
@Bilal-S It's done! Do not hesitate to refactor things as you go along, this project needs it :)

[2016-08-16 09:10] zachmanpro opened #81 "SyntaxError: Uncaught error: Unexpected end of input on Empty POST body"
When POSTing to an endpoint with an empty body and header the following error occurs:

 Debug: internal, implementation, error
    SyntaxError: Uncaught error: Unexpected end of input
  at Object.parse (native)
  at authFunctions.server.route.handler.createLambdaContext (.../node_modules/serverless-offline/src/index.js:378:40)
  at Object.exports.execute.internals.prerequisites.internals.handler.c

[2016-08-16 13:02] dherault commented on #81
Thanks @zachmanpro . Is it fixed now? `v2.8.1`

[2016-08-16 15:42] bdbfox commented on #81
Installed 2.8.1 and it's throwing this error now.

`TypeError: Uncaught error: contentTypesThatRequirePayloadParsing.includes is not a function`

.includes isn't consistently supported in node without the harmony flag. Possible to use indexOf instead?

[2016-08-16 20:59] rogemita commented on #81
same here

[2016-08-17 04:22] em0ney opened #82 "contentTypesThatRequirePayloadParsing.includes is not a function"
Hi there,

First off - thanks for the awesome plugin.  Really helps!

Just having an issue after updating to v2.8.1

[code]

Looking at the tagged source code, looks like this is using the es6 only `includes()`.

This is only supported in v5 of node using the --harmony flag.  I'd recommend using methods that are compatible with earlier versions of node.

http://node.green/#Array-prototype-includes

[2016-08-17 07:18] dherault commented on #81
Sorry guys, I though everyone would be es6 friendly by now u_u. I'll use a good old es5 technique instead. `v2.8.2`

[2016-08-17 07:20] dherault commented on #82
Ok thanks @em0ney. `v2.8.2`

[2016-08-17 07:21] #82 closed

[2016-08-18 21:26] Bilal-S commented on #45
@dherault Thanks :o)

[2016-08-19 10:13] dclaze opened #83 "Node v4 issue"
New style object initialization not compatible with Node v4. Are there any options to making this work, besides changing the way we initialize this object or upgrading node?

`
this.velocityContextOptions = {
        stageVariables,
        stage: this.options.stage,
};
`
https://github.com/dherault/serverless-offline/blob/master/src/index.js#L188

[2016-08-21 02:22] mikestaub commented on #71
PR submitted

https://github.com/dherault/serverless-offline/pull/84

[2016-08-22 15:18] dherault commented on #83
What are `New style object initialization`? Is it the `stageVariables` key shortcut?

[2016-08-22 21:02] dclaze commented on #83
Sorry I meant 'ES6 style property shorthand'. So setting 'stageVariables' like you do here is a new  ES6 shorthand (http://es6-features.org/#PropertyShorthand). stageVariables: 'stageVariables' should do the trick just the same and support us v4'ers.

[2016-08-23 07:46] dherault commented on #83
What version or Node are you using? [http://node.green/](http://node.green/) indicates that the property shorthand is supported.

[2016-08-23 07:52] #60 closed

[2016-08-23 13:50] zachmanpro commented on #81
Sorry for late reply - yes its seems so ;-)

[2016-08-24 12:43] ashachar opened #85 "Serveless-offline plugin installation problem"
Serverless Framework Version: 1.0.0-beta.2

Operating System: OS X

Expected Behavior:

I've followed steps a and b listed here:
https://github.com/dherault/serverless-offline/tree/serverless_v1
Then, in step b, Upon adding the following to serverless.yml:

And invoking "serverless", the console should display Offline as one of the plug-ins now available in your serverless project.

Actual Behavio

[2016-08-24 18:43] bglusman commented on #85
FWIW, I also just set this up today on OS X, also with 1.0.0beta2 and it's working for me...  @ashachar what are your node/npm versions?  Mine are:
[code]

[2016-08-24 19:37] ashachar commented on #85
Thanks.
$ npm --version
3.10.3
$ node --version
v6.3.1

[2016-08-24 22:05] Bilal-S commented on #85
I was able to replicate. This only happened to me when I used the serverless-offline 0.5 code. Can you double check that you cloned the serverless_v1 branch and overridden the code correctly inside your project? Serverless-offline 0.5 does not have a class constructor as it was not needed.

[2016-08-25 01:45] ashachar commented on #85
Worked like a charm, thank you Bilal.

[2016-08-25 01:45] #85 closed

[2016-08-25 13:57] dherault commented on #85
@Bilal-S Thanks Bilal!

[2016-08-25 14:13] bglusman opened #86 "Python/non-node support"
We're looking to migrate to serverless but our lambdas are currently written in python, which serverless supports but offline doesn't!  I thought I saw an issue for this, but can't find now so...

a) are we open to supporting other languages/are there known barriers?
b) Current prototyping approach for offline is to just have a node wrapper that shells out to run whatever other language and pass i

[2016-08-25 21:52] Jorenm opened #87 "How do I add the packages my Lambda function requires?"
In this case, I need aws-sdk. I tried installing it globally on my system, but that didn't work.

[2016-08-26 00:01] Bilal-S commented on #87
standard approach.
serverless 1.0 no longer creates the node project file automatically so you should always do
 `npm init` follow that by `npm install aws-sdk` or any other package including serverless-offline. See instructions how how to convert that to work with serverless [1.0beta2 compatible version](https://github.com/dherault/serverless-offline/tree/serverless_v1) of plugin if you need

[2016-08-26 08:23] dherault commented on #86
Hi @bglusman,

Other language support has been a long standing issue for this plugin. Indeed, Node is not optimal to support invoking lambdas written in Python/Java/other. Although we could use `child-process` or something similar to invoke those non-Node lambdas using Node, with the correct wrapper to handle APIG and Lambda -specific logic, I don't think this is the way to go.
Docker looks like t

[2016-08-26 08:25] dherault commented on #83
I anyone has the same issue, please say so, it can easily be fixed :)

[2016-08-26 08:25] #83 closed

[2016-08-26 08:26] dherault commented on #71
PR merged :) The plugin is now v1-ready! Thanks guys!

[2016-08-26 08:26] #71 closed

[2016-08-26 11:12] bglusman commented on #86
Yeah I was thinking perhaps the best way would be to use https://github.com/lambci/docker-lambda but I'm also not very experinced with node so a full refactor may be beyond me.  I think I might be able to do a proof of concept via shelling out, but I suspect that's not what you mean.  My team's also a little torn between using serverless and something lighter weight and more Python specific like c

[2016-08-27 21:04] ashachar opened #88 "Serverless-offline: route not found"
In the documentation, it says that serverless-offline will accept requests similar to AWS API Gateway.

I have the following AWS API Gateway endpoint that accepts requests:
https://**********.execute-api.us-east-1.amazonaws.com/dev/

However, when I start serverless-offline, the following requests are denied:
http://localhost:3000
http://localhost:3000/dev

With a response as following:
{"statusCo

[2016-08-28 07:36] yonathan06 opened #89 "Using webpack as builder and local server"
Is there a way\suggestion for using webpack as the offline server (and the file builder).
I have some webpack configs for building the files, and I need this config when running on localhost

maybe adding a hook to the serving process?

[2016-08-28 17:14] mikestaub commented on #89
I'm not sure how to use webpack with this plugin, but there is also a plugin specifically for webpack:

https://github.com/elastic-coders/serverless-webpack

[2016-08-28 22:22] 5inline opened #90 "Serverless 1.0 and event.body"
Using SLS 1.0.0-beta.2 and serverless-offline 3.0.0, I can't seem to get my POST data from `event.body`,  I just get `{isOffline: true}` .

POST data shows when function is deployed to AWS. Are there other settings that I may have missed?

[2016-08-29 07:29] dherault commented on #88
You have no routes :) `"existingRoutes":[]`
It might be a plugin issue. Can you tell me your serverless version and serverless-offline version?
Also, do you have at least one handler?

[2016-08-29 07:31] dherault commented on #90
Are you using serverless-offline from the `v1` branch? If yes this is a bug.

[2016-08-29 13:09] yonathan06 commented on #89
It's for v1.0, I'm still using v0.5 :/

I'm looking for a way to add module alias to babel. I saw a plugin that does it: babel-plugin-module-alias, but I don't know how to add it to serverless offline

any suggestions?

[2016-08-29 13:24] Bilal-S commented on #90
I would Check the Yml file.
Serverless 1.0 is very sensitive to the construction  of this file. Make sure you used the right amount of spacing, no tabs etc.

[2016-08-29 13:51] 5inline commented on #90
Yes, I'm using the `v1` branch. I did a quick fix locally with 2 changes:

In `offline-default.req.vm` I added
[code]
I understand this is just the default, but seems like it should have some structure in it to begin with? I later just added the full default velocity template from `serverless`.

Also, in `index.js`, the `request.payload`  comes through as an object (I'm using PostMan to test local

[2016-08-29 19:01] ashachar commented on #88
Yes, I have at least one handler that I'm able to call via the "test lambda function" and "API gateway" in AWS.
Serverless version: 1.0.0-beta.2
Serverless-offline version: 1.0

[2016-08-29 19:56] elgubenis opened #91 "turn off response logging"
hi, is there a funny way to turn off response logging? my jsons are huge sometimes and id like to "debug" a little with my console function :P

EDIT: awesome help btw, thank you so much!! such a speed up!

[2016-08-30 07:56] dherault commented on #90
I'm on it, thanks @5inline !

[2016-08-30 07:57] dherault commented on #88
@mikestaub @Bilal-S Any thoughts on that?

[2016-08-30 08:12] dherault commented on #91
Done :) `v2.8.3` with the `--dontPrintOutput` option!

[2016-08-30 08:12] #91 closed

[2016-08-30 08:13] dherault commented on #63
I think the plugin now handles CORS like a boss so I'm closing this.

[2016-08-30 08:13] #63 closed

[2016-08-30 08:13] #87 closed

[2016-08-30 08:14] #57 closed

[2016-08-30 14:29] rroqueCoddera commented on #90
I had the same problem. I cleaned file offline-default.req.vm. I believed this file should be empty by default.

Because my content-type was application/json and the content was a json object.

[2016-08-30 14:47] dherault commented on #90
Oh, forgot to say: `v2.8.3` adds @5inline 's fix.

[2016-08-30 14:52] Bilal-S commented on #90
@rroqueCoddera thanks for the insight. Will adjust shortly.

[2016-08-30 19:39] rroqueCoddera commented on #88
How do you configure your serverless.yml?

You should put same thing like that :

[code]

[2016-08-30 21:24] rroqueCoddera commented on #90
I made another change that I forget to mention:

`if (contentTypesThatRequirePayloadParsing.indexOf(contentType) <0) {`

Because my object already is an object, I think parser should be executed when Content-type is diferent of application/json.

[2016-08-30 21:55] davidwilcox opened #92 "Universal Velocity Request Template Support?"
Hi,

I was wondering if there's a plan to add support for the universal velocity request template with parsing from serverless.yml?

In particular, I'm referring to a plan to add support for this link?  https://github.com/serverless/serverless/blob/417b8f35e03fdcfc4b2a8ec94ab2d09be31624f9/docs/guide/overview-of-event-sources.md#http-endpoint

I added this to my serverless.yml:
functions:
  hello:

[2016-08-30 22:07] Jorenm commented on #90
Confirming that 5inline's fix worked for me on the _v1 branch.

[2016-08-30 22:18] ashachar commented on #88
Thanks, @rroqueCoddera. This solved it.

[2016-08-30 22:18] #88 closed

[2016-08-30 23:14] ashachar opened #93 "Unable to send body (as JSON) in the request"
As described at the documentation, I've added a my_file_name.req.vm file for a velocity template.
Here's the template:
{
    "name" : "$input.params('raw_name')",
    "body" : $input.json('$')
}

When I send with the request a parameter called "raw_name", its value is then available via event.name.
However, the request's body (as JSON) is not available via event.body or anything like that.

What a

[2016-08-31 00:12] Jorenm commented on #90
I was having the same issue with querystring params, and after much stumbling about, found this works for the offline-default.req.vm file:

[code]

[2016-08-31 05:40] pouledodue commented on #86
@bglusman for your needs, [Zappa](https://github.com/Miserlou/Zappa) maybe?

[2016-08-31 07:30] dherault commented on #92
Could be done, easily I think, PRs are welcome :)

[2016-08-31 07:32] dherault commented on #90
@Bilal-S can you fix the v1 branch please?

[2016-08-31 07:33] dherault commented on #93
That is because the plugin doesn't support velocity template `.vm` parsing yet u_u. Duplicate with #92

[2016-08-31 07:33] #93 closed

[2016-08-31 15:01] Bilal-S commented on #92
We have currently put in velocity template parsing from specific files using auto-wiring. No declaration is needed. There is a section in the documentation describing its use.  If you place the template in the appropriate default file it will be used for all request or responses.
There is already a file with a default template in the code:
Copy the contents of the file: sample-vm-request-template.

[2016-08-31 15:03] Bilal-S commented on #92
@dherault I will change the default request handler template from blank to what seems to be the serverless core default. Is that OK?

[2016-08-31 15:11] Bilal-S commented on #90
I will add the same default template that core serverless framework is using. I left users to decide whether they wanted to use it with a sample file on how to do so. I will just implement it since it seems that is the more common use case. I will look at @rroqueCoddera code suggestion later today.

[2016-08-31 15:59] dherault commented on #92
@Bilal-S Yes, looks good, thanks!

[2016-08-31 19:38] WooDzu commented on #86
I would also be interested in finding out best approach for invoking python with serverless-offline.
My use case is running Ansible (python config management tool) along with my node.js code

[2016-09-02 14:49] rroqueCoddera opened #94 "Didn't Return CORS from OPTIONS method"
I'm calling a method POST that has a OPTIONS method together and cors from a OPTIONS method returns wrong.

That's my configuration on serverless.yml:

Return:

I'm making the request from a web page, because with postman works fine.

is it a bug?

[2016-09-02 18:22] Bilal-S commented on #94
Not certain.  Can you explain further.
You did a POST and it used OPTIONS verb instead?

[2016-09-03 13:15] rroqueCoddera commented on #94
When I call a POST method from a webPage, it is first calls a OPTIONS method to check CORS, and them calls the POST method.

[https://www.w3.org/TR/cors/](https://www.w3.org/TR/cors/)

[2016-09-06 01:37] Bilal-S commented on #94
Ok. I will check. The goal is to only invoke POST in that scenario, correct?

[2016-09-06 14:24] elgubenis commented on #91
hi, that worked, but something else broke, now my event body is a buffer 😺  when i go back to 2.8.2 everything seems alright

[2016-09-06 14:45] robhorvath opened #95 "TypeError: Cannot read property 'stages' of undefined"
serverless-offline is incompatible with the new config variable schema in Serverless 1.0.0-rc.1.

https://github.com/serverless/serverless/blob/master/docs/01-guide/08-serverless-variables.md#migrating-serverlessenvyml

I believe `env` no longer has a `.stages` property (among others) in the new setup.
[code]

[code]

[2016-09-06 15:31] Bilal-S commented on #95
Thanks @robhorvath. It's a moving target at the moment. Will adjust shortly.

[2016-09-06 15:43] robhorvath commented on #95
Understood, thanks for the great work on this plugin!

[2016-09-06 16:22] davidwilcox commented on #95
It's funny that they call this a "release candidate" when they're making such breaking changes...

[2016-09-06 18:34] AshanFernando opened #96 "npm registry version 2.8.3 contains issue which breaks POST endpoints"
The latest version available in npm registry is 2.8.3 which courses issues when POST endpoint where request payload becomes empty.

Line Number: 379
`if(contentTypesThatRequirePayloadParsing.indexOf(contentType) !== -1 && typeof request.payload === 'string')`

Here request.payload comes as a instance of Buffer (request.payload instanceof Buffer becomes true) which causes the payload not to parse a

[2016-09-06 19:45] AshanFernando opened #97 "Custom Authorization function is initialized with the environmental variables of endpoint function"
Custom Authorization function is initialized with the environmental variables of endpoint function which should be initialized with its own environmental variables defined in s-function

[2016-09-06 22:28] rroqueCoddera commented on #94
No, browser will send OPTIONS before a POST, so we have to treat correctly CORS on OPTIONS method.

[2016-09-07 07:28] dherault commented on #94
@Bilal-S Hi Bilal, I see a lot of new issues but I don't have time to solve them all. You seem to be doing a pretty good job around them, do you need any kind of assistance?

[2016-09-07 10:09] edupre opened #99 ""body": "$input.json('$')" doesn't work anymore"
I've migrated from 2.3.1 to 2.8.3 and my app doesn't work anymore.

My `event.body` variable is not set as expected.

[code]

If I log `event.body` in my handler:
[code]
`123, 34, 99, 108, 105, 101, 110, 116,` represent my input in ASCII: `{ client`

I know that I can use `$input.body` but `$input.json('$')` is a piece of code found in the AWS documentation, so it would be great if it worked.

Wha

[2016-09-07 10:52] edupre commented on #99
Downgrading back to 2.8.0 fixes the issue.

[2016-09-07 21:59] Bilal-S commented on #94
@dherault I am pretty slammed this week. I have put aside some time next week to look at the issues and was hoping to also refactor some code. The RC1 release has breaking changes so I need to check that out as well.

[2016-09-08 03:57] Anichale commented on #89
@yonathan06 Hey yonathan06, are you still having trouble with this?

https://github.com/asprouse/serverless-webpack-plugin

^That is the v0.5 Serverless plugin. If you already have a webpack.config.js that works, I believe it should work fine with your setup. As for the babel-plugin, you could add a .babelrc file and include it in your root, so that when webpack runs, it will use the .babelrc to c

[2016-09-08 08:14] dherault commented on #99
@Bilal-S do you know why? I might be able to solve this this weekend.

[2016-09-08 14:49] Bilal-S commented on #99
My guess at the moment is that an error condition occurs in this block (newly introduced). I am not sure why we change the payload to empty object in case of error, we should probably leave as is?
[code]
and the request.payload is set to empty object.

@edupre can you run a node-debug and set a breakpoint there. Install node-inspector if you have not done so, e.g. `npm install -g node-inspector` t

[2016-09-08 14:53] robhorvath opened #101 "Template error Cannot read property 'toString' of undefined on $util.escapeJavaScript($map.get($key))"
Using serverless 1.0.0-beta.2 and the latest serverless-offline v1 branch, I receive this error on every request. Any ideas?

[code]

[2016-09-08 14:55] Bilal-S commented on #101
What does your VM template look like?

[2016-09-08 15:00] robhorvath commented on #101
I'm using the default one that's part of serverless-offline.

[code]

[2016-09-08 15:11] WooDzu commented on #95
I am trying to spin my head around this issue. So far I found that in `constructor(serverless, options)` serverless.service no longer has environment variable since the whole environment-vars thing along with serverless.env.yml, stages and regions was kicked out and replaced with service variables. Now this seems easy to fix in Offline briefly by removing `_mergeEnvVars()` and `this.service.enviro

[2016-09-08 15:15] robhorvath commented on #95
Yes, I made those fixes to when I was experimenting with using Serverless
1.0.0-rc.1, but still encountered this template error. I didn't think the
variable changes happened until after 1.0.0-beta.2?

On Thu, Sep 8, 2016 at 11:11 AM, Piotr Gasiorowski <notifications@github.com

[2016-09-08 15:18] Bilal-S commented on #101
Would it be possible for you to provide a test project.zip (simplified with one function) that produces the error? Only your code files of course.

[2016-09-08 15:27] WooDzu commented on #95
They got in sometime between beta.2 and rc.1 Ref: https://github.com/serverless/serverless/pull/1834

[2016-09-08 15:44] robhorvath commented on #101
I've narrowed down the issue. I created an empty hello world service, which works fine. So I then looked at my project, and figured out that if I use a tool like Insomnia to request my endpoint, I get the error. If I request it via Chrome, it works.

I think it may come down to `Content-Type` in the requests being different between those environments. Insomnia is requesting `application/json`.

[2016-09-08 15:54] robhorvath commented on #101
Further update - it's a tooling issue. Postman requests work fine. I'll need to troubleshoot the issue on my end for Insomnia. Thanks for your help!

[2016-09-08 15:54] #101 closed

[2016-09-08 16:44] AshanFernando commented on #99
#96 is also about this issue I reported few days ago, where the code causing the problem is not available in the master branch but somehow got deployed to npm registry version 2.8.3

[2016-09-08 19:54] Bilal-S commented on #90
closing.

[2016-09-08 19:54] #90 closed

[2016-09-09 16:12] edupre commented on #99
@Bilal-S: I run it with node-debug and @AshanFernando is right.
I don't know which cases are covered by the test `typeof request.payload === 'string'` but removing it fixes the issue.

[2016-09-09 17:05] Bilal-S commented on #99
Thanks for the feedback. The change has been made.

[2016-09-10 08:03] iclou opened #103 "Serverless-offline: route not found"
I have a python hello function which I can deploy and invoke via AWS successfully.

With serverless offline, I get the following error message:

{"statusCode":404,"error":"Serverless-offline: route not found.","currentRoute":"get - /","existingRoutes":[]}

**Configuration**
Extract from serverless.yml
functions:
  hello:
    handler: handler.hello
    events:
    - http:
        path: /
        me

[2016-09-10 08:43] WooDzu commented on #103
Python is not supported in the offline plugin yet. See https://github.com/dherault/serverless-offline/issues/86

[2016-09-10 09:21] iclou commented on #103
Is there any other possibility to run python code offline now (with serverless).

If this is not possible yet, do you recommend any hybrid approach, e.g. local dev/testing with tool <which> and deploy to AWS with serverless.

[2016-09-10 14:49] Bilal-S commented on #103
I would suggest local test cases as much as possible since debugging on Lambda is a painful. Then, deploy to QA stage and attempt to run remote test cases.

#### For remote test cases:
The best practice scenario is to test functions and APIG (API-Gateway) separately.

For functions:

Setup json based input events for each of your functions with a test marker attribute, then, invoke them via aws cl

[2016-09-11 20:22] Aciid commented on #95
this is just terrifying that the API is being versioned this way leading to near release.

[2016-09-11 21:41] Bilal-S commented on #95
In process of fixing things. Should be done tomorrow latest.

[2016-09-12 07:44] mrtj commented on #99
Hi, when this fix will be released?

[2016-09-12 11:18] yonathan06 commented on #89
Hi, sorry for the delay

How webpack works with serverless-offline? or it replaces it (by using webpack-server)?
I'm using this plugin for building the functions before deploying them (instead of serverless-optimizer),
but serverless-offline doesn't use it for building the files before serving them (if I'm not wrong, I think they use hapi and there is no build process before)

thanks

[2016-09-12 12:32] Bilal-S commented on #99
@mrtj the fix has been applied to v1 branch.
Not sure about 0.5x branch. What version of serverless framework are you using?

[2016-09-12 12:36] mrtj commented on #99
Currently I am still using sls 0.5.6

[2016-09-12 15:43] dherault commented on #94
@Bilal-S Yeah I'm slammed too... Thanks a lot, it's ok if you can't.

[2016-09-12 15:48] dherault commented on #99
Fixed and available on the v1 branch, will be fixed soon on for serverless v0

[2016-09-13 13:43] demetriusnunes commented on #99
+1 for fixing this on 0.5.6 - this is a complete deal breaker!

[2016-09-13 17:16] Bilal-S commented on #99
npmjs pulls a version  of code  that I cannot find on GitHub.
You can currently install a working version of 0.5.6 branch by doing this:

`npm install --save-dev git+https://github.com/dherault/serverless-offline.git/#d1ef7e2`

[2016-09-15 16:03] tolbahadi opened #104 "Testing for selectionPattern regex"
I noticed serverless offline only tests for `selectionPattern` if lambda responds with an error https://github.com/dherault/serverless-offline/blob/d1ef7e26e3041e54acc76d216e41174208c7a04d/src/index.js#L474

Is this intentional? Is this how api-gateway does it? Because there are cases where lambda might want to return a non-error status code other than the default 200. For example: 30* or 20*.

Al

[2016-09-15 18:11] WooDzu commented on #95
Perhaps it would be better in long-term run to scan through the CloudFormation template generated by serverless core in order to setup hapi context for serverless-offline.

[2016-09-16 14:55] dherault commented on #99
I fixed it u_u. This has been a long standing one.
`v2.8.4`. I'm not closing te issue yet, can you tell me if that solved it? Thanks

[2016-09-16 15:07] dherault commented on #104
Hi @tolbahadi , thanks for this issue.
Your fix is good, you'll find it in the next version.
I don't know if `selectionPattern` should be used without an error. @Bilal-S @minibikini Do you know the truth?

[2016-09-16 15:09] #103 closed

[2016-09-16 15:10] dherault commented on #38
I'll reopen it if anyone comments.

[2016-09-16 15:10] #38 closed

[2016-09-16 15:11] #45 closed

[2016-09-16 15:11] dherault commented on #96
Solved, #99, `v2.8.4`

[2016-09-16 15:11] #96 closed

[2016-09-16 15:13] edupre commented on #99
The code that failed with v2.8.3 is now OK with this new release. Thanks !

One last question: do you know why the 2.8.4 is not visible on github ?

[2016-09-16 15:16] #97 closed

[2016-09-16 15:17] dherault commented on #92
@Bilal-S is this issue resolved?

[2016-09-16 15:37] dherault commented on #76
I could fix it but I'm not a custom authorizer expert. I commited something but I don't want to publish it until someone tells me about it. Can someone check it please?

[2016-09-16 15:37] #95 closed

[2016-09-16 15:43] dherault commented on #89
Yes this plugin uses Hapi as a server (for many good reasons), thus cannot use webpack-dev-server. And you're right, there is not build process beforehand. What is in your webpack config that you want to see when using sls-offline?

[2016-09-16 15:49] Bilal-S commented on #92
This particular issue is fixed. It is working but we are using templates defined in offline plugin. RC1 has created a new template reference structure. I will need to use the template provided from RC1 serverless core framework in the end. I will open separate issue for that.

[2016-09-17 09:40] yonathan06 commented on #89
module alias (babel in webpack doesn't work well with relative paths) and html extracting to code as a string (through require)

[2016-09-19 07:27] #99 closed

[2016-09-19 07:27] dherault commented on #92
Thanks @Bilal-S!

[2016-09-19 07:27] #92 closed

[2016-09-19 07:33] dherault commented on #89
Mmm I see, so to solve this we'd have to create a way to use the build instead of the raw source files. This this plugin relies on Serverless to know what/where the files are, it could be done if Serverless gave an access to the build within its API. @yonathan06 @Bilal-S is it the case?

[2016-09-20 11:46] GreenAsJade opened #105 "Short form http event causes error ("cannot read property 'toUpperCase' of undefined"
I tried to run the basic getting started function from [the serverles getting started guide](https://github.com/serverless/serverless/blob/master/docs/01-guide/01-installing-serverless.md)

serverless-offline gives me:

[code]

This is from a serverless.yml like this:

[code]

(as per the guide).

When I change it to the longer spec for the http event:

[code]

it works.

[2016-09-20 14:08] skrigs opened #106 "Request template not picked up in v1"
Serverless: 1.0.0-rc.1
Serverless Offline: #serverless_v1

I tried to define a new Content-Type via serverless.yml, but it seems offline is currently not picking them up. Trying to even override 'application/json' seems to continue to use the default template. Both of these work with Lambda.
[code]

[2016-09-20 19:45] Bilal-S commented on #89
maybe if you ran webpack in seperate terminal in watch mode?
 You will need to use the fully build files.

[2016-09-20 19:48] Bilal-S commented on #105
OK. Thanks for reporting. Will need to adjust for RC1.

[2016-09-21 16:14] Bilal-S commented on #105
I looked into this does seem to be because of RC1 representing the different options to describe functions differently in its object model. I will open a ticket with serverless core team to see what if anything they wish to do. Based on that we will take action.

[2016-09-21 16:40] Bilal-S commented on #106
Will check this out in a bit.

On Tue, Sep 20, 2016 at 10:08 AM, skrigs <notifications@github.com> wrote:

[2016-09-21 21:35] Bilal-S commented on #106
@skrigs can you test this change and let me know whether it will do what you were thinking.

[2016-09-23 07:04] skrigs commented on #106
Almost what is needed. Additionally I need the route to have parsing disabled since it isn't a format that hapijs recognises. http://hapijs.com/api#route-options

Just now I hacked index.js to turn off parsing on all routes created when its a POST method. You probably should only turn it off if it isn't one of the supported Content-Types "application/json, application/x-www-form-urlencoded, applic

[2016-09-23 08:08] skrigs commented on #106
@Bilal-S While the change to turn off parsing for non recognised Content-Types is a nice feature I just realised it isn't actually required in my case since my format is actually still json. Thanks for the quick response.

[2016-09-25 19:07] Bilal-S commented on #106
ok. cool.

[2016-09-25 19:07] #106 closed

[2016-09-29 16:22] demetriusnunes opened #108 "Status codes are not being picked up from error message"
serverless now promotes a convention that if you throw a error with a message like "[404] Not Found", it will set the status code appropriately.

Offline is not picking up on this convention.

[2016-09-29 20:54] Bilal-S commented on #108
OK. will need to review. I think this could be implemented by changing the offline response template.
Can you link to docs that describe this behavior in serverless itself?

[2016-09-30 07:45] dherault commented on #108
Wow this is great, which serverless version?

[2016-09-30 12:16] demetriusnunes commented on #108
The docs for it are here: https://serverless.com/framework/docs/providers/aws/events/apigateway/ under "Using status codes"

[2016-09-30 21:42] Bilal-S commented on #105
Have not received a response to this issue from serverless team. Still waiting [Issue 2178](https://github.com/serverless/serverless/issues/2178). If you want to add comments there to facilitate a response it would be appreciated.

[2016-10-01 03:25] GreenAsJade commented on #105
Done, thanks.

[2016-10-05 15:42] arabold opened #110 "Support custom serverless versions (0.x)"
I know this is a bit of a special request, but I'm using my own fork of Serverless: https://www.npmjs.com/package/serverless-z

It has a couple of (for me) important fixes and improvements:
* Plugins are automatically loaded from node_modules folder. No more need to update s-project.json
* Support passthroughBehavior configuration and deprecated the use of requestParameters in APIG endpoints
* Imp

[2016-10-06 07:35] dherault commented on #110
hi @arabold, I can't do that i'm sorry, you're fork is too specific (plus the features you've mentioned are bundled in the v1-RC1 version of Severless).
With don't you fork serverless-offline too?

[2016-10-06 13:15] arabold commented on #110
I understand and yeah, I could fork `serverless-offline` as well. I was just wondering about the specific 0.5.x version check as it limits upward compatibility of the plugin. Serverless 1.0 as such is the future, but unfortunately it's neither backward compatible nor does it offer all the features 0.5 did. The fork it an interim solution for that.

[2016-10-06 17:37] tonyxiao opened #111 "Difference from serverless-serve"
Readme says this is initially a fork of https://github.com/Nopik/serverless-serve. Could you talk a bit about the differences?

[2016-10-09 20:17] #110 closed

[2016-10-09 20:22] dherault commented on #111
Hi @tonyxiao,
Well, more features (like velocity template parsing, CORS, custom authorizers, many more). Also v1 compatible, soon (I hope this week).
@Bilal-S What about being v1-first (on master branch) this week? I'll be able to review the code and update the docs.

[2016-10-09 20:29] dherault commented on #94
@Bilal-S Is it fixed? If not I'll do it. I feel the v1 comming :)

[2016-10-09 20:31] #89 closed

[2016-10-09 20:32] #104 closed

[2016-10-09 20:32] dherault commented on #104
@tolbahadi I closed the issue, is it fixed?

[2016-10-09 20:40] tonyxiao commented on #111
got it. thanks for clarifying. Adding a bit of description in the docs would certainly be awesome :)

[2016-10-09 21:17] Bilal-S commented on #111
Sure. There seems to be a good number on v1 now.

[2016-10-09 21:20] Bilal-S commented on #94
@dherault not fixed yet afaik. Would be cool if you could take a look.

[2016-10-10 12:59] dherault commented on #76
Well, nobody answered, might be fixed u_u

[2016-10-10 12:59] #76 closed

[2016-10-10 16:20] linus-amg opened #115 "1mb filesize limit"
hi, i saw hapi is used in this sls plugin, id like to know if there is a way to configure the maxBytes option (of hapi), because im limited to 1mb in my 'serverless-offline' tests. this also could maybe be a flag, if you are interested and there is no other workaround i could check out how to add that flag --max-bytes to serverless-offline (also maybe for v1)

[2016-10-10 17:39] tolbahadi commented on #104
Havent tested again after the change, but it should be fixed now.

[2016-10-10 17:47] tolbahadi opened #116 "Add support for lambda-proxy integration"
Not sure if this has been done or not, but there is a [new api integration](http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-create-api-as-simple-proxy-for-lambda.html) `LAMBDA-PROXY` and it's supported by serverless#1.0 https://github.com/serverless/serverless/pull/2185

I'm assuming this plugin will need some changes to support the new integration. I also think, adding sup

[2016-10-10 23:25] leonardoalifraco commented on #116
👍

This should be a really quick win. We should return the proxy like event by default, or apply the current mappings if the integration: lambda has been set.

[2016-10-10 23:52] leonardoalifraco commented on #116
Temporarily, you could replace the event with the following code in the line 416 of the index.js file.

[code]

[2016-10-12 09:17] dherault commented on #115
Sure, please submit a PR or way for the next release (which will be big I think) so I can implement it.

[2016-10-12 23:11] johncmckim opened #118 "Support Non-Local Custom Authorisers"
Right now serverless-offline does not support non local custom authorisers. This error is thrown:

`Serverless Offline does not support non local authorizers: ${endpoint.authorizer.arn}`

This makes it impossible to test services that depend on an external authoriser. One potential solution to this would be to invoke the Lambda function on AWS. While the custom authoriser isn't offline, it will en

[2016-10-14 12:10] dherault commented on #118
Hi @johncmckim, yes your solution would work. We can use `invoke` from within the plugin easily. If you wan't to PR, please wait for the upcoming version 3 of the plugin.

[2016-10-15 01:07] johncmckim commented on #118
Thanks @dherault happy to send a PR once v3 is out.

[2016-10-15 15:34] dherault commented on #78
Serverless v1 dropped support for env vars, the 0.5 branch won't be maintained.

[2016-10-15 15:34] #78 closed

[2016-10-15 15:43] dherault commented on #77
This took a long time (for a one-line-fix), will be fixed in serverless-offline v3

[2016-10-15 15:43] #77 closed

[2016-10-16 04:44] davidwilcox opened #121 "Installation Issue On 1.0.2"
I get an error on installation with the latest code.

    dawilcox@dawilcox-desktop:~/we$ mkdir serverless-offline-test
    dawilcox@dawilcox-desktop:~/we$ cd serverless-offline-test/
    dawilcox@dawilcox-desktop:~/we/serverless-offline-test$ serverless create --template aws-nodejs
    dawilcox@dawilcox-desktop:~/we/serverless-offline-test$ npm init
    dawilcox@dawilcox-desktop:~/we/serverless-o

[2016-10-17 07:21] dherault opened #122 "Offline v3"
Hi,

I linted the lib and fixed a long-standing issue this weekend, and have been trying to release the third version, but this will be a hell of a week and I don't think I'll be able to do it.
@Bilal-S can you help me? I know it's a lot to ask u_u'... Maybe we should advertise in the README that we are looking for more maintainers, what do you think?

If anyone has an urgent request, please notif

[2016-10-17 14:55] demetriusnunes commented on #121
You're installing the plugin from the published npm package which still refers to serverless 0.5.x. Try installing from the github repo: `npm i -D dherault/serverless-offline`

[2016-10-17 15:25] davidwilcox commented on #121
Ah. I was following the instructions on this github page. Maybe those should be updated until the default repo points at 1.0?

[2016-10-17 18:46] demetriusnunes commented on #122
Will these include the latest lambda proxy integration changes?

[2016-10-17 18:51] demetriusnunes commented on #122
Also, a critical bug was introduced here: https://github.com/dherault/serverless-offline/commit/6eeebef7153392f714e018052f6a76c8b80bab48#diff-1fdf421c05c1140f6d71444ea2b27638R326

[2016-10-17 20:23] Bilal-S commented on #122
I think help is a good thing. I have some time towards the end of the week.

[2016-10-17 22:17] gertjvr commented on #122
I might have some time, if there is something I can help with?

[2016-10-18 04:58] Si1kIfY commented on #121
I'd agree with @davidwilcox, just followed the instructions and came here to launch the same bug

[2016-10-18 05:52] Si1kIfY commented on #121
Actually current master doesn't seem to work at the moment, would suggest using `npm i -D dherault/serverless-offline#0ece55deae50ec97f8a2351f21e0878061b9aa0f`

[2016-10-18 07:42] #121 closed

[2016-10-18 07:43] dherault commented on #122
Sure @gertjvr , we're looking for maintainers, here are some hints:
- Make sure everything works (with manual tests or not)
- Merge PRs (is there a feature you'd like to see?)
- Clean dead code
@demetriusnunes thanks for pointing this out!

[2016-10-18 08:16] dherault commented on #122
v3 is out :tada: !!!
Thanks to everyone who contributed, especially to @Bilal-S who took care of breaking changes.
v3.1 is coming soon! With proxies and bug fixes :p

[2016-10-18 08:16] #122 closed

[2016-10-18 08:25] dherault commented on #118
It's done, go crazy :)

[2016-10-18 08:26] #86 closed

[2016-10-18 08:26] #68 closed

[2016-10-18 08:27] #111 closed

[2016-10-18 21:31] mhrisse commented on #116
HI @leonardoalifraco ! Thank you, but I could not get this working. Which line exactly do you mean to replace with this one? (tried ```416``` in ```<projectdir>/node_modules/serverless-offline/src/index.js``` on the v1 branch. Maybe I have to compile something (it's in ```/src```) or it has moved meanwhile?). Any help appreciated!

[2016-10-18 22:20] leonardoalifraco commented on #116
Take a look at my PR. You can use that one until it gets merged (soon, only some docs are pending)

[2016-10-19 05:39] mhrisse commented on #116
Hi @leonardoalifraco !

Thanks for getting back. Maybe I am still missing something, but here are the different results I get, using the current v1 branch, aws and your branch (B). I hope I am using the right branch (I tried to clone from the pull request and also directly form your repo's branch).

(A) serverless-offline v1
[code]
(B) Your PR
[code]

(C) AWS
[code]

The code is always the same, e

[2016-10-21 15:02] danpaul opened #126 "TypeError: Cannot read property 'toUpperCase' of undefined"
Hello, I'm new to Serverless and serverless-offline so, apologies if I'm missing something obvious. I'm trying to get a basic Serverless app running locally. Following the [guide](https://serverless.com/framework/docs/guide/), I'm able to get the app working remotely but after after installing serverless-offline and `sls-offline`, the build errors out.

This is full error stack:

[code]

This is w

[2016-10-21 15:12] danpaul commented on #126
Think this might be part of the issue

https://monosnap.com/file/h45inZy4M7DVI1nprWCFQ2uPA2uKxa

[2016-10-21 21:38] Bilal-S commented on #126
@danpaul Dan I looked at this and the current behavior of_.merge() on line 100 is the one that is desired. Normally when this error is thrown there is a breaking change between serverless core versions.

Since the error is raised from line 253 on index.js I would guess that used a shortcut declaration for your method and path in your `serverless.yml`. This is not currently supported in serverless-

[2016-10-21 22:36] danpaul commented on #126
Yes! That was exactly the issue. Thanks for looking into and your quick response, much appreciated.

[2016-10-21 23:07] Bilal-S commented on #126
no problem. closing issue.

[2016-10-21 23:07] #126 closed

[2016-10-22 06:09] kajdjakne commented on #105
If you want to get this to work in the meantime you can add this:

[code]
Directly after this:
[code]
(line 245 in master right now)

[2016-10-22 15:18] leonardoalifraco commented on #105
I think we should apply @kajdjakne suggestion for the moment.

[2016-10-22 22:25] dherault commented on #105
Should be fixed in v3.1.0, please confirm :)

[2016-10-24 14:46] ac360 opened #132 "What can the Serverless Framework do to support you?"
What can we do on our end to make the Serverless Offline plugin better?

cc @eahefnawy

[2016-10-24 20:43] liamcurry opened #134 "statusCode and body aren't being handled correctly"
I'm getting different responses from AWS vs `serverless-offline`. For example, I return a response that looks like this:

[code]

AWS Lambda will return this with a status code 200 and the response:

[code]

But `serverless-offline` serves it as:

[code]

[2016-10-24 22:53] leonardoalifraco commented on #134
That's because the serverless-offline plugin does not support lambda-proxy integration type yet.

There is a PR (https://github.com/dherault/serverless-offline/pull/129) waiting to be merged that will introduce that feature. In the meantime, you can make reference to this branch: https://github.com/leonardoalifraco/serverless-offline/tree/lambda-proxy-event

[2016-10-24 23:45] liamcurry commented on #134
Thanks @leonardoalifraco !

[2016-10-24 23:45] #134 closed

[2016-10-25 01:10] Bilal-S commented on #132
I would wish for an effective integration test mechanisms for plugins. How can we write tests that start a dummy project with serverless and add the plugin and its tests effectively? Is there a boilerplate?

[2016-10-25 03:50] haseebnqureshi opened #135 "Status codes and response headers weren't being simulated offline"
Had to `sls deploy` to make sure my status codes and response headers were working appropriately. Unfortunately offline wasn't setting the headers appropriately.

[2016-10-25 08:44] dherault commented on #132
Hi @ac360, I agree with @Bilal-S, easy plugin testing is a feature that we would use extensively. For now all we have is a bunch of shameful "manual_tests" to run in order to approve PRs.

[2016-10-25 08:46] dherault commented on #135
Status codes are being dealt with. See #108 #134, and this PR: #133

But we didn't know response headers were faulty too. Can you display a minimal setup where this happens?

[2016-10-25 11:35] haseebnqureshi commented on #135
Absolutely, and that's exactly why I posted this issue -- saw those status code related issues :)

Check this out, super bare bones SLS setup: unzip this package and ```npm install```, and then compare ```sls offline``` and ```sls deploy```. I primarily test via Postman, but even tested the XHR request via web browser inspector (because I was getting paranoid).

[hq-offline-headers-status-minimal.

[2016-10-25 11:35] haseebnqureshi commented on #135
(You'll see in ```handler.js``` that I've set a custom header with a status code of 201.)

[2016-10-25 12:19] dherault commented on #135
Perfect, getting back at you soon. Thanks

[2016-10-25 17:19] edupre opened #136 "parseJson & escapeJavaScript: discrepancy between plugin and aws"
I have some errors with parseJson and escapeJavaScript in my requestTemplates.
### parseJson

If input is not a valid JSON
plugin => throw an error
aws => return empty string

If input is a numeric
plugin => return input as a numeric
aws => return empty string
### escapeJavaScript

if input is undefined
plugin => throw an error
aws => return empty string
### fix

I'm working with the 2.8.4 version

[2016-10-25 18:13] Bilal-S commented on #126
Agreed. As soon as github becomes accessible I will make the fix.

On Fri, Oct 21, 2016 at 11:12 AM, Dan Breczinski <notifications@github.com>
wrote:

[2016-10-26 07:38] dherault commented on #136
Hi @edupre,

Thanks a lot for this commit. This issue has been there for a longs time. Will take a look soon.

[2016-10-26 14:13] goncaloneves opened #137 "fix(event): Event properties don't match v1.0.3"
Changes in properties:
- event.query to event.queryStringParameters
- event.path to event.pathParameters

[2016-10-26 14:32] leonardoalifraco commented on #137
I think you are getting confused with the lambda-proxy integration type.

The original lambda integration type still have the query and path attributes for the event.
We are working to support the lambda-proxy integration type in this PR: https://github.com/dherault/serverless-offline/pull/129

You can use that branch for the moment as a workaround. In a few days a new version of serverless-offlin

[2016-10-26 14:37] goncaloneves commented on #137
@leonardoalifraco Thanks for letting me know. 👍  Closing issue.

[2016-10-26 14:37] #137 closed

[2016-10-27 01:36] taji commented on #135
Having differing response headers between offline and deployed. Running sls-offline v1.0.3

Here are my tests:

- Setup:
    - "sls create -t aws-nodejs"
    - "npm install serverless-offline"

- serverless.yml:
[code]
handler.js:
[code]

as per the template, the url is:  http://<host>/users/create

In chrome when hitting aws, response header looks like this:
[code]
Hitting the same url on my loca

[2016-10-28 18:51] jscheel opened #140 "cannot get raw body in json request"
For `"$util.escapeJavaScript($input.body)"` in my template, I get `"{\n\t\"foo\": \"bar\"\n}"` from aws and nothing from serverless-offline, with the appropriate body.

Actually, it wipes everything out after it in the requestTemplate, so all I get back is `{"isOffline": true}`

Should mention that I am on serverless 0.5.6 and offline 2.8.0

[2016-10-29 08:15] nirmalgoswami opened #141 "How to send json object in version 2.8.4"
I am passing like
[code]

but i am getting like `{Id=4, name=john,status=1}`

when i tried to parse `{Id=4, name=john,status=1}` than `JSON.parse()` throwing error

[2016-10-29 08:41] nirmalgoswami commented on #141
Got it,

i was using `$input.path('$.key')` which is wrong

Correct is `$input.json('$.key')`

[2016-10-29 08:41] #141 closed

[2016-10-30 12:57] dherault commented on #140
Hi @jscheel , I'm sorry to say that serverless-offline v2 is not maintained anymore. If you submit a PR on te serverless 0.5 branch, I'll bump the v2 for you.

[2016-10-30 13:01] MakeBotsGreatAgain commented on #116
Eager to see it's being fixed.
+1

[2016-10-30 13:26] dherault commented on #116
Merged! v3.2.0

[2016-10-30 13:30] dherault opened #142 "Rename manual_test to examples"
This plugin doesn't really need examples but since we have them... :) TODO

[2016-10-30 15:27] dherault commented on #132
Re @ac360, we found a way to test the plugin now, so we're good :+1:

[2016-10-31 19:25] tniermann commented on #85
I have double checked and reinstalled serverless 1.0.3 and serverless-offline 3.2.1.

I am getting the follwoing when running serverless. Any ideas?

TypeError: Plugin is not a constructor
  at PluginManager.addPlugin (/usr/local/lib/node_modules/serverless/lib/classes/PluginManager.js:28:28)

[2016-10-31 19:33] dherault commented on #85
Hi @tniermann , can you open a new issue about this? This is concerning, thanks.

[2016-10-31 19:43] tniermann opened #144 "Plugin is not a constructor"
With serverless version 1.0.3:
 install serverless-offline (v3.2.1) ,

And create a service with

serverless create --template aws-nodejs --path myService
When I add the following to the serverless.yml file

plugins:
  - serverless-offline

I get teh following when I run serverless or serverless --version
TypeError: Plugin is not a constructor
  at PluginManager.addPlugin (/usr/local/lib/node_modu

[2016-10-31 19:51] dherault commented on #144
What is your Nodejs version? This plugin is v4 and higher.
Note to self: put "engines" back in package.json

[2016-10-31 20:06] tniermann commented on #144
node version 6.9.1

[2016-10-31 21:24] dherault commented on #144
Mmm. Can you clone this repo, cd into it, npm i, cd into manual_test, npm i and npm start to see if you get the same bug?

[2016-11-01 00:35] haseebnqureshi commented on #135
As of release 3.2.1, status codes and headers are now being simulated appropriately. Thanks @dherault!

[2016-11-01 00:35] #135 closed

[2016-11-01 08:20] dherault commented on #135
Cannot take credit for what @leonardoalifraco did :)

[2016-11-01 15:07] tniermann commented on #144
I get the same error. I will see if I can diagnosis in the debugger

TypeError: Plugin is not a constructor
  at PluginManager.addPlugin (/usr/local/lib/node_modules/serverless/lib/classes/PluginManager.js:28:28)

[2016-11-01 15:26] dherault commented on #144
Ok, maybe restart from scratch?
[code]

[2016-11-01 15:30] #116 closed

[2016-11-01 15:30] #105 closed

[2016-11-01 15:31] dherault commented on #108
Fixed in v3.2!

[2016-11-01 15:32] #140 closed

[2016-11-01 15:38] tniermann commented on #144
A clean install from scratch worked. Thanks. I had been using prior versions of serverless

[2016-11-01 15:49] demetriusnunes commented on #108
Sorry @dherault, but I've just installed 3.2.1 and it's not fixed, at least when using traditional `lambda` integration (not `lambda-proxy`). I don't see any code in 3.2.1 that would do that. Forgot to merge?

[2016-11-01 16:55] #144 closed

[2016-11-01 20:38] jscheel commented on #140
@dherault np, I need to upgrade this project to 1.x anyways.

[2016-11-02 09:06] dherault commented on #108
I thought I'd be the case sorry! Reopening u_u

[2016-11-02 23:01] #108 closed

[2016-11-03 08:02] dherault commented on #142
Decided not to.

[2016-11-03 08:02] #142 closed

[2016-11-03 16:48] stevenmwade opened #145 "Cannot start serverless"
Serverless v0.5.6
Node v6.9.1

[code]

[2016-11-03 17:26] dherault commented on #145
Hi! This plugin works with serverless v1. Please have a look at the serverless v0.5 branch for retrocompatibility.

[2016-11-03 17:50] stevenmwade commented on #145
I followed those instructions and seem to hit this no matter what I do.

[2016-11-03 17:53] dherault commented on #145
Can you tell me your serverless-offline version please? `node_modules/serverless-offline/package.json`

[2016-11-03 17:55] stevenmwade commented on #145
v3.3.0

[2016-11-03 18:08] dherault commented on #145
Offline v3 works with serverless v1
Offline v2 works with serverless v0.5

It seems that the instructions on the v0.5 branch are obsolete.
Run `npm view serverless-offline` and install the latest v2.x.x: `npm i -D serverless-offline@v2.x.x` (I think)

[2016-11-03 18:16] stevenmwade commented on #145
@dherault Awesome. That worked for me.

[2016-11-03 18:16] #145 closed

[2016-11-04 01:29] Bilal-S commented on #115
FYI
The max size for payloads on AWS is 10MB
http://docs.aws.amazon.com/apigateway/latest/developerguide/limits.html

[2016-11-04 09:24] dherault commented on #115
I still have this issue in my visor. Hapi's doc are easily tamable, this can be a quick win.

[2016-11-07 11:13] RickyGeek opened #146 "this.options.corsAllowHeaders.replace is not a function"
Launching `sls offline --corsAllowHeaders` it returns

Type Error ---------------------------------------------

     this.options.corsAllowHeaders.replace is not a function

     For debugging logs, run again after setting SLS_DEBUG env var.

  Get Support --------------------------------------------
     Docs:          docs.serverless.com
     Bugs:          github.com/serverless/serverless/issu

[2016-11-07 11:16] dherault commented on #146
Hi @RickyGeek, thanks for reporting this.

[2016-11-07 11:16] dherault commented on #146
See also #94

[2016-11-09 19:10] nwhite89 commented on #132
It would be great to not only support HTTP Lambda invoking but also the same with things like SNS. When trying to work locally it means it's not really the same unless I'm missing something?

[2016-11-10 09:05] nwhite89 commented on #132
It would be great if it was possible to use SNS to trigger the offline part

[2016-11-13 22:40] enbits opened #150 "Is it working on v1.10?"
I'm getting this error when I run 'serverless offline':

_Command "offline" not found, Run "serverless help" for a list of all available commands._

[2016-11-13 22:42] #150 closed

[2016-11-13 22:42] enbits commented on #150
nevermind, forgot to add the plugin to the yml config.

[2016-11-14 15:49] demetriusnunes opened #151 "Lambda-proxy simulation differences"
I have a tiny internal lib that does some routing based on critical lambda proxy properties, such as `resource` and `path` and the simulation is not representing these properties accurately.

For example, if I do a `POST /accounts/12` (and my router is defined as `/accounts/{id}`, in AWS these properties are set as:

[code]

In the simulation, those are set as:
[code]

These differences break my c

[2016-11-14 16:06] #151 closed

[2016-11-14 16:11] dherault commented on #151
Thanks for the PR, v3.3.2!

[2016-11-15 01:45] utkuturunc opened #153 "Serve from subfolder"
It would be nice to have a config option to set the folder to serve the lambdas from.

I want to use webpack watch in order to create an output folder and use serverless-offline to serve from that folder.

I cannot use serverless-webpack since it is outdated (the pull request that makes it possible to use these two plugins is not merged yet)

[2016-11-16 04:24] dsole commented on #153
I'd like this too.
I've put together a solution in my fork at [dsole/serverless-offline/153-serve-from-subfolder](https://github.com/dsole/serverless-offline/commit/1955d4432a9ac2b5ec19f915395cf145662d1af1).

I've called the option `--location` or `-l` for short. I'm undecided whether that's a good name though - something like `--path / --prefix / --root` might be better but you already have `-P`

[2016-11-16 04:37] dsole commented on #153
A quick example of how it might be used.

This is my scenario but I'm sure there are others. I'm coding in Typescript with the source .ts files in /src/ and the generated JS files being written to /dist/ . I'm using webpack to bundle the code; it reads from /dist/ and writes the bundles to /.webpack/
[code]
My serverless.yml file contains
[code]
So to use this setup with serverless-offline I will

[2016-11-16 08:07] dherault commented on #153
Thank you @utkuturunc for that!
Can you PR it please ? (And also edit README.md and put your name in package.json)

[2016-11-17 08:15] jong-eatsa commented on #86
+1 for Python offline support. Any update on this?

[2016-11-17 08:20] dherault commented on #86
90% of this plugin is community-driven.
No-one in the core team is working on it (although I might in the following 3 to 6 months).
So only a PR from a user could bring this feature alive.

[2016-11-17 22:54] rvaidya commented on #153
Can we also specify the filename, not just the folder?  This is for complete flexibility with serverless-webpack

[2016-11-18 10:17] dsole commented on #153
@rvaidya I'm not sure how it would work if the services in the serverless config were in different files.

For example with a config like this
[code]
The serverless framework interprets the 'handler' value as  `[filename].[function]`.
And therefore there needs to be two files in the folder, `serviceOne.js` and `serviceTwo.js`. If a filename was passed as an argument to the offline plugin as you pr

[2016-11-18 19:54] mhodgson commented on #153
@dsole I agree, given that it is possible to have multiple files I think it is best to leave this setting as a directory.

@rvaidya is there a specific use case with serverless-webpack that would require being able to specify a file?

[2016-11-18 20:52] rvaidya commented on #153
@dsole  @mhodgson I wasn't aware that serverless can just pick up multiple files like that so your argument makes sense, you can disregard my request.

[2016-11-19 04:02] rvaidya opened #155 "Not getting any response body/payload"
I'm on Windows and I'm trying to hit a POST endpoint using serverless-offline.  I've tried using both isomorphic-fetch and superagent.

I can see the response in the console log, ie:

Serverless: [undefined ] "pong"

When I inspect my response object though, "pong" is not coming through.

This is my handler body

[code]

I don't get anything using callback.succeed("pong") either.

[2016-11-19 04:07] rvaidya commented on #155
I can also use a GET endpoint and just hit it in my browser, same result no response.

[2016-11-19 04:38] rvaidya commented on #155
I get this with debug log enabled

[offline] Found 0 responseParameters for 'default' response

[2016-11-19 05:11] rvaidya commented on #155
I need to use .body because of the serverless lambda wrapper :(

I was using the AWS docs

[2016-11-19 05:11] #155 closed

[2016-11-20 08:37] #94 closed

[2016-11-20 08:40] dherault commented on #94
Fixed in v3.3.3, thanks @mhodgson

[2016-11-21 09:22] #153 closed

[2016-11-22 12:26] nwhite89 opened #160 "When deploying serverless-offline is required"
Following the `README` I installed `serverless-offline` with `--save-dev` now when deploying to ensure I am only deploying production `node_modules` I am running `npm install --production`. This then causes an issue when running `sls deploy` with:

[code]

Now I appreciate that this is in the `plugins` section but it feels like there should be some way around this?

[2016-11-22 16:51] nwhite89 opened #161 "Environment variables from serverless.yml"
Since serverless 1.2.0 it is now supported to add Environment variables straight to the `serverless.yml`  such as [here](https://serverless.com/blog/serverless-v1.2.0/?utm_source=Newsletter&utm_medium=Email&utm_campaign=v1.2%20release) it looks like serverless offline doesn't utilise these.

[2016-11-23 10:57] dherault commented on #161
Thanks for reporting this, it's a feature we had that we lost with the v1. Glad v1.2 puts it back on.

It's not that hard to implement I think, please someone PR.

[2016-11-23 12:08] leonardoalifraco commented on #161
Hi David,

Actually this feature has one complication. It allows to define per function environmet variables and we are running function calls in the same process.

[2016-11-23 12:56] obearn commented on #161
Hi,

@Leonardo, you are right, but cant't we do an hydrate and clean strategy on
the process.env variable. We put the data before function call and clean
those variables after call.

Anyway, we can just say we don't manage variables conflicts for the first
implementation, since main use cases are different  staging levels or
different keys per function.

I might get some time to work on that one n

[2016-11-25 06:23] andymac4182 opened #162 "Support for context from Authorizer"
It is possible to return a context object from the Authorizer and have that added to the event. It would be great if this was supported by serverless-offline like the principalId is.

http://docs.aws.amazon.com/apigateway/latest/developerguide/use-custom-authorizer.html#api-gateway-custom-authorizer-output

[2016-11-28 00:06] dsole opened #163 "Why do we require CoffeeScript ?"
I noticed today that coffee-script is a dependency and is registered automatically when serverless-offline launches.  Is it needed ?
I imagine it would not be registered in the Lambda runtime and so there's the chance that code that works in sls-offline wouldn't work once deployed.

I assume that if an application was using CoffeeScript then the compilation to JS would have been done by a build st

[2016-11-28 05:05] bazaglia commented on #162
+1

[2016-11-28 08:17] dherault commented on #163
Good point @dsole.

I'm now willing to remove that dependency and drop support for CoffeeScript. But I have to ask, if one wanted to write their handlers entirely in CoffeeScript, how would they proceed?

PS: dropping support would be a breaking change, we'd have to bump the major.

[2016-11-28 08:27] dherault commented on #162
Anyone is up for a quick PR ? We have a 95%+ successful PR merge rate :stuck_out_tongue:

[2016-11-28 22:52] msl-kabo commented on #161
Would it be possible to implement the provider wide environment variables first and do the hard stuff later? I'm only using the provider wide environment variables... :)

[2016-11-29 10:03] nwhite89 commented on #160
It would be great to know if there is a way around this?

[2016-11-29 13:14] dherault commented on #160
Mmm sorry I did not answer.
I'm not sure of the following:
Serverless only bundles what is required before deploying, so only the packages required by your handlers, not itself or any plugin. Thus, running `npm install --production` is unnecessary.

[2016-11-29 13:16] dherault commented on #160
Also, Serverless will always require serverless-offline, because it is in your project YAML file. It loads every plugin and invokes the hooks. Maybe serverless-offline has a deploy hook (it does not), so requiring it is necessary.

[2016-11-30 05:21] thepont opened #165 "Invalidating half the require.cache could create memory leak."
Im attempting to use `express-graphql` with `express-graphqlexpress-graphql` and serverless ofline and am running into issues with graphql schemas already being defined since the require cache for my local files and therefor graphql schemas are invalidated, because the `node_modules` are not invaldated graphql still knows about my schema, this therefore gives me the error

`'Error: Schema must con

[2016-11-30 08:38] dherault commented on #165
Hi @thepont, tanks for reporting this.

I've run your repo, and seen the leak.
- Are memory leaks important in dev env ?
- How could we account for changes without invalidating the cache: Nodemon ?

[2016-11-30 15:55] stephengfriend opened #167 "Doesn't parse {proxy+} routes"
I'm using serverless to render server-side react and the {proxy+} route allows me to pass all of it through to the handler. This deploys and works as expected on AWS but fails with the offline plugin. Am I missing something?

[code]

[2016-11-30 15:57] dherault commented on #167
Hi @stephengfriend, I'll have a look at it

[2016-11-30 16:00] dherault commented on #167
Can you tell me which serverless-offline version you are using?

[2016-11-30 16:01] stephengfriend commented on #167
@dherault 3.4.1

[2016-11-30 16:03] dherault commented on #167
@stephengfriend What about 3.5.1? It should resolve your issue.

[2016-11-30 16:09] stephengfriend commented on #167
Updated to 3.5.1, different error now.

[code]

My functions section is:

[code]

[2016-11-30 16:10] dherault commented on #167
Mmm this is a real bug, I'll fix it and ship

[2016-11-30 16:11] stephengfriend commented on #167
If I remove the `- http: ANY /` I still get the same error. If I remove `- http: ANY {proxy+}` it launches, but going to `localhost:3000/foo` yields `{"statusCode":404,"error":"Serverless-offline: route not found.","currentRoute":"get - /foo","existingRoutes":["* - /"]}`. I'd expect a rendered 404 NotFound page from my handler.

[2016-11-30 16:12] dherault commented on #167
Yes, the plugin has its own catch all route, I'll do something about it

[2016-11-30 16:24] #167 closed

[2016-11-30 16:24] dherault commented on #167
Should be fixed in v3.5.2 :)

[2016-11-30 16:34] #160 closed

[2016-11-30 16:53] stephengfriend commented on #167
Confirmed! Thanks for the A+ support.

[2016-11-30 19:28] mhodgson commented on #161
Not to complicate this further, but it is also now possible to do something like this and get environment variables pointing to custom resources:

[code]

This is AWESOME, but I can't think of a good way to support this in offline mode since those values are meaningless outside of the context of AWS Cloudformation.

Ideas?

[2016-11-30 20:16] msl-kabo commented on #161
Would it be possible to use a [fallback variable](https://serverless.com/framework/docs/providers/aws/guide/variables/#overwriting-variables)?
[code]

[2016-11-30 23:52] thepont commented on #165
Thanks for the response,

I think as well as the potential leaks there is an issue with the amount of unintended concerquences of this approach, such as my issues with the stale GraphQL schemas.

Currently any `node_module` that refrences objects made outside of `node_modules` could accumulate those refrences, this could cause it to serve up stale versions of the object, complain about redefining

[2016-12-01 04:35] stephengfriend opened #168 "hapi.js dependency incompatible with node 4.3.2"
The recent upgrade to hapi 16.0.0 renders serverless-offline unusable with node 4.3.2. Since node 4.3.2 is the most recent version supported by aws lambda, it would be nice to run serverless-offline against that version.

[code]

[2016-12-01 08:24] dherault commented on #168
Very good point @stephengfriend, I'm on it.

[2016-12-01 08:27] dherault commented on #168
v3.5.3

[2016-12-01 14:46] paveltimofeev commented on #162
+1 Really need this feature

[2016-12-01 16:33] stephengfriend commented on #168
@dherault My apologies... It appears that the upgrade to 16.0.0 was not the cause of this. The last hapi.js version which supported node 4.3.2 is 14.2.0. This appears to only be enforced by yarn and serverless-offline can be installed against 4.3.2 with npm. The revert seems to be unnecessary.

[2016-12-01 17:05] dherault commented on #168
Still, we should use v14.2.0 then, shouldn't we ?

[2016-12-01 17:17] stephengfriend commented on #168
Unless there is a compelling reason to use a newer version of hapi.js than 14.2.0, that probably makes sense. I'd be curious what their reasoning for node >= 4.5.0 is.

[2016-12-04 23:37] FreeWillaert opened #170 "Allow handler starting with "../""
Maybe I bump into this because I'm trying to limit the impact of migrating from v0.5 to v1, but currently it seems not possible to have a relative path to a handler file via a parent folder, e.g.
   ../functions/myFunction/handler.handler

since in functionHelper.js, getFunctionOptions says
`const handlerPath = fun.handler.split('.')[0];`

Wouldn't it be more accurate if this line was:
`const hand

[2016-12-05 00:26] dancoates commented on #168
I'm hitting this issue too. Should it be reopened until 686718fbe8244d608848fef6b7cf7c9e7e65139f makes it into a release?

[2016-12-05 08:21] dherault commented on #170
Hi @FreeWillaert, I believe with can be solved using the `--location` option, can't it? If not, we'll see about it. In general your fix is a better solution than what we have now.

[2016-12-05 08:23] dherault commented on #168
Correct, plus I'll release now

[2016-12-05 08:33] FreeWillaert commented on #170
Hi, thanks for the quick response!

What I've found out in the mean time is that actually serverless itself does not support the "../" - it just copies the value literally into the Lambda handler config, and of course that doesn't work.
Because I was only deploying the function (I guess??) the config didn't get updated, so I found out much later :/

Anyway, the new setup is:
- in serverless.yml, j

[2016-12-05 08:45] dherault commented on #168
v3.5.5

[2016-12-05 08:45] #168 closed

[2016-12-05 11:17] dancoates commented on #168
Thanks for the quick response @dherault, much appreciated.

[2016-12-05 22:19] dancoates commented on #168
@dherault - I can see the [v3.5.5](https://github.com/dherault/serverless-offline/releases/tag/v3.5.5) tag, but it doesn't appear to be on NPM yet. Could you please publish to npm when you get a chance?

[2016-12-06 09:15] dherault commented on #168
Mmm, the version 3.5.5 exists when running `npm view serverless-offline` but cannot be seen or downloaded.
I used the `np` package to publish, won't anymore :p

v3.5.6

[2016-12-06 09:21] dherault commented on #162
v3.5.7! Thanks to @polaris340

[2016-12-07 19:28] imackinn opened #172 "JSON Parse Error for Body Array"
Hey Guys,

Ran into a little issue when I tried to `POST` a JSON payload to serverless-offline that was an array rather than a dictionary as the top level. Outputting the event, the relevant `body` attribute in serverless-offline outputs:

`body: '{"[{"uid":"1418542617","queue_name":"LG-SQS"}]":""}',`

However, running serverless on API Gateway with the same request yields:

`body: '[{"uid":"14185

[2016-12-08 08:44] dherault commented on #172
Thanks @imackinn, I was able to reproduce and will work on it (but please anyone PR if they need it fixed sooner)

[2016-12-14 11:03] jagi opened #173 "Need to double parse request.body"
Hi, probably it's related to #172 but I will still describe my problem. In a function's handler on AWS I can just parse `request.body` using the following line of code:

[code]

However, locally using `serverless-offline` I have to do:

[code]

It seems like it's stringified two times. I think `serverless-offline` shouldn't stringify request body as it's a job for request creator. Request body sho

[2016-12-15 09:27] dherault commented on #173
Hi @jagi thanks for reporting this.
Anyone wanna PR this?

[2016-12-15 17:39] marckaraujo opened #174 "Error Import"
I got an error trying to execute a function that has an import on it.

This not happen when I run in AWS.

Class:
[code]

Error:
[code]

[2016-12-16 09:06] dherault commented on #174
Hi,
Your node version does not support the import statement/feature.
You might want to use babel to support that.
Please refer to the instructions in the readme.
Tell me if you need anything else.

[2016-12-16 14:40] marckaraujo commented on #174
Oh thanks, didnt know that. Works now with babel.

I just think that you can update readme, serverless-runtime-babel isnt updated to 1.x.x, so you can install babel-preset-es2015 that works with serverless.

and the configuration:

custom:
  serverless-offline:
      babelOptions:
        presets: ["es2015"]

[2016-12-16 15:13] #174 closed

[2016-12-16 18:37] demetriusnunes commented on #161
Guys, what's the status of this? We just migrated to 1.3 and our offline usage is completely broken now... :( We don't use variables per function, so doing only the root ones would be good enough for now.

[2016-12-16 18:58] demetriusnunes commented on #161
Done: https://github.com/dherault/serverless-offline/pull/175

[2016-12-19 08:34] #161 closed

[2016-12-19 08:35] dherault commented on #161
v3.6.0!

[2016-12-19 11:28] demetriusnunes opened #176 "Function-scoped environment variables still missing"
Although there's support for global environment variables (#161), local function variables are still not implemented.

[2016-12-19 11:29] demetriusnunes commented on #161
@nwhite89 Just created #176 for that. Thanks.

[2016-12-19 13:25] #170 closed

[2016-12-19 13:25] #165 closed

[2016-12-19 13:25] #162 closed

[2016-12-19 13:26] dherault commented on #132
@ac360 are you guys planning on releasing a substitute for serverless-offline soon? Maybe one that could handle any programming language?

[2016-12-19 13:28] dherault commented on #172
I'm not working on this right now sorry u_u. Relates to #173

[2016-12-19 17:43] securityvoid opened #177 "Non-JSON POST Rendered as a JSON Object"
If you have a non-JSON POST in serverless-offline you receive a string that can be parsed as a JSON object.
e.g.
{ "var1" : "abcdefg", "var2" : "hijkl" }

If you have a non-JSON POST on lambda, you get standard body contents.
e.g.
var1=abcdefg&var2=hijkl

This results in different behavior between Serverless-Offline and the real lambda-proxy.

[2016-12-20 09:10] dherault commented on #177
Related to #172 and #173

[2016-12-21 07:32] carmely opened #178 "Cannot find module 'serverless-offline'"
Hi,

I install the service-offline.  'serverless' commands shows,

[code]

My folder structure is,

[code]

I can find the serverless-offline folder under node_modules.

Regards
Hammer

[2016-12-21 07:50] dherault commented on #178
Hi, try running `npm uninstall serverless-offline && npm prune && npm i serverless-offline`
If that does not work, it could be related with your serverless.yml file.

[2016-12-21 07:57] carmely commented on #178
Tks. it works good now 👍

[2016-12-21 07:57] #178 closed

[2016-12-22 08:50] Nedvedyy opened #179 "Error if event's http path is ended with a slash"
if path ends with a slash in yml, ex,
[code]

there will be an error

[code]

Is it a bug?

[2016-12-22 09:31] dherault commented on #179
Hi @Nedvedyy, yes its a bug, thanks for reporting it.
I wonder whether its ours or Serverless's (I'll go with ours).
The plugin retrieves the path from an object Serverless creates from parsing the Yaml file.
I'll look into it.

[2016-12-22 23:20] zyrorl commented on #176
I had hacked this together in my code but it wasn't particularly clean in implementation.

Basically what I do is deep clone the process.env variable then merge in the function environment variables, run the handler, then upon completion, clean up by replacing the process.env with the previous clone.

This would mean that you wouldn't end up with weird side effects like different functions re-usin

[2016-12-25 03:41] tcush35 commented on #173
Also seeing this issue. Subscribing to hope for updates.

[2016-12-25 03:41] tcush35 commented on #172
Also seeing this issue. Subscribing to hope for updates.

[2017-01-04 17:59] ansraliant commented on #172
Hi @dherault, I tested it locally and couldn't reproduce the issue. I created a POST handler and sent it this payload as described by @imackinn
[code]
In serverless-offline I got `body: [ { uid: '1418542617', queue_name: 'LG-SQS' } ]` correctly parsed.
I'm running the latest version from master.

Did I understand correctly the problem? or could it have been solved in the latest version?

Cheers.

[2017-01-05 14:45] paulSambolin opened #183 "Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
Sorry this post might not have alot of information, we are deploying via AWS codebuild, so the output is a little fragmented.

The error was thrown when serverless was attempting to load Plugins.  I came to my conclusion by commenting out the serverless-offline plugin and re-running the deployment.  It worked, and this just began recently (newest version??).

I looked through the most recent commi

[2017-01-05 14:46] dherault commented on #183
Damn this is my fault. Thanks @paulSambolin, will fix now.

[2017-01-05 14:47] paulSambolin commented on #183
@dherault No problem! Thanks for the quick response

[2017-01-05 14:51] dherault commented on #183
v3.8.1 should fix it.

[2017-01-05 14:59] loxyfox commented on #183
I'm currently getting an error only when serverless v3.8.1 is enabled in plugins (node 4.6, sls 1.3)
`SyntaxError: Unexpected token ...
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at Function.Module._load (module.js:300:12)
    at Module.require (module.js:3

[2017-01-05 15:09] dherault commented on #183
On it @loxyfox

[2017-01-05 15:12] dherault commented on #183
v3.8.2

[2017-01-05 15:16] loxyfox commented on #183
@dherault did the trick. Thanks!

[2017-01-05 15:16] #183 closed

[2017-01-05 23:23] marckaraujo opened #185 "Handler Timeout"
I have a function with Request Library (https://github.com/request/request).

It calls a GET HTTP Request from lambda function to another service and wait for response.
But running it locally, it gives:

[Serverless-Offline] Your λ handler 'profileVerify' timed out after 18000ms.

However it works pretty well in Live.
Obs: I dont think it is time out due to hard request, in live it is pretty fast.

[2017-01-06 08:10] dherault commented on #185
Yep this sometimes happens. The differences between your dev and prod environments can cause that. You can try the `--noTimeout` CLI option if you want to, or increase your lambda's timeout.

[2017-01-06 12:24] marckaraujo commented on #185
@dherault With ```--noTimeout``` option the request goes forever...

[2017-01-06 12:56] dherault commented on #185
It seems to be a bug on your side. I cannot help you unless you show me your handler. Check if your callback is ever called.

[2017-01-06 13:28] marckaraujo commented on #185
As I said, it works well on Live, so its not a bug in handler. The callback is called.

This is a sample of what I am doing.

[code]

[2017-01-06 13:33] dherault commented on #185
With serverless, serverless-offline and node version are you using?

[2017-01-06 14:25] dherault commented on #179
Fixed in v3.8.3 thanks to @ansraliant.

[2017-01-06 14:25] #179 closed

[2017-01-06 16:11] marckaraujo commented on #185
"serverless-offline": "^3.5.7"
"serverless": "^1.4.0"
node version = v6.3.0

[2017-01-06 16:14] marckaraujo commented on #185
Sorry, just updated serverless-offline to 3.8.3, same error.

[2017-01-06 16:43] imackinn commented on #172
@dherault just tried with `3.8.3` and it's parsing the json-array payload correctly. Thanks everyone.

[2017-01-06 16:43] #172 closed

[2017-01-06 17:12] ansraliant commented on #173
@jagi does this issue still appear in v3.8.3?

[2017-01-06 23:36] jagi commented on #173
@ansraliant I will check it on Monday and let you know

[2017-01-09 17:44] jagi commented on #173
@ansraliant yes bug still appears in v3.8.3. I still need to double parse `request.body`.

[2017-01-09 21:40] dizard2001 opened #187 "Request Template - Post JSON Body With Single Quote"
serverless-offline: 3.8.3
serverless: 1.4.0

When posting a Json object that contains a single quote in a property value, I  was getting a bad request from the api-gateway. After researching I adjusted my code as per http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html to use $util.escapeJavaScript(data).replaceAll("\\'","'"). I've used this and i

[2017-01-10 10:08] dherault commented on #187
Hi @dizard2001 thanks for reporting this. It looks like a bug with the velocity parser helper functions.  I believe it is trying to call [this function](https://github.com/dherault/serverless-offline/blob/master/src/javaHelper.js#L12) but for some reason `String#replace` is not a function. It would be nice to know what is the type of the output of `$util.escapeJavaScript(data)` is.
The package we

[2017-01-10 10:09] dherault commented on #185
@marckaraujo sorry I forgot about this issue. Did you solve your problem?

[2017-01-10 12:08] marckaraujo commented on #185
@dherault Not yet, I really dont know what to do. What info I need to send to you?

[2017-01-12 16:56] dizard2001 commented on #187
@dherault sorry for the late reply. The type of the output of $util.escapeJavascript(data) is a String. Additionally the format of the return after that call in my case is:
{"comment":"test","like":true,"userEmail":"Administrator@daptiv.com","userName":"Martin Scorsese","enterpriseId":"dd051afc-c95a-46af-a89a-7ec011e1f9b5","enterpriseName":"Development"}

When I have more time I can dig into the i

[2017-01-15 16:27] anmolg commented on #185
I'm having a very similar issue

[2017-01-16 15:59] dherault commented on #185
Hi @anmolg, can you give us more details please?
@marckaraujo I'll look into it, but if you have any insights please tell me. Also feel free to modify serverless-offline/src/index.js in your node_modules folder to see why this behavior happens. I cannot reproduce it, but it does not mean it is not a bug.

[2017-01-18 18:25] elgubenis opened #188 "stageVariables per http event"
hi, awesome plugin

i want to define stageVariables inside every of my http events,

i did so like this:

[code]

but stageVariables is an empty object in my event argument:

https://www.dropbox.com/s/1j0po5mrjyk61l0/Screenshot%202017-01-18%2012.24.57.png?dl=0

am i missing something?

[2017-01-18 23:41] #188 closed

[2017-01-19 11:08] dherault commented on #188
Hi @elgubenis, thanks for reporting this issue.

Did you solve it, and if yes, how ?

[2017-01-19 15:49] elgubenis commented on #188
i solved it by modifying a fork of your plugin:

https://github.com/elgubenis/serverless-offline/commit/1a58a3b587f1dd2f8707264e4ddf96d591df9fb4

but it has nothing to do with serverless, so i did not try to make a PR, its a very custom solution for the project im working on (its great though!)

thank you so much for your plugin, it saves so much time.

the final .yml syntax is
[code]

like that i

[2017-01-19 15:51] dherault commented on #188
Thanks for explaining that

[2017-01-19 15:51] elgubenis commented on #188
for anybody interested, i also created a serverless-plugin which deploys this behavior to the Api Gateway Method, you can find it here: https://github.com/elgubenis/serverless-event-handler sorry for the lack of documentation, yet

[2017-01-20 00:21] bgenchel opened #189 "Failure: Missing region in config"
I get this error upon sending my first request while using serverless-offline. No idea what it means, though other issues on the internet seem to imply that it has to do with environment variables that get populated when you deploy ... how does one get over this while working/testing with serverless-offline?

[2017-01-20 04:03] hassankhan commented on #189
Same here, I've defined my stage and region in `serverless.yml` so not quite sure why its not picking them up.

[2017-01-20 11:00] dherault commented on #189
Hi, thanks for reporting this issue. This does not look like an error the plugin would raise. Can someone paste a stack trace please ?

[2017-01-20 13:25] hassankhan commented on #189
I've attached the stack trace, but the error occurs when trying to initialise an AWS service. The stack trace doesn't show any errors from the plugin - it seems as if environment variables such as stage and region aren't being passed any more :/

[code]

[2017-01-20 18:05] bgenchel commented on #189
Mine isn't nearly as detailed.
![screen shot 2017-01-20 at 8 47 12 am](https://cloud.githubusercontent.com/assets/5280793/22159888/e0897dfe-def7-11e6-9e3d-83c869171364.png)

[2017-01-21 01:04] hassankhan commented on #189
Ahh I just remembered a workaround, export the environment variable yourself:

[code]

I'm using this package in conjunction with `serverless-webpack`, that's probably why my stack trace is more beefy

[2017-01-23 00:43] samcorcos opened #190 "Dynamodb local development and resource provisioning"
This is an awesome package! My project is tightly integrated with DynamoDB and I was wondering what it would take to automatically provision tables with `dynamodb-local` using the CloudFormation templates in `serverless.yml`, such as the code below:

[code]

Currently, so long as I manually add the tables using the `aws-cli`, everything works as expected. However, this is extremely tedious and pro

[2017-01-24 12:19] miltador commented on #190
@samcorcos , I think your issue should be opened on `serverless-dynamodb-local` plugin repo.

[2017-01-25 07:50] samcorcos commented on #190
@miltador I think you're right! Thank you for the note. Somehow I missed that plugin.

[2017-01-25 07:50] #190 closed

[2017-01-27 22:44] adambiggs opened #191 "Expose serverless-webpack build errors"
When serverless-offline is running and I make code changes, the console output always displays `Webpack rebuilt`, even if the code contains errors and the rebuild failed.

Then, instead of a sensible error about my badly formed code, I get a "Cannot find module" error when invoking the function.

I just wasted close to an hour thinking something was wrong with my Webpack module resolution config..

[2017-01-30 09:18] dherault commented on #191
Hi @adambiggs, thanks for raising this issue.

I don't know much about sls webpack, I think I know were the error is swallowed.
I might take a look. Anyone with intel on the matter please share :)

[2017-02-01 19:09] hassankhan commented on #118
+1, would be awesome to see! Out of interest, is there any way to "mock" it for `serverless-offline` at all?

[2017-02-02 08:06] dherault commented on #118
Not I the moment as far as I know. 90% of this plugin's code comes from 3rd parties, so don't be afraid to PR :p

[2017-02-04 22:31] rsshilli commented on #118
I would love to be able to just ignore the custom authorizer altogether when I'm running locally.  I don't care about authentication when running locally.

[2017-02-07 00:48] hassankhan commented on #118
What would be the best way to add it to the project? Perhaps add an option to disable authorization altogether:

[code]

And if authorization IS required, then run either the Cognito authorizer or the custom authorizer, whichever is defined for the endpoint.

[2017-02-07 01:25] rsshilli commented on #118
Yeah,  that option would be perfect.

On Feb 6, 2017 6:48 PM, "Hassan Khan" <notifications@github.com> wrote:

[2017-02-10 13:19] nicolasblanco opened #192 "Lambda event.body object from browser POST response is of different type"
Hello,

When I console.log(event.body) and perform a POST request by submitting a classical HTML form from the browser through AWS API Gateway->Lambda I get something like a query string:

[code]
when running the same function via serverless-offline plugin on my localhost I get:

[code]
which looks like a JSON string.

I used same Node.js version (4.3.2).

Why is there this difference?

[2017-02-10 18:43] bazaglia opened #193 "Can't start anymore in newest version"
After upgrading serverless-offline from 3.5.7 to latest version (3.8.3), I'm getting this error when attempting to start:

[code]

[2017-02-13 05:21] abhijitkilledar opened #194 "code outside the scope of the handler is called every function call."
I am using sls offline for testing APIG and lambda locally. I have some common code like DB connection outside the scope of handler. This code works well in AWS as it gets executed only once during initialization.

But while using sls offline it dosn't work, very first time my code works in offline. If I make a second call to from postman looks like code outside handler get execute again and I get

[2017-02-13 08:58] dherault commented on #193
Hi @bazaglia

From the stack trace, I'd say it is not an error from the plugin.

Try this:
`rm -rf node_modules && npm i && npm uninstall -g serverless && npm i -g serverless`

If you're still getting the error, we'll dive deeper.

[2017-02-13 13:42] #146 closed

[2017-02-13 13:45] dherault commented on #194
Hi @abhijitkilledar,

This is a memory leak, yes the plugin does that sometimes ;)
Try not to invalisate the cache with the following CLI option: `--skipCacheInvalidation`

[2017-02-13 23:36] abhijitkilledar commented on #194
@dherault  .. --skipCacheInvalidation did the trick
thanks for awesome plugin .. it so much easier to test sls locally now :)

[2017-02-13 23:36] #194 closed

[2017-02-14 08:11] lukecleland commented on #193
I'm getting the same error also after updating

[2017-02-14 08:41] dherault commented on #193
Please tell me which serverless version you're using.

[2017-02-14 15:58] lukecleland commented on #193
Hi, thanks for getting back to me
It's the current version 1.3.0
Seems I have something missing in my node_modules/.bin dir
I did a revert and diff and a load of binaries came up that weren't
installed after a fresh npm install.
So I have that list but on work computer, can send tomorrow, if other have
the same problem we can work through it.
Very sorry to trouble you, starting to realise it's not

[2017-02-15 02:06] dpkshrma commented on #193
I am facing the same issue as well, with installed version as ^3.8.3

Although, `sls offline start` works just fine.

[2017-02-15 02:08] lukecleland commented on #193
aha!  This works for me also - Thank you for the tip!

[2017-02-15 12:06] bazaglia commented on #193
@dherault I thought from the start it was an error from plugin because it happened both in my local environment and in my continuous integration testing.

@dbunker Wow, that solved it!

[2017-02-15 14:28] #193 closed

[2017-02-15 14:30] dherault commented on #193
Thanks @dpkshrma for the workaround, I edited the readme until we figure out how to make `sls offline` work again.

[2017-02-18 14:59] pkubat opened #195 "Support for AWS credential profiles"
It seems that when an application makes aws request outbound to aws services it only uses the default profile within ~/.aws/credentials.  I did try setting `export AWS_DEFAULT_PROFILE=` as a workaround but that did not seem to work either.

Initially, I thought it should sue the serverless.yml provider details, but in fact I believe it's a better use case to have your "release" credentials separat

[2017-02-18 18:41] pkubat commented on #195
Updates:
Wrong environment variable.  Instead use: `export AWS_PROFILE=<profile>` or
`AWS_PROFILE=<profile> serverless offline`

Maybe update the readme with the use of the environment variable and also add a --profile?

[2017-02-19 02:20] dpkshrma commented on #193
Got `sls offline` working back again. So, in my case, the cause of this issue was pretty weird.

I am using `serverless-dynamodb-local` along with the `serverless-offline` plugin, which stopped working when I started using `sls offline start` (not cool! :disappointed:)

So, I checked out my previous hello world projects where both were working, and discovered that in those projects, I had installe

[2017-02-19 21:17] darthtrevino commented on #193
So, having played around with a couple of plugins, it looks like the plugins need to hook into the `offline:start:init` lifecycle instead of `offline:start` now.

See https://github.com/elastic-coders/serverless-webpack/pull/105
https://github.com/99xt/serverless-dynamodb-local/pull/77

[2017-02-20 00:58] darthtrevino commented on #163
@dherault Handlers written with exotic languages (Coffeescript, babel, Typescript, flow, whatever), could use the serverless-webpack plugin. (https://github.com/elastic-coders/serverless-webpack/)

[2017-02-20 01:03] darthtrevino opened #196 "Add a `run` command that executes a command within the scope of an active server"
I would like to be able to use serverles-offline in the course of CI to run integration tests. When I'm running locally, it's easy enough to start up a server and execute my tests, but what I would like is the scriptable ability to start up a server, execute a command, then have that server shut down.

e.g.: `>sls offline run 'npm run integration-test'`

This would
* start up serverless-offline se

[2017-02-20 08:20] dherault commented on #163
@darthtrevino thanks for your input. I think we'll drop coffeescript support in the next minor.

[2017-02-20 08:22] dherault commented on #196
Hi @darthtrevino, I don't think testingshould be a mainfeature of serverless offline. But if you find an elegant way to implement it, please PR I'll be happy to merge.

[2017-02-21 00:30] mikestaub commented on #191
A quick solution would be to include `bail: true` in your webpack.config.js file. This will cause serverless-offline to crash with the error. Not sure if there is a more graceful solution.

[2017-02-21 20:44] adambiggs commented on #191
Thanks @mikestaub that's definitely an improvement.

[2017-02-22 13:22] dherault commented on #136
I'm closing it because it's too old now, I'm not sure it is still relevant

[2017-02-22 13:22] #136 closed

[2017-02-22 13:30] dherault commented on #163
Dropped CoffeeScript support in v3.9.0.

[2017-02-22 13:30] #163 closed

[2017-02-22 19:59] HyperBrain opened #198 "Support for environment variables that are defined as CF references"
## Description
Since Serverless 1.x it is possible to use CloudFormation references as values for environment variables directly. This is very handy, if you for example create a DynamoDB table in your stack with an automatically generated name to support "Replacement" changes with the resource.

So you specify:
[code]

Of course this approach also works for arbitrary resource references that retur

[2017-02-23 00:37] adamelliottsweeting commented on #198
@HyperBrain I came across this issue yesterday as well, in my case it was for SQS.

A temporary 'fix' was to comment out the environment variable in the serverless config, then set the variable when running sls offline. E.g.

[code]

Keen to have a solution for this developed though.

[2017-02-24 06:43] jgilbert01 opened #200 "authorizerOptions.identitySource does not support header in the form X-Abc-Token"
Is this a valid restriction?

`  const identitySourceMatch = /^method.request.header.(\w+)$/.exec(authorizerOptions.identitySource);
  if (!identitySourceMatch || identitySourceMatch.length !== 2) {
    throw new Error(`Serverless Offline only supports retrieving tokens from the headers (λ: ${authFunName})`);
  }
`

[2017-02-24 08:09] dherault commented on #200
Is this a valid issue ?

[2017-02-24 15:57] marckaraujo commented on #185
@dherault, I still cant able to use your library in any request at moment.
And I cant figure out why.

This is my package.json
[code]

[2017-02-24 21:49] jgilbert01 commented on #200
I have confirmed that APIG does support identitySource with hyphens in the header name, such as

`identitySource: method.request.header.X-Gitlab-Token`

The fix is a tweak to the regex in createAuthSchema.js

`/^method.request.header.((?:\w+-?)+\w+)$/`

I will whip up a PR for this if you are willing to accept it.

Thx

[2017-02-25 02:02] marckaraujo commented on #185
Just set a demo project:

https://github.com/marckaraujo/sls-offline-timeout

[2017-02-27 07:41] dherault commented on #185
Thanks a lot for those infos I'll dive into it.

[2017-02-28 10:56] dherault commented on #200
v3.9.1, Thanks @jgilbert01

[2017-02-28 10:56] #200 closed

[2017-02-28 21:29] darthtrevino commented on #196
@dherault I think I have a good solution in place. Let me know if the PR looks good to you.

[2017-03-01 20:46] zyrorl opened #204 "HEAD http method not supported for serverless offline"
When using HEAD as a method you get the following Error.

[code]

It appears that hapijs refuses to implement HEAD due to some idiotic logic of theirs:

See: [https://github.com/hapijs/hapi/issues/795](https://github.com/hapijs/hapi/issues/795)

Unfortunately this doesn't fly with `serverless`, as these methods are defined separately. We need a solution for this.

[2017-03-01 21:26] calmdev commented on #204
You can define a`GET` route and then within the handler check if it is a `HEAD` request. I did this while implementing the TUS protocol mentioned in the hapi issue you've cross referenced. I don't know if it solves your issue; maybe isn't ideal, but it does work.

[code]

[2017-03-03 05:12] iliasbhal opened #205 "The emulated container is being instantiated on each request"
the plugin doesn't emulate this critical functionality of AWS lambda :

- When a Lambda function is invoked, AWS Lambda launches a container (that is, an execution environment). AWS Lambda tries to reuse the container for subsequent invocations of the Lambda function.
- Any declarations in your Lambda function code remains initialized, providing additional optimization when the function is invoked

[2017-03-06 15:41] #196 closed

[2017-03-06 15:49] dherault commented on #205
We know. A full rewrite off the plugin is needed. Making a container-friendly version of this plugin (that can handle many languages like python) has been a dream of the serverless team for a long time. This plugin has always been a patch, a bad emulation of what really happens on AWS.

Nevertheless, if you want to keep declarations initialized, you can use the "skip cache invalisation" option.

[2017-03-06 17:58] rsshilli commented on #173
I'm seeing an even crazier manifestation of this issue.  Chrome says it's sending:

    {"firstName":"Test","lastName":"Data","email":"TestData@test.com","title":"Test Title","group":"General","role":"Standard User","enabled":true}

When I print out the JSON.stringify(event), AWS Lambda prints out a ton of text that contains:

    "body": "{\"firstName\":\"Test\",\"lastName\":\"Data\",\"email\":\"

[2017-03-06 20:52] jagi commented on #173
@rsshilli I think that it's actually the same as in my case. Have you tried my workaround?

[2017-03-06 20:58] iliasbhal commented on #205
I just wanted to add that if a full rewrite is going to happen, the current behavior should also be selectable ( maybe through an option flag ) because it adds a very useful capability ( "live coding" ) since you can patch, modify, test without restarting everytime a localhost server.

[2017-03-07 03:50] jlsjonas opened #207 "No/wrong default for identitySource with expanded authorizer"
When you have an expanded authorizer (f.e. to set the ttl) serverless-offline will fail to start unless you manually add the (default) identitySource

f.e.:
[code]

[2017-03-07 11:01] dherault commented on #207
Hi @jlsjonas , do you think you can PR something ?

[2017-03-07 13:25] jlsjonas commented on #207
Could look into it later this week

[2017-03-08 11:14] dherault commented on #195
Hi @pkubat , sorry I must have missed this one u_u
Thanks for reporting this. A `profile` option would be a nice addition. Do you think you can PR anything, especially the README modification ?

[2017-03-08 11:31] dherault commented on #173
Hi @rsshilli can you please give me your setup. I'm (finally) tackling this issue but I cannot reproduce it. Can you (or anyone who encounters this issue) give me an example of your serverless.yml configuration and also your velocity template if any.

[2017-03-10 01:19] zyrorl commented on #204
Currently AWS API Gateway currently deploys "get" seperate to "head" and the code is different.  serverless-offline should respect that rather than block it altogether.  Perhaps @dherault has some better ideas on how we can implement this.

[2017-03-10 01:42] vangorra commented on #64
There is a serverless plugin for this now:
https://github.com/ajmath/serverless-offline-scheduler

[2017-03-10 03:55] vanerleo commented on #64
@vangorra  nice one, thanks

[2017-03-10 16:39] dherault opened #211 "serverless-offline v4"
Hello all !

I'm rewriting the plugin to make future PRs more manageable. Readability has declined over the months and the overall code quality is quite low. I'm using this big refactor as an excuse to make some breaking changes and will edit the following list over the days. You can see the ongoing work under the [v4 branch](https://github.com/dherault/serverless-offline/tree/v4).

**Breaking cha

[2017-03-11 19:41] vivanov1410 commented on #76
I am still having this issue, even though I specify presets in serverless.yaml:
[code]

Can you suggest a fix or maybe a work around? Your plugin is awesome just this little bug annoys me 😄

[2017-03-12 09:58] dherault commented on #76
Try serverless-webpack for ES6 support

[2017-03-13 04:43] em0ney commented on #173
Believe that I have fixed this https://github.com/dherault/serverless-offline/pull/212

Let me know what you think :)

[2017-03-13 08:07] dherault commented on #173
v3.10.3, let me know if it fixed it

[2017-03-15 13:47] arabold commented on #173
This PR breaks the use of APIG's `AWS_PROXY` which *requires* the request body to be stringified and thus makes it incompatible with a deployed Lambda. So v3.10.3 breaks what worked fine in v3.10.2. 👎

[2017-03-15 14:15] arabold opened #213 "Serverless Offlince v3.10.3 breaks AWS Lambda Proxy support"
The reason is PR #212 which removes the stringify of request bodies. Now Lambda functions using `AWS_PROXY` will receive their body as an object instead of a string which makes 3.10.3 unusable. 3.10.2 works as expected.

[2017-03-15 15:55] elgubenis commented on #115
here is kind of a start: https://github.com/elgubenis/serverless-offline/commit/63aaa05f8971b74e008d37596da3c6dbd6d8d023 for anyone interested in pursuing that

[2017-03-16 20:13] joubertredrat commented on #213
Hi @arabold

In your serverless into lambda `event.body` is a object? On mine tests I'm receiving a string.

[2017-03-16 21:12] arabold commented on #213
Not sure if I understand your question, but yes, `event.body` is an object when running locally using serverless-offline while it is supposed to be a string in this case.

[2017-03-16 21:15] joubertredrat commented on #213
Hi @arabold, with serverless-offline is an object too here, but when I run on Aws Lambda with API Gateway with Lamba Proxy enabled, I'm receiving body as string, like image below:

![screenshot at 17-37-43](https://cloud.githubusercontent.com/assets/1520407/24017595/6507d33a-0a6f-11e7-8b3a-bebc66464592.png)

This is my question, on Aws lambda will continue as string or will be a object in future?

[2017-03-16 21:22] arabold commented on #213
When running on AWS Lambda with API Gateway and Lambda Proxy enabled, the body will be a string. That's the expected behavior exactly as you described.

serverless-offline _used_ to return a string as well when simulating the API Gateway requests. However, with PR #212, it now returns an object instead. This will obviously break code that expects the body to be a string. The code changes in the me

[2017-03-16 23:32] joubertredrat commented on #213
@arabold I made this fix on https://github.com/joubertredrat/serverless-offline/commit/2dcf7b3382955732cc58bda9c5f18e68f0ce49c9

What you think? I open PR?

[2017-03-17 10:19] arabold commented on #213
Yes, this change effectively rolls back PR #212.

[2017-03-18 14:21] alexandrusavin opened #217 "Cannot be installed via yarn on node 4.3.2"
When trying to install this module via `yarn` I get the fallowing error:

[code]

[2017-03-19 11:39] #213 closed

[2017-03-19 11:43] #176 closed

[2017-03-19 11:47] dherault commented on #217
Hi @alexandrusavin , can you tell me what version of node you are using ? `node --version`

[2017-03-19 11:52] dherault commented on #207
Thanks @jlsjonas, v3.11.0!

[2017-03-19 11:53] #205 closed

[2017-03-19 11:54] #192 closed

[2017-03-19 11:55] dherault commented on #187
Hi guys, it is still the case in v3.11.0 ? Thanks

[2017-03-19 11:55] dherault commented on #173
Is it fixed by v3.11.0 ?

[2017-03-19 11:56] #191 closed

[2017-03-19 11:56] dherault commented on #132
ping and close. Thanks!

[2017-03-19 11:56] #132 closed

[2017-03-19 14:12] arabold commented on #173
Yes, this works again with 3.11.0. Thanks 👍

My only worry is that, to my understanding, the PR #214 rolls back PR #212 and thus the original issue reported by @jagi, @imackinn and @em0ney (and others) might either still exist or happen again in 3.11.0. I never ran into the original issue in first place as I'm using Lambda Proxy.

[2017-03-19 17:13] alexandrusavin commented on #217
4.3.2... the same as Lambda environment uses.

[2017-03-19 17:19] dherault commented on #217
Ok, I'll run the test suite on v4.3.2, and if everything is ok I'll downgrade the requirements

[2017-03-19 17:20] alexandrusavin commented on #217
Thanks!

[2017-03-19 17:31] dherault commented on #217
mmm, there is no "engine" field on the project's `package.json` file.
This means the restriction comes from a dependency...
I'm sorry there is not much I can do. I edited the CI config, tests are green on v4.3.2, many of our users use that runtime anyway.

For your yarn issue, consider using the infamous `--ignore-engines` CLI option.

[2017-03-19 17:34] alexandrusavin commented on #217
Ok! No problem. If tests are green than i guess it's fine.

[2017-03-19 17:37] #217 closed

[2017-03-20 01:11] neverendingqs commented on #177
+1.

@dherault - the fix should be somewhere in https://github.com/dherault/serverless-offline/blob/master/src/createLambdaProxyContext.js right?

[2017-03-20 07:24] dherault commented on #177
I think so (although not sure). This one has been open for a while, I you tackle it it would be great!

[2017-03-20 15:55] rsshilli commented on #173
Sorry for the late response.  I only work on this project a few days a week and I was out last week for Spring break so please bear with me.

I upgraded to 3.11.0 but unfortunately it did not fix the issue.  I'm not sure how to give you my setup without taking several hours to create a new project from scratch.  I work on closed source code, unfortunately.

I'm just blindly stabbing in the dark he

[2017-03-21 01:32] garethbradley opened #218 "404 when using aws-sdk Lambda invoke from within another function"
#Hi,

Love this plugin - keep up the great work!

I'm having an issue when trying to invoke a function from within another function using aws-sdk Lambda invoke. I initialise it with a local endpoint first:

[code]

The invoke code looks like this:

[code]

I keep getting a 404 in the console, but I can't find the URL it's trying to call to debug it. What I'd hope, is that I'd be able to invoke loc

[2017-03-21 09:51] dherault commented on #173
@rsshilli Maybe you are onto something. It may have to do with custom authorizer. Please @jagi @em0ney @arabold can you tell me what your setup is ?
- Integration: proxy or not
- Authorizer or not
- Method: Post/get/...

[2017-03-21 09:58] dherault commented on #218
Hi @garethbradley , I'm not sure this issue concerns the plugin. Even if I'm not familiar with the aws-sdk lambda lib, you can try this:

To invoke locally-running lambdas, boot serverless-offline, and simply request your localhost from within a handler.

Lambda1: `return JSON.stringify({ foo: "bar" });`
Lambda2:
[code]

Hope this helps

[2017-03-21 10:23] arabold commented on #173
So let's get this started:
* Integration: Lambda Proxy
* Authorizer: No
* Method: ANY (but also POST, PUT and GET)

**Expected behavior**: Body should be a string.
**Status**: Works fine in 3.10.2 and 3.11.0 (the latest as of this writing). Broken in 3.10.3.

[2017-03-21 14:24] rsshilli commented on #173
@arabold can you give us an example of what Chrome is sending (ex. is it JSON?) and what you receive in your handler in 3.11.0?

[2017-03-22 00:11] j-brenneman opened #220 "AccessDeniedException when invoking function with aws-sdk"
## Description

I am writing an application where one lambda function in a service invokes another. I am using the javascript implementation of the `aws-sdk` to invoke the function. The first function, which exposes a graphql endpoint is being served at `http://localhost:3000/` via `serverless-offline`, it is this function that invokes a lambda function named `models`, which I plan to have interac

[2017-03-22 00:35] j-brenneman commented on #211
Whats the reason for dropping `babel-register` capabilities?

[2017-03-22 09:50] dherault commented on #211
Redundency with other solutions out there, non-core feature, nice to have.

But I stopped working on v4 because of stuff. I'll update this as soon as I work on it again.

[2017-03-22 09:58] dherault commented on #220
Your last 'models' function resolve null on the next tick, it does not wait for the inner request to finish.
Try this:
[code]
Now your models function resolves only when the request has ended

[2017-03-22 17:09] j-brenneman commented on #220
@dherault thank you, that does fix the models problem, however does not address the `AccessDeniedError`... does `serverless-offline` not support invoking functions with the `aws-sdk`?

[2017-03-23 04:55] adamelliottsweeting opened #222 "Support for Node.js 6.10"
AWS Lambda now supports Node.js 6.10.
https://aws.amazon.com/about-aws/whats-new/2017/03/aws-lambda-supports-node-js-6-10/

Only line that prevents serverless offline from using this new version is the below line:
https://github.com/dherault/serverless-offline/blob/0fbf81edffaf078fda107402047abd87ea13766d/src/index.js#L314

I have confirmed that adding `nodejs6.10` works.

[2017-03-23 08:46] dherault commented on #220
I don't think you can invoke local (`localhost`) functions using aws-sdk. Maybe it is possible. If not,
All I can think of is a hack to override the invoke function:
[code]
Or a dev-only case:
[code]
You can use `event.offline` instead of `process.env.IS_OFFLINE` to check for env.

[2017-03-23 08:53] dherault commented on #222
v3.13.0

[2017-03-23 08:53] #222 closed

[2017-03-23 09:28] lteacher commented on #211
Hello, I noticed you said to mention potential features. How about a watch and restart?

[2017-03-23 13:30] garethbradley commented on #218
That worked a treat. Many thanks for the prompt!

[2017-03-23 13:30] #218 closed

[2017-03-25 20:07] neverendingqs commented on #177
@dherault - I think I have a fix with #224.

[2017-03-26 23:39] FerventGeek opened #225 "AWS lambda-proxy return event.body URLencoded, but sls offline JSON encodes it"
There is probably a really simple setting I'm missing somewhere, but POST data sent as application/x-www-form-urlencoded behaves differently between AWS and serverless-offline.

- For AWS the event.body is left as-is, essentially raw as it came from the POST.
- For serverless-offline running locally, it seems to be taking two actions: first it URLdecodes it, then JSON.encode()s it.

It doesn't mat

[2017-03-27 13:05] #177 closed

[2017-03-27 13:08] dherault commented on #225
Hi @FerventGeek, see #224 and if v3.13.1 resolves your issue.

[2017-03-27 13:09] dherault commented on #62
To old, many changes were merged so IDK if this is still relevant. Please reopen if necessary.

[2017-03-27 13:09] #62 closed

[2017-03-27 13:09] #220 closed

[2017-03-27 13:10] dherault commented on #211
Thanks for the suggestion, will reopen if anyone ever works on it again.

[2017-03-27 13:10] #211 closed

[2017-03-27 13:12] dherault commented on #173
I'm reopenning.
Can you guys tell me if v3.13.1 fixed it ?

[2017-03-27 14:00] FerventGeek commented on #225
I moved the comment to #224, looks like serverless-offline is changing the content-type, triggering the parsing.

[2017-03-27 17:13] jagi commented on #173
I will check it tomorrow and let you know

On Mon, Mar 27, 2017 at 3:12 PM, David Hérault <notifications@github.com>
wrote:

[2017-03-27 18:17] imackinn commented on #173
@dherault works for me

[2017-03-28 02:36] neverendingqs commented on #225
@FerventGeek - I tested this in AWS with `Content-Type` `application/x-www-form-urlencoded` and `application/json` using lambda-proxy. POSTing with `application/x-www-form-urlencoded` is left unchanged (e.g. `"foo=bar&baz=d"`) while POSTing with `application/json` returns the stringified version of the JSON object (e.g. `"{\"a\": \"b\"}"`).

The changes in `#224` were to match this behaviour, as r

[2017-03-28 12:03] jagi commented on #173
@dherault v3.10.3 fixes it but it's broken in v3.11.0. The same is true for v3.12.0, v3.13.0 but v3.13.1 fixes it again. Is that expected?

[2017-03-29 18:15] marckaraujo commented on #185
@dherault , with the version 3.13.1 the problem is now solved. Dont know what commit solved it, but thanks anyway.

[2017-03-29 18:15] #185 closed

[2017-03-31 21:57] QuantumInformation commented on #45
Anyone managed to this to work with webstorm, by allowing to debug lambda functions?

My use-case is to debug this locally:

https://github.com/laardee/serverless-authentication-gh-pages/blob/gh-pages/app.js#L3

[2017-04-03 10:30] asierba commented on #50
+1
We run to an issue when we deployed our lambda to aws. It took us a while to realise that we weren't wrapping the response's body with `JSON.stringify` - the logs in aws didn't tell us anything and everything works locally with serverless offline.
At the moment we have to remember to use `JSON.stringify` every time, which is not ideal.

[2017-04-03 13:57] mattlockyer opened #226 "Move any packages to devDependencies?"
Currently this plugin adds 120mb to node_modules.

Any chance some dependencies can be moved to devDependencies for those not currently contributing?

Thanks, great plugin, great framework!

[2017-04-03 14:42] dherault commented on #226
O_O thanks @mattlockyer for this issue. I'll see what I can do

[2017-04-04 09:10] dherault commented on #226
Mmm it seems all packages are needed. We may remove lodash

[2017-04-04 16:01] mattlockyer commented on #226
Yes I had a look too, could be my config, anyway I thought it might help
onboarding. Thanks for checking the packages.

On Tue, Apr 4, 2017 at 2:10 AM David Hérault <notifications@github.com>
wrote:

--

Matt Lockyer

http://www.mattlockyer.com

[2017-04-05 00:15] joseSantacruz opened #229 "Support new runtime nodejs6.10 of the last serverless and lambda versions"
Please can you update the plugin to support the new runtime nodejs6.10, I just made the change on the `index.js`

[code]

[2017-04-05 00:46] lteacher commented on #229
This was added in #221. Also a duplicate PR was closed for the same change so you need to check your version.

[2017-04-05 00:52] lteacher commented on #226
Well shouldnt this just be in your `devDependencies` anyway? So unfortunate moral of that story would be to `npm i --production` before deploying.

[2017-04-05 07:01] lteacher opened #230 "Payload conversion converts data to utf8"
Hi,

Just wanted to point out an issue with the change in #224. [The `toString()` here](https://github.com/dherault/serverless-offline/blob/3feaf4babaf1646188b57ff3f163f202ed1c08ce/src/index.js#L454) is encoding to utf8. This makes binary data unusable.

As an example, I am passing lambda some binary content, and when using `lambda-proxy` the binary is converted into a base64 string. You can check

[2017-04-05 14:53] mattlockyer commented on #226
Thanks for the tip @lteacher, I was not referring to deployment though.

This is a great plugin for local dev but I couldn't figure out why it was 120-130mb out of the box.

[2017-04-06 08:51] dherault commented on #230
Thanks @lteacher,
Please feel free to PR as soon as you have a more general fix.

[2017-04-06 08:53] dherault commented on #229
`npm update serverless-offline` should fix it.

[2017-04-06 08:53] #229 closed

[2017-04-07 15:17] atomaka opened #231 "Serverless Offline should support long format for specifying an authorizer"
When specifying an authorizer using the long format, serverless-offline fails with error "Serverless Offline only supports retrieving tokens from the headers" . However, there are several other customizations that can be made via authorizer configuration. The following could be supported in serverless-offline without having to add support for special authorization

[code]

[code]

Only `identitySo

[2017-04-08 21:00] Andriy-Kulak commented on #230
@lteacher so does your solution work for any multipart/form-data data? I am trying to upload image in a FormData format so I can alter it in lambda, but am getting some errors when reading the data with serverless-offline so I am trying to figure out the problem.

[2017-04-08 22:40] Andriy-Kulak commented on #230
Also @lteacher and @dherault it appears that API Gateway does not support multpart-form/data per [this link](http://stackoverflow.com/questions/41756190/api-gateway-post-multipart-form-data/41770688#41770688).

Any thoughts on this? How can I send an image to Lambda so I can alter it and then store it in S3.

I wanted to avoid storing one image in S3, then upon success, triggering a Lambda functio

[2017-04-08 23:52] lteacher commented on #230
Hi @Andriy-Kulak

There are a few points to your question, but currently I am using `multipart/form-data` in lambda. Maybe by 'support' the comments are referring to some kind of native parsing or something... not sure since the binary support was added before the comments.

Firstly, the content is not parsed in any way so your logic will need to solve it. Second, you need to enable binary support

[2017-04-10 04:26] Andriy-Kulak opened #232 "handler works the first time. Gets a "retryDelay" error every call thereafter"
I am using a lambda function to resize an image using a POST request that I am testing locally with serverless-offline.

The problem is that every time I start the app locally using serverless-offline plugin, the function executes perfectly the first time. Every time I try to execute afterwards, I get a 'retryDelay' error. If I restart the handler again using 'serverless offline start --port 5000'

[2017-04-11 11:59] dherault commented on #231
Seems like a cool feature. Please PR :)

[2017-04-11 12:04] dherault commented on #232
Hi @Andriy-Kulak
Are you sure the "retryDelay" comes from serverless-offline ?
It seems it's coming from S3.

[2017-04-11 15:16] adlk opened #233 "Deploy babel transpiled functions"
I've started using serverless-offline and with babel It's just great for developing. But when deploying it uploads the functions without transpiling the code. I'm not entirely sure if this is the default behaviour, a bug or should be handled completely different by using something like _serverless-webpack-plugin_ (which seems completely unnecessary to me when already having a babel setup)

What is

[2017-04-12 09:06] QuantumInformation opened #234 "Any chance of a gitter or discord room to discuss about this?"

[2017-04-12 09:34] QuantumInformation commented on #118
Any updates on this? I want to avoid having to use this externally:

https://github.com/laardee/serverless-authentication-boilerplate/blob/master/test-token/serverless.yml#L27

[2017-04-13 00:15] zyrorl commented on #234
+1

[2017-04-13 02:55] Andriy-Kulak commented on #232
I just re wrote the thing from scratch and it all worked fine. I have no idea what was wrong with the code.

[2017-04-13 02:55] #232 closed

[2017-04-13 07:50] dherault commented on #233
Hi @adlk , and yep, transpiling before deployment is not up to the plugin. Actually the plugin does not take any part in the serverless lifecycle!

serverless-webpack-plugin is the way to go. You may want (or not) to disable the servereless-offline babel feature, and use the `--location` command line option to tell the plugin where the output of serverless-webpack-plugin is.

[2017-04-13 07:54] dherault commented on #234
Seem like a good idea. I'll boot it soon.

[2017-04-13 13:52] schassande opened #235 "Offline SNS to invoke lambda"
Is it possible to add the support of lambda invocation by a sns message in offline mode ?

[2017-04-13 15:09] dherault commented on #235
Hi @schassande , how would you do that ?

[2017-04-13 15:13] dherault commented on #225
Hi, are you still experiencing this issue ?

[2017-04-13 17:44] FerventGeek commented on #225
I haven't tested it yet- it's a production system and I'll take a lot at it again next week.  Thx for checking back- I'll be very happy to make this ugliness go away:
[code]
As for that decodeURIComponent() and double-encoded '+' space business, that's on Twilio. ;-)

[2017-04-14 07:53] #226 closed

[2017-04-14 07:59] dherault commented on #173
No it's not. This package is 99% community maintained, I stopped coding new features one year ago. I tend to trust too much our contributors when I review PRs, that's why some issues come and go, and the code quality is quite low.
But on the other hand this plugin has more feature than any other, its essential complexity is not trivial.
I'll close this one, please ask to reopen it if necessary. :h

[2017-04-14 07:59] #173 closed

[2017-04-14 08:00] dherault commented on #187
ping :) v3.13.3

[2017-04-14 08:30] schassande commented on #235
Hi,

I would like to run my AWS application on the developer's computer in offline mode. Today I can do it with the great dynamoDB offline plugin. I wish the same thing for the lambda invocation by SNS and the S3 bucket access.
How to do that  .. ? I don't know. But I imagine a dummy local SNS service which doesn't send the message to the AWS service but calls the lambdas having the sns topic as t

[2017-04-15 22:09] FerventGeek commented on #225
Well, that's interesting. With serverless-offline@3.13.3 I'm getting new syntax errors:

[code]
And here's what it's complaining about.  Lambda is running this same code without issue.  I may roll back to 1.10, the last working version and then play with this again next week.

[code]

[2017-04-17 06:16] matthew-andrews opened #236 "Discrepancy between Lambda+API Gateway and serverless-offline for some headers"
[Some headers get remapped](http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-known-issues.html) to having different names in Lambda/API Gateway.  I stumbled across this issue when [trying to send back `WWW-Authenticate: Basic realm="User Visible Realm"`](https://github.com/matthew-andrews/serverless-scratchpad/pull/4/commits/9a9d503444b593526791add4b2e2563935065c45#diff-0d84

[2017-04-17 18:19] FerventGeek commented on #225
Noticed there are other compile issues out there: https://github.com/serverless/serverless-optimizer-plugin/issues/18

[2017-04-18 00:28] Jorenm opened #237 "event.body is undefined on serverless-offline, but works on Lambda."
The body content is just a string.

[2017-04-18 06:54] wjagodfrey commented on #118
Having a cognito auth arn makes my routes throw
[code]
Works without the arn.
Makes local development frustrating.

[2017-04-19 03:01] FerventGeek commented on #225
@neverendingqs, @dherault This is resolved as of v3.13.1, thx!

Along the way I discovered that if you upgrade AWS Lambda in Serverless to 6.10, but don't update `nvm alias default 6.10.2`, the Serverless compiler (and serverless-offline) will hate you.  These things are _somewhat_ important.   Thx again for the help- my code is now identical for Lambda and offline.

[2017-04-19 03:01] #225 closed

[2017-04-23 03:37] wjagodfrey opened #240 "Cognito authoriser destroys routes"
Having a cognito auth arn makes my routes throw when using `serverless-offline`

[code]
[code]

Works without the arn.
Makes local development frustrating.

[2017-04-24 07:52] christophgysin commented on #207
This is still broken, please reopen.

[2017-04-24 11:55] dherault commented on #236
Thanks @matthew-andrews and sorry for the delay (vacation :)
Yes this is a good idea to patch the plugin for that, can you PR something please ? Thanks

[2017-04-24 11:56] dherault commented on #237
Hi @Jorenm , we'll need more info to tackle this issue, thanks

[2017-04-24 12:09] dherault commented on #240
Hi @wjagodfrey , please PR :p

[2017-04-24 12:19] dherault commented on #207
v3.13.4 has your fix!

[2017-04-24 16:53] garunski commented on #240
#241 Not a full implementation but will let you continue working locally.

[2017-04-24 18:07] Jorenm commented on #237
What would you like? I set up a minimal serverless endpoint, installed serverless-offline, posted 'asdf' to it, and it was empty locally, and worked when I deployed it.

[2017-04-25 01:28] dherault commented on #237
Mmm I can't reproduce using the `hello` example in the `manual_test` folder. I get the input string double quoted.
Can you tell me your node serverless serverless-offline versions, an extract of your `serverless.yml` file and the headers you are using. I tried application/json and text.

[2017-04-27 02:29] atomaka commented on #231
I went to look at this tonight and it was magically working.  I thought I was insane, but looking through your commit history, it appears that #239 fixes this. Sorry I didn't get to this sooner, @dherault but glad someone did!!

[2017-04-27 02:29] #231 closed

[2017-04-28 05:15] zyrorl commented on #234
@dherault any updates?

[2017-04-28 18:45] Looveh opened #242 "Handler path with dot in folder can't find handler"
If a folder in the multi-folder path to a handler contains a dot the handler won't be found.

Example:

[code]

Running with:

[code]

Produces the logs:

[code]

Where it clearly truncates the rest of the handler path after the dot.

This is especially critical in projects where compilation occurs and the target output path may contain dots and can't be controlled outside of the compilation tool.

[2017-05-01 21:04] kopertop commented on #38
I just ran into this issue, basically the problem is that this plugin does not play nicely with the [serverless-plugin-typescript](https://www.npmjs.com/package/serverless-plugin-typescript) plugin. Currently I'm not able to use this plugin because it doesn't work with the typescript plugin.

Any chance this could fire the build hook first?

[2017-05-02 18:59] Jorenm commented on #237
I created as bare bones example as I could think of to make sure it wasn't a problem with my other setup. Had the same issue. I zipped up the whole thing.

I sent the post with "node trigger".

[bug.zip](https://github.com/dherault/serverless-offline/files/971707/bug.zip)